<template>
    <div class="cards__type cards-type">
        <div class="cards-type__scroll-wrapper">
            <div class="wrapper">
                <div class="cards-type__wrapper">
                    <div
                        class="cards-type__item"
                        v-for="(type) in filters"
                        :key="type.id"
                        @click.prevent="setcardTypes(type.id)"
                        :class="{ 'cards-type__item_active': cardType === type.id }"
                    >
                        {{ type.title }}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-advantages">
            <div class="wrapper">
                <div class="card-advantages__wr" @click="isAdvantagesActive = !isAdvantagesActive">
                    <div class="card-advantages__title">
                        Выбрать по преимуществам
                    </div>
                    <div class="card-advantages__counter">
                        {{ advantagesCheckbox.length }}
                    </div>
                </div>
            </div>
            <transition name="fade">
                <div class="card-advantages__checkbox-filter" v-show="isAdvantagesActive">
                    <div class="wrapper">
                        <div class="card-advantages__checkbox-container">
                            <div class="card-advantages__checkbox-item-wrapper" v-for="filterType in filterTypes" :key="filterType.name">
                                <cibInput
                                    v-model="advantagesCheckbox"
                                    inputType="checkbox"
                                    :fieldName="filterType.name"
                                    :itemsArr="filterType.itemsArr"
                                    :labelForGroup="filterType.text"
                                    checkboxSize="small"
                                    class="card-advantages__checkbox-item"
                                ></cibInput>
                            </div>
                        </div>
                        <div class="card-advantages__buttons">
                            <div class="linkWithArrow" @click="reset">
                                Очистить
                            </div>
                            <div class="card-advantages__title" @click="isAdvantagesActive = !isAdvantagesActive">
                                Скрыть
                            </div>
                        </div>
                    </div>
                </div>
            </transition>
        </div>
    </div>
</template>

<script>
import { mapFields } from 'vuex-map-fields'
import cibInput from 'centrinvest-web-components/src/appComponents/cibInput'
import { filterTypes } from '@/debet-karty/helpers/data'
import { mapActions } from 'vuex'
export default {
    components: {
        cibInput
    },
    data () {
        return {
            isAdvantagesActive: false,
            filterTypes
        }
    },
    created () {
        if (Object.prototype.hasOwnProperty.call(this.$route.query, 'filter')) {
            const id = this.$route.query.filter
            this.cardType = id
        }
    },
    async mounted () {
        await this.modifyFilterTypes()
    },
    computed: {
        ...mapFields('card', [
            'cardType',
            'filters',
            'advantagesTypes',
            'advantagesCheckbox'
        ]),
        isMobile () {
            return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)
        }
    },
    methods: {
        ...mapActions('card', [
            'filterCardList'
        ]),
        setcardTypes (id) {
            this.$router.replace({ query: { filter: id } })
            this.cardType = id
        },
        reset () {
            this.cardType = 0
            this.advantagesCheckbox = []
        },
        modifyFilterTypes () {
            return new Promise(resolve => {
                const filterTypes = [...this.filterTypes]
                this.filterTypes = filterTypes.map(type => {
                    const modItemsArr = []
                    type.advantagesId.forEach(id => {
                        const advantageObj = this.advantagesTypes.find(advantage => {
                            return advantage.title === id
                        })
                        if (advantageObj) {
                            modItemsArr.push({
                                value: advantageObj.id,
                                text: advantageObj.title
                            })
                        }
                    })
                    return {
                        ...type,
                        itemsArr: modItemsArr
                    }
                })
                resolve()
            })
        }
    },
    watch: {
        cardType (n) {
            this.filterCardList()
            if (n === 0) {
                this.$router.replace({ name: 'Home' })
            }
        },
        advantagesCheckbox: {
            deep: true,
            immediate: true,
            handler () {
                this.filterCardList()
            }
        }
    }
}
</script>

<style>

</style>
