<template>
    <div class="cards__cardBlock card-block-info">
        <div class="card-block-info__wr">
            <div class="card-block-info__img-wr">
                <router-link :to="{ name: 'innerPage', params: { slug: cardBlockParams.slug } }" class="card-block-info__caption card-block-info__caption_mobile" v-html="cardBlockParams.title">
                </router-link>
                <router-link :to="{ name: 'innerPage', params: { slug: cardBlockParams.slug } }" class="card-block-info__img-link">
                    <img :src="cardImg" alt="" class="card-block-info__img">
                </router-link>
                <div class="card-block-info__img-flex-wr">
                    <img
                        class="card-block-info__img-indents"
                        v-for="paymentSystem in cardBlockParams.paymentSystems"
                        :src="paymentSystem.img" :alt="paymentSystem.slug"
                        :key="paymentSystem.id"
                    >
                </div>
            </div>
            <div class="card-block-info__content">
                <router-link :to="{ name: 'innerPage', params: { slug: cardBlockParams.slug } }" class="card-block-info__caption" v-html="cardBlockParams.title">
                </router-link>
                <div class="card-block-info__description" v-html="cardBlockParams.shortDescription"></div>
                <div class="card-block-info__characters-wr">
                    <div class="card-block-info__characters">
                        <div class="card-block-info__character" v-for="params in cardBlockParams.mainAdvantages" :key="params.id">
                            <p class="card-block-info__label" v-html="params.title"></p>
                            <p class="card-block-info__value card-block-info__value_mobile" v-html="params.description"></p>
                        </div>
                    </div>
                    <div class="card-block-info__characters">
                        <div class="card-block-info__character card-block-info__character_desktop" v-for="params in cardBlockParams.mainAdvantages" :key="params.id">
                            <p class="card-block-info__value" v-html="params.description"></p>
                        </div>
                    </div>
                </div>
                <div class="card-block-info__buttons">
                    <router-link :to="{ name: 'innerPage-Step10', hash: '#card-order', params: { slug: cardBlockParams.slug } }">
                        <cibButton type="form-button" class="action-button">Заказать карту</cibButton>
                    </router-link>

                    <router-link :to="{ name: 'innerPage-Step10', params: { slug: cardBlockParams.slug } }" class="linkWithArrow">
                        Узнать подробнее
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import cibButton from 'centrinvest-web-components/src/appComponents/Button'
    export default {
        props: {
            cardBlockParams: {
                type: Object,
                default () {
                    return {}
                }
            }
        },
        components: {
            cibButton
        },
        computed: {
            cardImg () {
                if (this.cardBlockParams.mainDesign) {
                    if (Object.prototype.hasOwnProperty.call(this.cardBlockParams.mainDesign, 'picture')) {
                        return this.cardBlockParams.mainDesign.picture
                    }
                }
                return null
            }
        }
    }
</script>

<style>

</style>
