<template>
    <div class="card-inner-form__payment-currency">
        <h3 class="card-inner-form__payment-title" v-html="title"></h3>
        <div class="card-inner-form__currency-wrapper">
            <div class="card-inner-form__currency-item" v-for="cardRecipient in cardRecipients" :key="cardRecipient.id">
                <input v-model="inputValue" class="card-inner-form__currency-hidden-input" :id="cardRecipient.id" type="radio" name="currency" :value="cardRecipient.title">
                <label
                    :for="cardRecipient.id"
                    class="card-inner-form__currency-icon-wrapper"
                >
                    <div class="card-inner-form__currency-text">{{ cardRecipient.title }}</div>
                </label>
            </div>
        </div>
        <div class="input-component__inputHint input-component__inputHint_hint" :class="{ 'input-component__inputHint_error': $v.$anyDirty && !$v.required }">
            <span v-show="$v.$anyDirty && !$v.required">Укажите для кого дополнительная карта</span>
        </div>
    </div>
</template>

<script>
export default {
    name: 'cardRecipients',
    props: {
        $v: {
            type: Object,
            default: () => ({})
        },
        cardRecipients: {
            type: Array,
            default: () => ([])
        },
        title: {
            type: String,
            default: 'Для кого дополнительняа карта*'
        },
        value: {
            type: String
        }
    },
    created () {
        this.computedValue = this.value
    },
    data: () => ({
        inputValue: []
    }),
    computed: {
        computedValue: {
            get () {
                return this.inputValue
            },
            set (value) {
                this.inputValue = value
            }
        }
    },
    watch: {
        inputValue (n) {
            this.$emit('input', n)
        },
        value (n) {
            this.inputValue = n
        }
    }
}
</script>

<style lang="scss" scoped>
/deep/ .input-component__inputHint_error {
    color: #ff3860
}
</style>
