<template>
    <div class="cards-mobile cards-mobile_background">
        <div class="wrapper">
            <div class="cards-mobile__wr">
                <h2 class="cards-mobile__title">
                    Добавьте карту в&nbsp;смартфон
                </h2>
                <div class="cards-mobile__columns-wrapper">
                    <div class="cards-mobile__col">
                        <a href='https://www.centrinvest.ru/ru/googlepay' target="_blank" class="cards-mobile__item cards-mobile__item_google-pay">
                            <div class="cards-mobile__text">
                                Google Pay
                            </div>
                        </a>
                        <a href="https://www.centrinvest.ru/ru/samsung-card" target="_blank" class="cards-mobile__item cards-mobile__item_samsung-pay">
                            <div class="cards-mobile__text">
                                Samsung Pay
                            </div>
                        </a>
                    </div>
                    <div class="cards-mobile__col">
                        <div class="cards-mobile__item cards-mobile__item_apple-pay">
                            <div class="cards-mobile__text">
                                Apple Pay
                            </div>
                            <div class="cards-mobile__btns-wr">
                                <a class="cards-mobile__btn" href="https://www.centrinvest.ru/ru/applepay" target="_blank"> Apple Pay Visa</a>
                                <a class="cards-mobile__btn" href="https://www.centrinvest.ru/ru/applepay-mir" target="_blank"> Apple Pay &laquo;Мир&raquo;</a>
                            </div>
                        </div>
                        <a href="https://www.centrinvest.ru/ru/fiz/bankovskie-karty/dop-service/mir-pay" target="_blank" class="cards-mobile__item cards-mobile__item_mir-pay">
                            <div class="cards-mobile__text">
                                Mir Pay
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'cardsMobile'
}
</script>

<style scoped>

</style>
