<template>
    <div class="card-request-step__group">
        <div class="card-request-step__row">
            <div class="card-request-step__sub-title">Выберите территориально удобный офис банка</div>
        </div>

        <div class="card-request-step__row">
            <div class="card-request-step__geolocation" @click.prevent="ymapFindClosest()">
                <svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="10.9996" cy="12" r="7.9117" stroke="#333333" />
                    <line x1="11" y1="6.52112" x2="11" y2="1.47858" stroke="#333333" stroke-linecap="round" stroke-linejoin="round" />
                    <line x1="11" y1="22.5022" x2="11" y2="17.4975" stroke="#333333" stroke-linecap="round" stroke-linejoin="round" />
                    <line x1="5.72266" y1="11.8763" x2="0.722656" y2="11.8763" stroke="#333333" stroke-linecap="round" stroke-linejoin="round" />
                    <line x1="21.4995" y1="11.8296" x2="16.4995" y2="11.8296" stroke="#333333" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                Найти ближайший офис</div>
        </div>

        <div class="card-request-step__row">
            <cibInput
                v-model="model.officeRegion"
                :validator="$v.officeRegion"
                inputTag="select"
                :required="true"
                fieldName="officeRegion"
                labelText="Область/Край"
                :errorMessage="{
                    required: 'Необходимо выбрать регион'
                }"
                :disabled="regions.length === 0"
                key="officeRegion"
            >
                <template #selectOptions>
                    <option value="" disabled selected>...</option>
                    <option v-for="region in regions" :value="region.value" :key="region.value">{{ region.text }}</option>
                </template>
            </cibInput>
        </div>

        <div class="card-request-step__row">
            <cibInput
                v-model="model.officeCity"
                :validator="$v.officeCity"
                inputTag="select"
                :required="true"
                fieldName="locality_id"
                labelText="Населенный пункт"
                :errorMessage="{
                    required: 'Необходимо выбрать населенный пункт'
                }"
                :disabled="localities.length === 0"
                key="officeCity"
            >
                <template #selectOptions>
                    <option value="" disabled selected>...</option>
                    <option v-for="locality in localities" :value="locality.value" :key="locality.value">{{ locality.text }}</option>
                </template>
            </cibInput>
        </div>

        <div class="card-request-step__row">
            <cibInput
                v-model="model.office"
                :validator="$v.office"
                inputTag="select"
                :required="true"
                fieldName="office"
                labelText="Офис"
                :errorMessage="{
                    required: 'Необходимо выбрать офис'
                }"
                :disabled="branches.length === 0"
                key="office"
            >
                <template #selectOptions>
                    <option value="" disabled selected>...</option>
                    <option v-for="branch in sortedBranches" :value="branch.value" :key="branch.value">{{ branch.text }}</option>
                </template>
            </cibInput>
        </div>

        <div class="card-request-step__row card-request-step__row_map">
            <div id="map-block-wrapper" :class="mapHiddenClass">
                <div id="map-block">
                    <div id="YMapsContent" :class="mapHiddenClass">
                        <yandex-map
                            :coords="mapCenter"
                            zoom="14"
                            style="height: 400px; width: 100%;"
                            :controls="['zoomControl', 'fullscreenControl', 'typeSelector']"
                            :placemarks="placemarks"
                            :selected-placemark-id="model.office"
                            :find-closest="findClosest"
                            @ym-object-clicked="ymapObjectClickedHandler"
                            @ym-closest-object-obtained="ymapClosestObjectObtained"
                        />
                    </div>
                </div>
                <div :class="mapHiddenClass" @click="switchMapVisibility"></div>
            </div>
        </div>
    </div>
</template>

<script>
import yandexMap from '@/components/yandexMap'
import cibInput from 'centrinvest-web-components/src/appComponents/cibInput'
import { mapFields } from 'vuex-map-fields'
import { mapGetters } from 'vuex'
export default {
    props: {
        $v: {
            type: Object,
            default () {
                return {}
            }
        },
        modelData: {
            type: Object,
            default () {
                return {}
            }
        },
        regions: {
            type: Array,
            default: () => ([])
        },
        localities: {
            type: Array,
            default: () => ([])
        },
        branches: {
            type: Array,
            default: () => ([])
        },
        placemarks: {
            type: Object,
            default: () => ({})
        }
    },
    created () {
        this.model = { ...this.modelData }
    },
    data: () => ({
        closestObjectObtained: false,
        cityByClosestObject: null,
        mapVisible: true,
        mapCenter: [47.232768, 39.700685],
        findClosest: false,
        model: {
            officeRegion: null,
            officeCity: null,
            office: null
        }
    }),
    components: {
        yandexMap,
        cibInput
    },
    computed: {
        mapHiddenClass () {
            return (this.mapVisible) ? 'hide-map' : 'show-map'
        },
        sortedBranches () {
            const branches = JSON.parse(JSON.stringify(this.branches))
            return branches.sort((a, b) => {
                let aTitle = a.title.replace('«', '|').replace('»', '|').replace('"', '|').split('|')
                if (aTitle.length > 1) {
                    aTitle = aTitle[1].toLowerCase()
                } else {
                    aTitle = aTitle[0].toLowerCase()
                }
                let bTitle = b.title.replace('«', '|').replace('»', '|').replace('"', '|').split('|')
                if (bTitle.length > 1) {
                    bTitle = bTitle[1].toLowerCase()
                } else {
                    bTitle = bTitle[0].toLowerCase()
                }
                if (aTitle < bTitle) return -1
                if (aTitle > bTitle) return 1
                return 0
            })
        }
    },
    methods: {
        ymapFindClosest () {
            this.findClosest = true
        },
        ymapObjectClickedHandler (event) {
            this.model.office = event.objectId
        },
        ymapClosestObjectObtained (o) {
            this.findClosest = false
            if (!this.model.officeRegion && !this.model.officeCity) {
                this.closestObjectObtained = true
                this.cityByClosestObject = o.properties._data.city_id
                if (!this.model.officeCity && this.cityByClosestObject !== null) {
                    this.model.officeCity = o.properties._data.city_id
                }
                if (!this.model.officeRegion) {
                    this.model.officeRegion = o.properties._data.region_id
                }
            } else if (!this.model.office) {
                this.model.office = o.properties._data.id
            }
        },
        switchMapVisibility () {
            this.mapVisible = !this.mapVisible
        }
    },
    watch: {
        model: {
            deep: true,
            handler () {
                this.$emit('modelChanged', this.model)
            }
        }
    }
}
</script>
