<template>
    <div class="wrapper card-inner-documents__wrapper">
        <h2 class="cardsInner__section-title">Вопросы</h2>
        <div class="faq__wrapper">
            <ol class="faq__questions faq-questions">
                <li
                    v-for="(question, index) in questions"
                    :key="question.question"
                    class="faq-questions__item"
                >
                    <a :href="`#${index}`" class="faq-questions__link" @click.prevent="scrollTo(`${prefix}-${index}`)">{{question.question}}</a>
                </li>
            </ol>
            <div class="faq__answers faq-answers">
                <div
                    v-for="(question, index) in questions"
                    :key="question.answer"
                    class="faq-answers__item"
                    :ref="`${prefix}-${index}`"
                    @click="toggleVisible(index)"
                >
                    <h3
                        class="faq-answers__title"
                    > {{ index + 1 }}. {{question.question}}
                    </h3>
                    <p class="faq-answers__text" :class="{'faq-answers__text_active': question.isActiveAnswer}"> {{ question.answer }} </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Faq',
    created () {
        this.questions = this.questions.map(item => ({
            ...item,
            isActiveAnswer: false
        }))
    },
    data () {
        return {
            activeQuestion: null,
            prefix: 'content',
            questions: [
                {
                    question: 'Что такое Mir Supreme?',
                    answer: 'Mir Supreme – карта премиального уровня для тех, кто открыт к новым впечатлениям и хочет достигать большего. Получайте доступ к премиальному обслуживанию, специальным предложениям от платёжной системы «Мир» и бизнес-залам в аэропортах.'
                },
                {
                    question: 'Чем Mir Supreme отличается от других карт Мир?',
                    answer: 'Преимущества карты - это доступ в бизнес-залы DragonPass, повышенный кешбэк 10% в избранных категориях в рамках программы лояльности ПС Мир, Специальные предложения от партнёров для держателей Mir Supreme.'
                },
                {
                    question: 'В каких категориях действует повышенный кешбэк?',
                    answer: 'С категориями можно ознакомиться в правилах акции на сайте privetmir.ru/supreme. Повышенный кешбэк от платёжной системы «Мир» в востребованных категориях покупок: супермаркеты, рестораны и такси. Категории могут быть изменены.'
                },
                {
                    question: 'Все супермаркеты, ресторан и такси участвуют в повышенном кешбеке?',
                    answer: 'Вам нужно убедиться, что супермаркет, ресторан или такси зарегистрирован с корректным МСС-кодом. Список МСС-кодов размещен в Правилах акции (privetmir.ru/supreme).'
                },
                {
                    question: 'Когда начисляется кешбек?',
                    answer: 'Кешбэк от платёжной системы «Мир» будет начислен в следующем месяце после месяца совершения покупок с использованием карты Mir Supreme.'
                },
                {
                    question: 'Кешбек имеет ограничения по размеру?',
                    answer: 'Да, максимальный кешбэк – 5 000 рублей в месяц на карту в рамках акции ПС Мир (privetmir.ru/supreme), 10 000 рублей в месяц в рамках программы лояльности Банка. В случае акций с партнерами максимальный кешбэк согласно условий акции.'
                },
                {
                    question: 'Кешбэк по акции суммируется с кешбэком от партнеров ПС Мир и кешбэком от банка?',
                    answer: 'Да, вы можете получать 3 вида кешбэка одновременно: кешбэк от банка в соответствии с условиями лояльности Вашего банка, кешбэк в рамках акции в избранных категориях, а также кешбэк от наших партнеров, список которых размещен на сайте privetmir.ru.'
                },
                {
                    question: 'Действуют ли для меня особые условия кешбэка от партнеров ПС Мир?',
                    answer: 'Да, ищите акции, отмеченные тэгом «Выгоднее с Mir Supreme» и «Только для Mir Supreme». По акциям с тэгом «Выгоднее с Mir Supreme» действует повышенный уровень кешбэка относительно прочих карт Мир, акции с тэгом «Только с Mir Supreme» действуют только для держателей карт Mir Supreme. Оплачивать покупки для получения особых условий необходимо только картой Mir Supreme.'
                },
                {
                    question: 'Как работает Программа лояльности?',
                    answer: 'Оформив карту Mir Supreme, Вы присоединяетесь к программе лояльности и можете получать денежное вознаграждение за участие в акциях, которые предлагают партнеры ПС Мир. Достаточно выбрать на портале программы интересующее Вас предложение (акцию) и совершить покупку по карте Mir Supreme партнера ПС Мир. Согласно условиям выбранной Вами акции, на карту будет возвращена часть суммы, которую Вы потратили на оплату покупки.'
                },
                {
                    question: 'Как стать участником Программы лояльности?',
                    answer: 'Для того, чтобы стать участником программы лояльности платежной системы МИР необходимо получить карту Mir Supreme от банка «Центр-инвест», мы передадим необходимые для регистрации в программе лояльности данные в ПС Мир. На портале Программы лояльности для Вас будут размещены предложения партнеров ПС Мир, Вы можете выбрать наиболее интересное и совершить покупку по карте МИР, согласно условиям предложения. В течение 3-х рабочих дней на Вашу карту вернется часть суммы, которую Вы потратили на оплату покупки.'
                }
            ]
        }
    },
    methods: {
        scrollTo (id) {
            const slide = this.$refs[id][0]
            const top = window.scrollY + slide.getBoundingClientRect().y
            window.scrollTo({
                top: top,
                behavior: 'smooth'
            })
        },
        toggleVisible (index) {
            this.questions[index].isActiveAnswer = !this.questions[index].isActiveAnswer
        }
    }
}
</script>
