<template>
    <section>
        <div class="card-inner-info" v-if="isUniversalMirCard">
            <div class="wrapper">
                <h2 class="cardsInner__section-title">
                    Все лучшее в&nbsp;одной карте
                </h2>
                <div class="card-inner-info__items-container">
                    <div class="card-inner-info__row">
                        <freeService
                            v-if="findAdvantageByType('b53b16f8-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="b53b16f8-c923-11eb-b9f5-ee71e529c769"
                        />
                        <percentageBalance
                            v-if="findAdvantageByType('a1ebce94-c91a-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="a1ebce94-c91a-11eb-b9f5-ee71e529c769"
                        />
                        <cashbackRub
                            v-if="findAdvantageByType('a6e5897c-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="a6e5897c-c923-11eb-b9f5-ee71e529c769"
                        />
                        <transfersWithoutCommission
                            v-if="findAdvantageByType('e6fcc5be-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="e6fcc5be-c923-11eb-b9f5-ee71e529c769"
                        />
                    </div>
                </div>
            </div>
        </div>

        <div class="card-inner-info" v-if="isUniversalCard">
            <div class="wrapper">
                <h2 class="cardsInner__section-title">
                    Все лучшее в&nbsp;одной карте
                </h2>
                <div class="card-inner-info__items-container">
                    <div class="card-inner-info__row">
                        <cashbackRub
                            v-if="findAdvantageByType('a6e5897c-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="a6e5897c-c923-11eb-b9f5-ee71e529c769"
                            contentCenter
                        >
                            <template #content>
                                <div class="card-inner-info__item-row-element">
                                    <div class="card-inner-info__item-number" v-html="findAllAdvantageByType('a6e5897c-c923-11eb-b9f5-ee71e529c769')[0].sum"></div>
                                    <div class="card-inner-info__item-text" v-html="findAllAdvantageByType('a6e5897c-c923-11eb-b9f5-ee71e529c769')[0].description"></div>
                                </div>
                            </template>
                        </cashbackRub>
                        <percentageBalance
                            v-if="findAdvantageByType('a1ebce94-c91a-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="a1ebce94-c91a-11eb-b9f5-ee71e529c769"
                        />
                        <cashbackRub
                            v-if="findAdvantageByType('a6e5897c-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="a6e5897c-c923-11eb-b9f5-ee71e529c769"
                            contentCenter
                        >
                            <template #content>
                                <div class="card-inner-info__item-row-element">
                                    <div class="card-inner-info__item-number"><span class="card-inner-info__prefix">до&nbsp;</span>{{ findAllAdvantageByType('a6e5897c-c923-11eb-b9f5-ee71e529c769')[2].sum }}</div>
                                    <div class="card-inner-info__item-text">кешбэк за&nbsp;покупку у&nbsp;партнеров <a href="https://promo.centrinvest.ru" target="_blank" rel="noopener">promo.centrinvest.ru</a></div>
                                </div>
                            </template>
                        </cashbackRub>
                        <transfersWithoutCommission
                            v-if="findAdvantageByType('e6fcc5be-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="e6fcc5be-c923-11eb-b9f5-ee71e529c769"
                        />
                    </div>
                </div>
            </div>
        </div>

        <div class="card-inner-info" v-if="isSelfemployedCard">
            <div class="wrapper">
                <h2 class="cardsInner__section-title">
                    Выгодная карта
                </h2>
                <div class="card-inner-info__items-container">
                    <div class="card-inner-info__row">
                        <freeService
                            v-if="findAdvantageByType('b53b16f8-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="b53b16f8-c923-11eb-b9f5-ee71e529c769"
                        />
                        <transfersWithoutCommission
                            v-if="findAdvantageByType('e6fcc5be-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="e6fcc5be-c923-11eb-b9f5-ee71e529c769"
                        />
                        <percentageBalance
                            v-if="findAdvantageByType('a1ebce94-c91a-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="a1ebce94-c91a-11eb-b9f5-ee71e529c769"
                        >
                            <template #title>Зарабатывайте больше</template>
                            <template #content>
                                <div class="card-inner-info__text-row">
                                    <div class="card-inner-info__item-text">
                                        Начисляем <strong v-html="findAdvantageByType('a1ebce94-c91a-11eb-b9f5-ee71e529c769').sum"></strong> на&nbsp;любой остаток по&nbsp;карте
                                    </div>
                                </div>
                                <div class="card-inner-info__text-row">
                                    <div class="card-inner-info__item-text">
                                        Возвращаем <strong>1%</strong> рублями за&nbsp;покупки по&nbsp;карте
                                    </div>
                                </div>
                            </template>
                        </percentageBalance>
                        <cashbackRub
                            v-if="findAdvantageByType('a6e5897c-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="a6e5897c-c923-11eb-b9f5-ee71e529c769"
                        />
                    </div>
                </div>
            </div>
        </div>

        <div class="card-inner-info" v-if="isPensCard">
            <div class="wrapper">
                <h2 class="cardsInner__section-title">
                    Бесплатное обслуживание<br>и&nbsp;дополнительный доход
                </h2>
                <div class="card-inner-info__items-container">
                    <div class="card-inner-info__row">
                        <freeService
                            v-if="findAdvantageByType('b53b16f8-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="b53b16f8-c923-11eb-b9f5-ee71e529c769"
                        />
                        <percentageBalance
                            v-if="findAdvantageByType('a1ebce94-c91a-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="a1ebce94-c91a-11eb-b9f5-ee71e529c769"
                        >
                            <template #content>
                                <div class="card-inner-info__item-row">
                                    <div class="card-inner-info__item-row-element">
                                        <div class="card-inner-info__item-number" v-html="findAdvantageByType('a1ebce94-c91a-11eb-b9f5-ee71e529c769').sum"></div>
                                        <div class="card-inner-info__item-text">начисляем на&nbsp;любой остаток по&nbsp;карте</div>
                                    </div>
                                </div>
                            </template>
                        </percentageBalance>
                        <cashbackRub
                            v-if="findAdvantageByType('a6e5897c-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="a6e5897c-c923-11eb-b9f5-ee71e529c769"
                            content-center
                        >
                            <template #content>
                                <div class="card-inner-info__item-row-element">
                                    <div class="card-inner-info__item-number" v-html="findAllAdvantageByType('a6e5897c-c923-11eb-b9f5-ee71e529c769')[0].sum"></div>
                                    <div class="card-inner-info__item-text" v-html="findAllAdvantageByType('a6e5897c-c923-11eb-b9f5-ee71e529c769')[0].description"></div>
                                </div>
                            </template>
                        </cashbackRub>
                        <cashbackRub
                            v-if="findAdvantageByType('a6e5897c-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="a6e5897c-c923-11eb-b9f5-ee71e529c769"
                            content-center
                        >
                            <template #content>
                                <div class="card-inner-info__item-row-element">
                                    <div class="card-inner-info__item-number"><span class="card-inner-info__prefix">до&nbsp;</span>{{ findAllAdvantageByType('a6e5897c-c923-11eb-b9f5-ee71e529c769')[2].sum }}</div>
                                    <div class="card-inner-info__item-text">кешбэк за&nbsp;покупку у&nbsp;партнеров <a href="https://promo.centrinvest.ru" target="_blank" rel="noopener">promo.centrinvest.ru</a></div>
                                </div>
                            </template>
                        </cashbackRub>
                        <transfersWithoutCommission
                            v-if="findAdvantageByType('e6fcc5be-c923-11eb-b9f5-ee71e529c769')"
                            :big-item="true"
                            :advantages="advantages"
                            advantage-id="e6fcc5be-c923-11eb-b9f5-ee71e529c769"
                        />
                    </div>
                </div>
            </div>
        </div>

        <div class="card-inner-info" v-if="isHandballClubCard">
            <div class="wrapper">
                <h2 class="cardsInner__section-title">
                    Побеждай вместе с&nbsp;нами
                </h2>
                <div class="card-inner-info__items-container">
                    <div class="card-inner-info__row">
                        <loyaltyProgram
                            v-if="findAdvantageByType('da270a99-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="d4166935-c923-11eb-b9f5-ee71e529c769"
                        >
                            <template #title>Всегда с&nbsp;любимым клубом</template>
                            <template #content>
                                <div class="card-inner-info__text-row">
                                    <div class="card-inner-info__item-text" v-html="findAdvantageByType('da270a99-c923-11eb-b9f5-ee71e529c769').description"></div>
                                </div>
                            </template>
                        </loyaltyProgram>
                        <percentageBalance
                            v-if="findAdvantageByType('a1ebce94-c91a-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="a1ebce94-c91a-11eb-b9f5-ee71e529c769"
                        />
                        <cashbackRub
                            v-if="findAdvantageByType('a6e5897c-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="a6e5897c-c923-11eb-b9f5-ee71e529c769"
                        />
                        <transfersWithoutCommission
                            v-if="findAdvantageByType('e6fcc5be-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="e6fcc5be-c923-11eb-b9f5-ee71e529c769"
                        />
                        <cashbackScore
                            v-if="findAdvantageByType('ae21bcb6-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="ae21bcb6-c923-11eb-b9f5-ee71e529c769"
                            content-center
                        >
                        </cashbackScore>
                        <cashbackScore
                            v-if="findAdvantageByType('ae21bcb6-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="ae21bcb6-c923-11eb-b9f5-ee71e529c769"
                            content-center
                        >
                            <template #content>
                                <div class="card-inner-info__item-row">
                                    <div class="card-inner-info__item-row-element">
                                        <div class="card-inner-info__item-number">200</div>
                                        <div class="card-inner-info__item-text">приветственных баллов</div>
                                    </div>
                                </div>
                            </template>
                        </cashbackScore>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-inner-info" v-if="isNarodCard">
            <div class="wrapper">
                <h2 class="cardsInner__section-title">
                    Бесплатная дебетовая карта от&nbsp;национальной платежной системы
                </h2>
                <div class="card-inner-info__items-container">
                    <div class="card-inner-info__row">
                        <freeService
                            v-if="findAdvantageByType('b53b16f8-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="b53b16f8-c923-11eb-b9f5-ee71e529c769"
                        />
                        <cashbackRub
                            v-if="findAdvantageByType('a6e5897c-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="a6e5897c-c923-11eb-b9f5-ee71e529c769"
                        />
                        <transfersWithoutCommission
                            v-if="findAdvantageByType('e6fcc5be-c923-11eb-b9f5-ee71e529c769')"
                            :big-item="true"
                            :advantages="advantages"
                            advantage-id="e6fcc5be-c923-11eb-b9f5-ee71e529c769"
                        />
                    </div>
                </div>
            </div>
        </div>

        <div class="card-inner-info" v-if="isPremVisaCard">
            <div class="wrapper">
                <h2 class="cardsInner__section-title">
                    Подчеркивает Ваш&nbsp;статус
                </h2>
                <div class="card-inner-info__items-container">
                    <div class="card-inner-info__row">
                        <cashbackRub
                            v-if="findAdvantageByType('a6e5897c-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="a6e5897c-c923-11eb-b9f5-ee71e529c769"
                            content-center
                        >
                            <template #content>
                                <div class="card-inner-info__item-row-element">
                                    <div class="card-inner-info__item-number" v-html="findAllAdvantageByType('a6e5897c-c923-11eb-b9f5-ee71e529c769')[0].sum"></div>
                                    <div class="card-inner-info__item-text" v-html="findAllAdvantageByType('a6e5897c-c923-11eb-b9f5-ee71e529c769')[0].description"></div>
                                </div>
                            </template>
                        </cashbackRub>
                        <percentageBalance
                            v-if="findAdvantageByType('a1ebce94-c91a-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="a1ebce94-c91a-11eb-b9f5-ee71e529c769"
                        />
                        <cashbackRub
                            v-if="findAdvantageByType('a6e5897c-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="a6e5897c-c923-11eb-b9f5-ee71e529c769"
                            content-center
                        >
                            <template #content>
                                <div class="card-inner-info__item-row-element">
                                    <div class="card-inner-info__item-number"><span class="card-inner-info__prefix">до&nbsp;</span>&nbsp;{{ findAllAdvantageByType('a6e5897c-c923-11eb-b9f5-ee71e529c769')[2].sum }}</div>
                                    <div class="card-inner-info__item-text">кешбэк за&nbsp;покупку у&nbsp;партнеров <a href="https://promo.centrinvest.ru" target="_blank" rel="noopener">promo.centrinvest.ru</a></div>
                                </div>
                            </template>
                        </cashbackRub>
                        <transfersWithoutCommission
                            v-if="findAdvantageByType('e6fcc5be-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="e6fcc5be-c923-11eb-b9f5-ee71e529c769"
                        />
                    </div>
                </div>
            </div>
        </div>

        <div class="card-inner-info" v-if="isExclusiveVisaCard">
            <div class="wrapper">
                <h2 class="cardsInner__section-title">
                    Подчеркивает ваш статус
                </h2>
                <div class="card-inner-info__items-container">
                    <div class="card-inner-info__row">
                        <priorityPass
                            v-if="findAdvantageByType('da270a99-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="da270a99-c923-11eb-b9f5-ee71e529c769"
                        >
                            <template #content>
                                <div class="card-inner-info__text-row">
                                    <div class="card-inner-info__item-text">
                                        Доступ к&nbsp;программам «Консьерж сервис» и&nbsp;«Priority Pass» для&nbsp;комфортных путешествий
                                    </div>
                                </div>
                            </template>
                        </priorityPass>
                        <percentageBalance
                            v-if="findAdvantageByType('a1ebce94-c91a-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="a1ebce94-c91a-11eb-b9f5-ee71e529c769"
                        />
                        <transfersWithoutCommission
                            v-if="findAdvantageByType('e6fcc5be-c923-11eb-b9f5-ee71e529c769')"
                            :big-item="true"
                            :advantages="advantages"
                            advantage-id="e6fcc5be-c923-11eb-b9f5-ee71e529c769"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div class="card-inner-info" v-if="isServiceMirCard">
            <div class="wrapper">
                <h2 class="cardsInner__section-title">
                    Быстрая и&nbsp;выгодная
                </h2>
                <div class="card-inner-info__items-container">
                    <div class="card-inner-info__row">
                        <div class="card-inner-info__item">
                            <h3 class="card-inner-info__item-title">Получите карту за&nbsp;5&nbsp;минут</h3>
                            <div class="card-inner-info__content">
                                <div class="card-inner-info__text-row">
                                    <div class="card-inner-info__item-text">
                                        Чтобы получить Сервисную карту
                                        просто подойдите в&nbsp;кассу
                                        ближайшего офиса Центр-инвест
                                    </div>
                                </div>
                            </div>
                        </div>
                        <cashbackRub
                            v-if="findAdvantageByType('a6e5897c-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="a6e5897c-c923-11eb-b9f5-ee71e529c769"
                            content-center
                        >
                            <template #content>
                                <div class="card-inner-info__item-row-element">
                                    <div class="card-inner-info__item-number" v-html="findAllAdvantageByType('a6e5897c-c923-11eb-b9f5-ee71e529c769')[0].sum"></div>
                                    <div class="card-inner-info__item-text" v-html="findAllAdvantageByType('a6e5897c-c923-11eb-b9f5-ee71e529c769')[0].description"></div>
                                </div>
                            </template>
                        </cashbackRub>
                        <cashbackRub
                            v-if="findAdvantageByType('a6e5897c-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="a6e5897c-c923-11eb-b9f5-ee71e529c769"
                        >
                            <template #content-mir>
                                <div class="card-inner-info__text-row">
                                    <div class="card-inner-info__item-text">
                                        Получайте до&nbsp;<strong v-html="findAllAdvantageByType('a6e5897c-c923-11eb-b9f5-ee71e529c769')[1].sum"></strong> по&nbsp;программе лояльности «Мир»
                                    </div>
                                </div>
                                <div class="card-inner-info__text-row">
                                    <a href="https://privetmir.ru/about/" class="card-inner-info__item-link" target="_blank" rel="noopener noreferrer">
                                        Необходима регистрация на&nbsp;privetmir.ru
                                    </a>
                                </div>
                                <div class="card-inner-info__text-row">
                                    <a href="https://privetmir.ru/mobile/" class="card-inner-info__item-link" target="_blank" rel="noopener noreferrer">
                                        О&nbsp;мобильном приложении «Привет,&nbsp;Мир!»
                                    </a>
                                </div>
                            </template>
                        </cashbackRub>
                        <transfersWithoutCommission
                            v-if="findAdvantageByType('e6fcc5be-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="e6fcc5be-c923-11eb-b9f5-ee71e529c769"
                        />
                    </div>
                </div>
            </div>
        </div>

        <div class="card-inner-info" v-if="isSupremeCard">
            <div class="wrapper">
                <h2 class="cardsInner__section-title">
                   Привилегии для вас
                </h2>
                <div class="card-inner-info__items-container">
                    <div class="card-inner-info__row">
                        <dragonPass> </dragonPass>
                        <cashbackRub
                            v-if="findAdvantageByType('a6e5897c-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="a6e5897c-c923-11eb-b9f5-ee71e529c769"
                            contentCenter
                        >
                            <template #content>
                                <div class="card-inner-info__item-row-element">
                                   <div class="card-inner-info__item-number" v-html="findAllAdvantageByType('a6e5897c-c923-11eb-b9f5-ee71e529c769')[1].sum"></div>
                                    <div class="card-inner-info__item-text">кешбэк в&nbsp;любых супермаркетах, ресторанах и&nbsp;такси, подробнее на <a class="card-inner-info__item-link" href="https://privetmir.ru/promo/mir-supreme/dostigaya-maksimalnykh-vysot/" target="_blank" rel="noopener"> privetmir.ru </a></div>
                                </div>
                            </template>
                        </cashbackRub>
                        <percentageBalance
                            v-if="findAdvantageByType('a1ebce94-c91a-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="a1ebce94-c91a-11eb-b9f5-ee71e529c769"
                        >
                        </percentageBalance>
                        <cashbackRub
                            v-if="findAdvantageByType('a6e5897c-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="a6e5897c-c923-11eb-b9f5-ee71e529c769"
                            contentCenter
                        >
                             <template #content>
                                <div class="card-inner-info__item-row-element">
                                    <div class="card-inner-info__item-number" v-html="findAllAdvantageByType('a6e5897c-c923-11eb-b9f5-ee71e529c769')[0].sum"></div>
                                    <div class="card-inner-info__item-text" v-html="findAllAdvantageByType('a6e5897c-c923-11eb-b9f5-ee71e529c769')[0].description"></div>
                                </div>
                            </template>
                        </cashbackRub>
                        <transfersWithoutCommission
                            v-if="findAdvantageByType('e6fcc5be-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="e6fcc5be-c923-11eb-b9f5-ee71e529c769"
                        />
                        <aspire/>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-inner-info" v-if="isSupremePlus">
            <div class="wrapper">
                <h2 class="cardsInner__section-title">
                  Максимум привилегий
                </h2>
                <div class="card-inner-info__items-container">
                    <div class="card-inner-info__row">
                        <dragonPass>
                            <template #content>
                                <div class="card-inner-info__text-row">
                                    <div class="card-inner-info__item-text">
                                        Два бесплатных посещения залов повышенной комфортности по программе <strong><a href="https://en.dragonpass.com.cn/" target="_blank" rel="noopener noreferrer" class="card-inner-info__item-link">DragonPass</a></strong> каждый месяц
                                    </div>
                                </div>
                            </template>
                        </dragonPass>
                        <cashbackRub
                            v-if="findAdvantageByType('a6e5897c-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="a6e5897c-c923-11eb-b9f5-ee71e529c769"
                            contentCenter
                        >
                            <template #content>
                                <div class="card-inner-info__item-row-element">
                                   <div class="card-inner-info__item-number" v-html="findAllAdvantageByType('a6e5897c-c923-11eb-b9f5-ee71e529c769')[1].sum"></div>
                                    <div class="card-inner-info__item-text">кешбэк в&nbsp;любых супермаркетах, ресторанах и&nbsp;такси, подробнее на <a class="card-inner-info__item-link" href="https://privetmir.ru/promo/mir-supreme/dostigaya-maksimalnykh-vysot/" target="_blank" rel="noopener">privetmir.ru</a></div>
                                </div>
                            </template>
                        </cashbackRub>
                        <percentageBalance
                            v-if="findAdvantageByType('a1ebce94-c91a-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="a1ebce94-c91a-11eb-b9f5-ee71e529c769"
                        >
                        </percentageBalance>
                        <cashbackRub
                            v-if="findAdvantageByType('a6e5897c-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="a6e5897c-c923-11eb-b9f5-ee71e529c769"
                            contentCenter
                        >
                             <template #content>
                                <div class="card-inner-info__item-row-element">
                                    <div class="card-inner-info__item-number" v-html="findAllAdvantageByType('a6e5897c-c923-11eb-b9f5-ee71e529c769')[0].sum"></div>
                                    <div class="card-inner-info__item-text" v-html="findAllAdvantageByType('a6e5897c-c923-11eb-b9f5-ee71e529c769')[0].description"></div>
                                </div>
                            </template>
                        </cashbackRub>
                        <transfersWithoutCommission
                            v-if="findAdvantageByType('e6fcc5be-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="e6fcc5be-c923-11eb-b9f5-ee71e529c769"
                        />
                        <aspire/>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-inner-info" v-if="isChaykaCard">
            <div class="wrapper">
                <h2 class="cardsInner__section-title">
                    Побеждай вместе с&nbsp;нами
                </h2>
                <div class="card-inner-info__items-container">
                    <div class="card-inner-info__row">
                        <loyaltyProgram
                            v-if="findAdvantageByType('d4166935-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="d4166935-c923-11eb-b9f5-ee71e529c769"
                        >
                            <template #title>Всегда с&nbsp;любимым клубом</template>
                            <template #content>
                                <div class="card-inner-info__text-row">
                                    <div class="card-inner-info__item-text" v-html="findAdvantageByType('d4166935-c923-11eb-b9f5-ee71e529c769').description"></div>
                                </div>
                            </template>
                            <template #img>
                                <img src="@/debet-karty/assets/img/chaika-logo.png" alt="">
                            </template>
                        </loyaltyProgram>
                        <percentageBalance
                            v-if="findAdvantageByType('a1ebce94-c91a-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="a1ebce94-c91a-11eb-b9f5-ee71e529c769"
                        />
                        <cashbackRub
                            v-if="findAdvantageByType('a6e5897c-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="a6e5897c-c923-11eb-b9f5-ee71e529c769"
                        />
                        <transfersWithoutCommission
                            v-if="findAdvantageByType('e6fcc5be-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="e6fcc5be-c923-11eb-b9f5-ee71e529c769"
                        />
                        <cashbackScore
                            v-if="findAdvantageByType('ae21bcb6-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="ae21bcb6-c923-11eb-b9f5-ee71e529c769"
                            content-center
                        >
                        </cashbackScore>
                        <cashbackScore
                            v-if="findAdvantageByType('bd0404c8-c923-11eb-b9f5-ee71e529c769')"
                            :advantages="advantages"
                            advantage-id="bd0404c8-c923-11eb-b9f5-ee71e529c769"
                            content-center
                        >
                            <template #content>
                                <div class="card-inner-info__item-row">
                                    <div class="card-inner-info__item-row-element">
                                        <div class="card-inner-info__item-number">200</div>
                                        <div class="card-inner-info__item-text">приветственных баллов</div>
                                    </div>
                                </div>
                            </template>
                        </cashbackScore>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    name: 'Overview',
    components: {
        cashbackRub: () => import('@/debet-karty/components/advantagesTypes/cashbackRub'),
        cashbackScore: () => import('@/debet-karty/components/advantagesTypes/cashbackScore'),
        freeService: () => import('@/debet-karty/components/advantagesTypes/freeService'),
        loyaltyProgram: () => import('@/debet-karty/components/advantagesTypes/loyaltyProgram'),
        percentageBalance: () => import('@/debet-karty/components/advantagesTypes/percentageBalance'),
        priorityPass: () => import('@/debet-karty/components/advantagesTypes/priorityPass'),
        transfersWithoutCommission: () => import('@/debet-karty/components/advantagesTypes/transfersWithoutCommission'),
        dragonPass: () => import('@/debet-karty/components/advantagesTypes/dragonPass'),
        aspire: () => import('@/debet-karty/components/advantagesTypes/aspire')
    },
    props: {
        advantages: {
            type: Array,
            default: () => {
                return []
            }
        }
    },
    computed: {
        ...mapGetters('card', [
            'isChaykaCard',
            'isUniversalMirCard',
            'isUniversalCard',
            'isPensCard',
            'isHandballClubCard',
            'isSelfemployedCard',
            'isNarodCard',
            'isPremVisaCard',
            'isExclusiveVisaCard',
            'isServiceMirCard',
            'bgImgClass',
            'isSupremeCard',
            'isSupremePlus',
            'faq'
        ])
    },
    methods: {
        findAdvantageByType (type) {
            return this.advantages.find(adv => {
                return adv.type === type
            })
        },
        findAllAdvantageByType (type) {
            return this.advantages.filter(adv => {
                return adv.type === type
            })
        }
    }
}
</script>
