<template>
    <div class="card-inner-form__payment-system">
        <h3 class="card-inner-form__payment-title" v-html="title"></h3>
        <div class="card-inner-form__payment-wrapper">
            <div class="card-inner-form__payment-item" v-for="cardType in paymentSystems" :key="cardType.id">
                <input
                    v-model="computedValue"
                    class="card-inner-form__payment-hidden-input"
                    :id="cardType.id"
                    type="radio"
                    name="payment"
                    :value="cardType.title">
                <label
                    :for="cardType.id"
                    class="card-inner-form__payment-icon-wrapper"
                >
                    <img class="card-inner-form__payment-icon" :src="cardType.img" :alt="cardType.title">
                </label>
            </div>
        </div>
        <div class="input-component__inputHint input-component__inputHint_hint" :class="{ 'input-component__inputHint_error': $v.$anyDirty && !$v.required }">
            <span v-show="$v.$anyDirty && !$v.required">Укажите платежную систему</span>
        </div>
    </div>
</template>

<script>
export default {
    name: 'paymentSystems',
    props: {
        $v: {
            type: Object,
            default: () => ({})
        },
        paymentSystems: {
            type: Array,
            default: () => ([])
        },
        title: {
            type: String,
            default: 'Платежная система*'
        },
        value: {
            type: String
        }
    },
    created () {
        this.computedValue = this.value
    },
    data: () => ({
        inputValue: []
    }),
    computed: {
        computedValue: {
            get () {
                return this.inputValue
            },
            set (value) {
                this.inputValue = value
                this.$forceUpdate()
            }
        }
    },
    watch: {
        inputValue (n) {
            this.$emit('input', n)
        },
        value (n) {
            this.inputValue = n
        }
    }
}
</script>

<style scoped lang="scss">
/deep/ .input-component__inputHint_error {
    color: #ff3860
}
</style>
