<template>
    <div class="card-inner-form__payment-currency">
        <h3 class="card-inner-form__payment-title" v-html="title"></h3>
        <div class="card-inner-form__currency-wrapper">
            <div class="card-inner-form__currency-item" v-for="cardCurrency in currencies" :key="cardCurrency.id">
                <input v-model="inputValue" class="card-inner-form__currency-hidden-input" :id="cardCurrency.id" type="radio" name="currency" :value="cardCurrency.title">
                <label
                    :for="cardCurrency.id"
                    class="card-inner-form__currency-icon-wrapper"
                >
                    <img :class="`card-inner-form__currency-icon card-inner-form__currency-icon_${cardCurrency.slug}`" :src="cardCurrency.img" :alt="cardCurrency.title" :id="cardCurrency.slug">
                    <div class="card-inner-form__currency-icon-text">{{ cardCurrency.title }}</div>
                </label>
            </div>
        </div>
        <div class="input-component__inputHint input-component__inputHint_hint" :class="{ 'input-component__inputHint_error': $v.$anyDirty && !$v.required }">
            <span v-show="$v.$anyDirty && !$v.required">Укажите валюту</span>
        </div>
    </div>
</template>

<script>
export default {
    name: 'paymentSystems',
    props: {
        $v: {
            type: Object,
            default: () => ({})
        },
        currencies: {
            type: Array,
            default: () => ([])
        },
        title: {
            type: String,
            default: 'Валюта*'
        },
        value: {
            type: String
        }
    },
    created () {
        this.computedValue = this.value
    },
    data: () => ({
        inputValue: []
    }),
    computed: {
        computedValue: {
            get () {
                return this.inputValue
            },
            set (value) {
                this.inputValue = value
            }
        }
    },
    watch: {
        inputValue (n) {
            this.$emit('input', n)
        },
        value (n) {
            this.inputValue = n
        }
    }
}
</script>

<style scoped lang="scss">
/deep/ .input-component__inputHint_error {
    color: #ff3860
}
</style>
