<template>
    <div class="request-nav-bar">
        <div class="request-wrapper">
            <div class="request-nav-bar__current-step">
                <span>(шаг {{ currentStepIndex + 1 }} из {{ lastStepIndex + 1 }})</span>
            </div>
            <div class="progress-bar">
                <div class="progress-bar__progress" :style="{ width: `${currentProgressBarValue}%` }"></div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'ProgressBar',
    props: {
        $v: {
            type: Object,
            default: () => ({})
        },
        currentStepName: {
            type: String
        },
        currentStepIndex: {
            type: Number
        },
        lastStepIndex: {
            type: Number
        }
    },
    data: () => ({
        requiredFieldsCount: 0,
        invalidFieldsCount: 0
    }),
    created () {
        this.setValidatorMeta()
    },
    computed: {
        currentProgressBarValue () {
            return (this.requiredFieldsCount - this.invalidFieldsCount) / (this.requiredFieldsCount) * 100
        }
    },
    methods: {
        findAllRequiredFileds ($validator) {
            for (const $validatorKey in $validator) {
                const validatorProperty = /\$/i.test($validatorKey)
                if (!validatorProperty) {
                    const isHasRequiredProperty = Object.prototype.hasOwnProperty.call($validator[$validatorKey], 'required')
                    const isInvalid = $validator[$validatorKey].$invalid
                    if (isHasRequiredProperty) {
                        const prop = $validator[$validatorKey].$params.required.prop
                        if (!prop || isInvalid) {
                            this.requiredFieldsCount++
                        }
                    }
                    if (typeof $validator[$validatorKey] === 'object') {
                        this.findAllRequiredFileds($validator[$validatorKey])
                    }
                }
            }
        },
        findAllInvalidFileds ($validator) {
            for (const $validatorKey in $validator) {
                const validatorProperty = /\$/i.test($validatorKey)
                if (!validatorProperty) {
                    const isHasRequiredProperty = Object.prototype.hasOwnProperty.call($validator[$validatorKey], 'required')
                    const isInvalid = $validator[$validatorKey].$invalid
                    if (isHasRequiredProperty && isInvalid) {
                        this.invalidFieldsCount++
                    }
                    if (typeof $validator[$validatorKey] === 'object') {
                        this.findAllInvalidFileds($validator[$validatorKey])
                    }
                }
            }
        },
        setValidatorMeta () {
            this.requiredFieldsCount = 0
            this.invalidFieldsCount = 0
            this.findAllRequiredFileds(this.$v.validationGroup)
            this.findAllInvalidFileds(this.$v.validationGroup)
        }
    },
    watch: {
        $v: {
            deep: true,
            handler () {
                this.setValidatorMeta()
            }
        }
    }
}
</script>

<style scoped>

</style>
