<template>
    <div class="button-nav">
        <div class="button-nav__row">
            <div class="button-nav__col button-nav__col_left" >
                <cibButton v-if="currentStepIndex > 0" type="form-button" colorTheme="green-empty" @click="back">
                    Назад
                </cibButton>
            </div>
            <div
                v-if="currentStepIndex < lastStepIndex"
                class="button-nav__col button-nav__col_right"
            >
                <cibButton type="form-button" @click="forward">
                    Вперед
                </cibButton>
            </div>
            <div
                v-if="currentStepIndex === lastStepIndex"
                class="button-nav__col button-nav__col_right"
            >
                <cibButton type="form-button" @click="sendRequest" :disabled="isInvalidRequest">
                    Отправить заявку
                </cibButton>
            </div>
        </div>
    </div>
</template>

<script>
import cibButton from 'centrinvest-web-components/src/appComponents/Button'
export default {
    name: 'requestNav',
    components: {
        cibButton
    },
    props: {
        currentStepIndex: {
            type: Number
        },
        lastStepIndex: {
            type: Number
        },
        stepInfo: {
            type: Array,
            default: () => ({})
        },
        stepValidator: {
            type: Object,
            default: () => ({})
        },
        isInvalidRequest: {
            type: Boolean,
            default: true
        }
    },
    methods: {
        back () {
            const prevStepName = this.stepInfo[this.currentStepIndex - 1].name
            this.$router.push({ name: prevStepName })
        },
        forward () {
            this.stepValidator.$touch()
            if (this.stepValidator.$invalid) {
                this.$toast.open({
                    message: 'Проверьте правильность заполнения полей',
                    type: 'error',
                    duration: 3000,
                    dismissible: true,
                    position: 'top'
                })
            } else {
                const nextStepName = this.stepInfo[this.currentStepIndex + 1].name
                this.$router.push({ name: nextStepName })
            }
        },
        sendRequest () {
            this.$emit('onSendRequest')
        }
    }
}
</script>

<style scoped>

</style>
