<template>
    <div class="cabinet">
        <div class="cabinet__wrapper">
            <cabinetHeader></cabinetHeader>
            <router-view></router-view>
            <button v-show="currentStep > initStep" class="button_yellow button_pevstate" @click="StepBeforeAction">Предыдущий шаг</button>
        </div>
        <hint v-if="showHint" :data="scenario[currentStep]" :currentStep="currentStep" @nextStep="stepAction();" ref="hint"></hint>
        <div class="overlay" v-if="isFinishScenario">
            <div class="modal-window">
                <span class="modal-window__congrats">
                    Поздравляем! {{getMenuItemComponentObj(this.currentStep - 1)}}
                </span>
                <p v-if="$route.params.scenarioType === 'generalReview'" class="modal-window__caption">
                    Вы просмотрели общий обзор системы «Банк-клиент»
                </p>
                <p v-else class="modal-window__caption">
                    Вы просмотрели раздел «{{this.nameOfCurrentScenario}}»
                </p>
                <div class="modal-window__link-wr">
                    <router-link :to="{ name: 'Home'}" class="modal-window__link">Перейти в меню</router-link>
                </div>
                <div class="modal-window__link-wr">
                    <router-link v-if="$route.params.scenarioType === 'generalReview'" :to="{ path: '/login' }" class="modal-window__link">Посмотреть еще раз</router-link>
                    <span v-else @click="clickAndRoute()" class="modal-window__link">Посмотреть еще раз</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import cabinetHeader from './cabinet/cabinetHeader'
import hint from '../components/hint.vue'
import { mapActions, mapGetters } from 'vuex'
import { mapFields } from 'vuex-map-fields'
export default {
    name: 'Cabinet',
    components: {
        cabinetHeader,
        hint
    },
    props: {
        scenarioType: {
            type: String
        }
    },
    data () {
        return {
            menuItems: [],
            modifiedMenuItems: [],
            isComponentReady: false
        }
    },
    computed: {
        ...mapFields([
            'checkmark',
            'filledData',
            'isImport',
            'showModal',
            'showModal1',
            'isActive',
            'activeTab1',
            'activeTab2',
            'isActive1',
            'isActive2',
            'isActive3',
            'isActive4',
            'isActive5',
            'isActive6',
            'isActivetion',
            'isVisibleField',
            'isActive7',
            'isActiveBtn',
            'isActiveBtn1',
            'isActiveBtn2',
            'checkMassMark.checkMassMark1',
            'checkMassMark.checkMassMark2',
            'checkMassMark.checkMassMark3'
        ]),
        ...mapGetters([
            'scenario',
            'nameOfCurrentScenario',
            'currentStep',
            'undefinedMenuItems',
            'isFinishScenario'
        ]),
        initStep () {
            return this.scenarioType === 'generalReview' ? 3 : 0
        },
        showHint () {
            return this.isComponentReady && Object.keys(this.scenario).length > 1 && !this.isFinishScenario
        },
        currentScenarioObject () {
            return this.scenario[this.currentStep]
        }
    },
    created () {
        this.setScenarioType(this.scenarioType)
    },
    mounted () {
        this.findNodeTreeRootComponents([this])
        this.objectTravelsal()
        this.modifiedScenarioData(this.modifiedMenuItems)
        this.isComponentReady = true
        this.scenarioType === 'generalReview' ? this.setStep(3) : this.setStep(0)
    },
    methods: {
        ...mapActions([
            'restartScenario',
            'setScenarioType',
            'setStep',
            'nextStep',
            'beforeStep',
            'modifiedScenarioData',
            'setCheckBoxs'
        ]),
        clickAndRoute (path) {
            this.restartScenario()
            this.$router.push('/' + this.$route.params.scenarioType + '/cabinet')
        },
        getMenuItemComponentObj (step = this.currentStep) {
            const current = this.modifiedMenuItems.find(item => {
                return item.menuLabel === this.scenario[step].menuLabel
            })
            return current ? current.componentObj : null
        },
        StepBeforeAction () {
            if (Object.prototype.hasOwnProperty.call(this.currentScenarioObject, 'actionTypeBackCallBack')) {
                const callBack = this.currentScenarioObject.actionTypeBackCallBack
                const arr = callBack.split(';')
                arr.forEach(item => {
                    const arg = item.trim().match(/\((.*)\)/g)[0].replace(/[,()"]/g, '')
                    const method = item.replace(/\((.*)\)/g, '')
                    this[method](arg)
                })
            }
            this.$nextTick(() => {
                this.beforeStep()
            })
        },
        stepAction () {
            if (this.currentScenarioObject.actionTypeCallBack) {
                this[this.currentScenarioObject.actionTypeCallBack]()
            }
            this.$nextTick(() => {
                this.nextStep()
            })
        },
        fill () {
            this.filledData[this.currentScenarioObject.elementId] = this.currentScenarioObject.data
            this.isActiveButton()
        },
        getStepIndex (step) {
            let result = step
            if (typeof step === 'string') {
                result = this.scenario.findIndex(item => {
                    return item.menuLabel === step
                })
            }
            return result
        },
        openMenu (step = this.currentStep) {
            const thisStep = this.getStepIndex(step)
            this.getMenuItemComponentObj(thisStep).openComponentMenu()
        },
        closeMenu (step = this.currentStep) {
            const thisStep = this.getStepIndex(step)
            let currentMenuItemComponentObj = this.getMenuItemComponentObj(thisStep)
            while (currentMenuItemComponentObj.$options.name === 'NodeTree' && !currentMenuItemComponentObj.isRootComponent) {
                currentMenuItemComponentObj.closeComponentMenu()
                currentMenuItemComponentObj = currentMenuItemComponentObj.$parent
            }
        },
        closeSingleMenu (step = this.currentStep) {
            const thisStep = this.getStepIndex(step)
            const currentMenuItemComponentObj = this.getMenuItemComponentObj(thisStep)
            currentMenuItemComponentObj.closeComponentMenu()
        },
        redirect (value) {
            this.$router.push(value)
        },
        openSettings () {
            this.$router.push(this.currentScenarioObject.redirectPath)
            this.closeMenu()
        },
        openImport () {
            this.isImport = true
        },
        closeImport () {
            this.isImport = false
        },
        isActiveFalse () {
            this.isActive = false
            this.isVisibleField = false
        },
        isActiveFalse1 () {
            this.isActive3 = false
        },
        isActiveFalse2 () {
            this.isActive4 = false
        },
        isActiveFalse3 () {
            this.isActive5 = false
        },
        isActiveFalse4 () {
            this.isActive6 = false
        },
        isActiveFalse5 () {
            this.isActive7 = false
        },
        isActiveButton () {
            this.isActiveBtn = true
            this.isActive1 = false
        },
        writeLine () {
            this.checkMassMark3 = true
            this.isActive2 = true
            this.isActiveBtn2 = true
        },
        writeLineRub () {
            this.writeLine()
            this.isActiveBtn1 = false
        },
        writeLineMass () {
            this.isActiveBtn1 = false
        },
        falseWriteLine () {
            this.checkMassMark3 = false
            this.isActive2 = false
            this.isActiveBtn1 = true
            this.isActiveBtn = false
            this.isVisibleField = true
        },
        openModal () {
            this.isImport = false
            this.showModal = true
        },
        openMiniCurrentModal () {
            this.isActivetion = false
        },
        closeMiniCurrentModal () {
            this.isActivetion = true
        },
        openSumTab () {
            this.activeTab1 = false
            this.activeTab2 = true
        },
        openMainTab () {
            this.activeTab1 = true
            this.activeTab2 = false
        },
        openMiniModal () {
            this.showModal1 = true
        },
        closeMiniModal () {
            this.showModal1 = false
            // this.isActive3 = true
            // this.isActive4 = true
            // this.isActive5 = true
            // this.isActive6 = true
            // this.isActive7 = true
        },
        closeModal () {
            this.showModal = false
            this.isActive = true
            this.isActivetion = true
            this.isActive1 = true
            this.activeTab1 = true
            this.activeTab2 = false
        },
        openMain () {
            this.$router.push(this.currentScenarioObject.redirectPath)
        },
        treeTravelsal (array) {
            array.forEach(element => {
                const index = this.undefinedMenuItems.findIndex(item => {
                    const label = element.label ? element.label.toLowerCase() : ''
                    return item.menuLabel.toLowerCase() === label
                })
                if (index !== -1) {
                    this.modifiedMenuItems.push({
                        elementId: element.$el.id,
                        componentId: element._uid,
                        menuLabel: element.label,
                        componentObj: element
                    })
                }
                this.treeTravelsal(element.$children)
            })
        },
        objectTravelsal () {
            this.menuItems.forEach(item => {
                this.treeTravelsal([item])
            })
        },
        findNodeTreeRootComponents (array) {
            array.forEach(item => {
                if (item.$parent.$options.name === 'NodeTree') {
                    return false
                }
                if (item.$parent.$options.name !== 'NodeTree' && item.$options.name === 'NodeTree') {
                    this.menuItems.push(item)
                }
                this.findNodeTreeRootComponents(item.$children)
            })
        }
    }
}
</script>
