<template>
    <div class="review">
        <div class="wrapper">
            <div class="review__header login">
                <div class="login-block">
                    <div class="login-block__content">
                        <a href="https://www.centrinvest.ru" class="login-block__link" rel="noopener noreferrer">
                            <img class="login-block__img" src="../assets/images/logo.png">
                        </a>
                        <p class="login-block__caption">Интернет-банк</p>
                        <form action="#" class="login-block__form login-form">
                            <div class="login-form__element-group">
                                <label for="name" class="login-form__label">Пользователь</label>
                                <input type="text" name="name" id="name" class="login-form__input" v-model="filledData.name">
                            </div>
                            <div class="login-form__element-group">
                                <label for="pass" class="login-form__label">Пароль</label>
                                <input type="password" name="pass" id="pass" class="login-form__input" v-model="filledData.pass">
                            </div>
                            <button type="button" class="login-form__button button" id="login">Войти</button>
                        </form>
                    </div>
                    <div class="login-block__footer"></div>
                </div>
            </div>
            <div class="review__news blocks-news">
                <div class="blocks-news__block block-news">
                    <div class="block-news__data">
                        13.01.2020
                    </div>
                    <div class="block-news__title">
                        Сезонное  кредитное предложение! Кредит под 8,75% годовых!!!
                    </div>
                    <div class="block-news__text">
                        До 29.02.2020г. банк "Центр-инвест" предлагает воспользоваться финансированием на оборотные цели по выгодным условиям:
                        кредит под 8,75% годовых сроком до 3х месяцев без залога, сумма финансирования до 20млн. рублей
                        <br>
                        Заявку для получения кредита вы можете оставить <a class="block-news__link" href="#">здесь.</a>
                    </div>
                </div>
                <div class="blocks-news__block block-news">
                    <div class="block-news__data">
                        16.12.2019
                    </div>
                    <div class="block-news__title">
                        Новое мобильное приложение "Информационный бизнес клиент"
                    </div>
                    <div class="block-news__text text_bold">
                        Уважаемые клиенты представляем Вашему вниманию новое мобильное приложение  для устройств на системе Android.
                        <br>
                        В этом приложении вы можете получать информацию по остаткам и счетам, анализировать выписки и отправлять их на e-mail <br>
                        в различных форматах, строить графики по оборотам и остаткам, смотреть документы, которые были созданы через веб версию <br>
                        клиент-банка, получать новости из банка, читать письма, а так же при подключенной услуге "Светофор" проверять своих <br>
                        контрагентов.

                        Для пользования информационным мобильным бизнес клиентом Вам необходимо скачать его с магазина приложений (Google Play Market) и в веб версии
                        клиент-банка отправить заявку на подключение услуги "Информационный бизнес клиент" на главной странице раздела  виджета услуг. В течении дня Ваша заявка будет обработана и вы сможете пользоваться мобильным приложением.
                    </div>
                    <a class="block-news__link" href="#">Ссылка для скачивания</a>
                </div>
                <div class="blocks-news__block block-news">
                    <div class="block-news__data">
                        01.11.2019
                    </div>
                    <div class="block-news__title">
                        Зачислять зарплату сотрудникам быстро и просто!
                    </div>
                    <div class="block-news__text">
                        Оформите зарплатный проект в нашем банке на выгодных условиях и переводите заработную плату без комиссии в течение часа.
                        Заявку на <br>
                        подключение можно оставить <a class="block-news__link" href="#">здесь.</a>
                    </div>
                </div>
                <div class="blocks-news__block block-news">
                    <div class="block-news__data">
                        03.10.2019
                    </div>
                    <div class="block-news__title">
                        ПАО КБ "Центр-инвест" запустил новую программу для малого бизнеса "ОНЛАЙН заявка"
                    </div>
                    <div class="block-news__text text_bold">
                        ПАО КБ "Центр-инвест"  запустил новую программу для малого бизнеса "ОНЛАЙН заявка" <br>
                        Теперь можно получить одобрение по кредиту или банковской гарантии без предоставления документов! <br>
                        Заявку для получения кредита/банковской гарантии вы можете оставить здесь: <a class="block-news__link" href="#">https://www.centrinvest.ru/cabinet/business-creditform/</a>
                    </div>
                </div>
            </div>
            <div class="review__main services">
                <p class="services__title">Услуги для малого бизнеса</p>
                <div class="services__row">
                    <div class="services__col">
                        <span class="services__list-style">&mdash;</span>
                        Банковские гарантии
                    </div>
                    <div class="services__col">
                        <span class="services__list-style">&mdash;</span>
                        Зарплатные проекты
                    </div>
                    <div class="services__col">
                        <span class="services__list-style">&mdash;</span>
                        Кредиты для стартапов
                    </div>
                    <div class="services__col">
                        <span class="services__list-style">&mdash;</span>
                        Кредиты для развития бизнеса
                    </div>
                </div>
                <div class="services__link-row">
                    <a class="services__link-more" target="_blank" rel="noopener noreferrer" href="https://www.centrinvest.ru/ru/biz/">Подробнее</a>
                    <a class="services__link-manual" target="_blank" rel="noopener noreferrer" href="https://www.centrinvest.ru/ru/biz/klient-bank/">Руководство
                        пользователя</a>
                </div>
            </div>
            <div class="review__footer footer">
                <div class="footer__row">
                    <div class="footer__col">
                        <p class="footer__support-info">Справочно-информационная служба</p>
                        <p class="footer__support-number">8 863 2-000-000</p>
                    </div>
                    <div class="footer__col">
                        <span class="footer__span">© 1997-2018 ПАО КБ Центр-инвест,</span><br>
                        <span class="footer__span">&nbsp;&nbsp;&nbsp;&nbsp; лицензия Банка России № 2225 от 26 августа 2016 г.</span><br><br>
                        <span class="footer__span">© ООО «БСС», 2018. Все права защищены.</span>
                    </div>
                </div>
            </div>
            <hint :data="scenario[currentStep]" :currentStep="currentStep" @nextStep="stepAction();" ref="hint"></hint>
        </div>
    </div>
</template>

<script>
import hint from '../components/hint.vue'
import { mapGetters, mapActions } from 'vuex'

export default {
    name: 'review',
    components: {
        hint
    },
    props: {
        scenarioType: {
            type: String
        }
    },
    data () {
        return {
            filledData: {
                name: null,
                pass: null
            }
        }
    },
    computed: {
        ...mapGetters([
            'currentStep',
            'scenario'
        ])
    },
    methods: {
        ...mapActions([
            'setScenarioType',
            'nextStep',
            'setStep'
            ]
        ),
        fill () {
            this.filledData[this.scenario[this.currentStep].elementId] = this.scenario[this.currentStep].data
        },
        redirect () {
            this.$router.push(this.scenario[this.currentStep].redirectPath)
        },
        stepAction () {
            this[this.scenario[this.currentStep].actionTypeCallBack]()
            this.nextStep()
        }
    },
    created () {
        this.setScenarioType(this.scenarioType)
        this.setStep(0)
    },
    mounted () {
        this.$refs.hint.getParamsElement()
    }
}
</script>
