<template>
    <div class="main">
        <div class="wrapper">
            <div class="header">
                <div class="header__row">
                    <div class="header__logo">
                        <a href="https://www.centrinvest.ru" class="header__logo-link">
                            <img src="../assets/images/logo.png" alt="" class="header__logo-img">
                        </a>
                    </div>
                    <div class="header__links-container">
                        <a href="https://www.centrinvest.ru" class="header__link">Главная</a>
                        <a href="https://www.centrinvest.ru/en/" class="header__link">English</a>
                        <a href="https://dbo.centrinvest.ru/sbns-web/ru/html/login.html" class="header__link">Вход в Интернет-Банк</a>
                        <a href="https://www.centrinvest.ru/ru/search/" class="header__link">Поиск</a>
                    </div>
                </div>
            </div>
            <h1 class="main__title">Демонстрационная версия
                системы «Центр-инвест»–Бизнес онлайн</h1>
            <div class="menu">
                <ul class="menu__list">
                    <router-link
                        v-for="(route, index) in routes"
                        :key="index"
                        :to="route.path"
                        class="menu__item"
                        active-class=""
                        exact-active-class=""
                        tag="li">
                        <a>{{ route.text }}</a>
                    </router-link>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    name: 'paymentsDocList',
    data () {
        return {
            routes: [
                {
                    path: '/createMassPayment/cabinet',
                    text: 'Массовый платеж, импорт в формате 1С'
                },
                {
                    path: '/createMassPaymentRub/cabinet',
                    text: 'Рублевые платежи, импорт из 1С'
                }
            ]
        }
    },
    computed: {
        ...mapGetters([
            'availableScenarioTypes'
        ])
    }
}
</script>
