<template>
    <div>
        <div class="cards__request">
            <request :step-prefix="$attrs.stepPrefix" :request-title="$attrs.newCardRequestTitle"></request>
        </div>
    </div>
</template>

<script>
import request from '@/debet-karty/views/request'
export default {
    components: {
        request
    }

}
</script>

<style scoped>

</style>
