<template>
    <div class="cards-request-form">
        <div class="cards-request-form__row">
            <cibInput
                v-model="reReleaseCardModel.reReleaseReasons"
                :validator="$v.reReleaseCardModel.reReleaseReasons"
                inputTag="select"
                fieldName="reReleasedReason"
                labelText="Причина перевыпуска"
                :errorMessage="{
                    required: 'Необходимо причину перевыпуска'
                }"
                selectLabelPosition="inside"
                key="reReleasedReason"
            >
                <template #selectOptions>
                    <option v-for="option in reReleaseReasons" :value="option.label" :key="option.name">{{ option.label }}</option>
                </template>
            </cibInput>
        </div>
        <div class="cards-request-form__row">
            <cibInput
                v-model.trim="reReleaseCardModel.fullName"
                :validator="$v.reReleaseCardModel.fullName"
                fieldName="fullName"
                labelText="Фамилия Имя Отчество"
                :replace-characters-reg-exp="/[^a-z-а-яё\-\s]/ig"
                :errorMessage="{
                    required: 'Укажите Фамилию Имя Отчество',
                    rusAndLatinLetters: 'Только русские, латинские буквы и знаки препинания'
                }"
                key="fullName"
            />
        </div>
        <div class="cards-request-form__row cards-request-form__row_grid">
            <div class="cards-request-form__col">
                <cibInput
                    v-model="reReleaseCardModel.phone"
                    :validator="$v.reReleaseCardModel.phone"
                    fieldName="contactPhoneNumber"
                    labelText="Контактный телефон"
                    mask="+7 (999) 999-99-99"
                    :mask-options="{
                        clearMaskOnLostFocus: true,
                        inputmode: 'tel',
                    }"
                    :errorMessage="{
                        required: 'Укажите номер телефона',
                        phone: 'Номер телефона должен содержать 11 цифр в формате +7 (999) 999-99-99'
                    }"
                    key="modelContactPhoneNumber"
                />
            </div>
            <div class="cards-request-form__col">
                <cibInput
                    v-model="reReleaseCardModel.email"
                    :validator="$v.reReleaseCardModel.email"
                    fieldName="contactDataEmail"
                    labelText="E-mail"
                    suggestionsApiMethod="emailSuggestions"
                    :errorMessage="{
                        required: 'Укажите email',
                        emailFullCheck: 'Некорректный Email. Пример: pochta@domain.ru'
                    }"
                    key="contactDataEmail"
                />
            </div>
        </div>
        <div class="cards-request-form__row">
            <cibInput
                v-model="reReleaseCardModel.passportSeriesAndNumber"
                :validator="$v.reReleaseCardModel.passportSeriesAndNumber"
                fieldName="passportSeriesAndNumber"
                labelText="Серия и номер паспорта"
                :errorMessage="{
                        required: 'Укажите серию и номер паспорта',
                    }"
                key="passportSeriesAndNumber"
            />
        </div>
        <transition name="slide-fade">
            <div class="cards-request-form__wr" v-if="isShowCardNumber">
                <div class="cards-request-form__row" >
                    <cibInput
                        v-model="reReleaseCardModel.cardNumber"
                        :validator="$v.reReleaseCardModel.cardNumber"
                        fieldName="cardNumber"
                        labelText="Первые и последние цифры номера основной карты"
                        :errorMessage="{
                            required: 'Укажите первые и последние цифры номера основной карты',
                            cardNumber: 'Не верный формат номера карты'
                        }"
                        mask="9999 XXXX XXXX 9999"
                        key="cardNumber"
                    />
                </div>
            </div>
        </transition>
        <div class="card-request-step__row">
            <cibInput
                v-model="reReleaseCardModel.agreement"
                :validator="$v.reReleaseCardModel.agreement"
                fieldName="agreement"
                inputType="checkbox"
                checkboxSize="small"
            >
                <template #labelText>
                    <span>
                        Я согласен с обработкой моих данных в соответствии с федеральным законом Российской Федерации
                        <cibLink href="https://rg.ru/2006/07/29/personaljnye-dannye-dok.html" :blank="true">«О&nbsp;персональных данных»</cibLink>
                    </span>
                </template>
            </cibInput>
        </div>
        <div class="button-nav">
            <div class="button-nav__row">
                <div class="button-nav__col button-nav__col_left" >
                </div>
                <div
                    class="button-nav__col button-nav__col_right"
                >
                    <cibButton type="form-button" @click="sendRequest" :disabled="$v.$invalid">
                        Отправить заявку
                    </cibButton>
                </div>
            </div>
        </div>
        <cibModal v-model="showModal">
            <template #content>
                <div class="cardsInner__modal-content">
                    <div class="cardsInner__modal-text">
                        Ваша заявка успешно отправлена под номером <strong>{{ applicationNumber }}</strong>
                    </div>
                    <div class="cardsInner__button-wr">
                        <cibButton customClass="cardsInner__modal-button" color-theme="green" @click="showModal = false">Ок</cibButton>
                    </div>
                </div>
            </template>
        </cibModal>
    </div>
</template>

<script>
import { reReleaseReasons, reReleaseCardModel } from '@/debet-karty/model/requestModel'
import { mapFields } from 'vuex-map-fields'
import validationsReReleaseCard from '@/debet-karty/helpers/vuelidate/validationsReReleaseCard'
import cibInput from 'centrinvest-web-components/src/appComponents/cibInput'
import cibButton from 'centrinvest-web-components/src/appComponents/Button'
import cibLink from 'centrinvest-web-components/src/appComponents/link'
import cibModal from 'centrinvest-web-components/src/appComponents/components/cibModal'
import { validationMixin } from 'vuelidate'
import { mapActions, mapGetters } from 'vuex'
import { cloneDeep } from 'lodash'

export default {
    mixins: [validationMixin],
    data: () => ({
        reReleaseReasons,
        showModal: false,
        applicationNumber: 1
    }),
    components: {
        cibInput,
        cibButton,
        cibLink,
        cibModal
    },
    computed: {
        ...mapFields('cardsForms', [
            'reReleaseCardModel'
        ]),
        ...mapGetters('cardsForms', [
            'reReleaseCard'
        ]),
        ...mapFields('card', [
            'showPreloader'
        ]),
        isShowCardNumber () {
            const arr = ['Срок действия карты', 'Поломка']
            return arr.includes(this.reReleaseCardModel.reReleaseReasons)
        }
    },
    methods: {
        ...mapActions('cardsForms', [
            'sendReReleaseRequest'
        ]),
        async sendRequest () {
            if (!this.$v.$invalid) {
                this.showPreloader = true
                try {
                    const response = await this.sendReReleaseRequest(this.reReleaseCardModel)
                    this.reReleaseCardModel = cloneDeep(reReleaseCardModel)
                    this.$v.$reset()
                    const applicationNumber = response.data.applicationNumber
                    this.applicationNumber = applicationNumber
                    this.showModal = true
                } catch (e) {

                } finally {
                    this.showPreloader = false
                }
            }
        }
    },
    validations () {
        return validationsReReleaseCard
    }
}
</script>

<style scoped>

</style>
