<template>
    <div class="vue-equiring">
        <section class="promo-equiring">
            <div class="wrapper">
                <hooper :settings="hooperSettings">
                    <slide>
                        <div class="promo-equiring__row">
                            <div class="promo-equiring__col promo-equiring__col_text">
                                <div class="promo-equiring__text-wrapper">
                                    <h2 class="promo-equiring__title">
                                        Онлайн-касса с эквайрингом <br>
                                        <span class="promo-equiring__green-text">БЕСПЛАТНО</span>
                                    </h2>

                                    <p class="promo-equiring__text promo-equiring__text_strong">
                                        Для клиентов, которые сотрудничают с банком по РКО, кредитованию и эквайрингу.
                                    </p>
                                    <p class="promo-equiring__text">
                                        Банк бесплатно предоставит мобильную онлайн-кассу РАХ А930 с эквайрингом для приема всех видов платежей, встроенным принтером чеков и двумя сканерами QR и штрихкодов. Устройство включено в реестр ККТ и соответствует 54-ФЗ. Акция действует до  30 сентября 2021 года.
                                    </p>
                                </div>
                            </div>
                            <div class="promo-equiring__col promo-equiring__col_img">
                                <div class="promo-equiring__img-container">
                                    <img class="promo-equiring__img" src="../assets/images/promo-slider/online-checkout.png" alt="online-checkout">
                                </div>
                            </div>
                        </div>
                        <div class="promo-equiring__btn-container">
                            <a href="https://www.centrinvest.ru/cabinet/aqquiring-lite/?t=cashier" class="promo-equiring__main-btn">ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ</a>
                            <a href="https://www.centrinvest.ru/cabinet/business-creditform/" class="promo-equiring__additional-btn">ПОДАТЬ ЗАЯВКУ НА КРЕДИТ</a>
                        </div>
                    </slide>

                    <slide>
                        <div class="promo-equiring__row">
                            <div class="promo-equiring__col promo-equiring__col_text">
                                <div class="promo-equiring__text-wrapper">
                                    <h2 class="promo-equiring__title">
                                        Оформите торговый эквайринг<br>
                                        <span class="promo-equiring__green-text">в надежном банке</span>
                                    </h2>

                                    <p class="promo-equiring__text-normal">
                                        Бесплатно предоставим терминал, расходные материалы и техническое обслуживание.
                                    </p>
                                    <a href="https://www.centrinvest.ru/cabinet/aqquiring/#/main-information" class="btn btn_margin-top toggle-content__button">ПОДАТЬ ЗАЯВКУ</a>
                                </div>
                            </div>
                            <div class="promo-equiring__col promo-equiring__col_img">
                                <div class="promo-equiring__img-container">
                                    <img class="promo-equiring__img" src="../assets/images/promo-slider/merchant-acquiring.png" alt="merchant-acquiring">
                                </div>
                            </div>
                        </div>
                    </slide>

                    <slide>
                        <div class="promo-equiring__row">
                            <div class="promo-equiring__col promo-equiring__col_text">
                                <div class="promo-equiring__text-wrapper">
                                    <h2 class="promo-equiring__title">
                                        Онлайн-касса с<br>
                                        <span class="promo-equiring__green-text">эквайрингом</span>
                                    </h2>

                                    <p class="promo-equiring__text-normal">
                                        Мы поможем с выбором оборудования и регистрацией. Наш сотрудник привезет Вам полностью готовый к работе комплект, соответствующий требованиям 54-ФЗ.
                                    </p>
                                </div>
                                <a href="https://www.centrinvest.ru/cabinet/aqquiring-lite/?t=cashier" class="btn btn_margin-top toggle-content__button">ПОДАТЬ ЗАЯВКУ</a>
                            </div>
                            <div class="promo-equiring__col promo-equiring__col_img">
                                <div class="promo-equiring__img-container">
                                    <img class="promo-equiring__img" src="../assets/images/promo-slider/online-kassa.jpg" alt="merchant-acquiring">
                                </div>
                            </div>
                        </div>
                    </slide>

                    <hooper-navigation slot="hooper-addons">
                        <svg slot="hooper-prev" width="58" height="36" viewBox="0 0 58 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="58" height="36" rx="4" fill="black" fill-opacity="0.05"/>
                            <path d="M19.6464 18.3536C19.4512 18.1583 19.4512 17.8417 19.6464 17.6464L22.8284 14.4645C23.0237 14.2692 23.3403 14.2692 23.5355 14.4645C23.7308 14.6597 23.7308 14.9763 23.5355 15.1716L20.7071 18L23.5355 20.8284C23.7308 21.0237 23.7308 21.3403 23.5355 21.5355C23.3403 21.7308 23.0237 21.7308 22.8284 21.5355L19.6464 18.3536ZM38 18.5H20V17.5H38V18.5Z" fill="#404040"/>
                        </svg>

                        <svg slot="hooper-next" width="58" height="36" viewBox="0 0 58 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="58" height="36" rx="4" fill="black" fill-opacity="0.05"/>
                            <path d="M38.3536 18.3536C38.5488 18.1583 38.5488 17.8417 38.3536 17.6464L35.1716 14.4645C34.9763 14.2692 34.6597 14.2692 34.4645 14.4645C34.2692 14.6597 34.2692 14.9763 34.4645 15.1716L37.2929 18L34.4645 20.8284C34.2692 21.0237 34.2692 21.3403 34.4645 21.5355C34.6597 21.7308 34.9763 21.7308 35.1716 21.5355L38.3536 18.3536ZM20 18.5H38V17.5H20V18.5Z" fill="#404040"/>
                        </svg>
                    </hooper-navigation>
                </hooper>
            </div>
        </section>

        <section class="equiring-main">
            <div class="wrapper">
                <h2 class="equiring-main__title">Торговый эквайринг</h2>
                <nav class="equiring-menu">
                    <router-link :to="{ name: 'advantages' }" tag="div" class="equiring-menu__item" active-class="equiring-menu__item_active">
                        Преимущества
                    </router-link>
                    <router-link :to="{ name: 'tariffs' }" tag="div" class="equiring-menu__item" active-class="equiring-menu__item_active">
                        Тарифы
                    </router-link>
                    <router-link :to="{ name: 'equipment' }" tag="div" class="equiring-menu__item" active-class="equiring-menu__item_active">
                        Оборудование
                    </router-link>
                    <router-link :to="{ name: 'connection' }" tag="div" class="equiring-menu__item" active-class="equiring-menu__item_active">
                        Подключение
                    </router-link>
                    <router-link :to="{ name: 'instructions' }" tag="div" class="equiring-menu__item" active-class="equiring-menu__item_active">
                        Инструкции
                    </router-link>
                </nav>

                <router-view></router-view>
            </div>
        </section>
    </div>
</template>

<script>

import {
    Hooper,
    Slide,
    Navigation as HooperNavigation
} from 'hooper'
import 'hooper/dist/hooper.css'
    export default {
        name: 'Home',
        components: {
            Hooper,
            Slide,
            HooperNavigation
        },
        metaInfo: {
        },
        data: () => ({
            hooperSettings: {
                wheelControl: false,
                infiniteScroll: true,
                mouseDrag: false
            },
            section: 0
        })
    }

</script>

<style lang="scss">
    @import '../assets/styles/main.css';
    @import '../assets/styles/styles.scss';
</style>
