.equiring-card {
    border: 1px solid #C6C6C6;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 24px 20px 32px;
    margin: 0px 10px 24px;
    @include col(3, 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 992px) {
        @include col(4, 10px);
    }
    @media (max-width: 768px) {
        @include col(6, 10px);
    }
    @media (max-width: 576px) {
        @include col(12, 10px);
    }
    &__title {
        font-family: Roboto;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.1;
        color: #333333;
        margin: 0;
        margin-bottom: 18px;
        &_text-left {
            width: 100%;
        }
    }
    &__text {
        font-family: Roboto;
        font-weight: 300;
        font-size: 12px;
        line-height: 1.2;
        text-transform: lowercase;
        color: #222222;
        margin: 0;
        margin-bottom: 18px;
    }
    &__img-container {
        width: 177px;
        max-height: 160px;
        margin-bottom: 24px;
    }
    &_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__btn-wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
        .equiring-card__btn {
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__btn {
        &.cib-button {
            font-size: 12px;
            height: 38px;
            padding: 14px 36px;
        }
        &:hover {
            background: #F5E700;
            border-color: #F5E700;
            color: #333;
        }
        &_modal {
            text-transform: uppercase;
            border-radius: 4px;
            background: #fff32a;
            padding: 11px 17px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            color: #333;
            border-radius: 4px;
            @media (max-width: 420px) {
                padding: 14px;
                font-size: 9px;
            }
        }
    }
}