.equiring-main {
    background: linear-gradient(180deg, #E8E8E8 0%, rgba(255, 255, 255, 0) 13.02%);
    padding: 90px 0px 110px;
    @media (max-width: 576px) {
        padding: 50px 0px;
    }
    &__title {
        font-family: Roboto;
        font-weight: 300;
        font-size: 24px;
        line-height: 1.1;
        color: #000000;
        margin: 0;
        margin-bottom: 35px;
    }
    &__cards-container {
        display: flex;
        flex-wrap: wrap;
        @include row(10px);
    }
}