.equiring-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.65);
    z-index: 1;
    display: none;
    &.active{
        display: block;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
    &__inner{
        background: #fff;
        padding: 30px;
        position: relative;
        line-height: 1.2;
        @media (max-width: 540px) {
            padding: 25px 15px 25px;
        }
    }
    &__title{
        font-family: Montserrat;
        font-weight: bold;
        font-size: 32px;
        color: $green;
        margin-bottom: 15px;
        @media (max-width: 540px) {
            font-size: 28px;
        }
    }
    &__text {
        font-family: Roboto;
        font-weight: normal;
        font-size: 18px;
        color: $text;
        margin: 0;
        max-width: 615px;
        &_bold{
            font-weight: 600;
        }
        @media (max-width: 540px) {
            font-size: 15px;
        }
    }
    &__close{
        position: absolute;
        top: 24px;
        right: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    &__box-img-wr{
        display: flex;
        padding: 32px 25px;
        border: 1px solid #C6C6C6;
        border-radius: 12px;
        flex-direction: column;
        align-items: center;
        @media (max-width: 540px) {
            padding: 10px;
            margin-bottom: 5px;
        }
    }
    &__box-img{
        margin-bottom: 25px;
        @media (max-width: 540px) {
            margin-bottom: 15px;
        }
    }
    &__instructions {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        @media (max-width: 540px) {
            flex-direction: column;
        }
    }
}