.equiring-menu {
    display: flex;
    overflow: auto;
    margin-bottom: 40px;
    &__item {
        font-family: Roboto;
        font-size: 16px;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #646464;
        border: 1px solid #D5D5D5;
        border-radius: 4px;
        padding: 14px 24px;
        margin-right: 25px;
        cursor: pointer;
        @media (max-width: 576px) {
            padding: 14px;
            margin-right: 10px;
        }
        &:last-child {
            margin-right: 0;
        }
        &_active {
            background: #4AB541;
            border: 1px solid #4AB541;
            color: #ffffff;
        }
    }
}