.promo-equiring {
    background: #ffffff;
    padding: 50px 0px;
    @media (max-width: 576px) {
        padding: 40px 0px;
    }
    &__row {
        @include row(20px);
        margin-bottom: 20px;
    }
    &__col {
        &_text {
            @include col(7, 20px);
            @media (max-width: 768px) {
                @include col(12,20px);
            }
        }
        &_img {
            @include col(5, 20px);
            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    &__btn-container {
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        @media (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
        }
        @media (max-width: 576px) {
            justify-content: center;
        }
    }
    &__main-btn {
        margin: 0;
        margin-right: 20px;
        padding: 14px 24px;
        min-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        line-height: 1;
        box-sizing: border-box;
        color: #333333;
        background: #FFF32B;
        border-radius: 4px;
        &:hover {
            background-color: #fbe418;
            color: #333;
            border: 0;
        }
        @media (max-width: 768px) {
            margin-right: 0;
            margin-bottom: 10px;
        }
        @media (max-width: 576px) {
            width: 100%;
        }
    }
    &__additional-btn {
        box-sizing: border-box;
        border: 1px solid #4AB541 !important;
        min-height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 13px 24px;
        font-size: 12px;
        line-height: 1;
        box-sizing: border-box;
        border-radius: 4px;
        color: #4AB541;
        &:hover {
            color: #409439;
            border-color: #409439;
        }
        @media (max-width: 768px) {
            width: auto;
        }
        @media (max-width: 576px) {
            width: 100%;
        }
    }

    &__title {
        margin: 0;
        margin-bottom: 25px;
        font-weight: bold;
        font-size: 40px;
        line-height: 1.1;
        color: #222222;
        font-family: Montserrat;
        @media (max-width: 992px) {
            font-size: 28px;
            margin-bottom: 15px;
        }
        @media (max-width: 400px) {
            font-size: 24px;
        }
    }
    &__green-text {
        color: #4AB541;
        line-height: 1.3;
        text-transform: uppercase;
    }

    &__text {
        font-family: Roboto;
        font-weight: 300;
        font-size: 12px;
        line-height: 1.3;
        color: #333333;
        margin: 0;
        margin-bottom: 8px;
        &:last-child {
            margin-bottom: 0;
        }
        &_strong {
            font-weight: 500;
            font-size: 16px;
        }
    }
    &__text-normal {
        font-family: Roboto;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.2;
        color: #333333;
        margin: 0;
        margin-bottom: 8px;
        max-width: 379px;
        @media (max-width: 768px) {
            max-width: unset;
        }
    }
    &__img-container {
        max-width: 100%;
        max-height: 273px;
        position: relative;
        display: flex;
        position: relative;
        justify-content: flex-end;
        @media (max-width: 992px) {
            height: 100%;
        }
    }
    &__img {
        object-fit: cover;
        border-radius: 8px;
    }
    .hooper {
        height: auto;
    }
    .hooper-slide {
        overflow: hidden;
    }
    .hooper-next, .hooper-prev {
        position: static;
        top: 0;
        transform: none;
        padding: 0;
    }
    .hooper-prev {
        margin-right: 16px;
    }
}

.promo-equiring .hooper-navigation {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.promo-equiring .hooper-slide {
    width: 100%;
    padding: 0 10px;
}