<template>
    <div class="cibVuePageApp">
        <div>
            <router-view />
        </div>
        <transition name="fade">
            <Loader v-show="showPreloader" :fixed="true" :transparent="true"  />
        </transition>
    </div>
</template>

<script>
import Loader from 'centrinvest-web-components/src/appComponents/Loader'
import { mapFields } from 'vuex-map-fields'

export default {
    name: 'App',
    components: {
        Loader
    },
    computed: {
        ...mapFields([
            'showPreloader'
        ])
    },
}
</script>

<style lang="scss">
@import './assets/styles.scss';
</style>
