<template>
    <section class="coins">
        <h1 class="coins__title">Монеты из драгоценных металлов</h1>
        <div class="coins__page-text">
            <p class="coins__text">Инвестиционные и памятные монеты из золота и серебра — это ценный и оригинальный подарок для родных и близких.</p>
            <p class="coins__text">Инвестиционные монеты являются выгодным способом вложения денежных средств.</p>
            <p class="coins__text">В ПАО КБ «Центр-инвест» представлен широкий ассортимент памятных золотых и серебряных монет чеканки Банка России.</p>
            <p class="coins__text">Каждая монета имеет уникальный дизайн, высокое качество чеканки, а благодаря тому, что монеты выпускаются ограниченным тиражом, они могут стать объектом коллекционирования.</p>
            <p class="coins__text">Приобрести инвестиционные и памятные монеты и получить от персонального менеджера полную информацию можно в комфорной обстановке VIP-зала банка «Центр-инвест» по адресу: г. Ростов-на-Дону, пр. Соколова, 62</p>
        </div>
        <div class="coins__button-row">
            <cibButton href="https://www.centrinvest.ru/cabinet/coinshop/" :blank="true">Заказать монеты</cibButton>
        </div>
        <div class="filters">
            <div class="filters__filter">
                <input type="text" name="name" id="name" v-model="filter" placeholder="Поиск">
            </div>
        </div>
        <div class="toggleButton">
            <div class="toggleButton__button" @click="toggleList">{{ buttonText }}</div>
        </div>
        <div class="result-list" v-if="result.length">
            <div class="result-list__category" v-for="(category, index) in result" :key="index">
                <div v-if="category.coins.length" class="result-list__caption" :class="{'result-list__caption_open' : statesList[category.id]}" @click="toggleCaption(category.id)">
                    <div class="result-list__border-caption" v-html="category.name"></div>
                </div>
                <transition
                    @before-enter="beforeEnter"
                    @enter="enter"
                    @leave="leave"
                    :css="false"
                >
                    <div class="result-list__coins" :id="index" v-show="statesList[category.id] && category.coins.length">
                        <div class="result-list__cost-category" v-if="getPrice(category)">Стоимость: {{ getPrice(category) }}</div>
                        <div class="result-list__row">
                            <div class="coin" v-for="(coin, index) in category.coins" :key="index">
                                <div class="coin__img">
                                    <img :src="`${config.imagesPath}${coin.image}`" alt="">
                                </div>
                                <div class="coin__description">
                                    <table class="coin__table">
                                        <tr>
                                            <td colspan="2">
                                                <a :href="coin.cbrLink" class="coin__link" rel="noopener noreferrer" target="_blank" v-html="coin.name"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Номинал:</td>
                                            <td>{{ coin.faceValue }}</td>
                                        </tr>
                                        <tr>
                                            <td>Металл:</td>
                                            <td>{{ coin.metal }}</td>
                                        </tr>
                                        <tr>
                                            <td>Вес:</td>
                                            <td>{{ coin.weight }}</td>
                                        </tr>
                                        <tr>
                                            <td>Каталожный номер:</td>
                                            <td v-html="coin.specNumber"></td>
                                        </tr>
                                        <tr v-if="getPrice(coin)">
                                            <td>Стоимость:</td>
                                            <td>{{ getPrice(coin) | moneyFormat }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </transition>
            </div>
        </div>
        <div class="result-list" v-else>
            <span class="result-list__empty">По вашему запросу ничего не найдено</span>
        </div>
        <div class="toggleButton">
            <div class="toggleButton__button" @click="toggleList">{{ buttonText }}</div>
        </div>
        <div class="coins__button-row">
            <cibButton href="https://www.centrinvest.ru/cabinet/coinshop/" :blank="true">Заказать монеты</cibButton>
        </div>
    </section>
</template>

<script>
import axios from 'axios'
import Velocity from 'velocity-animate'
import cibButton from 'centrinvest-web-components/src/appComponents/Button'
export default {
    name: 'app',
    components: {
        cibButton
    },
    data () {
        return {
            config: {
                region: '',
                imagesPath: 'https://cib4.dev.cinet.ru/ru/services/cibVuePages/src/prodaja-monet/images/',
                jsonPath: 'https://cib4.dev.cinet.ru/ru/services/cibVuePages/src/prodaja-monet/coins.data.json'
            },
            data: [],
            filterVal: '',
            statesList: {},
            height: null,
            showAll: false
        }
    },
    filters: {
        moneyFormat (value) {
            if (!value) return ''
            value = parseInt(value)
            value = new Intl.NumberFormat('ru-RU').format(value)
            return value
        }
    },
    computed: {
        filter: {
            get () {
                return this.filterVal
            },
            set (value) {
                this.filterVal = value.trim()
            }
        },
        filterReg () {
            let arr = JSON.parse(JSON.stringify(this.data))
            arr = arr.filter(item => {
                item.coins = item.coins.filter(element => {
                    return (this.config.region === 'Нижегородская область' && element.nnAvailable) || (this.config.region !== 'Нижегородская область' && element.headAvailable)
                })

                return (this.config.region === 'Нижегородская область' && item.nnAvailable) || (this.config.region !== 'Нижегородская область' && item.headAvailable)
            })
            return arr
        },
        result () {
            const regExp = new RegExp(`(${this.filter})`, 'ig')
            let arr = JSON.parse(JSON.stringify(this.filterReg))
            arr = arr.filter((item) => {
                let truthMapSeries = false
                truthMapSeries = item.name.search(regExp) !== -1
                const coins = JSON.parse(JSON.stringify(item.coins))

                item.coins = item.coins.filter((element) => {
                    const truthMapCoins = []
                    truthMapCoins.push(element.name.search(regExp) !== -1)
                    truthMapCoins.push(element.specNumber.search(regExp) !== -1)

                    return truthMapCoins.some(element => {
                        return element === true
                    })
                })
                if (this.filter.length) {
                    item.coins.forEach(element => {
                        element.name = element.name.replace(regExp, '<span style="background: yellow;">$1</span>')
                        element.specNumber = element.specNumber.replace(regExp, '<span style="background: yellow;">$1</span>')
                    })
                }

                if (item.coins.length === 0 && truthMapSeries) {
                    item.coins = coins
                } else if (item.coins.length !== 0 && !truthMapSeries) {
                    truthMapSeries = true
                }

                return truthMapSeries
            })
            if (this.filter.length) {
                arr.forEach(element => {
                    element.name = element.name.replace(regExp, '<span style="background: yellow;">$1</span>')
                })
            }
            arr.forEach(element => {
                element.name = element.name.concat(` <span class="result-list__items-count">(${element.coins.length})<span>`)
                if (element.price) {
                    element.name = element.name.concat(` <span class="result-list__section-price">(${this.getPrice(element)} руб.)<span>`)
                }
            })

            return arr
        },
        buttonText () {
            return this.showAll ? 'Свернуть все' : 'Развернуть все'
        }
    },
    methods: {
        beforeEnter (el) {
            el.style.display = 'block'
            this.height = el.getBoundingClientRect().height
            el.style.height = '0'
            el.style.paddingTop = '0'
            el.style.paddingBottom = '0'
            el.style.overflow = 'hidden'
        },
        enter (el, done) {
            Velocity(el, {
                height: this.height,
                paddingTop: parseInt(getComputedStyle(el, null).getPropertyValue('padding-left')),
                paddingBottom: parseInt(getComputedStyle(el, null).getPropertyValue('padding-left'))
            }, {
                duration: 300,
                complete () {
                    done()
                    el.removeAttribute('style')
                    el.style.overflow = 'hidden'
                }
            })
        },
        leave (el, done) {
            Velocity(el, {
                height: 0,
                paddingTop: 0,
                paddingBottom: 0
            }, {
                duration: 300,
                complete () {
                    done()
                    el.removeAttribute('style')
                    el.style.display = 'none'
                }
            })
        },
        toggleList () {
            this.showAll = !this.showAll
            for (const key in this.statesList) {
                this.statesList[key] = this.showAll
            }
        },
        toggleCaption (id) {
            this.statesList[id] = !this.statesList[id]
        },
        getPrice (item) {
            let price = item.price
            if (this.config.region === 'Нижегородская область' && item.nnAvailable) {
                price = item.nnPrice
            }
            return price
        },
        swap (arr, a, b) {
            arr[a] = arr.splice(b, 1, arr[a])[0]
            return arr
        },
        setParams () {
            this.config.region = window.region || this.config.region
            this.config.imagesPath = window.imagesPath || this.config.imagesPath
            this.config.jsonPath = window.jsonPath || this.config.jsonPath
        }
    },
    watch: {
        result () {
            this.statesList = {}
            this.result.forEach((item) => {
                this.$set(this.statesList, item.id, false)
            })
        }
    },
    created () {
        this.setParams()
        axios
            .get(`${this.config.jsonPath}`)
            .then(response => {
                const arr = response.data
                const coinName = 'Инвестиционные монеты'
                let coinIndex = -1
                coinIndex = response.data.findIndex((item) => {
                    return item.name === coinName
                })
                if (coinIndex !== -1) {
                    arr.unshift(...arr.splice(coinIndex, 1))
                }
                this.data = arr
                this.filterReg.forEach((item) => {
                    this.$set(this.statesList, item.id, false)
                })
            })
            .catch(error => {
                console.log(error)
            })
    }
}

</script>

<style lang="scss">
@import '../assets/styles';
#app {
    font-family: Roboto,Arial,Helvetica,sans-serif;
}
</style>
