@import '../../assets/styles/base.scss';

.creditBiz {
    &__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        font-size: 46px;
        line-height: 1.4;
        letter-spacing: 0.5px;
        color: $grey;
        margin-bottom: 26px;
        @media (max-width: 768px) {
            font-size: 6.8vw;
        }
        @media (max-width: 480px) {
            font-size: 9vw;
        }
    }
    &__filters {
        @media (min-width: 769px) {
            @include row(8px);
        }
        @media (max-width: 768px) { 
            overflow-x: scroll;
            overflow-y: hidden;
            display: flex;
            margin-bottom: -20px;
            padding-left: 8px;
            padding-right: 8px;
        }
    }
    &__filters-wr {
        margin-bottom: 58px;
        margin-top: 58px;
        @media (max-width: 768px) { 
            margin-left: -16px;
            overflow: hidden;
            margin-bottom: 42px;
            margin-top: 42px;
        }
    }
    &__documents {
        margin-top: 40px;
    }
    &__h2 {
        color: $grey;
        font-weight: 500;
        font-size: 28px;
    }
}

.creditBiz-banner {
    padding: 32px 56px;
    background: #FFFFFF;
    box-shadow: 0px 0px 48px rgba(0, 0, 0, 0.2);
    border-radius: 8px;

    @media (max-width: 440px) {
        padding: 24px;
    }

    &__title {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 32px;
        line-height: 1.2;
        letter-spacing: 0.5px;
        color: $green;
        margin-bottom: 16px;

        @media (max-width: 440px) {
            font-size: 24px;
        }
    }

    &__caption {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 22px;
        line-height: 1.2;
        color: $text;
        position: relative;
        margin-bottom: 24px;

        @media (max-width: 440px) {
            font-size: 16px;
        }
        
        &::before {
            content: '';
            display: block;
            width: 100px;
            height: 2px;
            background-color: $yellow;
            position: absolute;
            left: 0;
            bottom: -8px;
        }
    }

    &__list-title {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.2;
        color: $green;
        margin-bottom: 8px;

        @media (max-width: 440px) {
            font-size: 16px;
        }
    }

    .button-container {
        padding-top: 8px;
    }
}

.creditBiz-banner-list {
    padding: 0;
    list-style: none;
    &__span {
        font-weight: 700;
        color: $green;
    }
    &__item {
        font-family: Roboto;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.5px;
        color: $black;
        margin-bottom: 8px;
        position: relative;
        padding-left: 14px;
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 5px;
            left: 0;
            width: 7px;
            height: 7px;
            background: $green;
        }

        @media (max-width: 440px) {
            font-size: 14px;
        }
    }
}

.creditBiz-filters {
    &__filter {
        margin-left: 8px;
        margin-right: 8px;
        border-radius: 4px;
        @media (max-width: 768px) {
            overflow: visible;
            white-space: nowrap;
        }
        box-sizing: border-box;
        color: #7A7A7A;
        padding: 8px 16px;
        background: #F4F4F4;
        font-size: 12px;
        cursor: pointer;
        text-transform: unset;
        margin-bottom: 24px;
        transition: all 0.3s;
        &:hover {
            background: #E7E7E7;
            color: #3F3F3F;
        }
        &_active {
            color: #fff;
            background: $green;
            &:hover {
                background: $green;
                color: #fff;
            }
        }
    }
}

.creditBiz-programm {
    margin-bottom: 50px;
    padding-bottom: 50px;
    font-size: 0;
    border-bottom: 1px solid #bbb;
    &__img-wr {
        @media (min-width: 769px) {
            flex: 0 0 230px;
            margin-right: 48px;
            max-width: 230px;
        }
        @media (max-width: 768px) {
            margin-bottom: 12px;
        }
    }
    &__wr {
        display: flex;
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
    &__img {
        border-radius: 6px;
    }
    &__content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
    }
    &__caption {
        font-weight: 500;
        font-size: 34px;
        color: $grey;
        margin-bottom: 24px;
        text-decoration: none;
        transition: color 0.3s;
        line-height: 1.2;
        margin: 0;
        margin-bottom: 24px;
        border-bottom: none;
        &:hover {
            color: $green;
        }
        @media (max-width: 768px) {
            font-size: 28px;
            display: none;
        }
        &_mobile {
            @media(min-width: 769px) {
                display: none;
            }
            display: block;
        }
    }
    &__characters {
        @include row(5px);
        margin-bottom: 34px;
    }
    &__character {
        &_rate {
            @include col(3, 5px)
        }
        &_amount {
            @include col(5, 5px)
        }
        &_term {
            @include col(4, 5px)
        }
    }
    &__label {
        font-size: 18px;
        color: $grey;
        margin-bottom: 12px;
        @media (max-width: 600px) {
            font-size: 16px
        }
        @media (max-width: 414px) {
            font-size: 14px
        }
    }
    &__value {
        font-size: 28px;
        color: $green;
        font-weight: 500;
        @media (max-width: 600px) {
            font-size: 22px
        }
        @media (max-width: 414px) {
            font-size: 18px
        }
    }
    &__description {
        color: $grey;
        font-size: 18px;
        line-height: 1.2;
        margin-bottom: 24px;
    }
    &__buttons {
        margin-top: auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .cib-button-wr {
            margin-right: 24px;
        }
    }
    &__img-link {
        display: block;
        border-bottom: 0;
        @media (max-width: 768px) {
            max-width: 280px;
        }
    }
    &__button {
        @media (max-width: 480px) {
            width: 100%;
        }
        border-radius: 6px;
        box-sizing: border-box;
        @media (max-width: 600px) {
            margin-bottom: 16px;
        }
        
    }
    &__fullDesc, &__table-wr {
        font-size: 14px;
        line-height: 1.3;
        p, li {
            margin: 10px 0;
        }
        ul {
            list-style: disc;
        }
        ol {
            list-style: decimal;
        }
        ul, ol {
            padding-left: 16px;
        }
        h2 {
            color: $green;
            font-size: 18px
        }
        table {
            // border: 1px solid #c9c9c9;
            margin: 20px 0 30px 0;
            // line-height: $lh;
            tr {
                &:nth-child(2n+1) {
                    td {
                        background: #f4f4f4;
                    }
                }
                td {
                    @media(max-width: 480px) {
                        &:nth-child(1) {
                            padding: 16px 8px 16px 16px;
                        }
                        &:nth-child(2) {
                            padding: 16px 16px 16px 8px;
                        }
                    }
                }
            }
        }
    }

}

.dropdown-block {
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    margin: 25px 0 50px 0;
}

.oneProgramm {
    &__button {
        margin: 15px 0;
    }
}

.button-wr {
    @media (max-width: 480px) {
        width: 100%;
    }
}

.breadCrumbs {
    margin-bottom: 25px;
}

.depositFeedback {
    margin-top: 64px;
}

.banner-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: $green;
    padding: 16px 16px;
    margin-top: 32px;
    line-height: 1.2;
    &__text {
        color: $yellow;
        font-size: 28px;
    }
}

.covid-info {
    margin-top: 40px;
    &__caption {
        font-size: 28px;
        color: $grey;
        line-height: 1.2;
        margin-bottom: 16px;
        font-weight: 700;
    }
    &__text {
        margin-bottom: 16px;
        font-family: Montserrat;
        font-weight: 600;
        font-size: 22px;
        line-height: 1.2;
        color: #333;
    }
    &__link {
        text-decoration: none;
        color: $green;
        transition: 0.3s;
        border-bottom: 1px solid;
        border-color: #E7E7E7;
        font-size: 22px !important;
        &:hover {
            color: darken($green, 10%);
        }
    }
}

.smallBusiness-requestBanner {
    margin-bottom: 70px;
    &__row {
        @include row(18px)
    }
    &__col {
        &_left {
            @include col(7, 18px);
            @media (max-width: 768px) {
                @include col(12, 18px);
            }
        }
        &_right {
            @include col(5, 18px);
            @media (max-width: 768px) {
                display: none;
            }
        }
    }
    &__title {
        font-family: Montserrat;
        font-weight: bold;
        font-size: 32px;
        line-height: 1.1;
        letter-spacing: 0.5px;
        color: $grey;
        margin-bottom: 16px;
        @media (max-width: 480px) {
            font-size: 26px;
        }
    }
    &__text {
        font-family: Roboto;
        font-size: 16px;
        line-height: 1.2;
        color: $grey;
        margin-bottom: 26px;
    }
    &__subtitle {
        font-family: Roboto;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.2;
        color: $grey;
        margin-bottom: 26px;
    }
    &__note {
        font-family: Roboto;
        font-weight: 300;
        font-size: 12px;
        line-height: 1.2;
        color: $grey;
        margin-bottom: 26px;
    }
    &__buttons-wr {
        display: flex;
        flex-wrap: wrap;
    }
    &__button {
        font-family: Roboto;
        font-size: 16px;
        padding: 16px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        @media (max-width: 480px) {
            width: 100%;
        }
        &_margin {
            margin-right: 24px;
            @media (max-width: 480px) {
                margin-right: 0;
            }
        }
        &_green-empty {
            border: 1px solid $green;
        }
    }
    &__img-wr {
        height: 250px;
        
    }
    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
    }
}


.program-akselerator {
    margin-top: 76px;

    &__title {
        font-weight: 500;
        font-size: 28px;
        line-height: 1.2;
        color: #333;
        margin: 0 0 40px 0;
        text-align: center;

        @media (max-width: 480px) {
            padding-left: 0px;
        }
    }
}

.program-block {
    line-height: 1.2;
    font-size: 18px;

    @media (max-width: 480px) {
        padding-left: 13px;
        padding-right: 13px;
    }

    &__link {
        font-size: 18px;
        color: #50b848;
    }
}

.block-course {
    background-image: url('img/accelerator-bg.jpg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    margin-top: 40px;
    padding: 20px 50px;
    box-sizing: border-box;
    margin-bottom: 50px;
    position: relative;
    border-radius: 6px;

    @media (max-width: 480px) {
        padding: 21px 7px;
    }

    &__wrapper {
        margin: 0 auto;
        position: relative;
    }

    &__title {
        color: #fff32b;
        font-size: 42px;
        font-weight: 700;
        margin: 0;
    }

    &__list {
        margin: 44px 10px 10px 7px;
        list-style: none;
    }

    &__element {
        min-height: 28px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 0 0 40px;
        margin: 22px 0;
        color: #fff;
        font-size: 22px;
        position: relative;
    }

    &__element:before {
        content: '';
        width: 28px;
        height: 28px;
        position: absolute;
        top: 0;
        left: 0;
        background: url('img/bullet.svg') center center/cover no-repeat;
    }

    &__btn {
        position: absolute;
        bottom: 0;
        background: #fff32a;
        right: 0;
        font-size: 18px;
        text-transform: uppercase;
        color: #333;
        text-decoration: none;
        margin-top: 15px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transition: all .2s;
        padding: 16px 40px;

        @media (max-width: 1000px) {
            position: relative;
            text-align: center;
            padding: 16px 40px;
        }

        @media (max-width: 480px) {
            margin-left: 8px;
            margin-right: 8px;
        }
    }
}

.bs-banners {
    width: 100%;
    margin-left: 0;
    &.with-shadow {
        box-shadow: 0px 0px 48px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        overflow: hidden;
        .bs-banners_desktop {
            margin: 0;
            display: flex;
        }
        .bs-banners_mobile {
            margin: 0;
        }
    }
    img {
        width: 100%;
    }

    &_desktop {
        max-width: 100%;
        margin-top: 16px;
        @media screen and (max-width: 480px) {
            display: none !important;
        }
    }

    &_mobile {
        display: none;
        max-width: 100%;
        margin-top: 16px;
        @media screen and (max-width: 480px) {
            display: flex !important;
        }
    }
}
