<template>
    <section class="banner">
        <div class="wrapper">
            <div class="banner__content">
                <div class="banner__title">Детская карта</div>
                <div class="banner__text">Удобство, выгода и безопасность на <b>5&#43;</b></div>
                <div class="cib-button">
                    <a class="banner__link" href="#ordercard">
                        Заказать
                    </a>
                </div>
            </div>
            <div class="banner__bg"></div>
        </div>
    </section>
</template>

<script>
export default {
    name: 'TheBanner',
}
</script>
