<template>
    <section class="benefits" id="benefits">
        <div class="wrapper">
            <div class="benefits-content">
                <div class="benefits-content__item">
                    <div class="front">
                        <img src="../assets/images/benefit1.png" alt="convenience">
                    </div>
                    <div class="back back--flex">
                        <h3>Удобство</h3>
                        <ul>
                            <li>
                                <p>Один счет - две карты. Счет открывается на имя родителя.</p>
                            </li>
                            <li>
                                <p>Лимит детской карты легко настроить в Мобильном банке.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="benefits-content__item benefits-content__item--big">
                    <div class="front">
                        <img src="../assets/images/benefit2.png" alt="benefit">
                    </div>
                    <div class="back">
                        <h3>Выгода</h3>
                        <ul>
                            <li>
                                <span>0&#8381;</span>
                                <p>Бесплатное открытие и обслуживание обеих карт</p>
                            </li>
                            <li>
                                <span>5&#37;</span>
                                <p>Повышенный кешбэк на категории &#171;цветы и канцтовары&#187; по карте родителя</p>
                            </li>
                            <li>
                                <span>5&#37;</span>
                                <p>Повышенный кешбэк на категорию &#171;развлечения&#187; по карте ребенка</p>
                            </li>
                            <li>
                                <span>1&#37;</span>
                                <p>Кешбэк на любые другие категории покупок</p>
                            </li>
                            <li>
                                <span>3&#37;</span>
                                <p>Начисление на любой остаток по счету</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="benefits-content__item">
                    <div class="front">
                        <img src="../assets/images/benefit3.png" alt="secure">
                    </div>
                    <div class="back back--flex">
                        <h3>Безопасно</h3>
                        <ul>
                            <li>
                                <p>Уведомления о любых операциях по картам – у вас в телефоне.</p>
                            </li>
                            <li>
                                <p>Случайные онлайн-покупки по детской карте – исключены.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="benefits-content__item benefits-content__item--big">
                    <div class="front">
                        <img src="../assets/images/benefit4.png" alt="more">
                    </div>
                    <div class="back back--flex">
                        <h3>А еще &#8230;</h3>
                        <ul>
                            <li>
                                <p>Пополняйте свой счет с карты любого банка - без комиссии.</p>
                            </li>
                            <li>
                                <p>Покупки в школьной столовой, а также оплата образовательных услуг - без комиссии.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: 'TheBenefits',
}
</script>
