<template>
    <section class="cards">
        <div class="wrapper">
            <span class="cards__logo"></span>
            <div class="cards-wrapper">
                <div class="cards__grid-row">
                    <div class="cards__grid-col">
                        <h3>Карта родителя</h3>
                        <img src="../assets/images/card.png" alt="card">
                    </div>
                    <div class="cards__grid-col">
                        <h3>Карта ребенка</h3>
                        <img src="../assets/images/child-card.png" alt="child-card">
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: 'TheCards',
    data() {
        return {
            cardsDescr: {
                parentCard: [
                    'До&nbsp;2,5% годовых на&nbsp;остаток собственных средств;',
                    'Снятие 250&nbsp;тыс. руб.&nbsp;в&nbsp;месяц в&nbsp;банкоматах Банка без комиссии;',
                    'Льготный период до&nbsp;55&nbsp;дней;',
                    'Кэшбэк-сервис <a href="https://privetmir.ru/" target="_blank" class="highlight">privetmir.ru</a>',
                ],
                childCard: [
                    'Бесплатное открытие и&nbsp;обслуживание обеих карт',
                    '?',
                    '?',
                    'Повышенный кешбэк',
                ],
            },
        };
    },
};
</script>
