<template>
    <section class="docs" id="docs">
        <div class="wrapper">
            <h2>Документы</h2>
            <div class="docs-content">
                <a class="docs-content__item" href="#">
                    <span></span>
                    <p>Финансовые условия по продукту Детская карта</p>
                </a>
                <a class="docs-content__item" href="#">
                    <span></span>
                    <p>Правила программы лояльности</p>
                </a>
                <a class="docs-content__item" href="#">
                    <span></span>
                    <p>Руководство пользователя сервисом Мобильный банк</p>
                </a>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: 'TheDocs',
}
</script>
