<template>
    <div class="footer">
        <div class="wrapper footer-wrapper">
            <div class="footer__item rigth-col">
                <p class="footer__item__title">
                    Информационная служба
                </p>
                <div class="footer__item__phones">
                    <a class="footer__item__phones__phone" href="tel:88632000000">
                        8 863 200-00-00
                    </a>
                    <a class="footer__item__phones__phone" href="tel:88002009929">
                        8 800 200-99-29
                    </a>
                </div>

                <div class="footer__item__copyright">
                    <p class="footer__item__copyright__text">
                        ПАО КБ Центр-инвест, Ростов-на-Дону
                    </p>
                    <p class="footer__item__copyright__text">
                        Поддержка &copy; <a href="https://cinet.ru/" target="_blank">«Центр-Интернет»</a>
                    </p>
                </div>
            </div>
            <div class="footer__item left-col">
                <div class="left-col__socials">
                    <p class="footer__item__title">
                        Мы в соцсетях
                    </p>
                    <div class="left-col__socials__container">
                        <a class="social-link" href="https://vk.com/centrinvest" target="_blank">
                            <img src="../assets/images/vk.svg" alt="vk">
                        </a>
                        <a class="social-link" href="https://teleg.run/CentrinvestBot" target="_blank">
                            <img src="../assets/images/tg.svg" alt="telegram">
                        </a>
                        <a class="social-link" href="https://www.facebook.com/centrinvest" target="_blank">
                            <img src="../assets/images/fb.svg" alt="facebook">
                        </a>
                        <a class="social-link" href="https://twitter.com/centrinvest" target="_blank">
                            <img src="../assets/images/twitter.svg" alt="twitter">
                        </a>
                        <a class="social-link" href="http://instagram.com/centrinvest" target="_blank">
                            <img src="../assets/images/inst.svg" alt="instagram">
                        </a>
                        <a class="social-link" href="https://www.youtube.com/user/centrinvest" target="_blank">
                            <img src="../assets/images/yb.svg" alt="youtube">
                        </a>
                        <a class="social-link" href="https://wa.me/88002009929" target="_blank">
                            <img src="../assets/images/wa.svg" alt="whatsapp">
                        </a>
                    </div>
                </div>

                <div class="footer__appstore">
                    <p class="footer__item__title">
                        Мобильный банк «Центр-инвест»
                    </p>
                    <div class="app-store">
                        <a href="https://apps.apple.com/ru/app/мобильный-банк-центр-инвест/id1329640879"
                            target="_blank">
                            <img class="app-store__icon" src="../assets/images/appstore.svg" alt="">
                        </a>
                        <a href="https://play.google.com/store/apps/details?id=ru.centrinvest.mobilebanking&hl=ru"
                            target="_blank">
                            <img class="app-store__icon" src="../assets/images/googleplay.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'TheFooter',
}
</script>
