<template>
    <section id="faq" class="faq-section">
        <div class="wrapper">
            <h2 class="section-title">
                Вопросы
            </h2>
            <div class="faq desktop-faq">
                <ol class="faq__questions">
                    <li
                        v-for="(question, index) in questions"
                        :key="question"
                        class="faq__questions__item"
                    >
                        <a class="question-link" :href="`#answer${index + 1}`" v-html="getQuestionString(index, question)" />
                    </li>
                </ol>
                <div class="faq__answers">
                    <div
                        v-for="(item, index) in faqQuestions"
                        :key="item.question"
                        :id="`answer${index + 1}`"
                        class="faq__answers__item"
                    >
                        <h3 class="answer__title" v-html="getQuestionString(index, item.question)" />
                        <p v-html="item.answer" class="answer__text" />
                    </div>
                </div>
            </div>
            <ol class="faq-mobile">
                <li
                    v-for="(item, index) in faqQuestions"
                    :key="item.answer"
                    class="faq-mobile__item"
                    @click="toggleActive(index)"
                >
                    <p :class="['question', {active: item.isActive}]">
                        <span v-html="getQuestionString(index, item.question)" />
                        <span class="chevron-icon">
                            <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.5 1L5 5.5L0.5 10" stroke="black" stroke-opacity="0.6" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </span>
                    </p>
                    <p v-html="item.answer" class="answer" />
                </li>
            </ol>
        </div>
    </section>
</template>

<script>
import {faqQuestions} from '@/child-card/data/model';

export default {
    name: 'TheFaq',
    data() {
        return {
            faqQuestions: [],
        };
    },
    computed: {
        questions() {
            return faqQuestions.map((item) => item.question);
        },
    },
    mounted() {
        this.faqQuestions = faqQuestions.map((item) => ({...item, isActive: false}));
    },
    methods: {
        toggleActive(index) {
            this.faqQuestions[index].isActive = !this.faqQuestions[index].isActive;
        },
        getQuestionString(index, question) {
            return `${index + 1}. ${question}`;
        },
    },
}
</script>
