<template>
    <section class="navbar">
        <div class="wrapper">
            <div class="navbar__logos">
                <a href="https://www.centrinvest.ru/" class="navbar__logos__item" target="_blank">
                    <img src="../assets/images/bank-logo.svg" alt="Банк «Центр-инвест»">
                </a>
            </div>

            <nav class="navbar-links navigation">
                <a href="#benefits" class="navigation__item">
                    Преимущества
                </a>
                <a href="#ordercard" class="navigation__item">
                    Заказать карту
                </a>
                <a href="#faq" class="navigation__item">
                    Вопрос/ответ
                </a>
                <a href="#docs" class="navigation__item">
                    Документы
                </a>
            </nav>

            <div class="nav-phone">
                <a href="tel:88002009929">
                    <img src="../assets/images/phone.svg" alt="phone">
                    8 800 200-99-29
                </a>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: 'TheNavbar',
}
</script>
