<template>
    <section class="ordercard" id="ordercard">
        <div class="wrapper">
            <h2>Заказать карту</h2>
            <form class="form">
                <div class="form__input">
                    <cibInput
                        fieldName="phone"
                        labelText="Номер телефона*"
                        key="phone"
                        v-model="formData.phone"
                        :validator="$v.formData.phone"
                        mask="+7 (999) 999-99-99"
                        :mask-options="{
                            clearMaskOnLostFocus: true,
                            inputmode: 'tel',
                        }"
                        :error-message="{
                            required: 'Укажите номер телефона',
                            phone: 'Номер телефона должен содержать 11 цифр в формате +7 (999) 999-99-99'
                        }"
                    />
                </div>
                <div class="form__input">
                    <cibInput
                        fieldName="fullName"
                        labelText="ФИО*"
                        key="fullName"
                        v-model.trim="formData.fio"
                        :validator="$v.formData.fio"
                        :errorMessage="{
                            required: 'Укажите ФИО',
                            ruDashSpace: 'Только русские буквы, дефис и пробел'
                        }"
                    />
                </div>
                <div class="form__group">
                    <div class="form__input">
                        <cibInput
                            v-model="formData.birthday"
                            :validator="$v.formData.birthday"
                            labelText="Дата рождения*"
                            :v-date-picker-support="true"
                            mask="99.99.9999"
                            fieldName="birthDate"
                            :errorMessage="{
                                required: 'Укажите дату рождения',
                                dateFormat: 'Введите корректную дату в формате \'xx.xx.xxxx\'',
                                maxPreviousDay : 'Нельзя указывать дату в будущем'
                            }"
                        />
                    </div>
                    <div class="form__input">
                        <cibInput
                            v-model="formData.nationality"
                            :validator="$v.formData.nationality"
                            inputTag="select"
                            fieldName="nationality"
                            labelText="Гражданство"
                            selectLabelPosition="inside"
                            key="nationality"
                            :errorMessage="{
                                required: 'Укажите гражданство',
                            }"
                        >
                            <template #selectOptions>
                                <option v-for="option in nationalities" :value="option" :key="option">{{ option }}</option>
                            </template>
                        </cibInput>
                    </div>
                </div>
                <div class="form__input">
                    <cibInput
                        fieldName="contactDataEmail"
                        labelText="E-mail*"
                        key="contactDataEmail"
                        v-model="formData.email"
                        :validator="$v.formData.email"
                        suggestionsApiMethod="emailSuggestions"
                        :errorMessage="{
                            required: 'Укажите email',
                            emailFullCheck: 'Некорректный Email. Пример: pochta@domain.ru'
                        }"
                    />
                </div>
                <div class="checkbox">
                    <cibInput
                        v-model="formData.agreement"
                        :validator="$v.formData.agreement"
                        fieldName="agreement"
                        inputType="checkbox"
                        custom-class="checkbox__inner"
                    >
                        <template #labelText>
                            <span class="checkbox__info"> Я принимаю условия
                                <a class="checkbox__info-link" href="#" target="_blank"
                                    rel="noopener norefferer">Пользовательского соглашения</a>
                            </span>
                        </template>
                    </cibInput>
                </div>
                <button :class="['cib-button', {disabled: $v.$invalid}]" :disabled="$v.$invalid" @click.prevent="sendRequest">
                    Заказать
                </button>
            </form>
        </div>
        <cibModal v-model="showModal">
            <template #content>
                <div class="ordercard__success-text">
                    Заявка №<span class="ordercard__success-num">{{ requestNumber }}</span> отправлена!<br><br>
                    Скоро наш специалист свяжется с вами для уточнения информации.
                </div>
                <div class="ordercard__button-wr">
                    <cibButton @click="showModal = false" color-theme="green">Ок</cibButton>
                </div>
            </template>
        </cibModal>
    </section>
</template>

<script>
import axios from 'axios'
import cibInput from 'centrinvest-web-components/src/appComponents/cibInput'
import cibButton from 'centrinvest-web-components/src/appComponents/Button'
import cibModal from 'centrinvest-web-components/src/appComponents/components/cibModal'
import { validationMixin } from 'vuelidate'
import { formData, nationalities, request } from '@/child-card/data/model'
import { errorToast, successToast } from '@/debet-karty/helpers'
import validations from '@/child-card/data/validations'
import { mapFields } from 'vuex-map-fields'

export default {
    name: 'TheOrderCard',
    mixins: [validationMixin],
    components: {
        cibInput,
        cibButton,
        cibModal,
        vSelect: () => import(/* webpackChunkName: "vueSelect" */'vue-select'),
    },
    computed: {
        ...mapFields([
            'showPreloader',
            'officesList'
        ])
    },
    data: () => ({
        formData: { ...formData },
        nationalities,
        requestNumber: null,
        showModal: false

    }),
    watch: {
        $route () {
            this.formData.pageUrl = window.location.href
        }
    },
    created () {
        this.formData.pageUrl = window.location.href
    },
    methods: {
        async sendRequest () {
            if (this.$v.invalid) {
                errorToast({
                    message: 'Проверьте правильность заполнения полей'
                })
            } else {
                const formData = new FormData()
                for (const formDataKey in this.formData) {
                    formData.append(formDataKey, this.formData[formDataKey])
                }
                this.showPreloader = true
                try {
                    const response = await axios.post(request.url, formData)
                    this.formData = { ...formData }
                    this.$v.$reset()
                    this.requestNumber = response.data.formNumber
                    this.showModal = true
                    this.formData.pageUrl = window.location.href
                } catch (e) {
                    await this.$errorHandler(e)
                }
                this.showPreloader = false
            }
        }
    },
    validations () {
        return validations.apply(this)
    }
}
</script>
