@import '../../assets/styles/base.scss';

.calendar-page {
    background: url(../assets/img/mainBg.jpg) top center no-repeat;
    &__row {
        @include row(12px);
    }
    &__col {
        @include col(3, 12px);
        margin-bottom: 24px;
        position: relative;
        @media (max-width: 1000px) {
            @include col(4, 12px);
        }
        @media (max-width: 768px) {
            @include col(6, 12px);
        }
        @media (max-width: 480px) {
            @include col(12, 12px);
        }
    }
    &__caption-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
    }
    &__h1 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.4;
        letter-spacing: .5px;
        color: #333;
        margin: 20px 0;
    }
    &__col-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 50px;
        width: 100%;
        z-index: 10;
    }
    .vc-arrow {
        display: none;
    }
    .vc-grid-container.grid {
        grid-template-columns: repeat(1, minmax(225px, 1fr)) !important;
    }
    .vc-highlight {
        border-radius: 2px !important;
        height: 100% !important;
    }
    .vc-title {
        font-family: Montserrat;
        font-weight: bold;
        font-size: 20px;
        line-height: 1.2;
        color: #000000;
        text-transform: capitalize;
    }
    .vc-weekday {
        font-family: Montserrat;
        font-weight: normal !important;
        font-size: 12px !important;
        color: #8E8E8E !important;
        text-transform: uppercase;
    }
    .vc-day-content {
        border-radius: 2px !important;
        font-size: 12px !important;
        height: 100% !important;
    }
    .vc-day-popover-container {
        background: #FFFFFF;
        box-shadow: 1px 1px 24px rgba(0, 0, 0, 0.24);
        border-radius: 8px;
        border: none;
    }
    .vc-weeks {
        padding: 5px 24px !important;
    }
    .vc-container.vc-is-expanded {
        width: 100%;
    }
    .vc-day {
        min-height: 18px !important;
        height: 18px !important;
        margin: 2px 0 !important;
        @media (min-width: 481px) {
            width: 23px;
        }

    }
    .vc-popover-caret {
        width: 20px;
        height: 20px;
    }
    .vc-pane {
        min-width: auto;
    }
    &__links {
    }
    &__link {
        height: 18px;
        display: inline-flex;
        align-items: center;
        margin-left: 12px;
        border-bottom: 0;
        color: $green;
        text-decoration: none;
        font-size: 12px;
        img {
            width: 100%;
        }
    }
    &__dwl-img {
        width: 18px !important;
        margin-right: 8px;
    }
    &__days-list {
        padding-left: 0;
        list-style: none;
    }
    &__days-list-item {
        margin: 6px 0;
        font-family: Roboto;
        font-size: 12px;
        color: black;
        font-weight: normal;
        padding-left: 15px;
        position: relative;
        &::before {
            content: '';
            background-color: #FE3023;;
            position: absolute;
            top: 4px;
            left: 0;
            width: 4px;
            height: 4px;
        }
    }
}



