<template>
    <div class="cibVuePageApp">
<!--        <div :class="{ wrapper: true }">-->
<!--            <breadCrumbs :bitrixBreadCrumbs="bc" />-->
<!--        </div>-->
        <div>
            <router-view />
        </div>
    </div>
</template>

<script>
import breadCrumbs from '../components/breadCrumbs'
    export default {
        components: {
            breadCrumbs
        },
        data () {
            return {
                isProduction: process.env.NODE_ENV === 'production',
                bc: [
                    {
                        url: 'https://www.centrinvest.ru/ru/fiz/',
                        text: 'Частным лицам'
                    }
                ]
            }
        }
    }
</script>

<style lang="scss">
@import '../assets/styles/default';
</style>
