<template>
    <div class="inner-calendar-page" v-if="isDataLoad && getDayIndex !== -1">
        <div class="wrapper">
            <h1 class="inner-calendar-page__h1">Календарь праздников {{ currentYear }}</h1>
            <div class="inner-calendar-page__header">
                <div class="inner-calendar-page__links-wr">
                    <router-link :to="{ name: 'Home'}" class="inner-calendar-page__home-link">
                        <img src="../assets/img/calendar.svg" alt="">
                        Год
                    </router-link>
                    <router-link :to="{ name: 'Month', params: { slug: $route.params.slug } }" class="inner-calendar-page__home-link">
                        <img src="../assets/img/calendar.svg" alt="">
                        Месяц
                    </router-link>
                </div>
                <div class="inner-calendar-page__nav">
                    <img src="../assets/img/leftArrow.svg" alt=""
                         class="inner-calendar-page__nav-arrow inner-calendar-page__nav-arrow_left"
                         :class="{ 'inner-calendar-page__nav-arrow_disabled': getDayIndex === 0 }"
                         @click="moveToDay('prev')">
                    <div class="inner-calendar-page__nav-date">{{ fullDate.value }}</div>
                    <img src="../assets/img/rightArrow.svg" alt=""
                         class="inner-calendar-page__nav-arrow inner-calendar-page__nav-arrow_left"
                         :class="{ 'inner-calendar-page__nav-arrow_disabled': getDayIndex === getMonthList.length - 1 }"
                         @click="moveToDay('next')">
                </div>
                <div class="inner-calendar-page__links">
                    <a :href="`https://centrinvest.ru/ru/include/icalendar/createCalendar.php?month=${getMounthIndex}&day=${getDay.day}`" target="_blank" download="" class="inner-calendar-page__link"><img class="inner-calendar-page__dwl-img" src="../assets/img/download.svg" alt=""> ЗАГРУЗИТЬ В СВОЙ КАЛЕНДАРЬ</a>
                    <a href="#" class="inner-calendar-page__link">
                        <img src="../assets/img/vk.svg" alt="">
                    </a>
                    <a href="#" class="inner-calendar-page__link">
                        <img src="../assets/img/inst.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="inner-calendar-page__header-mobile">
                <div class="inner-calendar-page__download-wr">
                    <a :href="`https://centrinvest.ru/ru/include/icalendar/createCalendar.php?month=${getMounthIndex}&day=${getDay.day}`"
                       target="_blank" download=""
                       class="inner-calendar-page__link">
                        <img class="inner-calendar-page__dwl-img" src="../assets/img/download.svg" alt=""> ЗАГРУЗИТЬ В СВОЙ КАЛЕНДАРЬ</a>
                </div>
                <div class="inner-calendar-page__header-mobile-row">
                    <div class="inner-calendar-page__nav-button inner-calendar-page__nav-button_left" @click="moveToDay('prev')" v-if="getDayIndex > 0">
                        <img src="../assets/img/leftArrow.svg">{{ getNavButtonInfo.prevDay }}
                    </div>
                    <div class="inner-calendar-page__nav-button inner-calendar-page__nav-button_right" @click="moveToDay('next')" v-if="getDayIndex < getMonthList.length - 1">
                        {{ getNavButtonInfo.nextDay }}<img src="../assets/img/rightArrow.svg">
                    </div>
                </div>
            </div>
            <div class="inner-calendar-page__body">
                <div class="inner-calendar-page__day-block day-block">
                    <div class="day-block__row">
                        <div class="day-block__col day-block__col_img">
                            <div class="day-block__dayNumber">{{ getDay.day }}</div>
                            <div class="day-block__mounthNumber">{{ fullDate.month }}</div>
                        </div>
                        <div class="day-block__col day-block__col_content">
                            <div class="day-block__wr" v-for="(day, index) in modData[getMounthIndex][getDayIndex].list" :key="index">
                                <div class="day-block__days-wr">
                                    <div class="day-block__days">{{ day.label }}</div>
                                    <div v-if="day.description" class="day-block__description">{{ day.description }}</div>
                                </div>
                                <div class="day-block__img-row" v-if="day.images.length">
                                    <div class="day-block__img-col" v-for="(img, imgIndex) in day.images" :key="imgIndex">
                                        <img :src="`https://centrinvest.ru${img}`" alt="" class="day-block__img">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
    <!--            <div class="inner-calendar-page__day-block day-block" v-if="getSameDays.length">-->
    <!--                <div class="day-block__days-wr" v-for="(day, index) in getSameDays" :key="index">-->
    <!--                    <router-link class="day-block__days" :to="{ name: 'Day', params: { day: day.daySlug } }">{{ day.label }}</router-link>-->
    <!--                </div>-->

    <!--            </div>-->
    <!--            <div class="inner-calendar-page__quote-block">-->
    <!--                Мир меняют предприниматели, специалисты разных областей знаний и профессий, которых отличает одно общее качество — умение соединить в единый процесс факторы производства и организовать изготовление товаров и оказание услуг, востребованных рынком...-->
    <!--            </div>-->
            </div>
            <div class="monthMap">
                <div class="monthMap__row">
                    <div class="monthMap__col" v-for="(month, index) in monthName" :key="index">
                        <router-link class="monthMap__link" :to="{ name: 'Month', params: { slug: monthSlug[index] } }">{{ month }}</router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapFields } from 'vuex-map-fields'
import moment from 'moment'
import { mapGetters } from 'vuex'
moment.locale('ru')

export default {
    data: () => ({
    }),
    mounted () {
        if (this.getDayIndex === -1 && this.isDataLoad) {
            this.$router.push({ name: 'Home' })
        }
    },
    metaInfo () {
        return {
            title: `ПАО коммерческий банк Центр-Инвест | Календарь - ${this.monthName[this.getMounthIndex]}`,
            meta: [{
                vmid: 'description',
                name: 'description',
                content: `Информационная служба 8 800 200-99-29 | ПАО КБ «Центр-инвест» | Календарь - ${this.monthName[this.getMounthIndex]}`
            },
                {
                    vmid: 'keywords',
                    name: 'keywords',
                    content: ''
                }
            ]
        }
    },
    computed: {
        ...mapFields([
            'isDataLoad',
            'data',
            'monthSlug',
            'monthName'
        ]),
        ...mapGetters([
            'modData',
            'currentYear'
        ]),
        getMounthIndex () {
           return this.$store.getters.getSlugIndex(this.$route.params.slug)
        },
        getDayIndex () {
            return this.$store.getters.getDayIndex({ index: this.getMounthIndex, day: parseInt(this.$route.params.day) })
        },
        getDay () {
            return this.$store.getters.getDay({ index: this.getMounthIndex, day: parseInt(this.$route.params.day) })
        },
        getNavButtonInfo () {
            const prev = this.getDayIndex > 0 ? this.getDayIndex - 1 : null
            const next = this.getDayIndex < this.getMonthList.length - 1 ? this.getDayIndex + 1 : null
            const prevDay = prev !== null ? this.getMonthList[prev].day : null
            const nextDay = next !== null ? this.getMonthList[next].day : null
            return {
                prevDay: this.getFullDate(prevDay),
                nextDay: this.getFullDate(nextDay)
            }
        },
        fullDate () {
            const day = this.getDay ? this.getDay.day : 1
            const date = new Date(2021, this.getMounthIndex, day)
            const value = moment(date).format('LL')
            const obj = value.match(/\d{1,2}\s(.*?)\s.*?/ig)
            return {
                value,
                month: obj[0].split(' ')[1]
            }
        },
        getMonthList () {
            return this.modData[this.getMounthIndex]
        }
    },
    methods: {
        getFullDate (day) {
            if (day === null) {
                return null
            }
            const date = new Date(2021, this.getMounthIndex, day)
            const value = moment(date).format('LL')
            const obj = value.match(/\d{1,2}\s(.*?)\s.*?/ig)
            return obj[0]
        },
        moveToDay (direction) {
            switch (direction) {
                case 'prev':
                    if (this.getDayIndex !== 0) {
                        this.$router.push({ name: 'Day', params: { day: this.getMonthList[this.getDayIndex - 1].day } })
                    }
                    break
                case 'next':
                    if (this.getDayIndex !== this.getMonthList.length - 1) {
                        this.$router.push({ name: 'Day', params: { day: this.getMonthList[this.getDayIndex + 1].day } })
                    }
                    break
            }
        }
    },
    watch: {
    }
}
</script>

<style lang="scss" scoped>
@import '../../assets/styles/base.scss';
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
.inner-calendar-page {
    padding-top: 26px;
    padding-bottom: 70px;
    &__h1 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.4;
        letter-spacing: .5px;
        color: #333;
        margin: 0 0 26px 0 !important;
        @media (max-width: 768px) {
            text-align: center;
        }
    }
    &__body {
        background: rgba(244, 244, 244, 0.9);
    }
    &__calendar-wr {
        position: relative;
        margin-bottom: 32px;
    }
    &__calendar-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        z-index: 10;
    }
    &__arrow {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 20px;
        height: 20px;
        cursor: pointer;
        &_disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
        &_left {
            left: 26px;
        }
        &_right {
            right: 26px;
        }
    }
    &__home-link {
        display: inline-flex;
        align-items: center;
        font-family: Roboto;
        font-size: 16px;
        color: $green;
        text-decoration: none;
        text-transform: uppercase;
        border-bottom: 0;
        margin-right: 24px;
        img {
            margin-right: 9px;
        }
    }
    &__header {
        margin-bottom: 36px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width: 768px) {
            flex-direction: column;
            display: none;
        }
    }
    &__header-mobile {
        @media (min-width: 769px) {
            display: none;
        }
    }
    &__header-mobile-row {
        display: flex;
        margin-bottom: 24px;
        @media (min-width: 769px) {
            display: none;
        }
    }
    &__nav {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: $text;
        margin-bottom: 16px;
    }
    &__nav-date {
        margin: 0 16px;
    }
    &__nav-arrow {
        cursor: pointer;
        &_disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
    &__day-block {
        border: 1px solid #E7E7E7;
        box-sizing: border-box;
        border-radius: 6px;
        padding: 26px 20px 6px 40px;
        font-family: Roboto;
        @media (max-width: 768px) {
            padding: 26px 14px 6px 14px;
        }
    }
    &__download-wr {
        display: flex;
        justify-content: center;
        margin-bottom: 36px;
    }
    &__links {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 16px;
        span {
            font-size: 12px;
            color: $text;
            text-transform: uppercase;
            margin-right: 10px;
        }
    }
    &__link {
        height: 18px;
        display: inline-flex;
        align-items: center;
        margin-left: 12px;
        border-bottom: 0;
        color: $green;
        text-decoration: none;
        @media (max-width: 768px) {
            font-size: 10px;
        }
        img {
            width: 100%;
        }
    }
    &__dwl-img {
        width: 18px !important;
        margin-right: 8px;
    }
    &__quote-block {
        max-width: 526px;
        margin: 80px auto 40px auto;
        position: relative;
        font-family: Roboto;
        font-style: italic;
        font-size: 16px;
        line-height: 1.3;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: -16px;
            left: -40px;
            width: 32px;
            height: 32px;
            background: url('../assets/img/left-quote.svg') center center no-repeat;
            @media (max-width: 768px) {
                display: none;
            }
        }
        &::after {
            content: '';
            position: absolute;
            bottom: -16px;
            right: -40px;
            width: 32px;
            height: 32px;
            background: url('../assets/img/right-quote.svg') center center no-repeat;
            @media (max-width: 768px) {
                display: none;
            }
        }
    }
    &__links-wr {
        margin-bottom: 16px;
    }
    &__nav-button {
        display: flex;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        padding: 6px 10px;
        font-size: 14px;
        cursor: pointer;
        user-select: none;
        &_left {
            margin-right: auto;
            img {
                margin-right: 10px;
            }
        }
        &_right {
            margin-left: auto;
            img {
                margin-left: 10px;
            }
        }
        img {
            height: 10px;
        }
    }
}
.day-block {
    &__caption {
        font-size: 24px;
        padding-left: 20px;
        position: relative;
        margin-bottom: 20px;
        font-weight: 500;
        &::before {
            content: '';
            width: 10px;
            height: 10px;
            position: absolute;
            left: 0;
            top: 8px;
            border-radius: 50%;
            background: #C81A24;
        }
    }
    &__wr {
        margin-bottom: 20px;
    }
    &__days-wr {
        font-size: 18px;
        padding-left: 20px;
        position: relative;
        &::before {
            content: '';
            width: 7px;
            height: 7px;
            position: absolute;
            left: 0;
            top: 7px;
            border-radius: 1px;
            background: #FE3023;
        }
    }
    &__days {
        text-decoration: none;
        font-weight: 400;
        color: #000;
        margin-bottom: 16px;
    }
    &__description {
        font-family: Roboto;
        font-weight: 300;
        font-size: 16px;
        margin-bottom: 20px;
    }
    &__img-row {
        @include row(5px);
    }
    &__img-col {
        @include col(4, 5px);
        @media (max-width: 768px) {
            @include col(12, 5px);
        }
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        @media (max-width: 768px) {
            flex-direction: column;
            //align-items: center;
        }
    }
    &__img {
        width: 100%;
        object-fit: cover;
    }
    &__col {
        &_img {
            flex: 0 0 200px;
            margin-right: 24px;
            margin-bottom: 20px;
            @media (max-width: 768px) {
                flex: 0 0 auto;
                margin-right: 0px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        &_content {
            flex: 1 1 auto;
            font-weight: 300;
            font-size: 14px;
            line-height: 1.3;
            max-width: 670px;
            margin-bottom: 20px;
        }
    }
    &__dayNumber {
        font-family: 'Secular One', sans-serif;
        font-weight: normal;
        font-size: 70px;
        color: #FE3023;
        line-height: 1;
    }
    &__mounthNumber {
        font-size: 28px;
        font-weight: 300;
    }
}
.monthMap {
    margin-top: 16px;
    @media (min-width: 769px) {
        display: none;
    }
    &__row {
        @include row(3px);
    }
    &__col {
        @include col(4, 3px);
        margin-bottom: 6px;
    }
    &__link {
        text-decoration: none;
        text-align: center;
        display: block;
        width: 100%;
        height: 100%;
        font-size: 14px;
        color: #333;
        font-weight: 700;
        padding: 8px;
        box-sizing: border-box;
        background: #FFFFFF;
        border: 1px solid #E7E7E7;
        border-radius: 4px;
    }
}
</style>
