<template>
    <div class="calendar-page">
        <div class="wrapper">
            <div class="calendar-page__caption-row">
                <h1 class="calendar-page__h1">Календарь праздников {{ currentYear }}</h1>
                <div class="calendar-page__links">
                    <a :href="`https://centrinvest.ru/ru/include/icalendar/createCalendar.php`"
                       target="_blank" download="" class="calendar-page__link"><img class="calendar-page__dwl-img" src="../assets/img/download.svg" alt=""> ЗАГРУЗИТЬ В СВОЙ КАЛЕНДАРЬ</a>
                </div>
            </div>
            <div class="calendar-page__row" v-if="isDataLoad">
                <div class="calendar-page__col" v-for="(item, index) in data" :key="index" @click="goToInnerMonthPage(index)">
                    <div class="calendar-page__col-overlay"></div>
                    <Calendar is-expanded disable-page-swipe :masks="masks" :attributes="getAttrs(index)" ref="calendar" color="red" :key="index">
                        <template #day-popover="{ day, dayTitle, attributes }">
                            <ul class="calendar-page__days-list">
                                <li
                                    v-for="attr in attributes"
                                    :key="attr.key"
                                    class="calendar-page__days-list-item"
                                >
                                    {{ attr.popover.label }}
                                </li>
                            </ul>
                        </template>
                        <template #header-title="{ monthLabel }">
                            {{ monthLabel }}
                        </template>
                    </Calendar>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Calendar from 'v-calendar/lib/components/calendar.umd'
    import { mapFields } from 'vuex-map-fields'
    import { mapGetters } from 'vuex'
    export default {
        name: 'Home',
        components: {
            Calendar
        },
        data: () => ({
            masks: {
                weekdays: 'WWW'
            }
        }),
        metaInfo () {
            return {
                title: 'ПАО коммерческий банк Центр-Инвест | Календарь',
                meta: [{
                    vmid: 'description',
                    name: 'description',
                    content: 'Информационная служба 8 800 200-99-29 | ПАО КБ «Центр-инвест» | Календарь'
                },
                    {
                        vmid: 'keywords',
                        name: 'keywords',
                        content: ''
                    }
                ]
            }
        },
        mounted () {
            if (this.isDataLoad) {
                this.moveCalendars()
            }
        },
        computed: {
            ...mapFields([
                'data',
                'isDataLoad',
                'monthSlug',
                'year',
                'showPreloader',
                'isProduction'
            ]),
            ...mapGetters([
                'getAttrs',
                'currentYear'
            ])
        },
        methods: {
            goToInnerMonthPage (index) {
                this.$router.push({ name: 'Month', params: { slug: this.monthSlug[index] } })
            },
            moveCalendars () {
                this.$nextTick(async () => {
                    const promises = this.$refs.calendar.map(async (item, index) => {
                        await item.move({ month: index + 1, year: this.year })
                    })
                    await Promise.all(promises)
                    this.showPreloader = false
                })
            }
        },
        watch: {
            isDataLoad () {
                this.moveCalendars()
            }
        }

    }
</script>

<style lang="scss">
    @import '../assets/styles.scss';
</style>

<style lang="scss" scoped>
/deep/ .vc-container {
    --blue-600: #A3B2FF;
    --orange-600: #ff8372;
}
</style>
