<template>
    <div class="inner-calendar-page" v-if="isDataLoad && issetMonthSlug" >
        <div class="wrapper">
            <h1 class="inner-calendar-page__h1 inner-calendar-page__h1_mobile">Календарь праздников {{ currentYear }}</h1>
            <div class="inner-calendar-page__header-mobile">
                <div class="inner-calendar-page__download-wr">
                    <a :href="`https://centrinvest.ru/ru/include/icalendar/createCalendar.php?month=${getSlugIndex}`"
                       target="_blank" download=""
                       class="inner-calendar-page__link inner-calendar-page__link_gray">
                        <img class="inner-calendar-page__dwl-img" src="../assets/img/download.svg" alt=""> ЗАГРУЗИТЬ В СВОЙ КАЛЕНДАРЬ</a>
                </div>
                <div class="inner-calendar-page__header-mobile-row">
                    <div class="inner-calendar-page__nav-button inner-calendar-page__nav-button_left" @click="moveToMounth('prev')" v-if="getSlugIndex > 0">
                        <img src="../assets/img/leftArrow.svg">{{ getNavButtonInfo.prevMonth }}
                    </div>
                    <div class="inner-calendar-page__nav-button inner-calendar-page__nav-button_right" @click="moveToMounth('next')" v-if="getSlugIndex < monthSlug.length - 1">
                        {{ getNavButtonInfo.nextMonth }}<img src="../assets/img/rightArrow.svg">
                    </div>
                </div>
            </div>
        </div>
        <div class="inner-calendar-page__bg" :style="{ backgroundImage: `url(${getBackground})` }">
            <div class="wrapper">
                <h1 class="inner-calendar-page__h1 inner-calendar-page__h1_desktop">Календарь праздников {{ currentYear }}</h1>
                <div class="inner-calendar-page__header">
                    <router-link :to="{ name: 'Home' }" class="inner-calendar-page__home-link">
                        <img src="../assets/img/calendar-white.svg" alt="">
                        Весь год
                    </router-link>
                    <div class="inner-calendar-page__links">
                        <a :href="`https://centrinvest.ru/ru/include/icalendar/createCalendar.php?month=${getSlugIndex}`"
                           target="_blank" download="" class="inner-calendar-page__link"><img class="inner-calendar-page__dwl-img" src="../assets/img/download-white.svg" alt=""> ЗАГРУЗИТЬ В СВОЙ КАЛЕНДАРЬ</a>
                    </div>
                </div>
                <div class="inner-calendar-page__calendar-wr">
                    <div class="inner-calendar-page__calendar-row">
                        <div class="inner-calendar-page__arrow-wr inner-calendar-page__arrow-wr_left" v-if="getSlugIndex !== 0" @click="moveToMounth('prev')">
                            <img class="inner-calendar-page__arrow"
                                 src="../assets/img/leftArrow.svg" alt="">
                        </div>
                        <div class="inner-calendar-page__arrow-wr inner-calendar-page__arrow-wr_right" v-if="getSlugIndex !==11" @click="moveToMounth('next')">
                            <img class="inner-calendar-page__arrow"
                                 src="../assets/img/rightArrow.svg" alt="">
                        </div>
                        <div class="inner-calendar-page__calendar-overlay"></div>
                        <Calendar
                            class="custom-calendar"
                            :masks="masks"
                            :attributes="getAttrs(getSlugIndex)"
                            disable-page-swipe
                            ref="calendar"
                            @dayclick="moveToDay($event)"
                        >
                            <template #day-popover="{ day, dayTitle, attributes }">
                                <ul class="inner-calendar-page__days-list">
                                    <li
                                        v-for="attr in attributes"
                                        :key="attr.key"
                                        class="inner-calendar-page__days-list-item"
                                    >
                                        {{ attr.popover.label }}
                                    </li>
                                </ul>
                            </template>
                            <template #header-title="{ monthLabel }">
                                {{ monthLabel }}
                            </template>
                        </Calendar>
                    </div>
                </div>
            </div>
        </div>
        <div class="monthMap">
            <div class="monthMap__row">
                <div class="monthMap__col" v-for="(month, index) in monthName" :key="index">
                    <router-link class="monthMap__link" :to="{ name: 'Month', params: { slug: monthSlug[index] } }">{{ month }}</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Calendar from 'v-calendar/lib/components/calendar.umd'
import { mapFields } from 'vuex-map-fields'
import { mapGetters } from 'vuex'
export default {
    components: {
        Calendar
    },
    data () {
        return {
            masks: {
                weekdays: 'WWW'
            },
            backgrounds: [
                require('../assets/img/winter.jpg'),
                require('../assets/img/spring.jpg'),
                require('../assets/img/summer.jpg'),
                require('../assets/img/fall.jpg')
            ]
        }
    },
    metaInfo () {
        return {
            title: `ПАО коммерческий банк Центр-Инвест | Календарь - ${this.monthName[this.getSlugIndex]}`,
            meta: [{
                vmid: 'description',
                name: 'description',
                content: `Информационная служба 8 800 200-99-29 | ПАО КБ «Центр-инвест» | Календарь - ${this.monthName[this.getSlugIndex]}`
            },
                {
                    vmid: 'keywords',
                    name: 'keywords',
                    content: ''
                }
            ]
        }
    },
    created () {
        if (!this.issetMonthSlug) {
            this.$router.push({ name: 'Home' })
        }
    },
    mounted () {
        if (this.isDataLoad && this.issetMonthSlug) {
            this.moveCalendar()
        }
    },
    computed: {
        ...mapFields([
            'data',
            'isDataLoad',
            'year',
            'showPreloader',
            'monthSlug',
            'monthName'
        ]),
        ...mapGetters([
            'getAttrs',
            'currentYear'
        ]),
        issetMonthSlug () {
            return this.monthSlug.includes(this.$route.params.slug)
        },
        getNavButtonInfo () {
            const prev = this.getSlugIndex > 0 ? this.getSlugIndex - 1 : null
            const next = this.getSlugIndex < this.monthName.length - 1 ? this.getSlugIndex + 1 : null
            const prevMonth = prev !== null ? this.monthName[prev] : null
            const nextMonth = next !== null ? this.monthName[next] : null
            return {
                prevMonth,
                nextMonth
            }
        },
        getBackground () {
            let index = 0
            const winter = ['december', 'january', 'february']
            const spring = ['march', 'april', 'may']
            const summer = ['june', 'july', 'august']
            const autumn = ['september', 'october', 'november']
            if (winter.includes(this.slug)) {
                index = 0
            }
            if (spring.includes(this.slug)) {
                index = 1
            }
            if (summer.includes(this.slug)) {
                index = 2
            }
            if (autumn.includes(this.slug)) {
                index = 3
            }
            return this.backgrounds[index]
        },
        slug () {
            return this.$route.params.slug
        },
        getSlugIndex () {
            return this.$store.getters.getSlugIndex(this.slug)
        },
        attributes () {
            if (!this.data.length) {
                return []
            }
            return [
                ...this.data[this.getSlugIndex].map(item => ({
                    key: Math.random(),
                    customData: {
                        title: item.label,
                        class: 'someClass',
                        daySlug: item.daySlug,
                        day: item.day
                    },
                    dates: new Date(this.year, this.getSlugIndex, item.day)
                }))
            ]
        }
    },
    methods: {
        moveCalendar () {
            this.$nextTick(async () => {
                await this.$refs.calendar.move({ month: this.getSlugIndex + 1, year: this.year })
                this.showPreloader = false
            })
        },
        moveToMounth (direction) {
            switch (direction) {
                case 'prev':
                    if (this.getSlugIndex !== 0) {
                        this.$router.push({ name: 'Month', params: { slug: this.monthSlug[this.getSlugIndex - 1] } })
                    }
                    break
                case 'next':
                    if (this.getSlugIndex !== 11) {
                        this.$router.push({ name: 'Month', params: { slug: this.monthSlug[this.getSlugIndex + 1] } })
                    }
                    break
            }
        },
        moveToDay ($event) {
            if ($event.attributes.length) {
                this.$router.push({ name: 'Day', params: { day: $event.day } })
            }
        }
    },
    watch: {
        isDataLoad () {
            this.moveCalendar()
        },
        $route () {
            this.moveCalendar()
        }
    }
}
</script>

<style lang="scss" scoped>
@import '../../assets/styles/base.scss';
::-webkit-scrollbar {
    width: 0px;
}
::-webkit-scrollbar-track {
    display: none;
}
/deep/ .custom-calendar.vc-container {
    --day-border: 1px solid #b8c2cc;
    --day-border-highlight: 1px solid #b8c2cc;
    --day-width: 90px;
    --day-height: 90px;
    --weekday-bg: #f8fafc;
    --weekday-border: 1px solid #eaeaea;
    --blue-600: #A3B2FF;
    --orange-600: #ff8372;
    width: 100%;
    padding: 0 44px;
    box-shadow: 2px 2px 48px rgba(0, 6, 20, 0.2);
    border-radius: 8px;
    border: 0;
    height: 450px;
    @media (max-width: 600px) {
        padding: 0 26px;
        height: 320px;
    }
    & .vc-weeks {
        padding: 0;
    }
    .vc-header {
        padding: 52px 0 34px 0;
        @media (max-width: 600px) {
            padding: 38px 0 28px 0;
        }
    }
    .vc-arrow {
        display: none;
    }
    .vc-highlight {
        border-radius: 2px !important;
        height: 100% !important;
        width: 100% !important;
    }
    .vc-title {
        font-family: Montserrat;
        font-weight: bold;
        font-size: 32px;
        line-height: 1.2;
        color: #000000;
        text-transform: capitalize;
        @media (max-width: 600px) {
            font-size: 24px;
        }
    }
    .vc-weekday {
        font-family: Montserrat;
        font-weight: normal !important;
        font-size: 14px !important;
        color: #8E8E8E !important;
        text-transform: uppercase;
        padding-bottom: 20px;
        @media (max-width: 600px) {
            font-size: 12px !important;
        }
    }
    .vc-day-content {
        border-radius: 2px !important;
        font-size: 18px !important;
        height: 100% !important;
        width: 100% !important;
        @media (max-width: 600px) {
            font-size: 16px !important;
        }
    }
    .vc-day-popover-container {
        background: #FFFFFF;
        box-shadow: 1px 1px 24px rgba(0, 0, 0, 0.24);
        border-radius: 8px;
        border: none;
    }
    .vc-day {
        min-height: 40px !important;
        width: 51px;
        margin: 2px 0 !important;
        border-radius: 6px;
        overflow: hidden;
        @media (max-width: 600px) {
            width: 30px;
            min-height: 24px !important;
            height: 24px;
        }
    }
    .vc-popover-caret {
        width: 20px;
        height: 20px;
    }
    .vc-pane {
        min-width: auto;
    }
    &__day {
        margin-bottom: 6px;
        display: block;
    }
    &__customData {
        margin: 0 0 6px 0;
        padding: 4px;
        background: #4299e1;
        border-radius: 4px;
        font-size: 14px;
        line-height: 1.2;
        color: #fff;
        cursor: pointer;
        display: block;
        text-decoration: none;
    }
    &__wr-date {
        height: 100%;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
    }

    &__scroll-wr {
        height: 100%;
    }
}
.inner-calendar-page {
    &__bg {
        padding-top: 26px;
        background-position: center center;
        background-repeat: no-repeat;
        padding-bottom: 100px;
        @media (max-width: 768px) {
            padding-top: 100px;
        }
    }
    &__nav-button {
        display: flex;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        padding: 6px 10px;
        font-size: 14px;
        cursor: pointer;
        user-select: none;
        &_left {
            margin-right: auto;
            img {
                margin-right: 10px;
            }
        }
        &_right {
            margin-left: auto;
            img {
                margin-left: 10px;
            }
        }
        img {
            height: 10px;
        }
    }
    &__days-list {
        padding-left: 0;
        list-style: none;
    }
    &__days-list-item {
        margin: 6px 0;
        font-family: Roboto;
        font-size: 12px;
        color: black;
        font-weight: normal;
        padding-left: 15px;
        position: relative;
        &::before {
            content: '';
            background-color: #FE3023;;
            position: absolute;
            top: 4px;
            left: 0;
            width: 4px;
            height: 4px;
        }
    }
    &__download-wr {
        display: flex;
        justify-content: center;
        margin-bottom: 36px;
    }
    &__header {
        margin-bottom: 36px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width: 768px) {
            flex-direction: column;
            display: none;
        }
    }
    &__header-mobile {
        @media (min-width: 769px) {
            display: none;
        }
    }
    &__header-mobile-row {
        display: flex;
        margin-bottom: 24px;
        @media (min-width: 769px) {
            display: none;
        }
    }
    &__link {
        height: 18px;
        display: inline-flex;
        align-items: center;
        margin-left: 12px;
        border-bottom: 0;
        color: #fff;
        font-size: 12px;
        text-decoration: none;
        @media (max-width: 768px) {
            font-size: 10px;
        }
        &_gray {
            color: $green;
        }
        img {
            width: 100%;
        }
    }
    &__dwl-img {
        width: 18px !important;
        margin-right: 8px;
    }
    &__h1 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.4;
        letter-spacing: .5px;
        color: #fff;
        margin: 0 0 26px 0 !important;
        &_desktop {
            @media (max-width: 768px) {
                display: none;
            }
        }
        &_mobile {
            color: #333;
            text-align: center;
            @media (min-width: 769px) {
                display: none;
            }
        }
    }
    &__calendar-wr {
        margin-bottom: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__calendar-row {
        position: relative;
        width: 500px;
        @media (max-width: 600px) {
            width: 300px;
        }
    }
    &__arrow-wr {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 55px;
        height: 55px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 50%;
        @media (max-width: 768px) {
            display: none;
        }
        &_disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
        &_left {
            left: -100px;
        }
        &_right {
            right: -100px;
        }
    }
    &__calendar-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        z-index: 10;
    }
    &__arrow {

    }
    &__home-link {
        display: inline-flex;
        align-items: center;
        font-family: Roboto;
        font-size: 12px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        margin-bottom: 26px;
        border-bottom: 0;
        img {
            margin-right: 9px;
        }
    }
}

.monthMap {
    margin-top: 16px;
    @media (min-width: 769px) {
        display: none;
    }
    &__row {
        @include row(3px);
    }
    &__col {
        @include col(4, 3px);
        margin-bottom: 6px;
    }
    &__link {
        text-decoration: none;
        text-align: center;
        display: block;
        width: 100%;
        height: 100%;
        font-size: 14px;
        color: #333;
        font-weight: 700;
        padding: 8px;
        box-sizing: border-box;
        background: #FFFFFF;
        border: 1px solid #E7E7E7;
        border-radius: 4px;
    }
}
</style>
