<template>
  <div id="app" class="cibVuePageApp">
    <div :class="{ wrapper: !isProduction }">
        <transition name="fade">
            <Loader v-show="showPreloader" :fixed="true" :transparent="true" />
        </transition>
        <breadCrumbs :bitrixBreadCrumbs="bc" />
        <transition name="fade" mode="out-in">
        <router-view/>
        </transition>
    </div>
  </div>
</template>

<script>
import breadCrumbs from '../components/breadCrumbs'
import Loader from 'centrinvest-web-components/src/appComponents/Loader'
import { mapGetters } from 'vuex'
export default {
    components: {
        breadCrumbs,
        Loader
    },
    data () {
        return {
            isProduction: process.env.NODE_ENV === 'production',
            bc: [{
                    url: 'https://www.centrinvest.ru/ru/biz/',
                    text: 'Малому бизнесу'
                }
            ]
        }
    },
    computed: {
        ...mapGetters([
            'showPreloader'
        ])
    }
}
</script>

<style lang="scss">
@import '../assets/styles/default';
</style>
