<template>
    <div class="cards-requests">
        <div class="cards-requests__wrapper">
            <h2 class="cards-requests__title">
                Заказать карту
            </h2>
            <div class="cards-requests__container">
                <div class="cards-requests__nav">
                    <router-link
                        v-for="tab in tabs"
                        :key="tab.name"
                        class="cards-requests__nav-link"
                        active-class="cards-requests__nav-link_active"
                        :to="{ name: tab.name }"
                    >
                        {{ tab.label }}
                    </router-link>
                </div>
            </div>
            <div class="cards-requests__content">
                <transition name="zoom" mode="out-in">
                    <router-view></router-view>
                </transition>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    name: 'CardRequest',
    props: {
        pagePrefix: {
            type: String
        }
    },
    computed: {
        ...mapGetters('cardsForms', [
            'reReleaseCard',
            'additionalCard'
        ]),
        tabs () {
            return [
                {
                    name: `${this.pagePrefix}-newCard`,
                    label: 'Новую'
                },
                // {
                //     name: `${this.pagePrefix}-additionalCard`,
                //     label: 'Дополнительную'
                // },
                {
                    name: `${this.pagePrefix}-reReleaseCard`,
                    label: 'Перевыпустить'
                }
            ]
        }
    }
}
</script>

<style scoped>

</style>
