<template>
    <div class="cards" v-if="homePageDataReceived" v-cloak>
        <div class="cards__shadow">
            <div class="wrapper">
                <h2 class="cards__subtitle">Подберем карту специально для&nbsp;вас</h2>
            </div>
            <cardTypes></cardTypes>
            <div class="wrapper">
                <div id="cards-section" class="cards__typeContent cardsTypeContent">
                    <div class="cardsTypeContent__type">
                        <transition-group name="slide-fade">
                            <cardBlock v-for="(card) in filteredCardListMod" :key="card.id" :cardBlockParams="card"></cardBlock>
                        </transition-group>
                    </div>
                </div>
            </div>
            <div class="wrapper" v-if="showButton">
                <div class="cards__button-row">
                    <div @click="toggleShowAllCards" class="cards__button">Показать все</div>
                </div>
            </div>
        </div>
        <cardsRequest v-if="isHomePageCardDataRecieved" :page-prefix="$attrs.pagePrefix"></cardsRequest>
        <cardsMobile></cardsMobile>
    </div>
</template>

<script>
import cardTypes from '../components/cardTypes'
import cardBlock from '@/debet-karty/components/cardBlock'
import cardsRequest from '@/debet-karty/views/cardsRequest'
import cardsMobile from '@/debet-karty/components/cardsMobile'
import { mapFields } from 'vuex-map-fields'
import cloneDeep from 'lodash/cloneDeep'
import { model } from '@/debet-karty/model/requestModel'
import { mapActions } from 'vuex'
    export default {
        name: 'Home',
        components: {
            cardTypes,
            cardBlock,
            cardsRequest,
            cardsMobile
        },
        data: () => ({
            showAllCards: false
        }),
        async created () {
            this.clearData()
            this.redirectToNewTab()
            this.isHomePageCardDataRecieved = false
            await this.getCardDetail('univ')
            this.isHomePageCardDataRecieved = true
        },
        metaInfo: {
            title: 'Подобрать и заказать дебетовую карту онлайн > Ростовская область | ПАО коммерческий банк Центр-инвест',
            meta: [{
                vmid: 'description',
                name: 'description',
                content: 'Сравнить и выбрать дебетовую карту от Центр-инвест. Бесплатное обслуживание, индивидуальный дизайн. Бесплатно оформить дебетовую карту онлайн по региону Ростовская область'
            },
                {
                    vmid: 'keywords',
                    name: 'keywords',
                    content: 'Карты «Центр-инвест» — комфорт управления личными финансами и безопасность Ваших средств Ростовская область'
                }]
        },
        computed: {
            ...mapFields('card', [
                'cardsList',
                'homePageDataReceived',
                'showPreloader',
                'cardType',
                'filteredCardList',
                'advantagesCheckbox',
                'isHomePageCardDataRecieved'
            ]),
            ...mapFields('cardRequest', [
                'model'
            ]),
            filteredCardListMod () {
                let result = this.filteredCardList

                if (!this.showAllCards && this.cardType === 0) {
                    result = this.filteredCardList.filter((item, index) => {
                        return index === 0
                    })
                }
                return result
            },
            isAllCardTypes () {
                return this.cardType === 0 && !this.advantagesCheckbox.length
            },
            showButton () {
                return this.filteredCardListMod.length !== this.cardsList.length
            }
        },
        methods: {
            ...mapActions('card', [
                'getCardDetail'
            ]),
            clearData () {
                this.model = cloneDeep(model)
                sessionStorage.removeItem('model')
                sessionStorage.removeItem('isSendPotential')
            },
            toggleShowAllCards () {
                if (!this.isAllCardTypes) {
                    this.cardType = 0
                    this.showAllCards = true
                } else {
                    this.showAllCards = !this.showAllCards
                }
                if (!this.showAllCards) {
                    window.scrollTo({
                        top: 0,
                        behavior: 'smooth'
                    })
                }
            },
            redirectToNewTab () {
                if (this.$route.name === 'Home') {
                    this.$router.push({ name: `${this.$attrs.pagePrefix}-newCard` })
                }
            }
        }
    }
</script>

<style lang="scss">
    @import '../assets/styles.scss';
</style>
