<template>
    <section class="cardsInner" v-if="onePage.dataReceived" v-cloak>
        <div class="card-inner-main">
            <div class="wrapper">
                <div class="card-inner-main__container">
                    <div class="card-inner-main__nav" :class="{'card-inner-main__nav_active-supreme': isSupremePlus || isSupremeCard}">
                        <a class="card-inner-main__nav-link" :class="{'card-inner-main__nav-link_hover-supreme': isSupremePlus || isSupremeCard}" href="#overview" @click.prevent="scrollTo('overview')">
                            Обзор
                        </a>
                        <a class="card-inner-main__nav-link" :class="{'card-inner-main__nav-link_hover-supreme': isSupremePlus || isSupremeCard}" href="#mobile-bank" @click.prevent="scrollTo('mobile-bank')">
                            Мобильный банк
                        </a>
                        <a class="card-inner-main__nav-link" :class="{'card-inner-main__nav-link_hover-supreme': isSupremePlus || isSupremeCard}" href="#card-order" @click.prevent="scrollTo('card-order')">
                            Заказать карту
                        </a>
                        <a class="card-inner-main__nav-link" :class="{'card-inner-main__nav-link_hover-supreme': isSupremePlus || isSupremeCard}" href="#documents" @click.prevent="scrollTo('documents')">
                            Документы
                        </a>
                        <a v-if="isSupremeCard||isSupremePlus" :class="{'card-inner-main__nav-link_hover-supreme': isSupremePlus || isSupremeCard}" class="card-inner-main__nav-link" href="#faq" @click.prevent="scrollTo('faq')">
                            Вопросы
                        </a>
                    </div>
                </div>
                <div class="card-inner-main__container">
                    <div class="card-inner-main__descr-col">
                        <h1 class="card-inner-main__title" v-html="onePage.data.title"></h1>
                        <div class="card-inner-main__wr" :class="{ 'card-inner-main__wr_desktop': isHandballClubCard , 'card-inner-main__wr_desctop': isSupremeCard || isSupremePlus}">
                            <h2 class="card-inner-main__subtitle" v-html="onePage.data.shortDescription"></h2>
                            <div class="card-inner-main__buttons">
                                <cibButton href="#card-order" :custom-class="getButtonClass"  @click.prevent="scrollTo('card-order')">Заказать карту</cibButton>
                            </div>
                        </div>
                    </div>

                    <div class="card-inner-main__img-col">
                        <div class="card-inner-main__img-container">
                            <img v-if="isHandballClubCard" src="../assets/img/header-card-sport.png" alt="universal-card" class="card-inner-main__img">
                            <img v-else :src="cardImg" alt="universal-card" class="card-inner-main__img">
                        </div>
                    </div>
                    <div class="card-inner-main__img-col card-inner-main__img-col_mobile" v-if="isHandballClubCard">
                        <h2 class="card-inner-main__subtitle" v-html="onePage.data.shortDescription"></h2>
                        <div class="card-inner-main__buttons">
                            <cibButton href="#card-order" class="card-inner-main__button" @click.prevent="scrollTo('card-order')">Заказать карту</cibButton>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ref="overview" class="overview">
            <overview :advantages="onePage.data.advantages"></overview>
        </div>
        <div ref="mobile-bank" id="mobile-bank" class="card-inner-mobile">
            <div class="wrapper card-inner-mobile__wrapper card-inner-mobile__background-img" :class="bgImgClass">
                <h2 class="cardsInner__section-title">
                    Удобный Мобильный&nbsp;банк
                </h2>
                <div class="card-inner-mobile__content-container">
                    <h3 class="card-inner-mobile__title">
                        Все услуги под рукой
                    </h3>
                    <ul class="card-inner-mobile__list">
                        <li class="card-inner-mobile__list-item card-inner-mobile__list-item_translations">
                            <div class="card-inner-mobile__list-item-title">
                                Переводы
                            </div>
                            <div class="card-inner-mobile__list-item-text">
                                Переводите средства между своими счетами и картами
                            </div>
                        </li>
                        <li class="card-inner-mobile__list-item card-inner-mobile__list-item_payments">
                            <div class="card-inner-mobile__list-item-title">
                                Платежи
                            </div>
                            <div class="card-inner-mobile__list-item-text">
                                Оплачивайте счета парой нажатий
                            </div>
                        </li>
                        <li class="card-inner-mobile__list-item card-inner-mobile__list-item_free-card">
                            <div class="card-inner-mobile__list-item-title">
                                Бесплатная виртуальная карта
                            </div>
                            <div class="card-inner-mobile__list-item-text">
                                Для безопасных покупок в сети
                            </div>
                        </li>
                    </ul>
                    <div class="card-inner-mobile__icons-container">
                        <a href="https://apps.apple.com/ru/app/%D0%BC%D0%BE%D0%B1%D0%B8%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9-%D0%B1%D0%B0%D0%BD%D0%BA-%D1%86%D0%B5%D0%BD%D1%82%D1%80-%D0%B8%D0%BD%D0%B2%D0%B5%D1%81%D1%82/id1329640879" class="card-inner-mobile__icon-link" target="_blank" rel="noopener noreferrer">
                            <img class="card-inner-mobile__icon" src="../assets/img/mobile-bank-section/app-store.svg" alt="app-store">
                        </a>
                        <a href="https://play.google.com/store/apps/details?id=ru.centrinvest.mobilebanking&amp;hl=ru" class="card-inner-mobile__icon-link" target="_blank" rel="noopener noreferrer">
                            <img class="card-inner-mobile__icon" src="../assets/img/mobile-bank-section/google-play.svg" alt="google-play">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <section id="card-order" ref="card-order">
            <cardsRequest :page-prefix="$attrs.pagePrefix"></cardsRequest>
        </section>
        <div ref="documents" id="documents" class="card-inner-documents">
            <div class="wrapper card-inner-documents__wrapper">
                <h2 class="cardsInner__section-title">
                    Документы
                </h2>
                <div class="card-inner-documents__row card-inner-documents__center">
                    <span>
                        <br v-if="!isChaykaCard">
                        <a v-if="!isChaykaCard" :href="getDocumentLink" target="_blank" class="card-inner-documents__item">
                            <div class="card-inner-documents__item-img-container">
                                <img class="card-inner-documents__item-img" src="../assets/img/mobile-bank-section/document.svg" alt="document">
                            </div>
                            <div class="card-inner-documents__item-text">
                                Финансовые условия по продукту
                                <br>
                                <span v-html="onePage.data.title"></span> <span v-if="!isHandballClubCard">(до 31.08.2021)</span>
                            </div>
                        </a>

                        <a v-if="isChaykaCard" :href="getDocumentLink" target="_blank" class="card-inner-documents__item">
                            <div class="card-inner-documents__item-img-container">
                                <img class="card-inner-documents__item-img" src="../assets/img/mobile-bank-section/document.svg" alt="document">
                            </div>
                            <div class="card-inner-documents__item-text">
                                Финансовые условия по продукту
                                <br>
                                <span v-html="onePage.data.title"></span> <span>(c 18.08.2021)</span>
                            </div>
                        </a>

                        <a v-if="!isChaykaCard && !isHandballClubCard" :href="getFutureDocumentLink" target="_blank" class="card-inner-documents__item">
                            <div class="card-inner-documents__item-img-container">
                                <img class="card-inner-documents__item-img" src="../assets/img/mobile-bank-section/document.svg" alt="document">
                            </div>
                            <div class="card-inner-documents__item-text">
                                Финансовые условия по продукту
                                <br>
                                <span v-html="onePage.data.title"></span> (с 01.09.2021)
                            </div>
                        </a>

                        <a href="https://www.centrinvest.ru/files/services/fiz/pdf/pravila_opbk_03082020.pdf" target="_blank" class="card-inner-documents__item">
                            <div class="card-inner-documents__item-img-container">
                                <img class="card-inner-documents__item-img" src="../assets/img/mobile-bank-section/document.svg" alt="document">
                            </div>
                            <div class="card-inner-documents__item-text">
                                Правила обслуживания и
                                <br>
                                пользования банковскими картами (с 11.11.2020 по 31.08.2021г)
                            </div>
                        </a>
                    </span>
                    <span>
                        <a href="https://www.centrinvest.ru/files/services/fiz/pdf/pravila_cashback_s_01082021.pdf" target="_blank" class="card-inner-documents__item">
                            <div class="card-inner-documents__item-img-container">
                                <img class="card-inner-documents__item-img" src="../assets/img/mobile-bank-section/document.svg" alt="document">
                            </div>
                            <div class="card-inner-documents__item-text">
                                Правила начисления
                                <br>
                                Вознаграждения (с 01 по 31.08.2021г)
                            </div>
                        </a>

                        <a href="https://www.centrinvest.ru/files/services/fiz/pdf/pravila_cashback_s_01092021.pdf" target="_blank" class="card-inner-documents__item">
                            <div class="card-inner-documents__item-img-container">
                                <img class="card-inner-documents__item-img" src="../assets/img/mobile-bank-section/document.svg" alt="document">
                            </div>
                            <div class="card-inner-documents__item-text">
                                Правила начисления
                                <br>
                                Вознаграждения (с 01.09.2021г)
                            </div>
                        </a>
                         <a href="https://www.centrinvest.ru/files/services/fiz/pdf/Rules-01.09.2021.pdf" target="_blank" class="card-inner-documents__item">
                            <div class="card-inner-documents__item-img-container">
                                <img class="card-inner-documents__item-img" src="../assets/img/mobile-bank-section/document.svg" alt="document">
                            </div>
                            <div class="card-inner-documents__item-text">
                                Правила обслуживания и
                                <br>
                                пользования банковскими картами (с 1 сентября 2021г)
                            </div>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div ref="faq">
            <Faq v-if="isSupremeCard || isSupremePlus" />
        </div>
    </section>
</template>

<script>
import cibButton from 'centrinvest-web-components/src/appComponents/Button'
import overview from '@/debet-karty/components/overview'
import Faq from '@/debet-karty/components/faq'
import { mapFields } from 'vuex-map-fields'
import { mapActions, mapGetters } from 'vuex'
import cardsRequest from '@/debet-karty/views/cardsRequest'
export default {
    name: 'innerPage',
    components: {
        cibButton,
        overview,
        cardsRequest,
        Faq
    },
    props: {
        slug: {
            type: String
        }
    },
    metaInfo () {
        return {
            title: this.onePage.data.title,
            meta: [
                {
                    charset: 'utf-8'
                },
                {
                    vmid: 'description',
                    name: 'description',
                    content: `${this.onePage.data.title}. Частным лицам. ПАО коммерческий банк Центр-инвест, телефон для справок: 8(800) 200-99-29. по региону Ростовская область`
                },
                {
                    vmid: 'keywords',
                    name: 'keywords',
                    content: this.onePage.data.title
                },
                // {
                //     property: 'og:title',
                //     vmid: 'og:title',
                //     content: this.onePage.data.title
                // },
                // {
                //     property: 'og:type',
                //     vmid: 'og:type',
                //     content: 'website'
                // },
                // {
                //     property: 'og:image',
                //     vmid: 'og:image',
                //     content: this.cardImg
                // },
                // {
                //     property: 'og:image:width',
                //     vmid: 'og:image:width',
                //     content: '200'
                // },
                // {
                //     property: 'og:image:height',
                //     vmid: 'og:image:height',
                //     content: '200'
                // },
                // {
                //     property: 'og:description',
                //     vmid: 'og:description',
                //     content: `${this.onePage.data.title} ПАО коммерческий банк Центр-инвест, телефон для справок: 8(800) 200-99-29. по региону Ростовская область`
                // },
                // {
                //     property: 'og:url',
                //     vmid: 'og:url',
                //     content: `${domain}${this.onePage.data.slug}/step1`
                // }
            ],
                script: [{
                    type: 'application/ld+json',
                    json: {
                        '@context': 'http://schema.org',
                        '@type': 'Product',
                        brand: 'ПАО коммерческий банк Центр-инвест',
                        image: this.cardImg,
                        name: this.onePage.data.title,
                        price: '0',
                        priceCurrency: 'rub',
                        description: 'Дебетовая карта банка Центр-инвест',
                        offers: {
                            '@type': 'offer',
                            price: '0',
                            priceCurrency: 'rub',
                            name: this.onePage.data.title
                        }
                    }
                }
            ]
        }
    },
    mounted () {
        if (!this.$route.hash) {
            window.scrollTo(0, 0)
        } else {
            const id = this.$route.hash.replace('#', '')
            try {
                this.scrollTo(id)
            } catch (e) {
                console.log(`Не найден элемент с id=${id}`)
            }
        }
    },
    computed: {
        ...mapFields('card', [
            'onePage'
        ]),
        ...mapGetters('card', [
            'isChaykaCard',
            'isUniversalMirCard',
            'isUniversalCard',
            'isPensCard',
            'isHandballClubCard',
            'isSelfemployedCard',
            'isNarodCard',
            'isPremVisaCard',
            'isExclusiveVisaCard',
            'isServiceMirCard',
            'bgImgClass',
            'isSupremeCard',
            'isSupremePlus'
        ]),
        getButtonClass () {
            let result = ''
            if (this.isChaykaCard) {
                result = 'card-inner-main__chayka-button'
            }
            if (this.isHandballClubCard) {
                result = 'card-inner-main__handball-button'
            }
            if (this.isSupremeCard || this.isSupremePlus) {
                result = 'card-inner-main__supreme-button'
            }
            return result
        },
        getDocumentLink () {
            let result = null
            if (this.isUniversalMirCard) {
                result = 'https://www.centrinvest.ru/files/services/fiz/pdf/fin_ysl_osl_univ_world.pdf'
            } else if (this.isUniversalCard) {
                result = 'https://www.centrinvest.ru/files/services/fiz/pdf/fin_ysl_osl_univ.pdf'
            } else if (this.isPensCard) {
                result = 'https://www.centrinvest.ru/files/services/fiz/pdf/fin_ysl_osl_pens.pdf'
            } else if (this.isHandballClubCard) {
                result = 'https://www.centrinvest.ru/files/gk-rostov-card/finance-rules.pdf'
            } else if (this.isSelfemployedCard) {
                result = 'https://www.centrinvest.ru/files/services/fiz/pdf/fin_ysl_osl_selfemployed.pdf'
            } else if (this.isNarodCard) {
                result = 'https://www.centrinvest.ru/files/services/fiz/pdf/fin_ysl_osl_narod_world.pdf'
            } else if (this.isPremVisaCard) {
                result = 'https://www.centrinvest.ru/files/services/fiz/pdf/fin_ysl_osl_premium.pdf'
            } else if (this.isServiceMirCard) {
                result = 'https://www.centrinvest.ru/files/services/fiz/pdf/fin_ysl_servis_karta-01042020.pdf'
            } else if (this.isExclusiveVisaCard) {
                result = 'https://www.centrinvest.ru/files/services/fiz/pdf/fin_ysl_osl_exclusive.pdf'
            } else if (this.isChaykaCard) {
                result = 'https://www.centrinvest.ru/files/services/fiz/pdf/fin_usl_obsl_chaika_18082021.pdf'
            }
            return result
        },
        getFutureDocumentLink () {
            let result = null
            if (this.isUniversalMirCard) {
                result = 'https://www.centrinvest.ru/files/services/fiz/pdf/fin_usl_obsl_universal_MIR_01092021.pdf'
            } else if (this.isUniversalCard) {
                result = 'https://www.centrinvest.ru/files/services/fiz/pdf/fin_usl_obsl_universal_01092021.pdf'
            } else if (this.isPensCard) {
                result = 'https://www.centrinvest.ru/files/services/fiz/pdf/fin_usl_obsl_pension_01092021.pdf'
            } else if (this.isNarodCard) {
                result = 'https://www.centrinvest.ru/files/services/fiz/pdf/fin_usl_obsl_narod_MIR_01092021.pdf'
            } else if (this.isPremVisaCard) {
                result = 'https://www.centrinvest.ru/files/services/fiz/pdf/fin_usl_obsl_premium_01092021.pdf'
            } else if (this.isServiceMirCard) {
                result = 'https://www.centrinvest.ru/files/services/fiz/pdf/fin_usl_obsl_service_01092021.pdf'
            } else if (this.isSelfemployedCard) {
                result = 'https://www.centrinvest.ru/files/services/fiz/pdf/fin_usl_obsl_selfemployed_01092021.pdf'
            } else if (this.isExclusiveVisaCard) {
                result = 'https://www.centrinvest.ru/files/services/fiz/pdf/fin_usl_obsl_exclusive_01092021.pdf'
            }
            return result
        },
        cardImg () {
            if (this.onePage.data.mainDesign) {
                if (Object.prototype.hasOwnProperty.call(this.onePage.data.mainDesign, 'picture')) {
                    return this.onePage.data.mainDesign.picture
                }
            }
            return null
        }
    },
    methods: {
        ...mapActions('cardRequest', [
            'loadBranches',
            'sendStepStat'
        ]),
        async scrollTo (id) {
            const slide = this.$refs[id]
            const top = window.scrollY + slide.getBoundingClientRect().y
            window.scrollTo({
                top: top,
                behavior: 'smooth'
            })
        }
    }
}
</script>
