@import '../../assets/styles/base.scss';


.potreb-kredit {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0;

        @media (max-width: 480px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__header-logo-link {
        @media (max-width: 480px) {
            margin-bottom: 10px;
        }
    }

    &__advantages {
        overflow: hidden;
        margin: 90px 20px;

        @media (max-width:768px) {
            margin: 40px 0 0 0;
        }
    }

    &__row {
        @include row(20px);
    }

    &__col {
        @include col(4, 20px);
        margin-bottom: 60px;
        display: flex;
        align-items: center;

        @media screen and (max-width:980px) {
            @include col(6, 20px);
        }

        @media screen and (max-width:670px) {
            @include col(12, 20px);
            margin-bottom: 30px;
        }
    }

    &-header__link {
        font-size: 14px;
        line-height: 26px;
        color: #C9C9C9;
        text-decoration: none;
        display: inline-block;
        padding-right: 30px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            right: 0;
            background: url(../assets/images/arrow-top.svg) no-repeat;
            width: 18px;
            height: 10px;
            top: 9px;
        }
    }

    &__slider {
        height: auto;
    }

    &__item-img {
        padding: 12px;
        border: 1px solid #DBDBDB;
        box-sizing: border-box;
        border-radius: 6px;
        flex: 0 0 68px;
        margin-right: 17px;
    }

    &__item-text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 1.6;
        color: #222222;

        @media screen and (max-width:1200px) {
            line-height: 1;
            font-size: 25px;
        }
    }

    &__item-info {
        font-weight: 300;

        &_bold {
            font-weight: bold;
        }
    }

    &__btn {
        background-color: #FFF32A;
        border-radius: 6px;
        text-transform: uppercase;
        font-size: 16px;
        padding: 19px 89px;
        text-decoration: none;
        color: #222;
        display: inline-flex;
        justify-content: center;
        border: none;
        margin-top: 0 auto;
    }

    &__form {
        padding: 64px 0;
        background: rgba(0, 0, 0, 0.02);

        @media (max-width: 480px) {
            padding: 30px 0;
        }
    }
    &__mob-sep {
        @media (min-width: 481px) {
            display: none;
        }
    }
}

.potreb-kredit-slider {
    &__info {
        position: relative;
    }

    &__img-wr {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    &__img {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    &__relative {
        padding-bottom: 576px;
        width: 100%;

        @media (max-width: 768px) {
            padding-bottom: 60%;
        }

        @media (max-width: 480px) {
            padding-bottom: 85%;
        }
    }

    &__wrapper {
        position: absolute;
        top: 0;
        left: 50%;
        width: 1198px;
        padding: 0 10px;
        height: 100%;
        transform: translate(-50%, 0);
        display: flex;
        flex-direction: column;
        @media (min-width: 481px) {
            justify-content: center;
        }
        @media (max-width: 480px) {
            margin-top: 16px;
        }
        @media (max-width: 1198px) {
            width: 100%;
        }
    }

    &__content {
        text-align: left;
        max-width: 596px;
        position: relative;
    }

    &__title {
        font-size: 56px;
        margin: 0 0 12px;

        @media (max-width: 768px) {
            font-size: 7.2vw;
        }
        @media (max-width: 480px) {
            margin: 0 0 20px;
            font-size: 10vw;
        }
	}
	&__text {
		font-size: 24px;
		line-height: 1.3;
        margin-bottom: 32px;
        font-weight: 300;
        &_bold {
            font-weight: bold;
        }

        @media (max-width: 768px) {
            font-size: 3.1vw;
            margin: 40px 0;
        }

        @media (max-width: 768px) {
            font-size: 4vw;
        }
        @media (max-width: 768px) {
            font-size: 5vw;
        }
    }

    &__btn {
        padding: 19px 34px;

        @media (max-width: 768px) {
            padding: 16px 20px;
            font-size: 16px;
        }
        @media (max-width: 480px) {
            width: 100%;
        }
    }

    .hooper-list {
        height: auto;
    }

    .hooper-track {
        height: auto;
    }

    .hooper-navigation {
        display: block;
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 1198px;
        padding: 0 10px;

        @media (max-width: 1198px) {
            width: 100%;
        }

        @media (max-width: 768px) {
            bottom: 10px;
        }
    }

    .hooper-next,
    .hooper-prev {
        width: 58px;
        height: 38px;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 4px;
        position: relative;
        transition: 0.3s;
        transform: none;
        padding: 0;

        &.is-disabled {
            background: rgba(255, 255, 255, 0.4);
        }

        &::after {
            position: absolute;
            content: '';
            width: 18px;
            height: 10px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        @media (max-width: 768px) {
            width: 46px;
            height: 30px;
        }
    }

    .hooper-next {
        &::after {
            background: url(../assets/images/arrow-slider-next.svg) no-repeat;
        }
    }

    .hooper-prev {
        margin-right: 16px;

        &::after {
            background: url(../assets/images/arrow-slider-prev.svg) no-repeat;
        }
    }
}

p {
    margin: 0;
}

.potreb-kredit-form {
    &__title {
        font-size: 38px;
        line-height: 1.3;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 30px;
        text-align: center;
    }

    &__desc {
        font-size: 20px;
        line-height: 1.1;
        color: #000;
        font-weight: 300;
        max-width: 636px;
        text-align: center;
        margin: 0 auto 20px;
    }
}

.form-request {
    max-width: 400px;
    margin: 0 auto;

    &__input {
        margin-bottom: 16px;
    }
}

.form-success{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    background: rgba(255, 255, 255, 0.8);
    &__send {
        height: 100%;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    &__block{
        display: block;
        padding: 32px;
        border-radius: 12px;
        color: #fff;
        font-size: 20px;
        line-height: 1.2;
        margin: 10px;
        max-width: 650px;
        position: relative;
        background: #50b849;
        text-align: center;
        font-weight: 500;

        @media (max-width: 540px) {
            font-size: 17px;
        }
    }
    &__block_weekend {
    }
    &__block_weekdays {
    }
    &__text {
        padding-bottom: 8px;
    }
    &__close {
        position: absolute;
        top: 16px;
        right: 16px;
        cursor: pointer;
    }
    &__title {
        margin-bottom: 15px;
    }
    &__link {
        text-decoration: none;
        color: #fff32a;
    }
}

.dop-info {
    margin: 67px 0 30px 0;
    color: #929292;
    font-size: 14px;
    line-height: 1.9;

    @media (max-width: 480px) {
        margin: 40px 0 30px 0;
    }

    &__title {
        font-weight: 500;
    }
}

.codeForm {
    padding: 10px;
    &__text {
        font-size: 16px;
        margin-bottom: 16px;
    }
}

.icon.icon-arrowRight,
.icon.icon-arrowLeft {
    display: none;
}

.hooper-next.is-disabled,
.hooper-prev.is-disabled {
    opacity: unset !important;
}
