<template>
    <div class="cards-request-form">
        <section class="card-request-step">
            <div class="card-inner-form__wr">
                <progressBar
                    :$v="$v"
                    :current-step-name="currentStepName"
                    :current-step-index="currentStepIndex"
                    :last-step-index="lastStepIndex"
                />
            </div>
            <transition name="fade" mode="out-in">
                <router-view :$v="stepValidator"></router-view>
            </transition>
            <requestNav
                :current-step-index="currentStepIndex"
                :last-step-index="lastStepIndex"
                :step-info="stepInfoMod"
                :step-validator="stepValidator"
                :is-invalid-request="$v.$invalid"
                @onSendRequest="sendRequest"
            />
        </section>
        <cibModal v-model="showModal">
            <template #content>
                <div class="cardsInner__modal-content">
                    <div class="cardsInner__modal-text">
                        Ваша заявка успешно отправлена под номером <strong>{{ applicationNumber }}</strong>
                    </div>
                    <div class="cardsInner__button-wr">
                        <cibButton customClass="cardsInner__modal-button" color-theme="green" @click="showModal = false">Ок</cibButton>
                    </div>
                </div>
            </template>
        </cibModal>
    </div>
</template>

<script>
import { additionalCardStepInfo, additionalCardModel } from '@/debet-karty/model/requestModel'
import { validationMixin } from 'vuelidate'
import progressBar from '@/debet-karty/components/progressBar'
import requestNav from '@/debet-karty/components/requestNav'
import validationsAdditionalCard from '@/debet-karty/helpers/vuelidate/validationsAdditionalCard'
import { mapActions, mapGetters } from 'vuex'
import { cloneDeep } from 'lodash'
import { mapFields } from 'vuex-map-fields'
import cibModal from 'centrinvest-web-components/src/appComponents/components/cibModal'
import cibButton from 'centrinvest-web-components/src/appComponents/Button'
export default {
    name: 'AdditionalCard',
    mixins: [validationMixin],
    components: {
        progressBar,
        requestNav,
        cibModal,
        cibButton
    },
    created () {
        this.redirectToStep1()
    },
    data: () => ({
        additionalCardStepInfo,
        applicationNumber: 0,
        showModal: false
    }),
    computed: {
        ...mapFields('cardsForms', [
            'additionalCardModel'
        ]),
        ...mapFields('card', [
            'showPreloader'
        ]),
        ...mapGetters('cardsForms', [
            'additionalCard',
            'isForAThirdPersonRecipientType',
            'isForYourselfRecipientType',
            'isRusCitizenship',
            'isCitizenshipNotEmpty',
            'isFactAddress',
            'isDeliveryReceiving',
            'isOfficeReceiving'
        ]),
        stepPrefix () {
            return `${this.$attrs.pagePrefix}-additionalCard`
        },
        currentStepName () {
            return this.$route.name
        },
        stepValidator () {
            return this.$v.validationGroup[this.stepInfoPrefixMap[this.currentStepName]]
        },
        Step10 () {
            return this.additionalCard.Step10
        },
        Step20 () {
            return this.additionalCard.Step20
        },
        Step30 () {
            return this.additionalCard.Step30
        },
        stepInfoPrefixMap () {
            const obj = {}
            const stepInfo = [...this.additionalCardStepInfo]
            stepInfo.forEach(item => {
                obj[`${this.stepPrefix}-${item.name}`] = item.name
            })
            return obj
        },
        stepInfoMod () {
            const stepInfo = [...this.stepInfoWithPrefix]
            if (this.isForYourselfRecipientType) {
                const step2Index = stepInfo.findIndex(item => {
                    return this.stepInfoPrefixMap[item.name] === 'Step20'
                })
                stepInfo.splice(step2Index, 1)
            }
            return stepInfo
        },
        stepInfoWithPrefix () {
            let stepInfo = [...this.additionalCardStepInfo]
            stepInfo = stepInfo.map(item => {
                return {
                    name: `${this.stepPrefix}-${item.name}`
                }
            })
            return stepInfo
        },
        currentStepIndex () {
            return this.stepInfoMod.findIndex(item => {
                return item.name === this.currentStepName
            })
        },
        lastStepIndex () {
            return this.stepInfoMod.length - 1
        }
    },
    methods: {
        ...mapActions('cardsForms', [
            'sendAdditionalCardRequest'
        ]),
        redirectToStep1 () {
            if (this.$route.name === this.stepPrefix) {
                this.$router.push({ name: `${this.stepPrefix}-Step10` })
            }
        },
        async sendRequest () {
            if (!this.$v.$invalid) {
                this.showPreloader = true
                try {
                    const response = await this.sendAdditionalCardRequest(this.additionalCardModel)
                    this.reReleaseCardModel = cloneDeep(additionalCardModel)
                    this.$v.$reset()
                    const applicationNumber = response.data.applicationNumber
                    this.applicationNumber = applicationNumber
                    this.showModal = true
                } catch (e) {

                } finally {
                    this.showPreloader = false
                }
            }
        }
    },
    validations () {
        return validationsAdditionalCard.apply(this)
    }
}
</script>

<style scoped>

</style>
