<template>
    <div class="card-request-step">
        <div class="card-request-step__row card-request-step__row_flex card-request-step__row_big-margin">
            <paymentSystems
                v-model="cardClass"
                :$v="$v.cardClass"
                :payment-systems="cardTypesMod"
            />
            <cardRecipients
                v-model="cardRecipient"
                :$v="$v.cardRecipient"
                :card-recipients="cardRecipientsMod"
            />
        </div>
        <div class="card-request-step__row">
            <cibInput
                v-model.trim="fullName"
                :validator="$v.fullName"
                fieldName="fullName"
                :labelText="inputTitles.fio"
                :replace-characters-reg-exp="/[^a-z-а-яё\-\s]/ig"
                :errorMessage="{
                    required: 'Укажите Фамилию Имя Отчество',
                    rusAndLatinLetters: 'Только русские, латинские буквы и знаки препинания'
                }"
                key="fullName"
            />
        </div>
        <transition name="slide-fade">
            <div class="card-request-step__row" v-if="isForAThirdPersonRecipientType">
                <cibInput
                    v-model="phone"
                    :validator="$v.phone"
                    fieldName="contactPhoneNumber"
                    :labelText="inputTitles.phone"
                    mask="+7 (999) 999-99-99"
                    :mask-options="{
                        clearMaskOnLostFocus: true,
                        inputmode: 'tel',
                    }"
                    :errorMessage="{
                        required: 'Укажите номер телефона',
                        phone: 'Номер телефона должен содержать 11 цифр в формате +7 (999) 999-99-99'
                    }"
                    key="modelContactPhoneNumber"
                />
            </div>
        </transition>
        <transition name="slide-fade">
            <div class="card-request-step__row" v-if="isForAThirdPersonRecipientType">
                <cibInput
                    v-model.trim="cardHolderAdditionalFullName"
                    :validator="$v.cardHolderAdditionalFullName"
                    fieldName="cardHolderAdditionalFullName"
                    labelText="Фамилия Имя Отчество держателя доп. карты"
                    :replace-characters-reg-exp="/[^a-z-а-яё\-\s]/ig"
                    :errorMessage="{
                        required: 'Укажите Фамилию Имя Отчество',
                        rusAndLatinLetters: 'Только русские, латинские буквы и знаки препинания'
                    }"
                    key="cardHolderAdditionalFullName"
                />
            </div>
        </transition>
        <div class="card-request-step__row">
            <cibInput
                v-model.trim="customTranslit"
                :validator="$v.customTranslit"
                fieldName="customTranslit"
                :labelText="inputTitles.customTranslit"
                :replace-characters-reg-exp="/[^a-z\s]/ig"
                :errorMessage="{
                    required: 'Укажите Фамилия и Имя на карте',
                    latinLetters: 'Только латинские буквы'
                }"
                key="customTranslit"
            />
        </div>
        <div class="card-request-step__row">
            <cibInput
                v-model="cardNumber"
                :validator="$v.cardNumber"
                fieldName="cardNumber"
                labelText="Первые и последние цифры номера основной карты"
                :errorMessage="{
                    required: 'Укажите первые и последние цифры номера основной карты',
                    cardNumber: 'Не верный формат номера карты'
                }"
                mask="9999 XXXX XXXX 9999"
                key="cardNumber"
            />
        </div>
        <transition-group name="slide-fade">
            <div key="isForYourselfRecipientType" class="card-request-step__row card-request-step__row_grid" v-if="isForYourselfRecipientType">
                <div class="card-request-step__col card-request-step__col_6">
                    <cibInput
                        v-model="phone"
                        :validator="$v.phone"
                        fieldName="contactPhoneNumber"
                        labelText="Контактный телефон"
                        mask="+7 (999) 999-99-99"
                        :mask-options="{
                            clearMaskOnLostFocus: true,
                            inputmode: 'tel',
                        }"
                        :errorMessage="{
                            required: 'Укажите номер телефона',
                            phone: 'Номер телефона должен содержать 11 цифр в формате +7 (999) 999-99-99'
                        }"
                        key="modelContactPhoneNumber"
                    />
                </div>
                <div class="card-request-step__col card-request-step__col_6">
                    <cibInput
                        v-model="email"
                        :validator="$v.email"
                        fieldName="contactDataEmail"
                        labelText="E-mail"
                        suggestionsApiMethod="emailSuggestions"
                        :errorMessage="{
                            required: 'Укажите email',
                            emailFullCheck: 'Некорректный Email. Пример: pochta@domain.ru'
                        }"
                        key="contactDataEmail"
                    />
                </div>
            </div>
            <div key="isForAThirdPersonRecipientType" class="card-request-step__row card-request-step__row_grid" v-if="isForAThirdPersonRecipientType">
                <div class="card-request-step__col card-request-step__col_6">
                    <cibInput
                        v-model="cardHolderAdditionalPhone"
                        :validator="$v.cardHolderAdditionalPhone"
                        fieldName="cardHolderAdditionalPhone"
                        labelText="Телефон держателя доп. карты"
                        mask="+7 (999) 999-99-99"
                        :mask-options="{
                            clearMaskOnLostFocus: true,
                            inputmode: 'tel',
                        }"
                        :errorMessage="{
                            required: 'Укажите номер телефона',
                            phone: 'Номер телефона должен содержать 11 цифр в формате +7 (999) 999-99-99'
                        }"
                        key="cardHolderAdditionalPhone"
                    />
                </div>
                <div class="card-request-step__col card-request-step__col_6">
                    <cibInput
                        v-model="email"
                        :validator="$v.email"
                        fieldName="contactDataEmail"
                        :labelText="inputTitles.email"
                        suggestionsApiMethod="emailSuggestions"
                        :errorMessage="{
                            required: 'Укажите email',
                            emailFullCheck: 'Некорректный Email. Пример: pochta@domain.ru'
                        }"
                        key="contactDataEmail"
                    />
                </div>
            </div>
        </transition-group>
        <div class="card-request-step__row card-request-step__row_grid" v-if="isForAThirdPersonRecipientType">
            <div class="card-request-step__col card-request-step__col_6">
                <cibInput
                    v-model="birthDate"
                    :validator="$v.birthDate"
                    fieldName="birthDate"
                    labelText="Дата рождения"
                    :v-date-picker-support="true"
                    :v-max-date="disabledDates.min14Years"
                    mask="99.99.9999"
                    input-type="tel"
                    :errorMessage="{
                        required: 'Укажите дату рождения',
                        dateFormat: 'Введите корректную дату в формате \'xx.xx.xxxx\'',
                        maxPreviousDay : 'Нельзя указывать дату в будущем'
                    }"
                    key="birthDate"
                />
            </div>
            <div class="card-request-step__col card-request-step__col_6">
                <cibInput
                    v-model="citizenship"
                    :validator="$v.citizenship"
                    inputTag="select"
                    fieldName="citizenship"
                    labelText="Гражданство"
                    :errorMessage="{
                            required: 'Необходимо указать гражданство'
                        }"
                    selectLabelPosition="inside"
                    key="citizenship"
                >
                    <template #selectOptions>
                        <option v-for="option in citizenshipOptions" :value="option.value" :key="option.value">{{ option.text }}</option>
                    </template>
                </cibInput>
            </div>
        </div>
        <div class="card-request-step__row">
            <cibInput
                v-model="agreement"
                :validator="$v.agreement"
                fieldName="agreement"
                inputType="checkbox"
                checkboxSize="small"
            >
                <template #labelText>
                    <span>
                        Я согласен с обработкой моих данных в соответствии с федеральным законом Российской Федерации
                        <cibLink href="https://rg.ru/2006/07/29/personaljnye-dannye-dok.html" :blank="true">«О&nbsp;персональных данных»</cibLink>
                    </span>
                </template>
            </cibInput>
        </div>
    </div>
</template>

<script>
import requiestsMixin from '@/debet-karty/mixins/requiestsMixin'
import cibLink from 'centrinvest-web-components/src/appComponents/link'
import paymentSystems from '@/debet-karty/components/paymentSystems'
import cardRecipients from '@/debet-karty/components/cardRecipients'
import { mapFields } from 'vuex-map-fields'
import { cardRecipientTypes, cardTypes } from '@/debet-karty/model/requestModel'
import cyrillicToTranslit from 'cyrillic-to-translit-js'
import { mapGetters } from 'vuex'
import { disabledDates } from '@/debet-karty/helpers'
export default {
    mixins: [requiestsMixin],
    components: {
        paymentSystems,
        cardRecipients,
        cibLink
    },
    data: () => ({
        cardTypes,
        cardRecipientTypes,
        disabledDates
    }),
    computed: {
        ...mapFields('cardsForms', [
            'additionalCardModel.mainInfo.cardClass',
            'additionalCardModel.mainInfo.cardRecipient',
            'additionalCardModel.mainInfo.fullName',
            'additionalCardModel.mainInfo.cardHolderAdditionalFullName',
            'additionalCardModel.mainInfo.customTranslit',
            'additionalCardModel.mainInfo.cardNumber',
            'additionalCardModel.mainInfo.phone',
            'additionalCardModel.mainInfo.cardHolderAdditionalPhone',
            'additionalCardModel.mainInfo.email',
            'additionalCardModel.mainInfo.birthDate',
            'additionalCardModel.mainInfo.citizenship',
            'additionalCardModel.mainInfo.agreement',
            'additionalCardModel.isCustomNameOnCard'
        ]),
        ...mapFields('cardRequest', [
            'citizenshipOptions'
        ]),
        ...mapGetters('cardsForms', [
            'isForYourselfRecipientType',
            'isForAThirdPersonRecipientType'
        ]),
        inputTitles () {
            const obj = {
                fio: 'Фамилия Имя Отчество',
                phone: 'Контактный телефон',
                customTranslit: 'Фамилия и Имя на карте',
                email: 'E-mail'
            }
            if (this.isForAThirdPersonRecipientType) {
                obj.fio = 'Фамилия Имя Отчество держателя основной карты'
                obj.phone = 'Телефон держателя основной карты'
                obj.customTranslit = 'Фамилия и Имя держателя доп. карты на карте'
                obj.email = 'E-mail держателя доп карты'
            }
            return obj
        },
        cardTypesMod () {
            return this.cardTypes.map(item => {
                return {
                    ...item,
                    id: item.name,
                    title: item.name
                }
            })
        },
        cardRecipientsMod () {
            return this.cardRecipientTypes.map(item => {
                return {
                    ...item,
                    id: item.name,
                    title: item.label
                }
            })
        },
        customTranslitMod () {
            return (name) => {
                const fullName = name.replace(/\s+/g, ' ')
                const firstName = fullName.split(' ')[0]
                const lastName = fullName.split(' ')[1]
                const string = `${lastName ? `${lastName} ` : ''}${firstName || ''}`
                const translit = new cyrillicToTranslit()
                const result = translit.transform(string).replace(/_/g, ' ')
                return result.toUpperCase()
            }
        }
    },
    watch: {
        fullName (n, o) {
            if (o && this.isForYourselfRecipientType) {
                this.customTranslit = this.customTranslitMod(n)
            }
        },
        cardHolderAdditionalFullName (n, o) {
            if (o && this.isForAThirdPersonRecipientType) {
                this.customTranslit = this.customTranslitMod(n)
            }
        },
        customTranslit (n, o) {
            this.customTranslit = n.toUpperCase()
            let result = ''
            if (this.isForYourselfRecipientType) {
                result = this.customTranslitMod(this.fullName) !== n
            }
            if (this.isForAThirdPersonRecipientType) {
                result = this.customTranslitMod(this.cardHolderAdditionalFullName) !== n
            }
            this.isCustomNameOnCard = result
        }
    }
}
</script>

<style scoped>

</style>
