<template>
    <div class="card-request-step">
        <div class="card-request-step__row card-request-step__row_grid">
            <div class="card-request-step__col card-request-step__col_6">
                <cibInput
                    v-model="mainDocument.passportSeriesAndNumber"
                    v-bind="passportSeriesAndNumberAttrs"
                ></cibInput>
            </div>
            <div class="card-request-step__col card-request-step__col_6">
                <cibInput
                    v-model="mainDocument.issuedDate"
                    :validator="$v.issuedDate"
                    fieldName="issuedDate"
                    labelText="Дата выдачи"
                    :v-date-picker-support="true"
                    :v-max-date="disabledDates.maxDate"
                    mask="99.99.9999"
                    input-type="tel"
                    :errorMessage="{
                        required: 'Укажите дату выдачи',
                        dateFormat: 'Введите корректную дату в формате \'xx.xx.xxxx\'',
                        maxPreviousDay : 'Нельзя указывать дату в будущем'
                    }"
                    key="modelPassportIssuedDate"
                />
            </div>
        </div>
        <div class="card-request-step__row" v-if="isRusCitizenship">
            <cibInput
                v-model="mainDocument.issuedCode"
                :validator="$v.issuedCode"
                fieldName="issuedCode"
                labelText="Код подразделения"
                mask="999-999"
                input-type="tel"
                :errorMessage="{
                    required: 'Укажите код подразделения',
                    passportDivisionCode: 'Код подразделения должен состоять из 6 цифр'
                }"
                key="modelPassportDivisionCode"
                suggestionsApiMethod="passportIssuedName"
                @customSuggestions="suggestHandler"
                :showSuggestion="showSuggestion.issuedCode"
            >
                <template #suggestions>
                    <div
                        class="input-component__suggest"
                        v-for="(suggestion, index) in findSuggestionsArr('issuedCode')"
                        :key="`${index}-divisionCode`"
                        @click="autofillBookerIssuedName('issuedCode', suggestion)"
                    >
                        <div class="input-component__suggest-row">{{ `${suggestion.code}, ${suggestion.value}` }}</div>
                    </div>
                </template>
            </cibInput>
        </div>
        <div class="card-request-step__row" v-if="isRusCitizenship">
            <cibInput
                v-model="mainDocument.issuedName"
                :validator="$v.issuedName"
                fieldName="passportIssuedName"
                labelText="Кем выдан"
                :errorMessage="{
                    required: 'Укажите кем выдан паспорт',
                    ruDashSpace: 'Только русские буквы, дефис и пробел'
                }"
                suggestionsApiMethod="passportIssuedName"
                key="modelPassportIssuedName"
                @customSuggestions="suggestHandler"
                :showSuggestion="showSuggestion.passportIssuedName"
            >
                <template #suggestions>
                    <div
                        class="input-component__suggest"
                        v-for="(suggestion, index) in findSuggestionsArr('passportIssuedName')"
                        :key="`${index}-passportIssuedName`"
                        @click="autofillBookerIssuedName('passportIssuedName', suggestion)"
                    >
                        <div class="input-component__suggest-row">{{ `${suggestion.code}, ${suggestion.value}` }}</div>
                    </div>
                </template>
            </cibInput>
        </div>
        <div class="card-request-step__row">
            <cibInput
                v-model.trim="mainDocument.birthPlace"
                :validator="$v.birthPlace"
                fieldName="birthPlace"
                labelText="Место рождения"
                :errorMessage="{
                    required: 'Укажите место рождения',
                    rusAndLatinLetters: 'Только русские, латинские буквы и знаки препинания'
                }"
                key="birthPlace"
            />
        </div>
        <div class="card-request-step__row">
            <cibInput
                v-model="mainDocument.regAddress"
                v-bind="regAddressAttrs"
                @customSuggestions="suggestHandler"
            >
                <template #suggestions>
                    <div
                        class="input-component__suggest"
                        v-for="(suggestion, index) in findSuggestionsArr(`regAddress`)"
                        :key="`${index}-regAddress}`"
                        @click="onHintClick(suggestion, {
                                addressProp: 'regAddress',
                                indexProp: 'regZipIndex'
                            })"
                    >
                        <div class="input-component__suggest-row" v-html="suggestion.value"></div>
                    </div>
                </template>
            </cibInput>
        </div>
        <div class="card-request-step__row">
            <cibInput
                v-model="mainDocument.regZipIndex"
                v-bind="regZipIndexAttrs"
            >
            </cibInput>
        </div>
        <div class="card-request-step__row">
            <cibInput
                v-model="mainDocument.isFactAddress"
                fieldName="isFactAddress"
                inputType="checkbox"
                checkboxSize="small"
                key="isFactAddress"
            >
                <template #labelText>
                    Адрес регистрации совпадает с адресом проживания
                </template>
            </cibInput>
        </div>
        <div class="card-request-step__row" v-if="!mainDocument.isFactAddress">
            <cibInput
                v-model="mainDocument.factAddress"
                v-bind="factAddressAttrs"
                @customSuggestions="suggestHandler"
            >
                <template #suggestions>
                    <div
                        class="input-component__suggest"
                        v-for="(suggestion, index) in findSuggestionsArr(`factAddress`)"
                        :key="`${index}-factAddress}`"
                        @click="onHintClick(suggestion, {
                            addressProp: 'factAddress',
                            indexProp: 'factZipIndex'
                        })"
                    >
                        <div class="input-component__suggest-row" v-html="suggestion.value"></div>
                    </div>
                </template>
            </cibInput>
        </div>
        <div class="card-request-step__row" v-if="!mainDocument.isFactAddress">
            <cibInput
                v-model="mainDocument.factZipIndex"
                v-bind="factZipIndexAttrs"
            >
            </cibInput>
        </div>
        <div v-if="!isRusCitizenship" class="card-request-step__block">
            <div  class="card-request-step__group" v-for="(item, index) in mainDocument.taxResidences" :key="index">
                <div class="card-request-step__row card-request-step__row_grid">
                    <div class="card-request-step__col card-request-step__col_6">
                        <cibInput
                            v-model="item.taxResidence"
                            :validator="$v.taxResidences.$each.$iter[index].taxResidence"
                            :fieldName="`taxResidence-${index}`"
                            labelText="Налоговая резиденция"
                            :errorMessage="{
                                required: 'Укажите налоговую резиденцию',
                                ruDashSpace: 'Только русские буквы, дефис и пробел'
                            }"
                            :query-params="countryDadataQueryParams"
                            :key="`taxResidence-${index}`"
                            suggestions-api-method="dadataAddressSuggestions"
                        >
                        </cibInput>
                    </div>
                    <div class="card-request-step__col card-request-step__col_6">
                        <cibInput
                            v-model="item.innOrTin"
                            :validator="$v.taxResidences.$each.$iter[index].innOrTin"
                            :fieldName="`innOrTin-${index}`"
                            labelText="ИНН/TIN"
                            :errorMessage="{
                                required: 'Укажите ИНН/TIN'
                            }"
                            :key="`innOrTin-${index}`"
                        >
                        </cibInput>
                    </div>
                </div>
                <div v-if="index > 0" class="card-request-step__delete-group" @click="deleteGroup(index)"></div>
            </div>
        </div>
        <div v-if="!isRusCitizenship" class="card-request-step__row">
            <cibButton type="form-button" colorTheme="green-empty" @click="addTaxResidences">
                Добавить налоговую резиденцию
            </cibButton>
        </div>
    </div>
</template>

<script>
import cibButton from 'centrinvest-web-components/src/appComponents/Button'
import requiestsMixin from '@/debet-karty/mixins/requiestsMixin'
import { disabledDates } from '@/debet-karty/helpers'
import { mapFields } from 'vuex-map-fields'
import { mapGetters } from 'vuex'

export default {
    name: 'Step20',
    components: {
        cibButton
    },
    mixins: [requiestsMixin],
    data: () => ({
        disabledDates,
        suggestionsArrByFieldName: [],
        showSuggestion: {
            issuedCode: false,
            issuedName: false,
            regAddress: false,
            factAddress: false
        }
    }),
    computed: {
        ...mapFields('cardsForms', [
            'additionalCardModel.mainDocument'
        ]),
        ...mapGetters('cardsForms', [
            'isRusCitizenship'
        ]),
        countryDadataQueryParams () {
            return {
                from_bound: { value: 'country' },
                to_bound: { value: 'country' },
                locations: [
                    {
                        country_iso_code: '*'
                    }
                ]
            }
        },
        isFactAddress () {
            return this.mainDocument.isFactAddress
        },
        passportSeriesAndNumberAttrs () {
            const result = {
                validator: this.$v.passportSeriesAndNumber,
                fieldName: 'passportSeriesAndNumber',
                labelText: 'Серия и номер папорта',
                inputHint: 'Укажите данные держателя доп. карты',
                errorMessage: {
                    required: 'Укажите серию и номер паспорта',
                    passportNumberAndSeries: 'Серия и номер паспорта должны состоять из 10 цифр'
                },
                'input-type': 'tel',
                key: 'modelPassportPassportSeries'
            }
            if (this.isRusCitizenship) {
                result.mask = '9999 999999'
            }
            return result
        },
        regAddressAttrs () {
            const result = {
                validator: this.$v.regAddress,
                fieldName: 'regAddress',
                labelText: 'Адрес регистрации',
                errorMessage: {
                    required: 'Укажите адрес регистрации',
                    ruDashSpace: 'Только русские буквы, дефис и пробел'
                },
                key: 'regAddress'
            }
            if (this.isRusCitizenship) {
                result['suggestions-api-method'] = 'dadataAddressSuggestions'
                result.showSuggestion = this.showSuggestion.regAddress
            }
            return result
        },
        factAddressAttrs () {
            const result = {
                validator: this.$v.factAddress,
                fieldName: 'factAddress',
                labelText: 'Адрес проживания',
                errorMessage: {
                    required: 'Укажите адрес проживания',
                    ruDashSpace: 'Только русские буквы, дефис и пробел',
                    indexValidator: 'Индекс должен состоять из 6 цифр'
                },
                key: 'factAddress'
            }
            if (this.isRusCitizenship) {
                result['suggestions-api-method'] = 'dadataAddressSuggestions'
                result.showSuggestion = this.showSuggestion.factAddress
            }
            return result
        },
        regZipIndexAttrs () {
            const result = {
                validator: this.$v.regZipIndex,
                fieldName: 'regZipIndex',
                labelText: 'Индекс адреса регистрации',
                errorMessage: {
                    required: 'Укажите индекс адреса регистрации',
                    ruDashSpace: 'Только русские буквы, дефис и пробел',
                    indexValidator: 'Индекс должен состоять из 6 цифр'
                },
                'input-type': 'tel',
                key: 'regAddress'
            }
            if (this.isRusCitizenship) {
                result.mask = '999999'
            }
            return result
        },
        factZipIndexAttrs () {
            const result = {
                validator: this.$v.factZipIndex,
                fieldName: 'factZipIndex',
                labelText: 'Индекс адреса проживания',
                errorMessage: {
                    required: 'Укажите индекс адреса проживания',
                    ruDashSpace: 'Только русские буквы, дефис и пробел'
                },
                'input-type': 'tel',
                key: 'factZipIndex'
            }
            if (this.isRusCitizenship) {
                result.mask = '999999'
            }
            return result
        }
    },
    methods: {
        autofillBookerIssuedName (fieldName, suggestion) {
            this.mainDocument.issuedCode = suggestion.code
            this.mainDocument.issuedName = suggestion.value
            for (const key in this.showSuggestion) {
                this.showSuggestion[key] = false
            }
        },
        suggestHandler (suggestionData) {
            const index = this.findIndexByFieldName(suggestionData)
            if (index === -1) {
                this.suggestionsArrByFieldName.push(suggestionData)
            } else {
                this.suggestionsArrByFieldName[index].suggestions = suggestionData.suggestions
            }
            this.showSuggestion[suggestionData.fieldName] = true
        },
        findSuggestionsArr (fieldName) {
            let result = this.suggestionsArrByFieldName.find(item => {
                return item.fieldName === fieldName
            })
            result = result ? result.suggestions : []
            return result
        },
        findIndexByFieldName (suggestionData) {
            return this.suggestionsArrByFieldName.findIndex(suggestion => {
                return suggestion.fieldName === suggestionData.fieldName
            })
        },
        onHintClick (suggestionData, props) {
            const address = suggestionData.value
            const index = suggestionData.data.postal_code
            this.mainDocument[props.addressProp] = address
            this.mainDocument[props.indexProp] = index
            for (const key in this.showSuggestion) {
                this.showSuggestion[key] = false
            }
        },
        deleteGroup (index) {
            this.mainDocument.taxResidences.splice(index, 1)
        },
        addTaxResidences () {
            this.mainDocument.taxResidences.push({
                innOrTin: null,
                taxResidence: null
            })
        }
    }
}
</script>

<style scoped>

</style>
