<template>
    <div class="card-request-step">
        <div class="card-request-step__row">
            <p class="card-request-step__text">
                Дополнительная карта будет выпущена в соответствии с финансовыми условиями вашей основной карты, ознакомиться с финансовыми условиями можно по <cibLink href="/ru/fiz/bankovskie-karty/docs" :blank="true" custom-class="card-request-step__link">ссылке</cibLink>.
            </p>
        </div>
        <div class="card-request-step__row">
            <h3 class="card-inner-form__payment-title">
                Выберите офис получения карты
            </h3>
        </div>
<!--        <div class="card-request-step__row">-->
<!--            <cibInput-->
<!--                v-model="method"-->
<!--                inputType="radio"-->
<!--                fieldName="cardReceivingMethod"-->
<!--                :itemsArr="cardReceivingMethodsMod"-->
<!--                labelForGroup="Способ получения"-->
<!--            ></cibInput>-->
<!--        </div>-->
        <chooseOffices
            v-if="isOfficeReceiving"
            :$v="$v"
            :model-data="receivingData"
            @modelChanged="modelHandler"
            :regions="regions"
            :localities="localities"
            :branches="branchesMod"
            :placemarks="placemarks"
        />
        <div class="card-request-step__row" v-if="isDeliveryReceiving">
            <cibInput
                v-model="deliveryAddress"
                :validator="$v.deliveryAddress"
                fieldName="deliveryAddress"
                labelText="Адрес доставки"
                :errorMessage="{
                    required: 'Укажите адрес доставки'
                }"
                key="cardReceivingDeliveryAddress"
            ></cibInput>
        </div>
    </div>
</template>

<script>
import cibLink from 'centrinvest-web-components/src/appComponents/link'
import requiestsMixin from '@/debet-karty/mixins/requiestsMixin'
import { cardReceivingMethods } from '@/debet-karty/model/requestModel'
import chooseOffices from '@/debet-karty/components/chooseOffices'
import { mapActions, mapGetters } from 'vuex'
import { mapFields } from 'vuex-map-fields'

export default {
    name: 'Step30',
    mixins: [requiestsMixin],
    components: {
        chooseOffices,
        cibLink
    },
    async created () {
        this.method = this.cardReceivingMethodsMod[0].value
        await this.loadBranches()
    },
    data: () => ({
        cardReceivingMethods,
    }),
    computed: {
        ...mapFields('cardRequest', [
            'regions',
            'branches',
            'placemarks'
        ]),
        ...mapFields('cardsForms', [
            'additionalCardModel.receivingData.method',
            'additionalCardModel.receivingData.deliveryAddress',
            'additionalCardModel.receivingData',
            'additionalCardModel.receivingData.officeRegion',
            'additionalCardModel.receivingData.officeCity'

        ]),
        ...mapGetters('cardsForms', [
            'isDeliveryReceiving',
            'isOfficeReceiving'
        ]),
        localities () {
            if (!this.officeRegion) {
                return []
            }

            const region = this.regions.find((element, index) => {
                return element.value === this.officeRegion
            })
            return region ? region.cities : []
        },
        branchesMod () {
            if (!this.officeCity) {
                return []
            }

            return this.branches.filter((branch) => {
                return branch.city_id === this.officeCity
            })
        },
        cardReceivingMethodsMod () {
            return [this.cardReceivingMethods[0]]
        }
    },
    methods: {
        ...mapActions('cardRequest', [
           'loadBranches'
        ]),
        modelHandler (payload) {
            const model = { ...payload }
            for (const receivingDataKey in this.receivingData) {
                for (const modelKey in model) {
                    if (receivingDataKey === modelKey) {
                        this.receivingData[receivingDataKey] = model[receivingDataKey]
                    }
                }
            }
        }
    }
}
</script>

<style scoped>

</style>
