<template>
    <div class="cibVuePageApp">
        <div class="wrapper">
            <breadCrumbs :bitrixBreadCrumbs="bc" vuex-module="card"/>
        </div>
        <transition name="fade" mode="out-in">
            <router-view />
        </transition>
        <transition name="fade">
            <Loader v-show="showPreloader" :fixed="true" :transparent="true" />
        </transition>
        <notifications group="main" position="top center" />
    </div>
</template>

<script>
import breadCrumbs from '../components/breadCrumbs'
import Loader from 'centrinvest-web-components/src/appComponents/Loader'
import { mapFields } from 'vuex-map-fields'
import { mapActions } from 'vuex'
import cloneDeep from 'lodash/cloneDeep'
import { model } from '@/debet-karty/model/requestModel'
    export default {
        compilerOptions: {
            whitespace: 'preserve'
        },
        components: {
            breadCrumbs,
            Loader
        },
        data () {
            return {
                bc: [
                    {
                        url: 'https://www.centrinvest.ru/ru/fiz/',
                        text: 'Частным лицам'
                    },
                    {
                        url: 'https://www.centrinvest.ru/ru/fiz/bankovskie-karty/',
                        text: 'Карты'
                    }
                ],
                fromRoutes: [
                    'Step10',
                    'Step20',
                    'CustomDesign',
                    'Step30'
                ]
            }
        },
        computed: {
            ...mapFields('card', [
                'showPreloader'
            ]),
            ...mapFields('cardRequest', [
                'model'
            ])
        },
        methods: {
            ...mapActions('cardRequest', [
                'sendPotentialRequest'
            ]),
            clearData () {
                this.model = cloneDeep(model)
                sessionStorage.removeItem('model')
                sessionStorage.removeItem('isSendPotential')
            }
        },
        watch: {
            $route (to, from) {
                if (this.fromRoutes.includes(from.name) && to.name === 'Home') {
                    const isSendPotential = sessionStorage.getItem('isSendPotential')
                    if (!isSendPotential) {
                        this.sendPotentialRequest()
                    }
                    this.clearData()
                }
            }
        }
    }
</script>

<style lang="scss">
@import '../assets/styles/default';
</style>
