<template>
    <section id='advantages' class="student-cards__advantages student-cards-advantages">
        <div class="student-cards__wrapper">
            <div class="student-cards-advantages__title">С этой картой ты сможешь</div>
            <div class="student-cards-advantages__wr">
                <hooper :settings="hooperSettings">
                    <slide>
                        <div class="student-cards-advantages__item student-cards-advantages__item_green">
                            <img class="student-cards-advantages__img" src="@/student-cards/assets/images/money.png"
                                 alt="">
                            <h3 class="student-cards-advantages__subtitle student-cards-advantages__subtitle_white">
                                Зарабатывать на каждой покупке</h3>
                            <div class="student-cards-advantages__desc">
                                <div class="student-cards-advantages__box" v-for="(advantage, index) in advantages" :key="index">
                                    <div class="student-cards-advantages__percent" v-html="advantage.value"></div>
                                    <div class="student-cards-advantages__info" v-html="advantage.text"></div>
                                </div>
                            </div>
                        </div>
                    </slide>
                    <slide>
                        <div class="student-cards-advantages__item">
                            <img class="student-cards-advantages__bg student-cards-advantages__bg_wave"
                                 src="@/student-cards/assets/images/wave-line-green.svg" alt="">
                            <img class="student-cards-advantages__bg student-cards-advantages__bg_yellow-round"
                                 src="@/student-cards/assets/images/ellipse.svg" alt="">
                            <img class="student-cards-advantages__bg student-cards-advantages__bg_yellow-rectangle"
                                 src="@/student-cards/assets/images/rectangle-yellow.svg" alt="">
                            <img class="student-cards-advantages__bg student-cards-advantages__bg_hand-card"
                                 src="@/student-cards/assets/images/hand-with-card.png" alt="">
                            <img class="student-cards-advantages__img"
                                 src="@/student-cards/assets/images/transport-img.jpg" alt="">
                            <h3 class="student-cards-advantages__subtitle student-cards-advantages__subtitle_mt">
                                Ездить с&nbsp;выгодой в&nbsp;общественном транспорте </h3>
                        </div>
                    </slide>
                    <slide>
                        <a class="student-cards-advantages__item" href="https://privetmir.ru/"  target="_blank" rel="noopener noreferrer">
                            <img class="student-cards-advantages__bg student-cards-advantages__bg_ellipse-green"
                                 src="@/student-cards/assets/images/Ellipse-green.svg" alt="">
                            <img class="student-cards-advantages__bg student-cards-advantages__bg_ellipse-green-small"
                                 src="@/student-cards/assets/images/Ellipse-green.svg" alt="">
                            <img class="student-cards-advantages__bg student-cards-advantages__bg_rec-yellow"
                                 src="@/student-cards/assets/images/rectangle-yellow.svg" alt="">
                            <img class="student-cards-advantages__bg student-cards-advantages__bg_wave-yellow"
                                 src="@/student-cards/assets/images/yellow-wave.svg" alt="">
                            <img class="student-cards-advantages__img"
                                 src="@/student-cards/assets/images/bonus-img.jpg" alt="">
                            <h3 class="student-cards-advantages__subtitle student-cards-advantages__subtitle_mt">
                                <a class="student-cards-advantages__subtitle-link">
                                    Получать бонусы от&nbsp;наших партнеров </a>
                            </h3>
                        </a>
                    </slide>
                </hooper>
            </div>
        </div>
    </section>
</template>

<script>
import { Hooper, Slide } from 'hooper'
import 'hooper/dist/hooper.css'
export default {
    name: 'advantages',
    props: {
        advantages: {
            type: Array,
            default: () => ([])
        }
    },
    components: {
        Hooper,
        Slide,
    },
    data: () => ({
        hooperSettings: {
            wheelControl: false,
            infiniteScroll: true,
            breakpoints: {
                1024: {
                    itemsToShow: 3
                },
                780: {
                    itemsToShow: 2
                },
                640: {
                    itemsToShow: 2
                },
                540: {
                    itemsToShow: 1
                }
            }
        }
    })
}
</script>

<style scoped>

</style>
