<template>
    <section id="campus" class="student-cards__card student-cards-card">
        <div class="student-cards__wrapper">
            <div class="student-cards-card__wr">
                <img class="student-cards-card__bg student-cards-card__bg_class"
                     src="@/student-cards/assets/images/class.png" alt="">
                <img class="student-cards-card__bg student-cards-card__bg_yellow-circle"
                     src="@/student-cards/assets/images/ellipse.svg" alt="">
                <img class="student-cards-card__bg student-cards-card__bg_yellow-rec"
                     src="@/student-cards/assets/images/rectangle-yellow.svg" alt="">
                <img class="student-cards-card__bg student-cards-card__bg_white-circle"
                     src="@/student-cards/assets/images/white-circle.svg" alt="">
                <img class="student-cards-card__bg student-cards-card__bg_white-rec"
                     src="@/student-cards/assets/images/white-rec.svg" alt="">
                <img class="student-cards-card__bg student-cards-card__bg_yellow-wave"
                     src="@/student-cards/assets/images/yellow-wave.svg" alt="">
                <div class="student-cards-card__img-wr">
                    <img v-bind="imgAttrs">
                </div>
                <div class="student-cards-card__content">
                    <h3 class="student-cards-card__title">Твоя кампусная карта</h3>
                    <p class="student-cards-card__info">Теперь картой можно не&nbsp;только оплачивать покупки
                        и&nbsp;обучение, но&nbsp;и&nbsp;использовать её&nbsp;в&nbsp;качестве пропуска
                        в&nbsp;университет или как ключ от&nbsp;твоего кампуса.</p>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: 'campus',
    props: {
        image: {
            type: String
        }
    },
    computed: {
        imgAttrs () {
            return {
                class: this.image ? 'student-cards-card__img student-cards-card__img_width student-cards-card__img_rotate' : 'student-cards-card__img',
                src: this.image || require('@/student-cards/assets/images/card-student.png'),
                alt: 'Карта'
            }
        }
    }
}
</script>

<style scoped>

</style>
