<template>
    <footer class="student-cards__footer student-cards-footer">
        <div class="student-cards__wrapper">
            <div class="student-cards-footer__wr">
                <div class="student-cards-footer__info">
                    <h5 class="student-cards-footer__title">Информационная служба</h5>
                    <div class="student-cards-footer__phone">
                        <a class="student-cards-footer__phone-num" href="tel:88632000000"> 8 863 200-00-00 </a>
                    </div>
                    <div class="student-cards-footer__phone">
                        <a class="student-cards-footer__phone-num" href="tel:88002009929"> 8 800 200-99-29 </a>
                    </div>
                    <div class="student-cards-footer__copy"> ПАО КБ &laquo;Центр‑инвест&raquo;, Ростов-на-Дону <br> Поддержка ©
                        <a class="student-cards-footer__link student-cards__link student-cards__link_grey" href="https://cinet.ru/" target="_blank"
                           rel="noopener norefferer">&laquo;Центр-Интернет&raquo;</a>
                    </div>
                </div>
                <div class="student-cards-footer__dop">
                    <div class="student-cards-footer__mobile">
                        <h5 class="student-cards-footer__title">Мобильный банк &laquo;Центр‑инвест&raquo;</h5>
                        <span class="student-cards-mobile__app student-cards-mobile__app_margin">
                            <a class="student-cards-mobile__app-link" href="https://apps.apple.com/ru/app/%D0%BC%D0%BE%D0%B1%D0%B8%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9-%D0%B1%D0%B0%D0%BD%D0%BA-%D1%86%D0%B5%D0%BD%D1%82%D1%80-%D0%B8%D0%BD%D0%B2%D0%B5%D1%81%D1%82/id1329640879"
                               target="_blank" rel="noopener norefferer">
                                <img class="student-cards-mobile__app-img student-cards-mobile__app-img_s"
                                     src="@/student-cards/assets/images/google.svg" alt="">
                            </a>
                        </span>
                        <span class="student-cards-mobile__app student-cards-mobile__app_margin">
                            <a class="student-cards-mobile__app-link" href="https://play.google.com/store/apps/details?id=ru.centrinvest.mobilebanking&hl=ru"
                               target="_blank" rel="noopener norefferer">
                                <img class="student-cards-mobile__app-img student-cards-mobile__app-img_s"
                                     src="@/student-cards/assets/images/app.svg" alt="">
                            </a>
                        </span>
                    </div>
                    <div class="student-cards-footer__socials">
                        <h5 class="student-cards-footer__title">Мы в соцсетях</h5>
                        <ul class="student-cards-footer__list">
                            <li class="student-cards-footer__item">
                                <a class="student-cards-footer__link"
                                   href="https://www.instagram.com/centrinvest/?hl=ru" target="_blank"
                                   rel="noopener norefferer">
                                    <img class="student-cards-footer__link-img"
                                         src="@/student-cards/assets/images/instagram.svg" alt="">
                                </a>
                            </li>
                            <li class="student-cards-footer__item">
                                <a class="student-cards-footer__link"
                                   href="https://ru.botostore.com/c/centrinvestbot/" target="_blank"
                                   rel="noopener norefferer">
                                    <img class="student-cards-footer__link-img"
                                         src="@/student-cards/assets/images/telegram.svg" alt="">
                                </a>
                            </li>
                            <li class="student-cards-footer__item">
                                <a class="student-cards-footer__link" href="https://vk.com/centrinvest"
                                   target="_blank" rel="noopener norefferer">
                                    <img class="student-cards-footer__link-img"
                                         src="@/student-cards/assets/images/vk.svg" alt="">
                                </a>
                            </li>
                            <li class="student-cards-footer__item">
                                <a class="student-cards-footer__link"
                                   href="https://www.youtube.com/channel/UCsuBld162aKT47bYQCZpxMw" target="_blank"
                                   rel="noopener norefferer">
                                    <img class="student-cards-footer__link-img"
                                         src="@/student-cards/assets/images/youtube.svg" alt="">
                                </a>
                            </li>
                            <li class="student-cards-footer__item">
                                <a class="student-cards-footer__link"
                                   href="https://twitter.com/centrinvest?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
                                   target="_blank" rel="noopener norefferer">
                                    <img class="student-cards-footer__link-img"
                                         src="@/student-cards/assets/images/twitter.svg" alt="">
                                </a>
                            </li>
                            <li class="student-cards-footer__item">
                                <a class="student-cards-footer__link" href="https://www.facebook.com/centrinvest/"
                                   target="_blank" rel="noopener norefferer">
                                    <img class="student-cards-footer__link-img"
                                         src="@/student-cards/assets/images/facebook.svg" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
export default {
    name: 'cardFooter'
}
</script>

<style scoped>

</style>
