<template>
    <div class="student-cards__header-box">
        <header class="student-cards__header student-cards-header">
            <div class="student-cards__wrapper">
                <div class="student-cards-header__wr">
                    <a href="/" class="student-cards-header__logo-link">
                        <img class="student-cards-header__logo-img" src="@/student-cards/assets/images/logo-bank.svg"
                            alt="Логотип банка Центр-инвест">
                    </a>
                    <button @click="showModal = !showModal" class="student-cards__button student-cards-header__change">
                        Выбрать вуз </button>
                    <div @click="showMobileMenu = !showMobileMenu" class="student-cards__burger-menu">
                        <div class="student-cards__burger-menu-item"></div>
                        <div class="student-cards__burger-menu-item"></div>
                        <div class="student-cards__burger-menu-item"></div>
                    </div>
                    <div v-if="showMobileMenu" class="student-cards__mobile-menu student-cards-mobile-menu">
                        <a href="/" class="student-cards-mobile-menu__logo-link">
                            <img class="student-cards-mobile-menu__logo-img"
                                src="@/student-cards/assets/images/mobile-menu-logo.svg"
                                alt="Логотип банка Центр-инвест">
                        </a>
                        <div @click="showMobileMenu = false" class="student-cards-mobile-menu__close">
                            <img class="student-cards-mobile-menu__close-img"
                                src="@/student-cards/assets/images/close.svg" alt="">
                        </div>
                    </div>
                    <ul class="student-cards-header__nav" :class="{'student-cards-header__nav_mobile': showMobileMenu}">
                        <li class="student-cards-header__item">
                            <a href="#advantages" class="student-cards-header__link student-cards__link student-cards__link_yellow"
                                @click.prevent="scrollTo('advantages')">Преимущества</a>
                        </li>
                        <li class="student-cards-header__item">
                            <a href="#campus" class="student-cards-header__link student-cards__link student-cards__link_yellow"
                                @click.prevent="scrollTo('campus')">Кампусная карта</a>
                        </li>
                        <li class="student-cards-header__item">
                            <a href="#mobile" class="student-cards-header__link student-cards__link student-cards__link_yellow"
                                @click.prevent="scrollTo('mobile')">Мобильный банк</a>
                        </li>
                        <li class="student-cards-header__item">
                            <a href="#request" class="student-cards-header__link student-cards__link student-cards__link_yellow"
                                @click.prevent="scrollTo('request')">Перевыпуск карты</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <section class="student-cards__overview student-cards-overview">
            <img class="student-cards-advantages__bg student-cards-advantages__bg_white-wave-overview"
                src="@/student-cards/assets/images/wave.svg" alt="">
            <img class="student-cards-advantages__bg student-cards-advantages__bg_rec-yellow-overview"
                src="@/student-cards/assets/images/rectangle-yellow.svg" alt="">
            <img class="student-cards-advantages__bg student-cards-advantages__bg_waveov"
                src="@/student-cards/assets/images/wave-line.svg" alt="">
            <img class="student-cards-advantages__bg student-cards-advantages__bg_ellipse-green-overview"
                src="@/student-cards/assets/images/ellipse-green.png" alt="">
            <div class="student-cards__wrapper">
                <div class="student-cards-overview__container">
                    <div class="student-cards-overview__img-wr">
                        <img class="student-cards-overview__img student-cards-overview__img_circle"
                            src="@/student-cards/assets/images/header__circle.png" alt="">
                        <img v-bind="imgAttrs">
                        <div class="student-cards-overview__block student-cards-overview__block_perecrestok">
                            <img src="@/student-cards/assets/images/perecrestok.svg" alt="Логотип сети Перекресток" class="student-cards-overview__img">
                        </div>
                        <div class="student-cards-overview__block student-cards-overview__block_trip">
                            <img src="@/student-cards/assets/images/trip.svg" alt="Логотип One Two Trip" class="student-cards-overview__img">
                        </div>
                        <div class="student-cards-overview__block student-cards-overview__block_rostelecom">
                            <img src="@/student-cards/assets/images/rostelecom.svg" alt="Логотип Ростелеком" class="student-cards-overview__img">
                        </div>
                        <div class="student-cards-overview__block student-cards-overview__block_friend">
                            <img src="@/student-cards/assets/images/friend.png" alt="Логотип сети Подружка" class="student-cards-overview__img">
                        </div>
                        <div class="student-cards-overview__block student-cards-overview__block_tv">
                            <img src="@/student-cards/assets/images/more-tv.svg" alt="Логотип more.tv" class="student-cards-overview__img">
                        </div>
                        
                    </div>
                    <div class="student-cards-overview__content">
                        <img class="student-cards-advantages__bg student-cards-advantages__bg_yellow-circle-overview"
                            src="@/student-cards/assets/images/ellipse.svg" alt="">
                        <h1 class="student-cards-overview__title">Это уникальная<br>студенческая карта</h1>
                        <p class="student-cards-overview__desc"> И&nbsp;теперь она работает на&nbsp;тебя. Кешбек
                            до&nbsp;20%, бесплатные переводы по&nbsp;номеру телефона и&nbsp;многое другое
                            с&nbsp;картой банка &laquo;Центр-инвест&raquo; </p>
                        <a href="#request"
                            class="student-cards__button student-cards-overview__link"
                             @click.prevent="scrollTo('request')"
                            >
                            Заказать
                        </a>
                        <div class="student-cards-overview__btn-img-wr">
                            <img class="student-cards-overview__btn-img"
                                src="@/student-cards/assets/images/overview-btn.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <img class="student-cards-advantages__bg student-cards-advantages__bg_hand-overview"
                src="@/student-cards/assets/images/hand-overview.png" alt="">
        </section>
    </div>
</template>

<script>
    import {
        mapFields
    } from 'vuex-map-fields'

    export default {
        name: 'cardHeader',
        props: {
            image: {
                type: String
            }
        },
        computed: {
            ...mapFields([
                'showModal',
                'showMobileMenu'
            ]),
            imgAttrs() {
                return {
                    class: 'student-cards-card__img_rotate  student-cards-overview__img_card',
                    src: this.image || require('@/student-cards/assets/images/card-student.png'),
                    alt: 'Карта'
                }
            }
        },
        methods: {
            scrollTo(id) {
                document.querySelector(`#${id}`).scrollIntoView({
                    behavior: 'smooth'
                })
            },
        }
    }

</script>

<style scoped>

</style>
