<template>
    <section id="mobile" class="student-cards__mobile student-cards-mobile">
        <div class="student-cards__wrapper">
            <div class="student-cards-mobile__container">
                <div class="student-cards-mobile__col">
                    <h3 class="student-cards-mobile__title">Мобильный банк</h3>
                    <div class="student-cards-mobile__subtitle">Теперь всё стало гораздо проще</div>
                    <ul class="student-cards-mobile__advantages">
                        <li class="student-cards-mobile__item">
                            <img class="student-cards-mobile__icon" src="@/student-cards/assets/images/portmone.svg"
                                 alt="">
                            <div class="student-cards-mobile__text">Вклады и&nbsp;карты<br> под рукой</div>
                        </li>
                        <li class="student-cards-mobile__item">
                            <img class="student-cards-mobile__icon" src="@/student-cards/assets/images/arrows.svg"
                                 alt="">
                            <div class="student-cards-mobile__text">Бесплатные переводы до<br>100&nbsp;000&nbsp;₽
                            </div>
                        </li>
                        <li class="student-cards-mobile__item">
                            <img class="student-cards-mobile__icon" src="@/student-cards/assets/images/eye.svg"
                                 alt="">
                            <div class="student-cards-mobile__text">Полный контроль<br>финансов</div>
                        </li>
                        <li class="student-cards-mobile__item">
                            <img class="student-cards-mobile__icon" src="@/student-cards/assets/images/smile.svg"
                                 alt="">
                            <div class="student-cards-mobile__text">Простые и&nbsp;удобные платежи</div>
                        </li>
                    </ul>
                    <span class="student-cards-mobile__app">
                            <a class="student-cards-mobile__app-link" href="https://apps.apple.com/ru/app/%D0%BC%D0%BE%D0%B1%D0%B8%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9-%D0%B1%D0%B0%D0%BD%D0%BA-%D1%86%D0%B5%D0%BD%D1%82%D1%80-%D0%B8%D0%BD%D0%B2%D0%B5%D1%81%D1%82/id1329640879"
                               target="_blank" rel="noopener norefferer">
                                <img class="student-cards-mobile__app-img"
                                     src="@/student-cards/assets/images/google.svg" alt="">
                            </a>
                        </span>
                    <span class="student-cards-mobile__app">
                            <a class="student-cards-mobile__app-link" href="https://play.google.com/store/apps/details?id=ru.centrinvest.mobilebanking&hl=ru"
                               target="_blank" rel="noopener norefferer">
                                <img class="student-cards-mobile__app-img" src="@/student-cards/assets/images/app.svg"
                                     alt="">
                            </a>
                        </span>
                </div>
                <div class="student-cards-mobile__img-wr">
                    <img class="student-cards-mobile__img" src="@/student-cards/assets/images/bg-mobile.png" alt="">
                </div>
                <div class="student-cards-mobile__mob-wr">
                    <img src="@/student-cards/assets/images/mobile-mobile.png" alt=""
                         class="student-cards-mobile__mob">
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: 'mobile'
}
</script>

<style scoped>

</style>
