<template>
    <section id="request" class="student-cards__form student-cards-form">
        <div class="student-cards__wrapper">
            <img class="student-cards-advantages__bg student-cards-advantages__bg_white-wave"
                src="@/student-cards/assets/images/white-wave.svg" alt="">
            <img class="student-cards-advantages__bg student-cards-advantages__bg_rec-yellow-form"
                src="@/student-cards/assets/images/rectangle-yellow.svg" alt="">
            <img class="student-cards-advantages__bg student-cards-advantages__bg_white-ellipse"
                src="@/student-cards/assets/images/white-ellipse.svg" alt="">
            <img class="student-cards-advantages__bg student-cards-advantages__bg_hand-card-form"
                src="@/student-cards/assets/images/hand-card.png" alt="">
            <h3 class="student-cards-form__title">Перевыпустить карту</h3>
            <form class="student-cards-form__request" action="">
                <div class="student-cards-form__request-wr">
                    <div class="student-cards-form-request__input">
                        <cibInput v-model.trim="formData.reason" :validator="$v.formData.reason" inputTag="select"
                            fieldName="re-relise" labelText="Причина перевыпуска карты*" selectLabelPosition="inside">
                            <template #selectOptions>
                                <option v-for="option in reasons" :value="option" :key="option">{{ option }}</option>
                            </template>
                        </cibInput>
                    </div>
                    <div class="student-cards-form-request__input">
                        <cibInput fieldName="fullName" labelText="ФИО*" key="fullName" v-model.trim="formData.fio"
                            :validator="$v.formData.fio" :errorMessage="{
                                required: 'Укажите ФИО',
                                ruDashSpace: 'Только русские буквы, дефис и пробел'
                            }" />
                    </div>
                    <div class="student-cards-form-request__input">
                        <cibInput fieldName="phone" labelText="Номер телефона*" key="phone" v-model="formData.phone"
                            :validator="$v.formData.phone" mask="+7 (999) 999-99-99" :mask-options="{
                                clearMaskOnLostFocus: true,
                                inputmode: 'tel',
                            }" :error-message="{
                                required: 'Укажите номер телефона',
                                phone: 'Номер телефона должен содержать 11 цифр в формате +7 (999) 999-99-99'
                            }" />
                    </div>
                    <div class="student-cards-form-request__block">
                        <div class="student-cards-form-request__input">
                            <cibInput v-model="formData.birthday" :validator="$v.formData.birthday"
                                labelText="Дата рождения*" :v-date-picker-support="true"
                                :v-max-date="disabledDates.min14Years" mask="99.99.9999" fieldName="birthDate"
                                :errorMessage="{
                                    required: 'Укажите дату рождения',
                                    dateFormat: 'Введите корректную дату в формате \'xx.xx.xxxx\'',
                                    maxPreviousDay : 'Нельзя указывать дату в будущем'
                                }" />
                        </div>
                        <div class="student-cards-form-request__input">
                            <cibInput v-model="formData.nationality" :validator="$v.formData.nationality"
                                inputTag="select" fieldName="nationality" labelText="Гражданство*"
                                selectLabelPosition="inside" key="nationality" :errorMessage="{
                                    required: 'Укажите гражданство',
                                }">
                                <template #selectOptions>
                                    <option v-for="option in nationalities" :value="option" :key="option">{{ option }}
                                    </option>
                                </template>
                            </cibInput>
                        </div>
                    </div>
                    <div class="student-cards-form-request__input">
                        <cibInput fieldName="contactDataEmail" labelText="E-mail*" key="contactDataEmail"
                            v-model="formData.email" :validator="$v.formData.email"
                            suggestionsApiMethod="emailSuggestions" :errorMessage="{
                                required: 'Укажите email',
                                emailFullCheck: 'Некорректный Email. Пример: pochta@domain.ru'
                            }" />
                    </div>
                    <div class="student-cards-form-request__input">
                        <label class="input-component__single-label input-component__single-label_required">Офис выдачи
                            карты*</label>
                        <v-select :options="officesList" :reduce="value => value.value" label="value"
                            v-model="formData.office">
                            <template #open-indicator>
                                <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDE4IDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBkPSJNMSAxTDkgOEwxNyAxIiBzdHJva2U9IiM4RDhEOEQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+DQo8L3N2Zz4NCg=="
                                    alt="">
                            </template>
                            <template #no-options>
                                Подразделений не найдено
                            </template>
                        </v-select>
                    </div>
                    <div class="student-cards-form-request__input">
                        <cibInput v-model="formData.agreement" :validator="$v.formData.agreement" fieldName="agreement"
                            inputType="checkbox" custom-class="student-cards-form-request__agreement">
                            <template #labelText>
                                <span class="student-cards-form-request__info"> Я принимаю условия
                                    <span @click.prevent="isAgreementVisible = !isAgreementVisible"
                                        class="student-cards-form-request__info-link">Пользовательского соглашения</span>
                                </span>
                            </template>
                        </cibInput>
                    </div>
                    <transition name="fade" mode="out-in">
                        <div v-show="isAgreementVisible" class="student-cards__agreement student-cards-agreement">
                            <p class="student-cards-agreement__text">Настоящим заявляю, что предоставляемая мной
                                информация является полной и истинной</p>
                            <p class="student-cards-agreement__text">Даю согласие ПАО КБ «Центр‑инвест» (далее Банку)
                                на совершение всех действий с персональными данными, предусмотренных Федеральным законом «О
                                персональных данных» № 152-ФЗ 27.07.06 г. (обработка всеми способами). Обработка
                                осуществляется как с использованием средств автоматизации, так и без использования таких
                                средств. В случае обработки персональных данных другим лицом на основании договора,
                                существенным условием договора должна являться обязанность обеспечения указанным лицом
                                конфиденциальности персональных данных и безопасности персональных данных при их обработке.
                                Согласие дается в отношении моих персональных данных, включающих в себя любую информацию,
                                относящуюся ко мне, в том числе фамилию, имя, отчество, год, месяц, дату и место рождения,
                                адрес, семейное положение, профессию и любую иную информацию, содержащуюся в документах,
                                предоставленных мною либо полученную в результате ее проверки, а также в отношении копии
                                всех страниц документа, удостоверяющего личность.</p>
                            <p class="student-cards-agreement__text student-cards-agreement__text_bold">Я
                                полностью согласен с тем, что:</p>
                            <ul class="student-cards-agreement__list">
                                <li class="student-cards-agreement__item">Банк оставляет за собой право проверки любой
                                    сообщаемой клиентом информации, а клиент не возражает против такой проверки;</li>
                                <li class="student-cards-agreement__item">Копии предоставленных документов будут
                                    храниться в Банке;</li>
                            </ul>
                        </div>
                    </transition>
                    <div class="student-cards-form-request__info">* обязательные для заполнения поля
                        <cibButton :disabled="$v.$invalid" @click.prevent="sendRequest"> Заказать карту </cibButton>
                    </div>
                </div>
            </form>
            <h3 class="student-cards-form__title">Документы</h3>
            <div class="student-cards__docs">
                <a class="student-cards__box" href="#" rel="noopener norefferer">
                    <div class="student-cards__doc-icon">
                        <img class="student-cards__icon" src="@/student-cards/assets/images/doc-icon.svg" alt="">
                    </div>
                    <p class="student-cards__doc-name student-cards__link"> Финансовые условия <br>по продукту Студенческая карта </p>
                </a>
                <a class="student-cards__box"
                    href="https://www.centrinvest.ru/files/student-cards/Pravila_nachisleniya_keshbeka_(c_1_avgusta_2020).pdf"
                    target="_blank"
                    rel="noopener norefferer">
                    <div class="student-cards__doc-icon">
                        <img class="student-cards__icon" src="@/student-cards/assets/images/doc-icon.svg" alt="">
                    </div>
                    <p class="student-cards__doc-name student-cards__link"> Правила программы <br>лояльности </p>
                </a>
            </div>
        </div>
        <cibModal v-model="showModal">
            <template #content>
                <div class="student-cards-form__success-text">
                    Заявка <span class="student-cards-form__success-num">{{ requestNumber }}</span> отправлена!<br><br>
                    Скоро наш специалист свяжется с вами для уточнения информации.
                </div>
                <div class="student-cards-form__button-wr">
                    <cibButton @click="showModal = false" color-theme="green">Ок</cibButton>
                </div>
            </template>
        </cibModal>
    </section>
</template>

<script>
    import cibInput from 'centrinvest-web-components/src/appComponents/cibInput'
    import cibButton from 'centrinvest-web-components/src/appComponents/Button'
    import cibModal from 'centrinvest-web-components/src/appComponents/components/cibModal'
    import axios from 'axios'
    import {
        disabledDates,
        errorToast
    } from '@/debet-karty/helpers'
    import {
        validationMixin
    } from 'vuelidate'
    import {
        formData,
        reasons,
        nationalities,
        request
    } from '@/student-cards/data/model'
    import validations from '@/student-cards/data/validations'
    import {
        mapFields
    } from 'vuex-map-fields'
    export default {
        name: 'request',
        mixins: [validationMixin],
        components: {
            cibInput,
            cibButton,
            cibModal,
            vSelect: () => import(/* webpackChunkName: "vueSelect" */ 'vue-select')
        },
        created () {
            this.formData.pageUrl = window.location.href
        },
        data: () => ({
            formData: {
                ...formData
            },
            reasons,
            nationalities,
            requestNumber: null,
            showModal: false,
            isAgreementVisible: false,
            disabledDates
        }),
        computed: {
            ...mapFields([
                'showPreloader',
                'officesList'
            ])
        },
        methods: {
            async sendRequest () {
                if (this.$v.invalid) {
                    errorToast({
                        message: 'Проверьте правильность заполнения полей'
                    })
                } else {
                    const formData = new FormData()
                    for (const formDataKey in this.formData) {
                        formData.append(formDataKey, this.formData[formDataKey])
                    }
                    this.showPreloader = true
                    try {
                        const response = await axios.post(request.url, formData)
                        this.formData = {
                            ...formData
                        }
                        this.$v.$reset()
                        this.requestNumber = response.data.formNumber
                        this.showModal = true
                    } catch (e) {
                        await this.$errorHandler(e)
                    } finally {
                        this.showPreloader = false
                    }
                }
            }
        },
        watch: {
            $route () {
                this.formData.pageUrl = window.location.href
            }
        },
        validations () {
            return validations.apply(this)
        }
    }

</script>

<style lang="scss">
    $vs-border-width: 0px;
    @import "~vue-select/src/scss/vue-select.scss";

</style>
