<template>
    <div class="cibVuePageApp">
        <transition name="fade">
            <Loader v-show="showPreloader" :fixed="true" :transparent="true" />
        </transition>
<!--            <breadCrumbs :bitrixBreadCrumbs="bc" />-->
        <transition name="fade" mode="out-in">
            <router-view v-if="isDataLoad"/>
        </transition>
    </div>
</template>

<script>
    import breadCrumbs from '../components/breadCrumbs'
    import Loader from 'centrinvest-web-components/src/appComponents/Loader'
    import { mapActions } from 'vuex'
    import { mapFields } from 'vuex-map-fields'
    export default {
        components: {
            breadCrumbs,
            Loader
        },
        async created () {
            await this.getData()
        },
        data () {
            return {
                bc: [
                    {
                        url: 'https://www.centrinvest.ru/ru/fiz/',
                        text: 'Частным лицам'
                    },
                    {
                        url: 'https://www.centrinvest.ru/ru/fiz/kreditovanie/',
                        text: 'Кредитование'
                    },
                    {
                        url: 'https://www.centrinvest.ru/ru/fiz/kreditovanie/kreditnye-karty/',
                        text: 'Кредитные карты'
                    }
                ]
            }
        },
        computed: {
            ...mapFields([
                'showPreloader',
                'isDataLoad'
            ])
        },
        methods: {
            ...mapActions([
                'getData'
            ])
        }
    }
</script>

<style lang="scss">
@import '../assets/styles/default';
</style>
