<template>
    <section class="cardCustomDesign">
        <div class="card-request-step__row card-request-step__row_big-margin">
            <div class="card-design">
                <div class="card-request__step-wrapper">
                    <h3 class="card-inner-form__payment-title">Выберите дизайн*</h3>
                    <div class="card-design__buttons-row" v-if="(isMirPaymentSystem || isVisaPaymentSystem) && !isFanCard && !isSelfemployedCard && !isSupremeCards && !isExclusiveVisaCard">
                        <div class="card-design__radio-button-wr">
                            <input class="card-design__radio-input" id="classic" value="classic" type="radio" name="designType" v-model="designTab">
                            <label for="classic" class="card-design__radio-label">Классический</label>
                        </div>
                        <div class="card-design__radio-button-wr">
                            <input class="card-design__radio-input" id="individual" value="individual" type="radio" name="designType" v-model="designTab">
                            <label for="individual" class="card-design__radio-label">Индивидуальный <strong>+300₽</strong></label>
                        </div>
                    </div>
                </div>
                <div class="card-design__radio-content-wr">
                    <div class="card-design__radio-content" v-show="designTab === 'classic'">
                        <div class="card-request__step-wrapper">
                            <div class="card-design__row">
                                <div class="card-design__col" v-for="desing in cardDesigins" :key="desing.id">
                                    <input class="card-design__checkbox" :value="desing.title" type="radio" name="design" :id="desing.id" v-model="model.cardData.cardDesign">
                                    <label :for="desing.id" class="card-design__label">
                                        <div class="card-design__img-wr">
                                            <div class="card-design__relative"></div>
                                            <img class="card-design__image" :src="desing.picture" :alt="desing.slug">
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-design__radio-content" v-show="designTab === 'individual'">
                        <div class="card-request__step-wrapper card-request__step-wrapper_individual">
                            <div class="card-design__linkModal" @click.prevent="showModal = true">Правила и ограничения по выпуску банковских карт с индивидуальным дизайном</div>
                            <div class="cardCustomDesign__row" key="isIndividualDesign">
                                <div class="cardCustomDesign__col">
                                    <div class="cardCustomDesign__crooper">
                                        <Cropper
                                            :src="model.indivDesignData.activeFrontImage"
                                            @change="onChange"
                                            :stencilProps="{
                                                aspectRatio: 3/2,
                                            }"
                                            :minHeight="40"
                                        />
                                    </div>
                                    <div class="cardCustomDesign__card-preview-wr">
                                        <div class="cardCustomDesign__card-preview card-preview">
                                            <img :src="getImgPositionType" alt="" class="card-preview__layout">
                                            <img v-if="imagePreview" :src="imagePreview" alt="" class="card-preview__img">
                                        </div>
                                        <div class="cardCustomDesign__file-wr">
                                            <div class="cardCustomDesign__load-file" @click.prevent="browseFiles">Загрузить изображение</div>
                                            <input type="file" ref="files" class="cardCustomDesign__file" @change="onImageSelection($event.target.files)">
                                        </div>
                                    </div>
                                </div>
                                <div class="cardCustomDesign__col">
                                    <div class="cardCustomDesign__tabs cardCustomDesign-tabs">
                                        <div class="cardCustomDesign-tabs__header">
                                            <div class="cardCustomDesign-tabs__caption">{{ currentTabLabel }}</div>
                                            <transition name="fade">
                                                <div v-if="currentTab" class="cardCustomDesign-tabs__back" @click="currentTab = null; currentTabLabel = 'Категории'">Категории</div>
                                            </transition>
                                        </div>

                                        <transition-group name="slide-fade">
                                            <div class="cardCustomDesign-tabs__tabs-wr" key="tabs" v-show="!currentTab">
                                                <div class="cardCustomDesign-tabs__tab"
                                                     v-for="(category) in individualDesigns"
                                                     :key="`tabs-${category.id}`"
                                                     :class="{ 'cardCustomDesign-tabs__tab_active': category.id === currentTab }"
                                                     @click="setTab(category.id, category.title)"
                                                     :data-label="category.title"
                                                >
                                                    <img class="cardCustomDesign-tabs__tab-img" :src="`${request.url}${category.categoryImg}`" alt="">
                                                </div>
                                            </div>
                                            <div class="cardCustomDesign-tabs__tabs-content-wr" key="content" v-show="currentTab">
                                                <div class="cardCustomDesign-tabs__tabs-content"
                                                     v-for="(category) in individualDesigns"
                                                     :key="`content-${category.id}`"
                                                     :class="{ 'cardCustomDesign-tabs__tabs-content_active': category.id === currentTab }"
                                                >
                                                    <div class="cardCustomDesign__img-row">
                                                        <div class="cardCustomDesign__img-col"
                                                             :class="{ 'cardCustomDesign__img-col_active': currentImgId === image.id }"
                                                             v-for="(image) in category.pictures"
                                                             :key="image.id"
                                                        >
                                                            <img
                                                                :src="`${request.url}${image.thumbnail}`"
                                                                class="cardCustomDesign__card-img"
                                                                @click="setActiveImage(image.id, image.imageSrc, image.preview)"
                                                            >
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </transition-group>
                                    </div>
                                </div>
                            </div>
                            <div class="cardCustomDesign__radio-row" v-if="isIndividualDesign && imagePreview" key="imagePreview">
                                <div class="cardCustomDesign__radio-col">
                                    <cibInput
                                        v-model="model.indivDesignData.logoColor"
                                        inputType="radio"
                                        fieldName="logoColor"
                                        :itemsArr="logoColors"
                                        labelForGroup="Цвет логотипа банка"
                                    ></cibInput>
                                </div>
                                <div class="cardCustomDesign__radio-col">
                                    <cibInput
                                        v-model="model.indivDesignData.logoPosition"
                                        inputType="radio"
                                        fieldName="logoPosition"
                                        :itemsArr="logoPositions"
                                        labelForGroup="Расположение логотипа банка"
                                    ></cibInput>
                                </div>
                                <div class="cardCustomDesign__radio-col" v-if="isMirPaymentSystem">
                                    <cibInput
                                        v-model="model.indivDesignData.cardMirPosition"
                                        inputType="radio"
                                        fieldName="cardMirPosition"
                                        :itemsArr="cardMirPositionsMod"
                                        labelForGroup="Расположение логотипа МИР"
                                    ></cibInput>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <cibModal v-model="showModal">
            <template #content>
                <div class="cardsInner__modal-content">
                    <div class="cardsInner__caption">Правила и ограничения по выпуску банковских карт с индивидуальным дизайном</div>
                    <div class="cardsInner__modal-text">
                        <ol class="cardsInner__ol">
                            <li>Стоимость услуги «Индивидуальный дизайн карты» определяется тарифами пакета услуг, в рамках которого выпускается карта.</li>
                            <li>Файл с изображением должен быть в формате jpg.</li>
                            <li>Для создания индивидуального дизайна карты запрещено использовать:
                                <ul class="cardsInner__ul">
                                    <li>изображения политического характера, религиозные символы, культовые лозунги, флаги, гербы;</li>
                                    <li>изображения расово-враждебного или национально-враждебного характера;</li>
                                    <li>изображения сексуального характера;</li>
                                    <li>изображения религиозного характера;</li>
                                    <li>реклама любого характера;</li>
                                    <li>материалы, содержащие денежные знаки, монеты, купюры, медали, в том числе вышедшие из употребления;</li>
                                    <li>портрет любого взрослого, в том числе держателя карты, предназначенный для целей идентификации;</li>
                                    <li>самореклама любого рода;</li>
                                    <li>материалы, содержащие изображения людей в форме, экипировке и в спецодежде с узнаваемыми или читаемыми брендами, товарными знаками;</li>
                                    <li>материалы, содержащие изображения оружия и военной техники;</li>
                                    <li>защищенный авторским правом материал, в том числе материал, взятый в сети Интернет;</li>
                                    <li>материалы, содержащие кадры из фильмов, мультфильмов и иллюстрации из книг;</li>
                                    <li>фирменная продукция / услуги, в том числе сокращения, аббревиатуры и / или символы;</li>
                                    <li>материалы содержащие, тексты, буквы, почтовые и электронные адреса, цифры, в том числе номера телефонов (например, 900 или 800, 01 или 222-22-22);</li>
                                    <li>изображения знаменитостей, музыкантов, спортсменов, артистов, общественных деятелей, известных персонажей и т.д.;</li>
                                    <li>материалы, содержащие изображения, связанные или ассоциируемые с азартными играми;</li>
                                    <li>изображения, связанные или ассоциируемые с табачной и алкогольной продукцией;</li>
                                    <li>изображения, связанные или ассоциируемые с изготовлением или употреблением наркотиков;</li>
                                    <li>изображения, в том числе сцены, имена или символы, имеющие принадлежность к общественным группам, пропагандирующим социально-неприемлимое поведение;</li>
                                    <li>изображение, которое может повлечь проблемы при обслуживании торгово-сервисными предприятиями;</li>
                                    <li>изображения, которые могут привести к карточным мошенничествам;</li>
                                    <li>любой графический элемент дизайна, который может породить враждебность по отношению к Международной платежной системе.</li>
                                </ul>
                            </li>
                            <li>В случае нарушения требований, банк может отказать в выпуске карты или попросить заменить изображение. Банк оставляет за собой право отказать в выпуске карты с индивидуальным дизайном без объяснения причины.</li>
                        </ol>
                    </div>
                    <div class="cardsInner__button-wr">
                        <cibButton customClass="cardsInner__modal-button" color-theme="green" @click="showModal = false">Ок</cibButton>
                    </div>
                </div>
            </template>
        </cibModal>
    </section>
</template>

<script>
import { Cropper } from 'vue-advanced-cropper'
import 'vue-advanced-cropper/dist/style.css'
import stepMixin from '@/debet-karty/mixins/stepMixin'
import { mapGetters } from 'vuex'
import { mapFields } from 'vuex-map-fields'
import { pause } from '@/debet-karty/helpers'
import request from '@/debet-karty/model/requiest'
import cibModal from 'centrinvest-web-components/src/appComponents/components/cibModal'
import cloneDeep from 'lodash/cloneDeep'
import { model } from '@/debet-karty/model/requestModel'
export default {
    name: 'cardCustomDesign',
    mixins: [stepMixin],
    components: {
        Cropper,
        cibModal
    },
    data: () => ({
        request,
        showModal: false
    }),
    created () {
        this.setDefaultDesignData()
    },
    mounted () {
        if (this.isFanCard || this.isMsCardPaymentSystem) {
            this.myIndivDesignData = cloneDeep(model.myIndivDesignData)
        }
    },
    computed: {
        ...mapFields('customDesign', [
            'logoColors',
            'logoPositions',
            'cardMirPositions',
            'individualDesigns'
        ]),
        ...mapFields('card', [
            'showPreloader'
        ]),
        ...mapFields('cardRequest', [
            'model.myIndivDesignData',
            'imagePreview',
            'model.myIndivDesignData.currentTab',
            'model.myIndivDesignData.currentTabLabel',
            'model.myIndivDesignData.currentImgId',
            'model.myIndivDesignData.designTab'
        ]),
        ...mapGetters('card', [
            'cardDesigins',
            'isFanCard',
            'isExclusiveVisaCard',
            'isSupremeCards',
            'isSelfemployedCard'
        ]),
        ...mapGetters('cardRequest', [
            'isIndividualDesign'
        ]),
        ...mapGetters('customDesign', [
            'isMirPaymentSystem',
            'isMsCardPaymentSystem',
            'isVisaPaymentSystem'
        ]),
        getImgPositionType () {
            let directory = null
            let path = null
            if (this.isMirPaymentSystem) {
                directory = 'MIR'
                path = require(`@/debet-karty/assets/img/${directory}/logo_${this.model.indivDesignData.logoColor}_${this.model.indivDesignData.logoPosition}_mir_${this.model.indivDesignData.cardMirPosition}.png`)
            }
            if (this.isVisaPaymentSystem) {
                directory = 'VisaClassic'
                path = require(`@/debet-karty/assets/img/${directory}/${this.model.indivDesignData.logoColor}_${this.model.indivDesignData.logoPosition}.png`)
            }
            return path
        },
        cardMirPositionsMod () {
            let result = this.cardMirPositions
            if (this.model.indivDesignData.logoPosition === 'right') {
                result = this.cardMirPositions.filter(position => {
                    return position.value !== 'up'
                })
            }
            return result
        }
    },
    methods: {
        setTab (tab, title) {
            this.currentTab = tab
            this.currentTabLabel = title
        },
        setDefaultDesignData () {
            if (!this.model.indivDesignData.logoColor) {
                this.model.indivDesignData.logoColor = this.logoColors[0].value
            }
            if (!this.model.indivDesignData.logoPosition) {
                this.model.indivDesignData.logoPosition = this.logoPositions[0].value
            }
            if (this.isMirPaymentSystem) {
                if (!this.model.indivDesignData.cardMirPosition) {
                    this.model.indivDesignData.cardMirPosition = this.cardMirPositionsMod[0].value
                }
            }
        },
        async setActiveImage (imageId, imagePath, thumbnail) {
            if (this.model.indivDesignData.activeImage !== imagePath) {
                this.showPreloader = true
                this.currentImgId = imageId
                this.model.indivDesignData.activeFrontImage = `${request.url}${thumbnail}`
                // this.toDataUrl(`${request.url}${imagePath}`, (base64Img) => {
                this.model.indivDesignData.activeImage = imagePath
                // })
            }
        },
        toDataUrl (src, callback, outputFormat) {
            const img = new Image()
            img.crossOrigin = 'Anonymous'
            img.onload = function () {
                let canvas = document.createElement('CANVAS')
                const ctx = canvas.getContext('2d')
                let dataURL = null
                canvas.height = this.naturalHeight
                canvas.width = this.naturalWidth
                ctx.drawImage(this, 0, 0)
                dataURL = canvas.toDataURL(outputFormat)
                callback(dataURL)
                canvas = null
            }
            img.src = src
            if (img.complete || img.complete === undefined) {
                img.src = 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=='
                img.src = src
            }
        },
        async onChange ({ coordinates, canvas }) {
            this.showPreloader = true
            this.model.indivDesignData.previewWidth = Math.round(coordinates.width)
            this.model.indivDesignData.previewHeight = Math.round(coordinates.height)
            this.model.indivDesignData.previewLeftPadding = Math.round(coordinates.left)
            this.model.indivDesignData.previewTopPadding = Math.round(coordinates.top)
            this.imagePreview = await canvas.toDataURL()
            await pause(300)
            this.showPreloader = false
        },
        browseFiles () {
            this.$refs.files.click()
        },
        onImageSelection (files) {
            this.showPreloader = true
            if (files && files[0]) {
                if (files[0].size > 5000000) {
                    alert('Макисмальный размер файла - 5Мб')
                    return
                }
                const reader = new FileReader()
                const image = new Image()
                reader.onload = (e) => {
                    image.src = reader.result
                    image.onload = (e2) => {
                        if (image.width < 720 || image.height < 461) {
                            alert('Размер изображения не менее 720х461 пикселей')
                            this.showPreloader = false
                            return
                        }
                        if (!image.src.includes('data:image/jpeg') && !image.src.includes('data:image/jpg')) {
                            alert('Только в формате JPG')
                            this.showPreloader = false
                            return
                        }
                        this.model.indivDesignData.activeImage = e.target.result
                        this.model.indivDesignData.activeFrontImage = e.target.result
                    }
                }
                reader.readAsDataURL(files[0])
            }
        },
        setDefaultClassicDesign () {
            if (this.cardDesigins.length && this.cardDesigins.length === 1) {
                this.model.cardData.cardDesign = this.cardDesigins[0].title
            }
        }
    },
    watch: {
        'model.indivDesignData.logoPosition' (n) {
            if (n === 'right') {
                this.model.indivDesignData.cardMirPosition = 'down'
            }
        },
        designTab (n, o) {
            if (n === 'individual') {
                this.model.cardData.cardDesign = 'individual'
            }
            if (n === 'classic') {
                this.setDefaultClassicDesign()
            }
        }
    }
}
</script>

<style lang="scss" scoped>
.cardCustomDesign /deep/ .nav-tabs-navigation {
    margin-bottom: 16px;
}
</style>
