<template>
    <div>
        <div class="card-request" v-if="!isServiceMirCard">
            <h2 class="cardsInner__section-title card-request__h2" v-html="requestTitle" v-if="requestTitle"></h2>
            <div class="card-request__wrapper">
                <progressBar
                    :$v="$v"
                    :current-step-name="currentStepName"
                    :current-step-index="currentStepIndex"
                    :last-step-index="lastStepIndex"
                />
            </div>
            <transition name="fade" mode="out-in">
                <router-view :$v="stepValidator"></router-view>
            </transition>
            <div class="card-request__wrapper">
                <requestNav
                    :current-step-index="currentStepIndex"
                    :last-step-index="lastStepIndex"
                    :step-info="stepInfoMod"
                    :step-validator="stepValidator"
                    :is-invalid-request="$v.$invalid"
                    @onSendRequest="sendRequest"
                />
            </div>
        </div>
        <div ref="card-order" class="card-request" v-else>
            <h2 class="cardsInner__section-title">
                Получите карту в ближайшем офисе
            </h2>
            <div class="card-request__wrapper">
                <chooseOffices
                    :$v="$v.validationGroup['Step30'].receivingData"
                    :model-data="receivingData"
                    @modelChanged="modelHandler"
                    :regions="regions"
                    :localities="localities"
                    :branches="branches"
                    :placemarks="placemarks"
                />
            </div>
        </div>
        <cibModal v-model="showModal">
            <template #content>
                <div class="cardsInner__modal-content">
                    <div class="cardsInner__modal-text">
                        Ваша заявка успешно отправлена под номером <strong>{{ applicationNumber }}</strong>
                    </div>
                    <div class="cardsInner__button-wr">
                        <cibButton customClass="cardsInner__modal-button" color-theme="green" @click="showModal = false">Ок</cibButton>
                    </div>
                </div>
            </template>
        </cibModal>
    </div>
</template>

<script>
import cibButton from 'centrinvest-web-components/src/appComponents/Button'
import chooseOffices from '@/debet-karty/components/chooseOffices'
import cibModal from 'centrinvest-web-components/src/appComponents/components/cibModal'
import progressBar from '@/debet-karty/components/progressBar'
import requestNav from '@/debet-karty/components/requestNav'
import validationsStepCard from '@/debet-karty/helpers/vuelidate/validationsStepCard'
import cloneDeep from 'lodash/cloneDeep'
import { model } from '@/debet-karty/model/requestModel'
import { mapActions, mapGetters } from 'vuex'
import { mapFields } from 'vuex-map-fields'
import { validationMixin } from 'vuelidate'
import ApiClient from '@/debet-karty/apiClient'
export default {
    name: 'Request',
    mixins: [validationMixin],
    components: {
        cibButton,
        chooseOffices,
        cibModal,
        progressBar,
        requestNav
    },
    props: {
        stepPrefix: {
            type: String
        },
        requestTitle: {
            type: String
        }
    },
    data () {
        return {
            requiredFieldsCount: 0,
            invalidFieldsCount: 0,
            showModal: false,
            applicationNumber: 1,
            isSendPotential: sessionStorage.getItem('isSendPotential')
        }
    },
    async created () {
        this.setDataFromStorage()
        this.redirectToStep1()
        this.addUnloadEvent()
        this.currentStep = this.currentStepIndex
        this.setDefaultValues()
        if (this.onePage.data.title === 'Сервисная карта МИР') {
            await this.loadBranches()
        }
        this.setDefaultClassicDesign()
    },
    computed: {
        ...mapFields('card', [
            'onePage',
            'showPreloader'
        ]),
        ...mapFields('cardRequest', [
            'imagePreview',
            'model',
            'regions',
            'placemarks',
            'model.receivingData',
            'stepInfo',
            'currentStep',
            'isValidForPotential'
        ]),
        ...mapGetters('cardRequest', [
            'Step10',
            'Step20',
            'localities',
            'branches',
            'CustomDesign',
            'Step30',
            'isOfficeReceiving',
            'isDeliveryReceiving',
            'isIndividualDesign',
            'isRusCitizenship'
        ]),
        ...mapGetters('customDesign', [
            'isMirPaymentSystem'
        ]),
        ...mapGetters('card', [
            'isFanCard',
            'isChaykaCard',
            'isUniversalMirCard',
            'isUniversalCard',
            'isPensCard',
            'isHandballClubCard',
            'isSelfemployedCard',
            'isNarodCard',
            'isPremVisaCard',
            'isExclusiveVisaCard',
            'isServiceMirCard',
            'bgImgClass',
            'isNotChooseDesign',
            'cardDesigins'
        ]),
        stepInfoWithPrefix () {
            let stepInfo = [...this.stepInfo]
            stepInfo = stepInfo.map(item => {
                return {
                    name: `${this.stepPrefix}-${item.name}`
                }
            })
            return stepInfo
        },
        stepInfoPrefixMap () {
            const obj = {}
            const stepInfo = [...this.stepInfo]
            stepInfo.forEach(item => {
                obj[`${this.stepPrefix}-${item.name}`] = item.name
            })
            return obj
        },
        stepInfoMod () {
            const stepInfo = [...this.stepInfoWithPrefix]
            if (this.isNotChooseDesign) {
                const customDesignStepIndex = stepInfo.findIndex(item => {
                    return this.stepInfoPrefixMap[item.name] === 'CustomDesign'
                })
                stepInfo.splice(customDesignStepIndex, 1)
            }
            return stepInfo
        },
        currentStepName () {
            return this.$route.name
        },
        stepValidator () {
            return this.$v.validationGroup[this.stepInfoPrefixMap[this.currentStepName]]
        },
        currentStepIndex () {
            return this.stepInfoMod.findIndex(item => {
                return item.name === this.currentStepName
            })
        },
        lastStepIndex () {
            return this.stepInfoMod.length - 1
        },
    },
    methods: {
        ...mapActions('cardRequest', [
            'sendStepStat',
            'loadBranches',
            'sendMainCardRequest',
            'fixInstanceId'
        ]),
        setDefaultClassicDesign () {
            if (this.cardDesigins.length && this.cardDesigins.length === 1) {
                this.model.cardData.cardDesign = this.cardDesigins[0].title
            }
        },
        addUnloadEvent () {
            window.addEventListener('unload', () => {
                if (this.isValidForPotential && !this.isSendPotential) {
                    sessionStorage.setItem('isSendPotential', 'true')
                    navigator.sendBeacon(ApiClient.urls.potentialRequest, JSON.stringify(this.model))
                }
            })
        },
        setDataFromStorage () {
            let model = sessionStorage.getItem('model')
            this.isSendPotential = sessionStorage.getItem('isSendPotential')
            if (model) {
                model = JSON.parse(model)
                this.model = model
                this.fixInstanceId()
            }
            this.isValidForPotential = !this.$v.Step10.contactData.fullName.$invalid && !this.$v.Step10.contactData.phone.$invalid && !this.$v.Step10.contactData.agreement.$invalid
        },
        async sendRequest () {
            if (!this.$v.$invalid) {
                this.showPreloader = true
                await this.fixInstanceId()
                const response = await this.sendMainCardRequest(this.model)
                const applicationNumber = response.data.applicationNumber
                if (applicationNumber) {
                    this.applicationNumber = applicationNumber
                    this.showModal = true
                    this.model = cloneDeep(model)
                    this.$v.$reset()
                    const payload = {
                        step: 1000,
                        instanceId: response.data.instanceId,
                        target: this.onePage.data.title
                    }
                    await this.sendStepStat(payload)
                    await this.$router.push({ name: `${this.stepPrefix}-Step10` })
                    this.setDefaultValues()
                    sessionStorage.removeItem('model')
                    sessionStorage.removeItem('isSendPotential')
                } else {
                    this.$errorToast({
                        message: 'Ошбика отправки'
                    })
                }
                this.showPreloader = false
            }
        },
        redirectToStep1 () {
            if (this.$route.name === `${this.stepPrefix}-newCard` || this.$route.name === 'Home') {
                this.$router.push({ name: `${this.stepPrefix}-Step10` })
            }
        },
        setDefaultValues () {
            if (this.onePage.data.paymentSystems.length === 1) {
                this.model.cardData.cardClass = this.onePage.data.paymentSystems[0].title
            }
            const rub = this.onePage.data.currencies.find(cur => {
                return cur.slug === 'rub'
            })
            this.model.cardData.cardCurrency = rub.title
            this.model.cardData.cardTariff = this.onePage.data.title
        },
        modelHandler (payload) {
            const model = { ...payload }
            for (const receivingDataKey in this.receivingData) {
                for (const modelKey in model) {
                    if (receivingDataKey === modelKey) {
                        this.receivingData[receivingDataKey] = model[receivingDataKey]
                    }
                }
            }
        }
    },
    watch: {
        $route () {
            this.fixInstanceId()
            this.currentStep = this.currentStepIndex
            this.redirectToStep1()
            const payload = {
                step: this.$route.meta.logStep,
                instanceId: this.model.instanceId,
                target: this.onePage.data.title
            }
            this.sendStepStat(payload)
        },
        $v: {
            deep: true,
            immediate: true,
            handler () {
                this.isValidForPotential = !this.$v.Step10.contactData.fullName.$invalid && !this.$v.Step10.contactData.phone.$invalid && !this.$v.Step10.contactData.agreement.$invalid
            }
        },
        model: {
            deep: true,
            handler () {
                const model = cloneDeep(this.model)
                this.imagePreview = null
                sessionStorage.setItem('model', JSON.stringify(model))
            }
        },
        'model.cardData.cardClass' () {
            this.setDefaultClassicDesign()
        }
    },
    validations () {
        return validationsStepCard.call(this)
    }
}
</script>

<style scoped>

</style>
