<template>
    <div class="card-request__step-wrapper">
        <section class="card-request-step">
            <div class="card-request-step__row">
                <h3 class="card-inner-form__payment-title">
                    Выберите офис для получения карты
                </h3>
            </div>
            <div class="card-request-step__row" v-if="this.isFanCard">
                <cibInput
                    v-model="model.receivingData.method"
                    inputType="radio"
                    fieldName="cardReceivingMethod"
                    :itemsArr="cardReceivingMethodsMod"
                    labelForGroup="Способ получения"
                ></cibInput>
            </div>
            <chooseOffices
                v-if="isOfficeReceiving"
                :$v="$v.receivingData"
                :model-data="receivingData"
                @modelChanged="modelHandler"
                :regions="regions"
                :localities="localities"
                :branches="branches"
                :placemarks="placemarks"
            />
            <div class="card-request-step__row" v-if="isDeliveryReceiving">
                <cibInput
                    v-model="model.receivingData.deliveryAddress"
                    :validator="$v.receivingData.deliveryAddress"
                    fieldName="deliveryAddress"
                    labelText="Адрес доставки"
                    :errorMessage="{
                        required: 'Укажите адрес доставки'
                    }"
                    key="cardReceivingDeliveryAddress"
                    :disabled="this.isFanCard"
                ></cibInput>
            </div>
        </section>
    </div>
</template>

<script>
import stepMixin from '@/debet-karty/mixins/stepMixin'
import chooseOffices from '@/debet-karty/components/chooseOffices'
import { mapActions, mapGetters } from 'vuex'
import { mapFields } from 'vuex-map-fields'

export default {
    name: 'Step30',
    mixins: [stepMixin],
    async created () {
        await this.loadBranches()
    },
    mounted () {
        if (this.isFanCard) {
            this.model.receivingData.deliveryAddress = 'Дворец спорта'
        } else {
            this.model.receivingData.method = this.cardReceivingMethodsMod[0].value
        }
    },
    components: {
        chooseOffices
    },
    computed: {
        ...mapFields('cardRequest', [
            'cardReceivingMethods',
            'regions',
            'placemarks',
            'model.receivingData'
        ]),
        ...mapGetters('cardRequest', [
            'localities',
            'branches',
            'isOfficeReceiving',
            'isDeliveryReceiving'
        ]),
        ...mapGetters('card', [
            'isFanCard',
            'isHandballClubCard'
        ]),
        cardReceivingMethodsMod () {
            if (!this.isHandballClubCard) {
                return [this.cardReceivingMethods[0]]
            }
            return this.cardReceivingMethods
        }
    },
    methods: {
        ...mapActions('cardRequest', [
            'loadBranches'
        ]),
        modelHandler (payload) {
            const model = { ...payload }
            for (const receivingDataKey in this.receivingData) {
                for (const modelKey in model) {
                    if (receivingDataKey === modelKey) {
                        this.receivingData[receivingDataKey] = model[receivingDataKey]
                    }
                }
            }
        }
    }
}
</script>
