<template>
    <div class="card-request__step-wrapper">
        <section class="card-request-step">
            <div class="card-inner-form">
                <div class="card-inner-form__wr">
                    <div class="card-request-step__row card-request-step__row_flex card-request-step__row_big-margin">
                        <paymentSystems
                            v-model="model.cardData.cardClass"
                            :$v="$v.cardData.cardClass"
                            :payment-systems="onePage.data.paymentSystems"
                        />
                        <paymentCurrency
                            v-model="model.cardData.cardCurrency"
                            :$v="$v.cardData.cardCurrency"
                            :currencies="onePage.data.currencies"
                        />
                    </div>
                </div>
                <div class="card-request-step__row">
                    <cibInput
                        v-model.trim="model.contactData.fullName"
                        :validator="$v.contactData.fullName"
                        fieldName="fullName"
                        labelText="Фамилия Имя Отчество"
                        :replace-characters-reg-exp="/[^a-z-а-яё\-\s]/ig"
                        :errorMessage="{
                            required: 'Укажите Фамилию Имя Отчество',
                            rusAndLatinLetters: 'Только русские, латинские буквы и знаки препинания'
                        }"
                        key="fullName"
                    />
                </div>
                <div class="card-request-step__row">
                    <cibInput
                        v-model.trim="model.contactData.customTranslit"
                        :validator="$v.contactData.customTranslit"
                        fieldName="customTranslit"
                        labelText="Фамилия и Имя на карте"
                        :errorMessage="{
                            required: 'Укажите Фамилия и Имя на карте',
                            latinLetters: 'Только латинские буквы'
                        }"
                        key="customTranslit"
                    />
                </div>
                <div class="card-request-step__row card-request-step__row_grid">
                    <div class="card-request-step__col card-request-step__col_6">
                        <cibInput
                            v-model="model.contactData.phone"
                            :validator="$v.contactData.phone"
                            fieldName="contactPhoneNumber"
                            labelText="Контактный телефон"
                            mask="+7 (999) 999-99-99"
                            :mask-options="{
                                clearMaskOnLostFocus: true,
                                inputmode: 'tel',
                            }"
                            :errorMessage="{
                                required: 'Укажите номер телефона',
                                phone: 'Номер телефона должен содержать 11 цифр в формате +7 (999) 999-99-99'
                            }"
                            key="modelContactPhoneNumber"
                        />
                    </div>
                    <div class="card-request-step__col card-request-step__col_6">
                        <cibInput
                            v-model="model.contactData.email"
                            :validator="$v.contactData.email"
                            fieldName="contactDataEmail"
                            labelText="E-mail"
                            suggestionsApiMethod="emailSuggestions"
                            :errorMessage="{
                            required: 'Укажите email',
                            emailFullCheck: 'Некорректный Email. Пример: pochta@domain.ru'
                        }"
                            key="contactDataEmail"
                        ></cibInput>
                    </div>
                </div>
                <div class="card-request-step__row card-request-step__row_grid">
                    <div class="card-request-step__col card-request-step__col_6">
                        <cibInput
                            v-model="model.contactData.birthDate"
                            :validator="$v.contactData.birthDate"
                            fieldName="contactDataBirthDate"
                            labelText="Дата рождения"
                            :v-date-picker-support="true"
                            :v-max-date="disabledDates.min14Years"
                            mask="99.99.9999"
                            input-type="tel"
                            :errorMessage="{
                            required: 'Укажите дату рождения',
                            dateFormat: 'Введите корректную дату в формате \'xx.xx.xxxx\'',
                            maxPreviousDay : 'Нельзя указывать дату в будущем'
                        }"
                            key="contactDataBirthDate"
                        />
                    </div>
                    <div class="card-request-step__col card-request-step__col_6">
                        <cibInput
                            v-model="model.contactData.citizenship"
                            :validator="$v.contactData.citizenship"
                            inputTag="select"
                            fieldName="citizenship"
                            labelText="Гражданство"
                            :errorMessage="{
                                required: 'Необходимо указать гражданство'
                            }"
                            selectLabelPosition="inside"
                            key="citizenship"
                        >
                            <template #selectOptions>
                                <option v-for="option in citizenshipOptions" :value="option.value" :key="option.value">{{ option.text }}</option>
                            </template>
                        </cibInput>
                    </div>
                </div>
                <div class="card-request-step__row">
                    <cibInput
                        v-model="model.contactData.agreement"
                        :validator="$v.contactData.agreement"
                        fieldName="agreement"
                        inputType="checkbox"
                        checkboxSize="small"
                    >
                        <template #labelText>
                            <span>
                                Я согласен с обработкой моих данных в соответствии с федеральным законом Российской Федерации
                                <cibLink href="https://rg.ru/2006/07/29/personaljnye-dannye-dok.html" :blank="true">«О&nbsp;персональных данных»</cibLink>
                            </span>
                        </template>
                    </cibInput>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import stepMixin from '@/debet-karty/mixins/stepMixin'
import { mapFields } from 'vuex-map-fields'
import cyrillicToTranslit from 'cyrillic-to-translit-js'
import { mapGetters } from 'vuex'
import paymentSystems from '@/debet-karty/components/paymentSystems'
import paymentCurrency from '@/debet-karty/components/paymentCurrency'
export default {
    name: 'Step10',
    mixins: [stepMixin],
    components: {
        paymentSystems,
        paymentCurrency
    },
    computed: {
        ...mapFields('cardRequest', [
            'cardTypes',
            'cardCurrencyes',
            'citizenshipOptions',
            'model.isCustomNameOnCard'
        ]),
        ...mapGetters('customDesign', [
            'isMirPaymentSystem',
            'isVisaPaymentSystem'
        ]),
        ...mapFields('card', [
            'onePage'
        ]),
        customTranslit () {
            const fullName = this.model.contactData.fullName.replace(/  +/g, ' ')
            const firstName = fullName.split(' ')[0]
            const lastName = fullName.split(' ')[1]
            const string = `${lastName ? `${lastName} ` : ''}${firstName || ''}`
            const translit = new cyrillicToTranslit()
            const result = translit.transform(string).replace(/_/g, ' ')
            return result.toUpperCase()
        }
    },
    methods: {
    },
    watch: {
        'model.contactData.fullName' (n, o) {
            if (o) {
                this.model.contactData.customTranslit = this.customTranslit
            }
        },
        'model.contactData.customTranslit': {
            handler (n) {
                this.model.contactData.customTranslit = n.toUpperCase()
                this.isCustomNameOnCard = this.customTranslit !== n
            }
        },
        'model.cardData.cardClass' (n) {
            if (!(this.isMirPaymentSystem || this.isVisaPaymentSystem)) {
                this.model.cardData.cardDesign = null
            }
        },
        'model.cardData.cardTariff' (n) {
            this.model.cardData.cardClass = null
            this.model.cardData.cardCurrency = null
            this.model.cardData.cardDesign = null
        }
    }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/base';
.input-component {
    &__single-label {
        color: $grey;
        font-size: 18px;
        line-height: 1.2;
        display: inline-block;
        margin-bottom: 16px;
        font-weight: normal;

        &_required {
            &:before {
                content: '*';
                color: #f3001d;
                transition: color .3s ease;
                margin-right: 5px;
            }
        }
    }
    &__inputHint {
        line-height: 1.5;
        min-height: 24px;
        font-weight: normal;
        transition: all 0.3s;
        font-family: 'Roboto', sans-serif;
        &_hint {
            color: $grey_2;
        }
        &_error {
            color: #ff3860;
        }

    }
}
</style>
