<template>
    <div class="oneProgramm">
        <!-- <transition name="fadeLeave">
            <Loader v-if="!oneProgramm.dataReceived"/>
        </transition> -->
        <div class="oneProgramm__programm" v-if="oneProgramm.dataReceived">
            <div class="creditBiz-programm">
                <div class="creditBiz-programm__wr">
                    <div class="creditBiz-programm__img-wr">
                        <img :src="oneProgramm.data.picture" alt="" class="creditBiz-programm__img">
                    </div>
                    <div class="creditBiz-programm__content">
                        <h1 class="creditBiz-programm__caption">{{ oneProgramm.data.title }}</h1>
                        <div class="creditBiz-programm__description">{{ oneProgramm.data.short_description }}</div>
                        <div class="creditBiz-programm__characters">
                            <div class="creditBiz-programm__character creditBiz-programm__character_rate">
                                <p class="creditBiz-programm__label">ставка</p>
                                <p class="creditBiz-programm__value">{{ oneProgramm.data.rate }}</p>
                            </div>
                            <div class="creditBiz-programm__character creditBiz-programm__character_amount" v-if="oneProgramm.data.amount">
                                <p class="creditBiz-programm__label">сумма</p>
                                <p class="creditBiz-programm__value">{{ oneProgramm.data.amount }}</p>
                            </div>
                            <div class="creditBiz-programm__character creditBiz-programm__character_term">
                                <p class="creditBiz-programm__label">срок</p>
                                <p class="creditBiz-programm__value">{{ oneProgramm.data.term }}</p>
                            </div>
                        </div>
                        <div class="creditBiz-programm__buttons">
                            <cibButton
                                :href="'https://www.centrinvest.ru/cabinet/business-creditform/?prog=' + oneProgramm.data.slug"
                                customClass="creditBiz-programm__button"
                                @click.prevent="sendStat"
                                >
                                подать заявку
                                </cibButton>
                        </div>
                    </div>
                </div>
            </div>
            <div class="creditBiz-programm__table-wr" v-if="oneProgramm.data.programmTable.length">
                <h2>Условия предоставления кредита:</h2>
                <table>
                    <tbody>
                        <tr v-for="(tableItem, index) in oneProgramm.data.programmTable" :key="index">
                            <td v-html="tableItem.label"></td>
                            <td v-html="tableItem.value"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="creditBiz-programm__fullDesc" v-html="oneProgramm.data.full_description"></div>
            <div class="creditBiz__documents" v-if="oneProgramm.data.additional_info_content || oneProgramm.data.partners || oneProgramm.data.private_docs.length !== 0">
                <div class="dropdown-block">
                    <DropDown :caption="oneProgramm.data.additional_info_title" v-if="oneProgramm.data.additional_info_content">
                        <div v-html="oneProgramm.data.additional_info_content"></div>
                    </DropDown>
                    <DropDown :caption="'Партнеры'" v-if="oneProgramm.data.partners">
                        <div v-html="oneProgramm.data.partners"></div>
                    </DropDown>
                    <DropDown v-if="oneProgramm.data.private_docs.length !== 0" caption="Дополнительные документы" :dropDownDocs="oneProgramm.data.private_docs"></DropDown>
                </div>
            </div>
            <!-- <cibButton
                href="https://www.centrinvest.ru/cabinet/business-creditform/"
                customClass="creditBiz-programm__button"
            >
            подать заявку
            </cibButton> -->
            <FeedBack callCenterLabel="Кредитование бизнеса" @sendFeedBack="sendGoals" />

            <div class="creditBiz__documents" v-if="oneProgramm.data.common_docs.length !== 0">
                <h2 class="creditBiz__h2">Документы, необходимые для получения кредита</h2>
                <div class="dropdown-block">
                    <DropDown v-for="(docs, key) in oneProgramm.data.common_docs" :key="key" :caption="dictionary[key]" :dropDownDocs="docs"></DropDown>
                </div>
            </div>

            <div class="smallBusiness-requestBanner" v-if="oneProgramm.data.title === 'Трансформация бизнеса'">
                <div class="smallBusiness-requestBanner__row">
                    <div class="smallBusiness-requestBanner__col smallBusiness-requestBanner__col_left">
                        <div class="smallBusiness-requestBanner__title">Онлайн-касса<br> со встроенным эквайрингом БЕСПЛАТНО</div>
                        <div class="smallBusiness-requestBanner__subtitle">Для клиентов, которые сотрудничают с банком по РКО, кредитованию и эквайрингу.</div>
                        <div class="smallBusiness-requestBanner__note">
                            Банк бесплатно предоставит мобильную онлайн-кассу РАХ А930 со
                            встроенным эквайрингом для приема всех видов платежей, встроенным
                            принтером чеков и двумя сканерами QR и штрихкодов. Устройство включено в
                            реестр ККТ и соответствует 54-ФЗ. Акция действует до 30
                            сентября 2021.
                        </div>
                        <div class="smallBusiness-requestBanner__buttons-wr">
                            <cibButton
                                href="/cabinet/aqq-promo-online-cashbox/agreement"
                                customClass="smallBusiness-requestBanner__button smallBusiness-requestBanner__button_margin">
                                ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
                            </cibButton>
                            <cibButton
                                href="/cabinet/business-creditform/"
                                customClass="smallBusiness-requestBanner__button"
                                colorTheme="green-empty">
                                ПОДАТЬ ЗАЯВКУ НА КРЕДИТ
                            </cibButton>
                        </div>
                    </div>
                    <div class="smallBusiness-requestBanner__col smallBusiness-requestBanner__col_right">
                        <div class="smallBusiness-requestBanner__img-wr">
                            <img src="../assets/img/rkolite.jpg" alt="" class="smallBusiness-requestBanner__img">
                        </div>
                    </div>
                </div>
                <bs-banner description style="padding-top: 32px;"></bs-banner>
            </div>
        </div>
        <div class="oneProgramm__programm" v-else>Не найдена программа</div>
    </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import FeedBack from 'centrinvest-web-components/src/appComponents/FeedbackForm'
import DropDown from '../../components/DropDown'
import cibButton from 'centrinvest-web-components/src/appComponents/Button'
import BsBanner from '../components/BsBanner'

export default {
    name: 'creditBizInner',
    components: {
        FeedBack,
        DropDown,
        cibButton,
        BsBanner
    },
    metaInfo () {
        return {
            title: !this.oneProgramm.dataReceived ? 'Загрузка...' : `${this.oneProgramm.data.title} | Кредитование юридических лиц | ПАО коммерческий банк Центр-Инвест`,
            meta: [{
                    vmid: 'description',
                    name: 'description',
                    content: `${this.oneProgramm.data.title}, ${this.oneProgramm.data.rate}, ${this.oneProgramm.data.amount}, ${this.oneProgramm.data.term}. Отправьте заявку на бизнес кредитование на сайте. Информационная служба 8 800 200-99-29 | ПАО КБ «Центр-инвест»`
                },
                {
                    vmid: 'keywords',
                    name: 'keywords',
                    content: this.oneProgramm.data.title
                }
            ]
        }
    },
    data () {
        return {
            dictionary: {
                individual: 'Индивидуальному предпринимателю',
                legal: 'Юридическому лицу'
            }
        }
    },
    created () {
        window.scrollTo(0, 0)
        // this.scrollToTop(200)
        // this.getOneProgramm(this.$route.params.slug)
    },
    computed: {
        ...mapGetters([
            'oneProgramm',
            'allProgramms'
        ]),
        isOnlineCredit () {
            return this.oneProgramm.data.title === 'Онлайн кредит'
        }
    },
    methods: {
        ...mapActions([
            'getOneProgramm'
        ]),
        scrollToTop (scrollDuration) {
            const scrollStep = -window.scrollY / (scrollDuration / 15)
            const scrollInterval = setInterval(function () {
                if (window.scrollY !== 0) {
                    window.scrollBy(0, scrollStep)
                } else clearInterval(scrollInterval)
            }, 15)
        },
        async sendStat () {
            if (this.isOnlineCredit) {
                await new Promise((resolve) => {
                    try {
                        // eslint-disable-next-line no-undef
                        dataLayer.push({
                            event: 'clickbcreditButton'
                        })
                        // eslint-disable-next-line no-undef
                        yaCounter4814476.reachGoal('clickbcredit')
                    } catch (e) {
                        console.log(e)
                    }
                    resolve()
                })
            }
            window.location.href = `https://www.centrinvest.ru/cabinet/business-creditform/?prog=${this.oneProgramm.data.slug}`
        },
        sendGoals () {
            if (this.isOnlineCredit) {
                try {
                    // eslint-disable-next-line no-undef
                    dataLayer.push({
                        event: 'depositForm'
                    })
                    // eslint-disable-next-line no-undef
                    yaCounter4814476.reachGoal('businesscall')
                } catch (e) {
                    console.log(e)
                }
            }
        }
    }
}
</script>
<style lang="scss">

</style>
