<template>
    <section class="creditBiz">
        <h1 class="creditBiz__title">Кредитование бизнеса</h1>
        <bs-banner shadow></bs-banner>
        <!-- <div class="creditBiz__banner creditBiz-banner">
            <div class="creditBiz-banner__title">
                Онлайн кредит
            </div>
            <div class="creditBiz-banner__caption">
                Кредит без документов для бизнеса! За один день! На любые цели!
            </div>
            <ul class="creditBiz-banner__list creditBiz-banner-list">
                <li class="creditBiz-banner-list__item">Ставка от <span class="creditBiz-banner-list__span">12%</span> годовых</li>
                <li class="creditBiz-banner-list__item">Срок до <span class="creditBiz-banner-list__span">36</span> месяцев</li>
                <li class="creditBiz-banner-list__item">Рассмотрение заявки <span class="creditBiz-banner-list__span">1</span> день</li>
            </ul>
            <div class="button-container">
                <cibButton
                    href="/cabinet/business-creditform/"
                    color-theme="yellow"
                    :blank="true"
                >
                    подать заявку
                </cibButton>
            </div>
        </div> -->
        <div class="creditBiz__filters-wr">
            <div class="creditBiz__filters creditBiz-filters">
                <div
                    class="btn creditBiz-filters__filter"
                    :class="{ 'creditBiz-filters__filter_active': filters.currentFilter == filter.id}"
                    v-for="(filter) in filters.list"
                    :key="filter.id"
                    @click="filterProgramms(filter.id)"
                    >{{ filter.title }}</div>
            </div>
        </div>
        <div class="creditBiz__programms creditBiz-programms">
            <transition-group name="fade" mode="out-in">
            <div class="creditBiz-programm" v-for="(programm, index) in allProgramms.filteredList" :key="`index-${index}`">
                <div class="creditBiz-programm__wr">
                    <div class="creditBiz-programm__img-wr">
                        <router-link :to="{ name: 'Внутренняя страница кредитования ЮЛ', params: {slug: programm.slug} }" class="creditBiz-programm__caption creditBiz-programm__caption_mobile">{{ programm.title }}</router-link>
                        <router-link :to="{ name: 'Внутренняя страница кредитования ЮЛ', params: {slug: programm.slug} }" class="creditBiz-programm__img-link">
                            <img :src="programm.picture" alt="" class="creditBiz-programm__img">
                        </router-link>
                    </div>
                    <div class="creditBiz-programm__content">
                        <router-link :to="{ name: 'Внутренняя страница кредитования ЮЛ', params: {slug: programm.slug} }" class="creditBiz-programm__caption">{{ programm.title }}</router-link>
                        <div class="creditBiz-programm__description">{{ programm.short_description }}</div>
                        <div class="creditBiz-programm__characters">
                            <div class="creditBiz-programm__character creditBiz-programm__character_rate">
                                <p class="creditBiz-programm__label">ставка</p>
                                <p class="creditBiz-programm__value">{{ programm.rate }}</p>
                            </div>
                            <div class="creditBiz-programm__character creditBiz-programm__character_amount" v-if="programm.amount">
                                <p class="creditBiz-programm__label">сумма</p>
                                <p class="creditBiz-programm__value">{{ programm.amount }}</p>
                            </div>
                            <div class="creditBiz-programm__character creditBiz-programm__character_term">
                                <p class="creditBiz-programm__label">срок</p>
                                <p class="creditBiz-programm__value">{{ programm.term }}</p>
                            </div>
                        </div>
                        <div class="creditBiz-programm__buttons">
                            <cibButton
                                :href="gererateUrlToApplication(programm)"
                                customClass="creditBiz-programm__button"
                            >
                                подать заявку
                            </cibButton>
                            <router-link :to="{ name: 'Внутренняя страница кредитования ЮЛ', params: {slug: programm.slug} }" class="linkWithArrow">Подробнее <svg width="12" height="8" viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.3536 4.35355C11.5488 4.15829 11.5488 3.84171 11.3536 3.64645L8.17157 0.464466C7.97631 0.269204 7.65973 0.269204 7.46447 0.464466C7.2692 0.659728 7.2692 0.976311 7.46447 1.17157L10.2929 4L7.46447 6.82843C7.2692 7.02369 7.2692 7.34027 7.46447 7.53553C7.65973 7.7308 7.97631 7.7308 8.17157 7.53553L11.3536 4.35355ZM0 4.5L11 4.5V3.5L0 3.5L0 4.5Z" />
                                </svg>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
            </transition-group>
        </div>
        <div class="program-akselerator">
            <h2 class="program-akselerator__title">Бесплатный акселератор для бизнеса</h2>
            <div class="program-block">
                <a class="program-block__link" href="https://acc.centrinvest.ru" target="_blank">
                Пройди акселерацию за один месяц
                </a>
                <p class="program-block__text">
                15 сессий по 3 часа с экспертами акселератора
                помогут вывести проекты на новый уровень
                </p>
            </div>
            <div class="block-course">
                <div class="block-course__wrapper">
                <h3 class="block-course__title">
                    Программы курса
                </h3>
                <ul class="block-course__list">
                    <li class="block-course__element">Бизнес-план</li>
                    <li class="block-course__element">Анализ рынка и конкурентов</li>
                    <li class="block-course__element">Маркетинг и SMM</li>
                    <li class="block-course__element">Продажи и аналитика</li>
                    <li class="block-course__element">Финансы и учет</li>
                    <li class="block-course__element">Управление персоналом</li>
                    <li class="block-course__element">Юридическая защита бизнеса</li>
                </ul>
                <a class="block-course__btn" href="https://acc.centrinvest.ru#sendrequest" target="_blank">Подать заявку</a>
                </div>
            </div>
        </div>
        <FeedBack callCenterLabel="Кредитование бизнеса"/>
        <div class="creditBiz__documents">
            <h2 class="creditBiz__h2">Документы, необходимые для получения кредита</h2>
            <div class="dropdown-block">
                <DropDown v-for="(docs, key) in allDocs.list" :key="key" :caption="dictionary[key]" :dropDownDocs="docs"></DropDown>
            </div>
        </div>
    </section>

</template>
<script>
import FeedBack from 'centrinvest-web-components/src/appComponents/FeedbackForm'
import DropDown from '../../components/DropDown'
import { mapGetters, mapActions } from 'vuex'
import cibButton from 'centrinvest-web-components/src/appComponents/Button'
import BsBanner from '../components/BsBanner'

export default {
    name: 'creditBiz',
    components: {
        FeedBack,
        DropDown,
        cibButton,
        BsBanner
    },
    metaInfo: {
        title: 'Кредитование малого бизнеса и индивидуальных предпринимателей > Ростовская область | ПАО коммерческий банк Центр-инвест',
        meta: [{
            vmid: 'description',
            name: 'description',
            content: 'Кредитные программы для финансирование предприятий малого бизнеса и индивидуальных предпринимателей в любом филиале ПАО КБ «Центр-инвест» по региону по региону Ростовская область'
        },
        {
            vmid: 'keywords',
            name: 'keywords',
            content: 'Программы кредитования бизнеса Ростовская область'
        }]
    },
    data () {
        return {
            dictionary: {
                individual: 'Индивидуальному предпринимателю',
                legal: 'Юридическому лицу'
            }
        }
    },
    created () {
        this.getData()
    },
    computed: {
        ...mapGetters([
            'allProgramms',
            'filters',
            'docsReceived',
            'allDocs'
        ]),
        bizTransformRate () {
            const prog = this.allProgramms.list.find(prog => {
                return prog.id === 'c5b6dd3b-9f62-11ea-a048-ee71e529c769'
            })
            return prog ? prog.rate.split(' ')[1] : null
        }
    },
    methods: {
        ...mapActions([
            'filterProgramms',
            'getData'
        ]),
        gererateUrlToApplication (programm) {
            return `https://www.centrinvest.ru/cabinet/business-creditform/?prog=${programm.slug}`
        }
    }
}
</script>
<style lang="scss">
    @import '../assets/CreditBiz';
</style>
