@import '../../assets/styles/base.scss';
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

$green: #50b848;
$green2: #39B54A;

@mixin row($margin: 15px) {
    margin-left: -$margin;
    margin-right: -$margin;
    display: flex;
    flex-wrap: wrap;
}

@mixin col($size, $margin: 15px) {
    margin-left: $margin;
    margin-right: $margin;
    width: calc(100% / 12 * #{$size} - #{$margin} * 2);
}

.caption {
    margin-bottom: 15px;
}

.filters {
    margin: 25px 0;
    &__filter {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        label {
            display: block;
            margin: 10px 10px 10px 0;
        }
        input {
            height: 50px;
            font-size: 17px;
            font-weight: 500;
            color: #555555;
            font-family: inherit;
            border: 1px solid #999999;
            width: 100%;
            box-sizing: border-box;
            padding: 14px 12px;
            color: #333;
            &:focus {
                outline: 0;
            }
        }
    }
}

.result-list {
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    &__category {
        border-top: 1px solid #b3b3b3;
        &:first-of-type {
            border-top: 0;
        }
    }
    &__caption {
        font-size: 18px;
        line-height: 20px;
        padding: 15px 50px 15px 15px;
        cursor: pointer;
        position: relative;
        white-space: initial;
        &:before {
             content: '';
             width: 12px;
             height: 12px;
             background: url('../assets/carousel-right-green.svg') center center no-repeat;
             position: absolute;
             top: 50%;
             right: 20px;
             transform: translate(0, -50%) rotate(0deg);
             transition: transform .3s;
        }
        &_open {
            &:before {
                transform: translate(0, -50%) rotate(90deg)
            }
        }
    }
    &__border-caption {
        display: inline;
        border-bottom: 1px solid #666;
        padding: 2px 0;
        box-sizing: border-box;
        line-height: 1.3;
    }
    &__row {
        @include row();
        @media screen and (max-width: 480px) {
            @include row(0px);
        }
    }
    &__coins {
        padding: 15px;
    }
    &__cost-category {
        padding: 10px 0;
    }
    &__empty {
        display: block;
        padding: 15px;
    }
    &__items-count {
        color: #666;
    }
}

.coin {
    @include row();
    @include col(6, 0px);
    @media screen and (max-width: 480px) {
        @include row(5px);
    }
    @media screen and (max-width: 700px) {
        font-size: 14px;
        @include col(12, 0px);
    }
    &__img {
        @include col(4);
        margin-top: 5px;
        margin-bottom: 5px;
        img {
            max-width: 100%;
        }
        @media screen and (max-width: 480px) {
            @include col(3, 5px);
        }
    }
    &__description {
        @include col(8);
        @media screen and (max-width: 480px) {
            @include col(9, 5px);
        }
    }
    &__link {
        font-size: 18px;
        line-height: 23px;
        border-bottom: 1px solid #e0e0e0;
        color: $green
    }
    &__table {
        td {
            padding: 5px;
        }
    }
}

.toggleButton {
    margin: 15px 0;
    text-align: center;
    &__button {
        display: inline-block;
        font-size: 18px;
        padding-bottom: 3px;
        cursor: pointer;
        border-bottom: 1px dotted;
    }
}

.coins {
    &__button-row {
        display: flex;
        justify-content: center;
        margin: 30px 0;
    }
    &__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        font-size: 46px;
        line-height: 1.4;
        letter-spacing: 0.5px;
        color: $grey;
        margin-bottom: 26px;
        @media (max-width: 768px) {
            font-size: 6.8vw;
        }
        @media (max-width: 480px) {
            font-size: 9vw;
        }
    }
    &__text {
        margin-bottom: 16px;
    }
}