<template>
    <div>
        <TheNavbar />
        <TheBanner />
        <TheBenefits />
        <TheCards />
        <TheOrderCard />
        <TheFaq />
        <TheDocs />
        <TheFooter />
    </div>
</template>

<script>
export default {
    name: 'Home',
    components: {
        TheNavbar: () => import('@/child-card/components/TheNavbar.vue'),
        TheBanner: () => import('@/child-card/components/TheBanner.vue'),
        TheBenefits: () => import('@/child-card/components/TheBenefits.vue'),
        TheOrderCard: () => import('@/child-card/components/TheOrderCard.vue'),
        TheFaq: () => import('@/child-card/components/TheFaq.vue'),
        TheDocs: () => import('@/child-card/components/TheDocs.vue'),
        TheFooter: () => import('@/child-card/components/TheFooter.vue'),
        TheCards: () => import('@/child-card/components/TheCards.vue'),
    },
    metaInfo: {
        title: 'Детская карта',
        meta: [{
            vmid: 'description',
            name: 'description',
            content: 'Оформить детскую карту в Ростове-на-Дону'
        }, {
            vmid: 'keywords',
            name: 'keywords',
            content: 'Детская карта Ростовская область'
        }]
    }
};
</script>
