<template>
    <div class="cards__cardBlock card-block-info">
        <div class="card-block-info__wr">
            <div class="card-block-info__img-wr">
                <a href="#" class="card-block-info__caption card-block-info__caption_mobile">{{ cardBlockParams.title }}</a>
                <a href="#" class="card-block-info__img-link">
                    <img :src="require(`../assets/img/${cardBlockParams.image}`)" alt="" class="card-block-info__img">
                </a>
            </div>
            <div class="card-block-info__content">
                <router-link :to="{ name: 'innerPage', params: { slug: translit(cardBlockParams.title)} }" class="card-block-info__caption">{{ cardBlockParams.title }}</router-link>
                <div class="card-block-info__description">Данный продукт отлично подходит клиентам, которые используют карту</div>
                <div class="card-block-info__characters">
                    <div class="card-block-info__character card-block-info__character_amount">
                        <p class="card-block-info__label">Лимит (мин)</p>
                        <p class="card-block-info__value">30 000 ₽</p>
                    </div>
                    <div class="card-block-info__character card-block-info__character_rate">
                        <p class="card-block-info__label">Ставка*</p>
                        <p class="card-block-info__value">0%</p>
                    </div>
                    <div class="card-block-info__character card-block-info__character_term">
                        <p class="card-block-info__label">Срок</p>
                        <p class="card-block-info__value">1 год</p>
                    </div>
                </div>
                <div class="card-block-info__buttons">
                    <cibButton href="#">Оформить</cibButton>
                    <router-link :to="{ name: 'innerPage', params: { slug: translit(cardBlockParams.title)} }" class="linkWithArrow">Подробнее <svg width="12" height="8" viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.3536 4.35355C11.5488 4.15829 11.5488 3.84171 11.3536 3.64645L8.17157 0.464466C7.97631 0.269204 7.65973 0.269204 7.46447 0.464466C7.2692 0.659728 7.2692 0.976311 7.46447 1.17157L10.2929 4L7.46447 6.82843C7.2692 7.02369 7.2692 7.34027 7.46447 7.53553C7.65973 7.7308 7.97631 7.7308 8.17157 7.53553L11.3536 4.35355ZM0 4.5L11 4.5V3.5L0 3.5L0 4.5Z" />
                        </svg>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import cibButton from 'centrinvest-web-components/src/appComponents/Button'
import cibLink from 'centrinvest-web-components/src/appComponents/link'
import cyrillicToTranslit from 'cyrillic-to-translit-js'
export default {
    props: {
        cardBlockParams: {
            type: Object
        }
    },
    components: {
        cibButton,
        cibLink
    },
    methods: {
        translit (string) {
            const translit = new cyrillicToTranslit()
            return translit.transform(string, '_').toLowerCase()
        }
    }
}
</script>

<style>

</style>
