<template>
    <div class="cards__typeContent cardsTypeContent">
        <!-- <transition-group name="fademy" mode="in-out" tag="div"> -->
            <div class="cardsTypeContent__type" v-for="(type, key) in cardBlockParams" :key="key" v-show="key === cardType">
                <cardBlock v-for="(param, index) in cardBlockParams[key]" :key="index" :cardBlockParams="param"></cardBlock>
            </div>
        <!-- </transition-group> -->
    </div>
</template>

<script>
import cardBlock from './cardBlock'
import { mapFields } from 'vuex-map-fields'
export default {
    components: {
        cardBlock
    },
    data () {
        return {
            cardBlockParams: {
                universal: [{
                        image: 'image1.png',
                        title: 'Универсальная карта Мир'
                    },
                    {
                        image: 'image8.png',
                        title: 'Универсальная VisaClassic'
                    },
                    {
                        image: 'image9.png',
                        title: 'Универсальная Mastercard'
                    }
                ],
                premium: [{
                        image: 'image1.png',
                        title: 'Премиальная карта Мир'
                    },
                    {
                        image: 'image8.png',
                        title: 'Премиальная VisaClassic'
                    },
                    {
                        image: 'image9.png',
                        title: 'Премиальная Mastercard'
                    }
                ],
                exclusive: [{
                        image: 'image1.png',
                        title: 'Эксклюзивная карта Мир'
                    },
                    {
                        image: 'image8.png',
                        title: 'Эксклюзивная VisaClassic'
                    },
                    {
                        image: 'image9.png',
                        title: 'Эксклюзивная Mastercard'
                    }
                ]
            }
        }
    },
    computed: {
        ...mapFields([
            'cardType'
        ])
    }
}
</script>

<style lang="scss">
.fademy-enter-active, .fademy-leave-active {
  transition: opacity .5s;
}
.fademy-enter, .fademy-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
</style>
