<template>
    <div class="cards__type cards-type">
        <div class="cards-type__scroll-wrapper">
            <div class="cards-type__wrapper" ref="cardTypesWrapper" :style="cardTypesWrapperCss">
                <div class="cards-type__item" :class="{ 'cards-type__item_active': currentcardTypesElem.index === index }" :data-type="cardType.id" ref="cardTypes" v-for="(cardType, index) in cardTypes" :key="cardType.id" @click="setcardTypes(cardType.id)">
                    {{ cardType.name }}
                </div>
                <div class="cards-type__border"></div>
                <div class="cards-type__line" :style="cardTypesLineCss"></div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapFields } from 'vuex-map-fields'
export default {
    data () {
        return {
            cardTypes: [{
                    id: 'universal',
                    name: 'Универсальная'
                },
                {
                    id: 'premium',
                    name: 'Премиальная'
                },
                {
                    id: 'exclusive',
                    name: 'Эксклюзивная'
                }
            ],
            cardTypesLineCss: {
                transform: 'translateX(0px)',
                width: '100px'
            },
            cardTypesWrapperCss: {
                transform: 'translateX(0px)'
            },
            currentcardTypesElem: {
                elem: null,
                index: null
            }
        }
    },
    computed: {
        ...mapFields([
            'cardType'
        ])
    },
    methods: {
        getCurrentcardTypes () {
            this.currentcardTypesElem.elem = this.$refs.cardTypes.find(elem => {
                return elem.dataset.type === this.cardType
            })
            this.currentcardTypesElem.index = this.$refs.cardTypes.findIndex(elem => {
                return elem.dataset.type === this.cardType
            })
        },
        setcardTypes (id) {
            this.cardType = id
            this.getCurrentcardTypes()
        },
        cardTypesLineAction () {
            const width = this.currentcardTypesElem.elem.offsetWidth
            const offsetLeft = this.currentcardTypesElem.elem.offsetLeft
            this.cardTypesLineCss.width = `${width}px`
            this.cardTypesLineCss.transform = `translate(${offsetLeft}px)`
        }
    },
    watch: {
        'currentcardTypesElem.elem' () {
            this.cardTypesLineAction()
        }
    },
    mounted () {
        this.$nextTick(() => {
            this.getCurrentcardTypes()
        })
    }
}
</script>

<style>

</style>
