
<template>
    <div class="breadCrumbs">
        <ul class="breadCrumbs__row">
            <li class="breadCrumbs__item" v-for="(item, index) in bitrixBreadCrumbs" :key="`bc${index}`">
                <a :href="item.url" class="breadCrumbs__link" v-html="item.text"></a>
                <span class="breadCrumbs__separator">/</span>
            </li>
            <li class="breadCrumbs__item" v-for="(link, index) in bcLinksData" :key="index">
                <router-link :to="{ path: link.path}" v-if="index < bcLinksData.length - 1" class="breadCrumbs__link" v-html="link.linkText"></router-link>
                <span v-else class="breadCrumbs__link breadCrumbs__link_last" v-html="link.linkText"></span>
                <span class="breadCrumbs__separator" v-if="index < bcLinksData.length - 1">/</span>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    props: {
        bitrixBreadCrumbs: {
            type: Array,
            default: () => {
                return []
            }
        },
        vuexModule: {
            type: String,
            default: ''
        }
    },
    data () {
        return {
            pathsArr: []
        }
    },
    created () {
        this.parseUrl()
    },
    computed: {
        bcLinksData () {
            const bcLinksData = []
            this.pathsArr.forEach((item) => {
                const routeData = this.$router.match(item)
                let linkText = routeData.meta.bcLinkText
                if (typeof routeData.meta.bcLinkText === 'function') {
                    const linkName = this.$store.getters[`${this.vuexModule ? `${this.vuexModule}/` : ''}${routeData.meta.getter}`].data.title
                    linkText = routeData.meta.bcLinkText(linkName)
                }
                bcLinksData.push({
                    path: routeData.fullPath,
                    linkText: linkText
                })
            })
            return bcLinksData
        }
    },
    methods: {
        parseUrl () {
            let path = this.$route.fullPath.replace(/(\?.*)/ig, '')
            path = path.split('/')
                    .filter((item, i, arr) => {
                        return i !== arr.length - 1 || item !== ''
                    })
                    .map((item, i, arr) => {
                        if (i === 0 && arr.length > 1) {
                            return '/'
                        } else {
                            return `${item}/`
                        }
                    })
            const pathsArr = ['/']
            path.reduce((str, current) => {
                pathsArr.push(`${str}${current}`)
                return `${str}${current}`
            })
            this.pathsArr = pathsArr
        }
    },
    watch: {
        '$route' () {
            this.parseUrl()
        }
    }
}
</script>

<style lang="scss">
    .breadCrumbs {
        &__row {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            padding: 0;
        }
        &__separator {
            margin: 0 5px;
        }
        &__item {
            font-size: 12px;
            color: #575757;
            margin-bottom: 5px;
        }
        &__link {
            border-bottom: 1px solid #e0e0e0;
            color: #575757;
            text-decoration: none;
            font-size: 12px;
            &_last {
                color: #7a7a7a;
                border-bottom: 0;
            }
        }
    }
</style>
