<template>
  <div class="dropdown-item">
    <div class="dropdown-item__caption" :class="{'dropdown-item__caption_open' : state }" @click="toggleCaption()">
      {{ dropdownCaption }}
    </div>
    <transition
      @before-enter="beforeEnter"
      @enter="enter"
      @leave="leave"
      :css="false">
      <div class="dropdown-item__content" v-show="state">
        <div class="dropdown-item__content-wr">
          <slot>
            <ul class="dropdown-item__list">
              <li v-for="(doc, index) in docs" :key="index" class="dropdown-item__list-item">
                <a :href="doc.link" :class="`dropdown-item__list-link dropdown-item__list-link_${getExtention(doc.fileName)}`">{{ doc.title }}</a>
              </li>
            </ul>
          </slot>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import Velocity from 'velocity-animate'
export default {
    props: {
        caption: {
            type: String,
            default: 'Заголовок'
        },
        dropDownDocs: {
            type: Array,
            default: () => {
                return []
            }
        }
    },
    data () {
        return {
            height: null,
            state: false
        }
    },
    computed: {
        dropdownCaption () {
            return this.caption
        },
        docs () {
            return this.dropDownDocs
        }

    },
    methods: {
        toggleCaption () {
            this.state = !this.state
        },
        beforeEnter (el) {
            el.style.display = 'block'
            this.height = el.getBoundingClientRect().height
            el.style.height = '0'
            el.style.overflow = 'hidden'
        },
        enter (el, done) {
            Velocity(el, {
                height: this.height
            }, {
                duration: 300,
                complete () {
                    done()
                    el.removeAttribute('style')
                    el.style.overflow = 'hidden'
                }
            })
        },
        leave (el, done) {
            Velocity(el, {
                height: 0
            }, {
                duration: 300,
                complete () {
                    done()
                    el.removeAttribute('style')
                    el.style.display = 'none'
                }
            })
        },
        getExtention (filename) {
            return (/[.]/.exec(filename)) ? /[^.]+$/.exec(filename)[0] : undefined
        }
    }
}
</script>

<style lang="scss">
@import 'centrinvest-web-components/src/assets/styles/base/vars.scss';
    .dropdown-item {
        border-top: 1px solid #b3b3b3;

        &:first-child {
            border: 0;
        }

        &__content {
            line-height: 1.3
        }

        &__caption {
            display: block;
            position: relative;
            padding: 15px 50px 15px 30px;
            margin: 0;
            font-size: 20px;
            color: #333;
            cursor: pointer;

            &:before {
                content: "";
                background: url(../assets/img/carousel-right-green.svg) 50% no-repeat;
                width: 17px;
                height: 17px;
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
                transition: all .3s;
            }

            &_open {
                &:before {
                    transform: translateY(-50%) rotate(90deg);
                }
            }
        }
        table {
            th {
                text-align: center;
            }

        }
        .large-table {
            td {
                border: 1px solid $grey;
            }
        }

        &__content-wr {
            padding: 30px;
        }

        &__list-item {
            display: block;
            margin-bottom: 35px;

            &:last-child {
                margin-bottom: 0
            }
        }

        &__list-link {
            position: relative;
            padding-left: 45px;
            color: #333;
            display: inline-block;
            text-decoration: none;
            transition: color 0.3s;

            &:hover {
                color: #50b848;
            }

            &:before {
                content: "";
                width: 40px;
                height: 40px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }

            &_doc,
            &_docx {
                &:before {
                    background: url(../assets/img/doc.svg) center center/contain no-repeat;
                }
            }

            &_xls,
            &_xlsx {
                background: url(../assets/img/xls.svg) center center/contain no-repeat;
            }

            &_pdf {
                background: url(../assets/img/pdf.svg) center center/contain no-repeat;
            }

            &_jpg {
                background: url(../assets/img/jpg.svg) center center/contain no-repeat;
            }
        }

        ul {
            li {
                &:not(.dropdown-item__list-item) {
                    padding-left: 20px;
                    margin: 10px 0;
                    position: relative;

                    &:before {
                        content: '';
                        width: 6px;
                        height: 6px;
                        position: absolute;
                        left: 6px;
                        top: 6px;
                        border-radius: 50%;
                        background: $green;
                    }
                }

            }
        }
    }

</style>
