<template>
    <div :id="ymapId"></div>
</template>

<script>
export default {
    data () {
        return {
            ymapId: 'ymap' + Math.round(Math.random() * 100000),
            myMap: null,
            placemarkManager: {},
            scriptAttached: false,
            ymapReady: false,
            placemarkCoordinates: [],
            closestObjectObtained: false
        }
    },
    props: {
        coords: {
            type: Array,
            required: true
        },
        zoom: {
            validator: (val) => {
                return !isNaN(val)
            },
            default: 18
        },
        clusterOptions: {
            type: Object,
            default: () => {
                return {
                    1: {
                        clusterDisableClickZoom: true
                    }
                }
            }
        },
        objectIconOptions: {
            type: Object,
            default: () => {
                return {
                    iconLayout: 'default#image',
                    iconImageHref: require('@/debet-karty/assets/img/off-mark.png'),
                    iconImageSize: [28, 32],
                    iconImageOffset: [-14, -16]
                }
            }
        },
        clusterIconPreset: {
            type: Object,
            default: () => {
                return {
                    preset: 'islands#invertedDarkBlueClusterIcons'
                }
            }
        },
        urlIconGeolocation: {
            type: String,
            default: require('@/debet-karty/assets/img/geolocation.png')
        },
        behaviors: {
            type: Array,
            default: () => {
                return ['default']
            }
        },
        controls: {
            type: Array,
            default: () => {
                return ['default']
            }
        },
        scrollZoom: {
            type: Boolean,
            default: true
        },
        zoomControl: {
            type: Object,
            default () {
                return {}
            }
        },
        zoomControlPosition: {
            type: Object,
            default: () => {
                return {}
            }
        },
        mapType: {
            type: String,
            default: 'map',
            validator: (val) => {
                return ['map', 'satellite', 'hybrid'].includes(val)
            }
        },
        placemarks: {
            type: Object,
            default: () => {
                return {}
            }
        },
        geocodeValue: {
            type: String,
            default: ''
        },
        selectedPlacemarkId: {
            default: ''
        },
        findClosest: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        coordinates () {
            return this.coords.map(item => +item)
        }
    },
    methods: {
        init () {
            this.placemarkManager = new ymaps.ObjectManager({ clusterize: true })
            this.placemarkManager.objects.options.set(this.objectIconOptions)
            this.placemarkManager.clusters.options.set(this.clusterIconPreset)
            this.placemarkManager.objects.events.add('click', (e) => {
                this.$emit('ym-object-clicked', e._sourceEvent.originalEvent)
            })
            const stateMonitor = new ymaps.Monitor(this.placemarkManager.clusters.state)
            stateMonitor.add('activeObject', (activeObject) => {
                this.$emit('ym-object-clicked', {
                    objectId: activeObject.id
                })
            })
            this.myMap = new ymaps.Map(this.ymapId, {
                center: this.coordinates,
                zoom: +this.zoom,
                behaviors: this.behaviors,
                controls: this.controls,
                type: 'yandex#' + this.mapType
            })
            if (this.zoomControl) {
                this.myMap.controls.remove('zoomControl')
                this.myMap.controls.add(new ymaps.control.ZoomControl(this.zoomControl))
            }
            if (this.scrollZoom === false) {
                this.myMap.behaviors.disable('scrollZoom')
            }

            this.refreshPlacemarks()
            this.geolocation()
            this.$emit('ym-map-initialized', this.myMap)
        },
        refreshPlacemarks () {
            if (this.myMap !== null) {
                if (this.placemarks.hasOwnProperty('features') && this.placemarks.features.length > 0) {
                    this.placemarkManager.removeAll()
                    this.placemarkManager.add(this.placemarks)
                }
                this.myMap.geoObjects.add(this.placemarkManager)
                this.openBaloon(this.selectedPlacemarkId)
            }
        },
        geolocation () {
            if (!this.selectedPlacemarkId) {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition((position) => {
                            this.myMap.setCenter([position.coords.latitude, position.coords.longitude], +this.zoom)
                            this.setMyPlacemark([position.coords.latitude, position.coords.longitude])
                        },
                        () => {
                            this.yaLocation()
                        }
                    )
                } else {
                    console.log('no navigator.geolocation')
                    this.yaLocation()
                }
            }
        },
        yaLocation () {
            ymaps.geolocation.get({ provider: 'yandex' })
                .then((result) => {
                    this.setMyPlacemark(result.geoObjects.position)
                })
                .catch((error) => {
                    console.error(error)
                    this.setMyPlacemark(this.coordinates)
                })
        },
        setMyPlacemark (placemarkCoordinates) {
            this.placemarkCoordinates = placemarkCoordinates
            const myPlacemark = new ymaps.Placemark(this.placemarkCoordinates, {}, {
                iconLayout: 'default#image',
                iconImageHref: this.urlIconGeolocation,
                iconImageSize: [24, 24],
                iconImageOffset: [-12, -12]
            })
            this.myMap.geoObjects.add(myPlacemark)
            this.myMap.setCenter(this.placemarkCoordinates, +this.zoom)
            this.obtainClosest()
        },
        obtainClosest () {
            if (this.placemarks.hasOwnProperty('features') && this.placemarks.features.length > 0 && this.placemarkCoordinates.length > 0) {
                const geoQuery = ymaps.geoQuery(JSON.stringify(this.placemarks))
                const closest = geoQuery.getClosestTo(this.placemarkCoordinates)
                if (closest) {
                    this.$emit('ym-closest-object-obtained', closest)
                }
            }
        },
        async openBaloon (placemark) {
            if (placemark && this.placemarkManager.objects) {
                const o = await this.placemarkManager.objects.getById(placemark)
                if (o) {
                    await this.myMap.setCenter(o.geometry.coordinates, this.zoom)
                    await this.placemarkManager.objects.balloon.open(placemark)
                }
            }
        }
    },
    watch: {
        coordinates (newVal) {
            if (this.myMap !== null) {
                this.myMap.setCenter && this.myMap.setCenter(newVal, this.zoom)
            }
        },
        placemarks (newVal, oldVal) {
            this.refreshPlacemarks()
            this.obtainClosest()
        },
        geocodeValue (newVal, oldVal) {
            if (newVal !== '' && typeof ymaps !== 'undefined' && typeof ymaps.geocode === 'function') {
                ymaps.geocode(this.geocodeValue).then((result) => {
                    this.myMap.setCenter(result.geoObjects.get(0).geometry._coordinates, this.zoom)
                })
            } else {
                console.log('Skip geocode!')
            }
        },
        selectedPlacemarkId (newVal, oldVal) {
            this.$nextTick(async () => {
                await this.openBaloon(newVal)
            })
        },
        findClosest (n, o) {
            if (!o && n) {
                this.obtainClosest()
            }
        }
    },
    beforeMount () {
        const script = document.querySelector('#yandexMap')
        if (script) {
            console.log(script)
            script.parentNode.removeChild(script)
        }
        if (!this.scriptAttached) {
            const yandexMapScript = document.createElement('SCRIPT')
            yandexMapScript.setAttribute('src', 'https://api-maps.yandex.ru/2.1/?lang=ru_RU')
            yandexMapScript.setAttribute('async', '')
            yandexMapScript.setAttribute('defer', '')
            yandexMapScript.setAttribute('id', 'yandexMap')
            document.body.appendChild(yandexMapScript)
            yandexMapScript.onload = () => {
                this.scriptAttached = true
                this.ymapReady = true
                ymaps.ready(this.init)
            }
        } else {
            return false
        }
    }
}

</script>
