<template> 
    <div class="card-inner-info__item" v-if="!bigItem">
        <div class="card-inner-info__item-row card-inner-info__item-row_sbp">
            <div class="card-inner-info__item-col card-inner-info__item-col_sbp-left">
                <h3 class="card-inner-info__item-title card-inner-info__item-title_no-margin">&laquo;Консьерж&raquo;-сервис Aspire</h3>
            </div>
            <div class="card-inner-info__item-col card-inner-info__item-col_sbp-right">
                <img src="@/debet-karty/assets/img/Aspire-Logo.png" alt="">
            </div>
        </div>
        <div class="card-inner-info__content">
            <slot name="content">
                <div class="card-inner-info__text-row">
                    <div class="card-inner-info__item-text">
                        Ваш личный помощник в любом уголке мира. <a class="card-inner-info__item-link" href="https://www.centrinvest.ru/ru/fiz/bankovskie-karty/dop-service/konserj" target=_blank>Подробнее о сервисе</a> 
                    </div>
                </div>
            </slot>
        </div>
    </div>
</template>

<script>

export default {
    name: 'aspire',
    props: {
        bigItem: {
            type: Boolean,
            default: false
        }
    }
}
</script>
