<template>
    <div class="card-inner-info__item" :class=" { 'card-inner-info__item_center' : contentCenter } ">
        <div class="card-inner-info__item-row card-inner-info__item-row_cashBack">
            <slot name="content">
                <h3 class="card-inner-info__item-title">Кешбэк и бонусы от партнеров</h3>
                <div class="card-inner-info__item-col card-inner-info__item-col_cash-left">
                    <div class="card-inner-info__content">
                        <slot name="content-mir">
                            <div class="card-inner-info__text-row">
                                <div class="card-inner-info__item-text">
                                    Получайте <strong>до</strong> <strong v-html="findAdvantageByType(advantageId).sum"></strong><br>
                                    по&nbsp;программе лояльности «Мир»
                                </div>
                            </div>
                            <div class="card-inner-info__text-row">
                                <a href="https://privetmir.ru/about/" class="card-inner-info__item-link" target="_blank" rel="noopener noreferrer">
                                    Необходима регистрация
                                </a>
                            </div>
                            <div class="card-inner-info__text-row">
                                <a href="https://privetmir.ru/mobile/" class="card-inner-info__item-link" target="_blank" rel="noopener noreferrer">
                                    О мобильном приложении «Привет, Мир!»
                                </a>
                            </div>
                        </slot>
                    </div>
                </div>
<!--                <div class="card-inner-info__item-col card-inner-info__item-col_cash-right">-->
                    <img src="@/debet-karty/assets/img/cashBackImg.png" alt="" class="card-inner-info__cashBackImg">
<!--                </div>-->
            </slot>
        </div>
    </div>
</template>

<script>
import advantageMixin from '@/debet-karty/mixins/advantageMixin'

export default {
    name: 'cashbackRub',
    mixins: [advantageMixin]
}
</script>
