<template>
    <div class="card-inner-info__item" :class=" { 'card-inner-info__item_center' : contentCenter } ">
        <div class="card-inner-info__content">
            <slot name="content">
                <div class="card-inner-info__item-row">
                    <div class="card-inner-info__item-row-element">
                        <div class="card-inner-info__item-number"><span class="card-inner-info__prefix">до&nbsp;</span><span v-html="findAdvantageByType(advantageId).sum"></span></div>
                        <div class="card-inner-info__item-text">кешбэк баллами на&nbsp;все покупки</div>
                    </div>
                </div>
            </slot>
        </div>
    </div>
</template>

<script>
import advantageMixin from '@/debet-karty/mixins/advantageMixin'

export default {
    name: 'cashbackScore',
    mixins: [advantageMixin]
}
</script>
