<template>
    <div class="card-inner-info__item">
        <h3 class="card-inner-info__item-title">
            <p name="title">Повышенный комфорт в&nbsp;путешествиях</p>
        </h3>
        <div class="card-inner-info__content">
            <slot name="content">
                <div class="card-inner-info__text-row">
                    <div class="card-inner-info__item-text">
                        Доступ к&nbsp;залам повышенной комфортности по&nbsp;программе <strong><a href="https://en.dragonpass.com.cn/" target="_blank" rel="noopener noreferrer" class="card-inner-info__item-link">DragonPass</a></strong>
                    </div>
                </div>
            </slot>
        </div>
    </div>
</template>

<script>

export default {
    name: 'dragonPass'
}
</script>
