<template>
    <div class="card-inner-info__item">
        <h3 class="card-inner-info__item-title">Не платите лишнего</h3>
        <div class="card-inner-info__content">
            <slot name="content">
                <div class="card-inner-info__text-row">
                    <div class="card-inner-info__item-text">
                        Выпуск и обслуживание карты — бесплатно
                    </div>
                </div>
                <div class="card-inner-info__text-row">
                    <div class="card-inner-info__item-text">
                        Снятия в банкоматах — до&nbsp;<strong v-html="findAdvantageByType(advantageId).sum"></strong> рублей в&nbsp;месяц без&nbsp;комиссии
                    </div>
                </div>
            </slot>
        </div>
    </div>
</template>

<script>
import advantageMixin from '@/debet-karty/mixins/advantageMixin'

export default {
    name: 'freeService',
    mixins: [advantageMixin]
}
</script>
