<template>
    <div class="card-inner-info__item">
        <div class="card-inner-info__item-row card-inner-info__item-row_sbp">
            <div class="card-inner-info__item-col card-inner-info__item-col_sbp-left">
                <h3 class="card-inner-info__item-title" >
                    <slot name="title">
                        <div v-html="findAdvantageByType(advantageId).title"></div>
                    </slot>
                </h3>
                <div class="card-inner-info__content">
                    <slot name="content">
                        <div class="card-inner-info__text-row">
                            <div class="card-inner-info__item-text" v-html="findAdvantageByType(advantageId).description"></div>
                        </div>
                    </slot>
                </div>
            </div>
            <div class="card-inner-info__item-col card-inner-info__item-col_sbp-right">
                <slot name="img">
                    <img src="@/debet-karty/assets/img/gandBallImg.svg" alt="">
                </slot>
            </div>
        </div>
    </div>
</template>

<script>
import advantageMixin from '@/debet-karty/mixins/advantageMixin'

export default {
    name: 'loyaltyProgram',
    mixins: [advantageMixin]
}
</script>
