<template>
    <div class="card-inner-info__item card-inner-info__item_center">
        <div class="card-inner-info__content">
            <slot name="content">
                <div class="card-inner-info__item-row">
                    <div class="card-inner-info__item-row-element">
                        <div class="card-inner-info__item-number" v-html="findAdvantageByType(advantageId).sum"></div>
                        <div class="card-inner-info__item-text" v-html="findAdvantageByType(advantageId).description"></div>
                    </div>
                </div>
            </slot>
        </div>
    </div>
</template>

<script>
import advantageMixin from '@/debet-karty/mixins/advantageMixin'

export default {
    name: 'percentageBalance',
    mixins: [advantageMixin]
}
</script>
