<template>
    <div class="card-inner-info__item">
        <h3 class="card-inner-info__item-title">
            <slot name="title">Эксклюзивное обслуживание</slot>
        </h3>
        <div class="card-inner-info__content">
            <slot name="content">
                <div class="card-inner-info__text-row">
                    <div class="card-inner-info__item-text">
                        Выпуск и&nbsp;обслуживание карты — бесплатно
                    </div>
                </div>
            </slot>
        </div>
    </div>
</template>

<script>
import advantageMixin from '@/debet-karty/mixins/advantageMixin'

export default {
    name: 'priorityPass',
    mixins: [advantageMixin]
}
</script>
