<template>
    <div class="card-inner-info__item" v-if="!bigItem">
        <div class="card-inner-info__item-row card-inner-info__item-row_sbp">
            <div class="card-inner-info__item-col card-inner-info__item-col_sbp-left">
                <h3 class="card-inner-info__item-title card-inner-info__item-title_no-margin">Бесплатные переводы<br>по&nbsp;номеру&nbsp;телефона</h3>
            </div>
            <div class="card-inner-info__item-col card-inner-info__item-col_sbp-right">
                <img src="@/debet-karty/assets/img/sbpImg.png" alt="">
            </div>
        </div>
        <div class="card-inner-info__content">
            <slot name="content">
                <div class="card-inner-info__text-row">
                    <div class="card-inner-info__item-text">
                        Переводите без&nbsp;комиссии <strong>до</strong>&nbsp;<strong v-html="findAdvantageByType(advantageId).sum"></strong> <strong>рублей</strong> в&nbsp;месяц в&nbsp;<a href="https://sbp.nspk.ru/" target="_blank" rel="noopener noreferrer" class="card-inner-info__item-link">Системе Быстрых Платежей</a>
                    </div>
                </div>
            </slot>
        </div>
    </div>
    <div v-else class="card-inner-info__item card-inner-info__item_big">
        <div class="card-inner-info__item-row card-inner-info__item-row_sbp">
            <div class="card-inner-info__item-col card-inner-info__item-col_half">
                <h3 class="card-inner-info__item-title">Бесплатные переводы по&nbsp;номеру&nbsp;телефона</h3>
                <div class="card-inner-info__content">
                    <slot name="content">
                        <div class="card-inner-info__text-row">
                            <div class="card-inner-info__item-text">
                                Переводите без&nbsp;комиссии <strong>до</strong>&nbsp;<strong v-html="findAdvantageByType(advantageId).sum"></strong> <strong>рублей</strong> в&nbsp;месяц в&nbsp;<a href="https://sbp.nspk.ru/" target="_blank" rel="noopener noreferrer" class="card-inner-info__item-link">Системе Быстрых Платежей</a>
                            </div>
                        </div>
                    </slot>
                </div>
            </div>
            <div class="card-inner-info__item-col card-inner-info__item-col_half card-inner-info__item-col_spb">
                <img src="@/debet-karty/assets/img/spb.svg" alt="">
            </div>
        </div>
    </div>
</template>

<script>
import advantageMixin from '@/debet-karty/mixins/advantageMixin'

export default {
    name: 'transfersWithoutCommission',
    props: {
        bigItem: {
            type: Boolean,
            default: false
        }
    },
    mixins: [advantageMixin]
}
</script>
