<template>
    <div
        class="smallBusiness-requestBanner__row bs-banners"
        :class="{
            'with-shadow': shadow
        }"
    >
        <div
            v-if="description"
            class="creditBiz__h2"
        >
            Скидка 20% на "1C Бизнес Старт" и 50% на "1С Касса"
        </div>
        <div class="bs-banners_desktop">
            <img v-if="bsBannerViews" src="../assets/img/1c-banners/bs.png" alt="">
            <img v-else src="../assets/img/1c-banners/kassa.png" alt="">
        </div>
        <div class="bs-banners_mobile">
            <img v-if="bsBannerViews" src="../assets/img/1c-banners/bs_mobile.png" alt="">
            <img v-else src="../assets/img/1c-banners/kassa_mobile.png" alt="">
        </div>
        <p v-if="description">
            Специальные условия предоставляются для всех клиентов банка использующих тарифы РКО "Оптимум+"
            и "Максимум", а также для участников кредитных программ "Трансформация", "Старт-ап" и выпускников "Акселератора".
        </p>
        <div
            v-if="description"
            class="smallBusiness-requestBanner__note"
        >
            Все подробности у сотрудников банка
        </div>
    </div>
</template>

<script>
export default {
    name: 'bsBanner',
    props: {
        description: {
            type: Boolean,
            default: false
        },
        shadow: {
            type: Boolean,
            default: false
        }
    },
    data () {
        return {
            bsBannerViews: false
        }
    },
    mounted () {
        this.bsBannerViewsHandler()
    },
    methods: {
        bsBannerViewsHandler () {
            setInterval(() => {
                this.bsBannerViews = !this.bsBannerViews
            }, 5000)
        }
    }
}
</script>
