<template>
    <div class="equiring-card">
        <h3 class="equiring-card__title">
            {{ payload.title }}
        </h3>
        <p class="equiring-card__text" v-if="payload.text">
            {{ payload.text }}
        </p>
        <div class="equiring-card__img-container">
            <img :src="payload.img" :alt="payload.title" class="equiring-card__img">
        </div>
        <cibButton v-if="isModalTypeCard" custom-class="equiring-card__btn" @click.prevent="loadInstructionsInModal" color-theme="yellow" :disabled="!this.payload.pdfs.length">ПОДРОБНЕЕ</cibButton>
        <cibButton v-else custom-class="equiring-card__btn" color-theme="yellow" :href="payload.pdfs[0]" blank :disabled="!this.payload.pdfs.length">ПОДРОБНЕЕ</cibButton>
    </div>
</template>

<script>
import cibButton from 'centrinvest-web-components/src/appComponents/Button'
export default {
    props: {
        payload: {
            type: Object,
            default: () => ({})
        }
    },
    components: {
        cibButton
    },
    computed: {
        isModalTypeCard () {
            return this.payload.pdfs.length === 2
        }
    },
    methods: {
        loadInstructionsInModal () {
            this.$emit('openModal', this.payload)
        }
    }
}
</script>

<style scoped>

</style>
