<template>
    <div class="hint" :style="positionElement" ref="hintBlock">

        <div class="hint__border" :style="sizeElement" @click="nextHint"></div>
        <div class="hint__wr" ref="animateContainer1" v-if="data.hintText">
            <div class="hint__text" ref="animateContainer">{{ data.hintText }}</div>
        </div>
    </div>
</template>

<script>
import Velocity from 'velocity-animate'
export default {
    name: 'hint',
    props: {
        data: {
            type: Object
        },
        currentStep: {
            type: Number
        }
    },
    data () {
        return {
            paramsElement: {
                top: 0,
                left: 0,
                height: 0,
                width: 0
            },
            alpha: 10,
            step: this.currentStep
        }
    },
    computed: {
        positionElement () {
            return {
                top: `${this.paramsElement.top - this.alpha / 2}px`,
                left: `${this.paramsElement.left - this.alpha / 2}px`
            }
        },
        sizeElement () {
            return {
                height: `${this.paramsElement.height + this.alpha}px`,
                width: `${this.paramsElement.width + this.alpha}px`
            }
        },
        sizeHint () {
            console.log(this.paramsElement)
            return this.paramsElement
        }
    },
    methods: {
        getParamsElement () {
            const elem = document.querySelector(`#${this.data.elementId}`)
            if (elem !== null) {
                this.paramsElement.top = Math.round(elem.getBoundingClientRect().top + pageYOffset)
                this.paramsElement.left = Math.round(elem.getBoundingClientRect().left + pageXOffset)
                this.paramsElement.height = Math.round(elem.getBoundingClientRect().height)
                this.paramsElement.width = Math.round(elem.getBoundingClientRect().width)
            }
        },
        nextHint () {
            this.$emit('nextStep')
        }
    },
    watch: {
        data () {
            this.getParamsElement()
        }
    },
    beforeUpdate () {
        if (this.$refs.hasOwnProperty('animateContainer1') && this.$refs.animateContainer !== undefined) {
            Velocity([this.$refs.animateContainer, this.$refs.animateContainer1], 'finish')
            Velocity([this.$refs.animateContainer, this.$refs.animateContainer1], {
                width: 0,
                padding: '0'
            }, {
                duration: 0,
                easing: 'linear',
                delay: 0
            })
        }
    },
    updated () {
        if (this.$refs.hasOwnProperty('animateContainer1') && this.$refs.animateContainer !== undefined && this.data.hintText !== false) {
            Velocity([this.$refs.animateContainer, this.$refs.animateContainer1], 'finish')
            Velocity([this.$refs.animateContainer, this.$refs.animateContainer1], {
                width: 250,
                padding: '10px'
            }, {
                duration: 500,
                easing: 'linear',
                delay: 0
            })
        }
    },
    mounted () {
        window.addEventListener('resize', () => {
            this.getParamsElement()
        })
        this.getParamsElement()
    }

}
</script>

<style scoped lang="scss">
    .hint {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 500px;
        left: 500px;
        z-index: 1;
        &__border {
            width: 200px;
            height: 50px;
            border: 3px solid #FFCA00;;
            border-radius: 5px;
            cursor: pointer;
            animation: fade 2s infinite;
        }
        &__wr {
            //height: 140px;
            width: 0px;
            display: flex;
            align-items: flex-end;
            margin-left: -10px;
        }
        &__text {
            overflow: hidden;
            width: 0px;
            padding: 0px;
            background: #FFE500;
            color: #000;
            line-height: 1.2;
            border-radius: 5px;
        }
    }

    @keyframes fade {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
</style>
