<template>
    <li v-if="node !== undefined" :class="liClass" :id="`element-${id}`" :data-label="node.name">
        <img :src="iconPath" :class="rootImageClass" alt="" v-if="iconPath">
        {{ node.name }}
        <ul v-if="hasSubmenu" v-show="isVisibleSettgingsMenu" :class="ulClass" :id="`${node.id}-subitem`">
            <node-tree
                v-for="(child, index, key) in node.submenu"
                :node="child"
                :key="key"
                :classComponent="classComponent"
                :levelComponent="level"
                >
            </node-tree>
        </ul>
    </li>
</template>

<script>
export default {
    name: 'NodeTree',
    data () {
        return {
            isVisibleSettgingsMenu: false,
            nameParentComponent: this.$parent.$options.name,
            id: this._uid,
            label: this.node !== undefined ? this.node.name : '',
            iconPath: this.node !== undefined ? this.node.icon : '',
            level: this.levelComponent,
            defaultVisibleLevelLocal: null || this.defaultVisibleLevel
        }
    },
    props: {
        node: {
            type: Object
        },
        classComponent: {
            type: String
        },
        levelComponent: {
            type: Number
        },
        rootImage: {
            type: Boolean
        },
        defaultVisibleLevel: {
            type: Number
        }
    },
    computed: {
        isRootComponent () {
            return this.nameParentComponent !== 'NodeTree'
        },
        hasSubmenu () {
            if (this.node !== undefined) {
                return this.node.submenu && this.node.submenu.length
            } else {
                return null
            }
        },
        liClass () {
            const obj = {}
            obj[`${this.classComponent}__label`] = true
            obj[`${this.classComponent}__label_first`] = this.isRootComponent
            obj[`${this.classComponent}__label_withImg`] = this.isRootComponent && this.rootImageLocal
            return obj
        },
        ulClass () {
            return [
                `${this.classComponent}__submenu`,
                `${this.classComponent}__submenu_level-${this.level}`
            ]
        },
        rootImageClass () {
            return `${this.classComponent}__tool-img`
        }
    },
    methods: {
        toggleSettingsSubmenu () {
            this.isVisibleSettgingsMenu = !this.isVisibleSettgingsMenu
        },
        closeComponentMenu () {
            this.isVisibleSettgingsMenu = false
        },
        openComponentMenu  () {
            this.isVisibleSettgingsMenu = true
        }
    },
    created () {
        if (this.hasSubmenu) {
            this.level++
        }
        if (this.level === this.defaultVisibleLevelLocal) {
            this.isVisibleSettgingsMenu = true
        }
    }
}
</script>
