<template>
    <div class="potreb-kredit">
        <div class="cibVuePageApp__wrapper">
            <header class="potreb-kredit__header potreb-kredit-header">
                <a href="https://www.centrinvest.ru/ru/" class="potreb-kredit__header-logo-link">
                    <img class="potreb-kredit-header__logo" src='../assets/images/header__logo.svg' alt="">
                </a>
                <a class="potreb-kredit-header__link" href="https://www.centrinvest.ru/ru/fiz/kreditovanie/potrebitelskij-kredit/kredit-dlya-vseh">Перейти на сайт банка</a>
            </header>
        </div>
        <div class="potreb-kredit-slider">
            <hooper class="potreb-kredit__slider" :settings="hooperSettings">
                <slide>
                    <div class="potreb-kredit-slider__info">
                        <div class="potreb-kredit-slider__relative"></div>
                        <div class="potreb-kredit-slider__img-wr">
                            <img class="potreb-kredit-slider__img" src="../assets/images/potreb-kapadokya.jpg" alt="">
                        </div>
                        <div class="potreb-kredit-slider__wrapper">
                            <div class="potreb-kredit-slider__content">
                                <h1 class="potreb-kredit-slider__title">Легкие кредиты</h1>
                                <p class="potreb-kredit-slider__text">на осуществление большой мечты <br class="potreb-kredit-slider__separator">до&nbsp;<span
                                        class="potreb-kredit-slider__text potreb-kredit-slider__text_bold">&nbsp;1&nbsp;000&nbsp;000&nbsp;&#8381;</span> <br class="potreb-kredit-slider__separator">без обязательного
                                    страхования</p>
                                <a id="bannerRequestBtn" class="potreb-kredit__btn potreb-kredit-slider__btn" href="#" @click.prevent="scrollTo('form')">Оставить заявку</a>
                            </div>
                        </div>
                    </div>
                </slide>
            </hooper>
        </div>
        <section class="potreb-kredit__advantages">
            <div class="cibVuePageApp__wrapper">
                <div class="potreb-kredit__row">
                    <div class="potreb-kredit__col">
                        <div class="potreb-kredit__item-img">
                            <img class="potreb-kredit__item-image" src="../assets/images/calendar.svg" alt="">
                        </div>
                        <div class="potreb-kredit__item-info">
                            <p class="potreb-kredit__advantages-text">Срок кредитования </p>
                            <p class="potreb-kredit__item-text">до 5 лет</p>
                        </div>
                    </div>
                    <div class="potreb-kredit__col">
                        <div class="potreb-kredit__item-img">
                            <img class="potreb-kredit__item-image" src="../assets/images/wallet.svg" alt="">
                        </div>
                        <div class="potreb-kredit__item-info">
                            <p class="potreb-kredit__advantages-text">Большая сумма</p>
                            <p class=potreb-kredit__item-text>до 1&nbsp;000&nbsp;000&nbsp;₽</p>
                        </div>
                    </div>
                    <div class="potreb-kredit__col">
                        <div class="potreb-kredit__item-img">
                            <img class="potreb-kredit__item-image" src="../assets/images/round.svg" alt="">
                        </div>
                        <div class="potreb-kredit__item-info">
                            <p class="potreb-kredit__advantages-text">Рассмотрение</p>
                            <p class=potreb-kredit__item-text>от 1 минуты</p>
                        </div>
                    </div>
                    <div class="potreb-kredit__col">
                        <div class="potreb-kredit__item-img">
                            <img class="potreb-kredit__item-image" src="../assets/images/info.svg" alt="">
                        </div>
                        <div class="potreb-kredit__item-info">
                            <p class="potreb-kredit__item-info_bold"> Без обязательного страхования</p>
                        </div>
                    </div>
                    <div class="potreb-kredit__col">
                        <div class="potreb-kredit__item-img">
                            <img class="potreb-kredit__item-image" src="../assets/images/comfort.svg" alt="">
                        </div>
                        <div class="potreb-kredit__item-info_bold">Удобное <br> погашение</div>
                    </div>
                    <div class="potreb-kredit__col">
                        <div class="potreb-kredit__item-img">
                            <img class="potreb-kredit__item-image" src="../assets/images/arrow.svg" alt="">
                        </div>
                        <div class="potreb-kredit__item-info">
                            <p class="potreb-kredit__advantages-text">Снижающаяся ставка</p>
                            <p class=potreb-kredit__item-text>-0,5% через год</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section ref="form" class="potreb-kredit__form potreb-kredit-form">
            <div class="cibVuePageApp__wrapper">
                <h2 class="potreb-kredit-form__title">Заявка на кредит</h2>
                <p class="potreb-kredit-form__desc">Заполнение онлайн-заявки <br class="potreb-kredit__mob-sep">на кредит — это дополнительные <br class="potreb-kredit__mob-sep">20-40% к положительному
                    решению по кредиту</p>
                <form class="form-request" @submit.prevent="sendRequest">
                    <div class="form-request__input">
                        <cibInput
                            fieldName="fio"
                            v-model="formData.fio"
                            :validator="$v.formData.fio"
                            labelText="ФИО"
                            :errorMessage="{
                                required: 'Укажите ФИО',
                                letters: 'Только русские, латинские буквы и знаки препинания'
                            }"
                        />
                    </div>
                    <div class="form-request__input">
                        <cibInput fieldName="phone" v-model="formData.phone" :validator="$v.formData.phone"
                            labelText="Телефон" mask="+7 (999) 999-99-99" :errorMessage="{
                              required: 'Укажите номер телефона',
                              phone: 'Номер телефона должен содержать 11 цифр в формате +7 (999) 999-99-99'
                          }" />
                    </div>
                    <div class="form-request__input">
                        <cibInput fieldName="mail" v-model="formData.mail" :validator="$v.formData.mail"
                            labelText="E-mail" suggestionsApiMethod="emailSuggestions" :errorMessage="{
                              required: 'Укажите email',
                              emailFullCheck: 'Некорректный Email. Пример: pochta@domain.ru'
                          }" />
                    </div>
                    <cibButton type="form-button" :disabled="$v.formData.phone.$invalid" @click.prevent="getCode">
                        Отправить
                    </cibButton>
<!--                    <transition name="fade">-->
<!--                        <div class="form-request__success form-success" v-if="showModal">-->
<!--                            <div class="form-success__send">-->
<!--                                <div class="form-success__block form-success__block_weekdays" v-if="isShowTime">-->
<!--                                    <p class="form-success__title"> Благодарим вас!</p>-->
<!--                                    <p class="form-success__text"> В течение дня с вами свяжется сотрудник банка &laquo;Центр-инвест&raquo;.</p>-->
<!--                                    <p class="form-success__text"> Чтобы ускорить решение по кредиту, вы можете начать заполнять онлайн заявку –-->
<!--                                        <a class="form-success__link" href="https://www.centrinvest.ru/cabinet/creditform/" target="_blank">прямо сейчас</a>.</p>-->
<!--                                    <svg @click="showModal = false" class="form-success__close" width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                                        <line x1="2.12218" y1="1.30774" x2="16.0615" y2="15.2471" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"></line>-->
<!--                                        <line x1="0.75" y1="-0.75" x2="20.4632" y2="-0.75" transform="matrix(-0.707107 0.707107 0.707107 0.707107 16.8749 1.30774)" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"></line>-->
<!--                                    </svg>-->
<!--                                </div>-->
<!--                                <div class="form-success__block form-success__block_weekend" v-else>-->
<!--                                    <p class="form-success__title"> Благодарим вас! </p>-->
<!--                                    <p class="form-success__text"> Сотрудник банка &laquo;Центр-инвест&raquo; свяжется с вами в понедельник.</p>-->
<!--                                    <p class="form-success__text"> Чтобы ускорить решение по кредиту, вы можете начать заполнять онлайн заявку –-->
<!--                                        <a class="form-success__link" href="https://www.centrinvest.ru/cabinet/creditform/" target="_blank">прямо сейчас</a>.</p>-->
<!--                                    <svg @click="showModal = false" class="form-success__close" width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                                        <line x1="2.12218" y1="1.30774" x2="16.0615" y2="15.2471" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"></line>-->
<!--                                        <line x1="0.75" y1="-0.75" x2="20.4632" y2="-0.75" transform="matrix(-0.707107 0.707107 0.707107 0.707107 16.8749 1.30774)" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"></line>-->
<!--                                    </svg>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </transition>-->
                </form>
            </div>
        </section>
        <section class="dop-info">
            <div class="cibVuePageApp__wrapper">
                <p class="dop-info__title">Документы, необходимые для рассмотрения заявления:</p>
                <p class="dop-info__text">Копия всех страниц (включая пустые) паспорта Заемщика (Поручителя) или иного
                    документа, удостоверяющего личность;</p>
                <p class="dop-info__text">Копия документа установленного образца, содержащего СНИЛС (страхового
                    свидетельства государственного пенсионного страховании, страхового свидетельства обязательного
                    пенсионного страхования) Заемщика (Поручителя);</p>
                <p class="dop-info__text">Копия свидетельства о постановке на налоговый учет (ИНН) Заемщика
                    (Поручителя);</p>
                <p class="dop-info__text">Справка о доходах с основного места работы (по совместительству – при наличии)
                    Заемщика (Поручителя) за период не менее 12 месяцев, предшествующих месяцу оформления кредита, с
                    помесячной разбивкой (по форме 2-НДФЛ (по доходам, полученным до 2021 года), справка о доходах и
                    суммах налога физического лица по форме, утвержденной Федеральной налоговой службой (по доходам,
                    полученным с 2021 года), либо в свободной форме)*;</p>
                <p class="dop-info__text">Копия трудовой книжки (всех заполненных страниц), заверенная работодателем
                    Заемщика (Поручителя)*;</p>
                <p class="dop-info__text"> Копия паспорта и согласие супруга(-ги) Залогодателя на залог имущества (в
                    случае оформления залога).</p>
                <p class="dop-info__title">Пакет документов</p>
                <p class="dop-info__text">Обращаем Ваше внимание, с 01.10.2019 г. в соответствии с требованиями
                    Приложения 1 к Указанию Банка России от 31.08.2018 N 4892-У при принятии кредитной организацией
                    решения о предоставлении физическому лицу кредита в сумме (с лимитом кредитования) 10 000 рублей и
                    более или в эквивалентной сумме в иностранной валюте, а также при принятии решения об увеличении
                    лимита кредитования по кредиту (если данная возможность предусмотрена условиями кредитования ПАО КБ
                    «Центр-инвест»), кредитор обязан рассчитать показатель долговой нагрузки заемщика, представляющий
                    собой соотношение суммы среднемесячных платежей по всем кредитам, предоставленным физическому лицу,
                    в том числе платеж по запрашиваемому в банке кредиту, к величине его среднемесячного дохода.</p>
                <p class="dop-info__text">В связи с этим для рассмотрения заявки на кредит банк вправе запросить
                    документы, в том числе необходимые для определения величины Вашего среднемесячного дохода и расчета
                    показателя долговой нагрузки. Какие документы из перечня, установленного банком, предъявить для
                    расчета показателей Вы решаете самостоятельно. Однако, обращаем Ваше внимание, что в случае не
                    предоставления документов, подтверждающих информацию о доходах, банк, руководствуясь положениями
                    Указания Банка России от 31.08.2018 N 4892-У, может применить в качестве показателя Вашего
                    среднемесячного дохода данные Федеральной службы государственной статистики о среднедушевом доходе,
                    сложившемся в регионе по месту Вашей регистрации, и если рассчитанный на основе такого дохода
                    показатель долговой нагрузки окажется выше 50%, это может негативно повлиять на условия
                    кредитования, в том числе послужить причиной отказа по Вашей заявке.</p>
            </div>
        </section>
        <transition name="fade">
            <loader v-show="showLoader" :transparent="true" :fixed="true"></loader>
        </transition>
        <cibModal v-model="showModal">
            <template #content>
                <div class="codeForm">
                    <div class="codeForm__text">
                        На ваш телефон отправлено сообщение с кодом подтверждения. <br>Введите его в поле ниже
                    </div>
                    <div class="codeForm__row">
                        <cibInput
                            fieldName="code"
                            v-model="formData.code"
                            input-type="tel"
                            :validator="$v.formData.code"
                            labelText="Код подтверждения"
                            mask="999999"
                            :errorMessage="{
                                required: 'Введите код подтверждения',
                                code: 'Код подтверждения должен состоять из 6 цифр'
                            }"
                        />
                    </div>
                    <div class="codeForm__row">
                        <cibButton type="form-button" :disabled="$v.$invalid" @click.prevent="sendRequest">Отправить</cibButton>
                    </div>
                </div>
            </template>
        </cibModal>
    </div>
</template>

<script>
import cibInput from 'centrinvest-web-components/src/appComponents/cibInput'
import cibButton from 'centrinvest-web-components/src/appComponents/Button'
import loader from 'centrinvest-web-components/src/appComponents/Loader'
import cibModal from 'centrinvest-web-components/src/appComponents/components/cibModal'
import {
    Hooper,
    Slide
} from 'hooper'
import { validationMixin } from 'vuelidate'
import { required, requiredIf } from 'vuelidate/lib/validators'
import emailFullCheck from 'centrinvest-web-components/src/validators/emailFullCheck'
import phone from 'centrinvest-web-components/src/validators/phone'
import code from '@/validators/code'
import axios from 'axios'
import 'hooper/dist/hooper.css'
import * as helpers from 'vuelidate/lib/validators/common'
const letters = helpers.withParams({ type: 'letters' }, (value) => {
    return !helpers.req(value) || /^([а-яё\s]+|[a-z\s]+)$/ig.test(value)
})
    export default {
        name: 'Home',
        mixins: [validationMixin],
        components: {
            cibInput,
            cibButton,
            loader,
            Hooper,
            Slide,
            cibModal
        },
        metaInfo: {
            title: 'Потребительский кредит по низкой ставке в Ростове-на-Дону | ПАО коммерческий банк Центр-инвест',
            meta: [{
                vmid: 'description',
                name: 'description',
                content: 'Оформить потребительский кредит быстро, на большую сумму, по выгодным условиям в Ростове-на-Дону'
            },
                {
                    vmid: 'keywords',
                    name: 'keywords',
                    content: 'Потребительский кредит Ростовская область'
                }]
        },
        created () {
            const url = this.isProduction ? '/ru/include/createWeekend' : 'https://cib4.dev.cinet.ru/ru/include/createWeekend'
            axios.post(url)
                .then(res => {
                    this.holidaysData = res.data
                })
                .catch(e => {
                    console.log(e)
                })
        },
        data: () => ({
            showLoader: false,
            showSuccessModal: false,
            isCodeSent: false,
            date: null,
            showModal: false,
            isProduction: process.env.NODE_ENV === 'production',
            holidaysData: [],
            hooperSettings: {
                wheelControl: false
            },
            formData: {
                fio: null,
                phone: null,
                mail: null,
                code: null
            }
        }),
        computed: {
            isShowTime () {
                let result = true
                try {
                    if (this.holidaysData) {
                        const day = ('0' + this.date.getDate()).slice(-2)
                        const month = ('0' + (this.date.getMonth() + 1)).slice(-2)
                        const year = this.date.getFullYear()
                        const dateFormat = `${day}.${month}`
                        const dayOfWeek = this.date.getDay()
                        const { holidays, short } = this.holidaysData.list
                        let { endWork, endWorkShort, startWork } = this.holidaysData
                        if (short.includes(dateFormat)) {
                            endWork = endWorkShort
                        }
                        const endWorkHours = parseInt(endWork.split(':')[0])
                        const endWorkMinutes = parseInt(endWork.split(':')[1])
                        const startWorkHours = parseInt(startWork.split(':')[0])
                        const startWorkMinutes = parseInt(startWork.split(':')[1])
                        const fullStartWorkTime = new Date(year, this.date.getMonth(), this.date.getDate(), startWorkHours, startWorkMinutes)
                        const fullEndWorkTime = new Date(year, this.date.getMonth(), this.date.getDate(), endWorkHours, endWorkMinutes)
                        if (
                            holidays.includes(dateFormat) ||
                            dayOfWeek === 0 ||
                            dayOfWeek === 6 ||
                            !(fullStartWorkTime <= this.date && this.date <= fullEndWorkTime)
                        ) {
                            result = false
                        }
                    }
                } catch (e) {
                    console.log(e)
                }
                return result
            }
        },
        methods: {
            getDate () {
                const date = new Date()
                this.date = date
            },
            async getCode () {
                if (!this.$v.formData.phone.$invalid) {
                    this.showLoader = true
                    try {
                        const response = await axios.post('/cabinet/loan-request-lite/api/verification-code', {
                            phone: this.formData.phone
                        }, {
                            withCredentials: true
                        })
                        if (response.data.success) {
                            this.isCodeSent = true
                            this.showModal = true
                        }
                    } catch (e) {
                        if (e.response) {
                            console.log(e.response)
                            if (e.response.status === 400 && !e.response.data.success) {
                                this.$toast.open({
                                    message: e.response.data.error,
                                    type: 'error',
                                    duration: 3000,
                                    dismissible: true,
                                    position: 'top'
                                })
                            }
                            return
                        } else if (e.request) {
                            console.log(e.request)
                        } else {
                            console.log(e)
                        }
                        this.showErrorMessage()
                    } finally {
                        this.showLoader = false
                    }
                }
            },
            async sendRequest () {
                if (!this.$v.$invalid) {
                    this.getDate()
                    this.showLoader = true
                    try {
                        const response = await axios.post('/cabinet/loan-request-lite/api/send', this.formData, {
                            withCredentials: true
                        })
                        if (response.data.success) {
                            for (const key in this.formData) {
                                this.formData[key] = null
                            }
                            this.$v.$reset()
                            this.isCodeSent = false
                            try {
                                // eslint-disable-next-line no-undef
                                dataLayer.push({
                                    event: 'sendEasyCredit'
                                })
                                // eslint-disable-next-line no-undef
                                yaCounter4814476.reachGoal('potrebcredit')
                            } catch (e) {
                                console.log(e)
                            }
                            window.location.href = '/ru/potreb-kredit-final'
                        } else {
                            this.showErrorMessage()
                        }
                    } catch (e) {
                        if (e.response) {
                            if (e.response.status === 400 && !e.response.data.success) {
                                this.$toast.open({
                                    message: e.response.data.error,
                                    type: 'error',
                                    duration: 3000,
                                    dismissible: true,
                                    position: 'top'
                                })
                            }
                            console.log(e.response)
                            return
                        } else if (e.request) {
                            console.log(e.request)
                        } else {
                            console.log(e)
                        }
                        this.showErrorMessage()
                    } finally {
                        this.showLoader = false
                    }
                }
            },
            showSuccessMessage () {
                this.$toast.open({
                    message: 'Заявка успешно отправлена',
                    type: 'success',
                    duration: 3000,
                    dismissible: true,
                    position: 'top'
                })
            },
            showErrorMessage () {
                this.$toast.open({
                    message: 'Ошибка отправки',
                    type: 'error',
                    duration: 3000,
                    dismissible: true,
                    position: 'top'
                })
            },
            scrollTo (id) {
                // eslint-disable-next-line no-undef
                yaCounter4814476.reachGoal('centralsite')
                const slide = this.$refs[id]
                const top = window.scrollY + slide.getBoundingClientRect().y
                window.scrollTo({
                    top: top,
                    behavior: 'smooth'
                })
            }
        },
        validations () {
            return {
                formData: {
                    fio: {
                        required,
                        letters
                    },
                    phone: {
                        required,
                        phone
                    },
                    mail: {
                        required,
                        emailFullCheck
                    },
                    code: {
                        required: requiredIf(() => {
                            return this.isCodeSent
                        }),
                        code
                    }
                }
            }
        }
    }

</script>

<style scoped lang="scss">
/deep/ .cib-button-wr {
    text-align: center;
}
</style>

<style lang="scss">
    @import '../assets/styles.scss';

</style>
