@import '~reset-css';
@import '../../assets/styles/base.scss';

@font-face {
    font-family: "Pragmatica", arial;
    src: url("../assets/fonts/pragmatica.ttf") format("ttf");
    font-style: normal;
}

* {
    box-sizing: border-box;
}

.student-cards {
    font-family: 'Pragmatica', arial;
    line-height: 1.3;
    font-size: 18px;

    @media (max-width: 768px) {
        font-size: 14px;
    }

    a {
        text-decoration: none;
    }
    &__link{
        color: #fff;
        position: relative;
       
        &::after {
            position: absolute;
            bottom: -3px;
            left: 0;
            content: '';
            width: 0;
            height: 1px;
            background-color: #FFF;
            transition: all .5s;
        }

        &:hover {
            &::after {
                width: 100%;
                background-color: #FFF;
            }
        }
        &_yellow{
            &:hover {
                &::after {
                  
                    background-color: #FFE600;
                }
            }
        }
        &_grey{
            color: #363333;
            &:hover {
                &::after {
                  
                    background-color: #363333;
                }
            }
        }
    }

    &__wrapper {
        max-width: 1279px;
        padding: 0 15px;
        margin: auto;
        text-align: center;

        @media (max-width: 420px) {
            padding: 0 44px;
        }

        @media (max-width: 380px) {
            padding: 0 22px;
        }
    }

    &__header-box {
        background-image: url('../assets/images/bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding-bottom: 48px;
        height: 1024px;

        @media (max-width: 1024px) {
            height: unset;
        }
    }

    &__header {
        padding: 50px 0;

        @media (max-width: 1024px) {
            padding: 24px 0;
        }

        @media (max-width: 420px) {
            padding-bottom: 0;
        }
    }

    &__button {
        color: #FFFFFF;
        background: transparent;
        padding: 11px 31px;
        border-radius: 9px;
        cursor: pointer;
        border: 1px solid #fff;
        display: flex;
        justify-content: center;
    }

    &__advantages {
        padding: 96px 0 68px;
        background: #F7F8F8;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        @media (max-width: 420px) {
            padding: 48px 0;
        }
    }

    &__card {
        padding: 162px 0 102px;
        background-image: url(../assets/images/bg-card-section.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media (max-width: 768px) {
            padding: 67px 0 62px;
        }
    }


    &__mobile {
        padding: 212px 0 200px;

        @media (max-width: 1024px) {
            padding: 96px 0 114px;
        }

        @media (max-width: 420px) {
            padding: 48px 0 0;
        }
    }

    &__footer {
        padding: 56px 0 45px;
    }

    &__form {
        padding: 96px 0 64px;
        background-image: url('../assets/images/bg-form.jpg');
        background-position: center;
        background-size: cover;

        @media (max-width: 768px) {
            padding: 78px 0 78px;
        }

        @media (max-width: 420px) {
            padding-bottom: 15px;
        }
    }

    &__docs {
        display: flex;
        justify-content: center;

        @media (max-width: 420px) {
            flex-direction: column;
        }
    }

    &__box {
        padding: 0 27px;
        display: flex;
        justify-content: flex-start;
        color: #fff;
        transition: all .3s;

        @media (max-width: 420px) {
            margin-bottom: 40px;
        }
    }

    &__doc-name {
        text-align: left;
        margin-left: 12px;
    }

    &__burger-menu {
        display: flex;
        flex-direction: column;
        height: 30px;
        justify-content: space-between;
        display: none;

        @media (max-width: 780px) {
            display: flex;
        }
    }

    &__burger-menu-item {
        width: 40px;
        height: 2px;
        background-color: #fff;
    }
}

.student-cards-header {
    &__wr {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        @media (max-width: 1200px) {
            justify-content: center;
        }

        @media (max-width: 1024px) {
            padding: 0 20px;
        }

        @media (max-width: 780px) {
            justify-content: space-between;
        }

        @media (max-width: 420px) {
            padding: 0;
        }
    }

    &__nav {
        display: flex;

        @media (max-width: 780px) {
            display: none;
        }

        &_mobile {
            z-index: 100;
            position: fixed;
            top: 144px;
            left: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;

            @media (max-width: 420px) {
                left: 24px;
                justify-content: flex-start;
            }

            @media (max-width: 370px) {
                flex-direction: column;
                align-items: flex-start;
            }

            .student-cards-header__link {
                color: #333;
                display: inline-flex;
                min-width: 155px;

                @media (max-width: 370px) {
                    min-width: unset;
                }
            }

            .student-cards-header__item {
                margin-bottom: 24px;

                &:nth-child(3) {
                    @media (max-width: 420px) {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    &__logo-link {
        margin-right: 24px;

        @media (max-width:1200px) {
            width: 100%;
            display: block;
        }

        @media (max-width: 780px) {
            width: auto;
        }

        @media (max-width: 640px) {
            width: 100%;
            margin-bottom: 24px;
        }
    }

    &__change {
        font-weight: normal;
        font-size: 18px;
        margin-right: 185px;
        transition: all .3s;

        &:hover {
            background-color: #FFE600;
            border: 1px solid #FFE600;
            color: #333;
        }

        @media(max-width: 1270px) {
            margin-right: 24px;
        }

        @media (max-width: 420px) {
            font-size: 14px;
        }
    }

    &__link {
        font-size: 18px;
    }

    &__item {
        padding-bottom: 5px;

        &:not(:first-child) {
            margin-left: 24px;

            @media (max-width: 370px) {
                margin-left: 0;
            }
        }
    }
}

.student-cards-overview {
    position: relative;
    padding: 0 20px;

    @media (max-width: 420px) {
        padding: 0;
    }
    &__block{
        background-color: #fff;
        box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.5);
        border-radius: 24px;
        width: 73px;
        height: 73px;
        position: absolute;
        @media (max-width: 1024px) {
            width: 62px;
            height: 62px;
        }
        @media (max-width: 1000px) {
            width: 43px;
            height: 43px;
            border-radius: 10px;
        }
        @media (max-width: 700px) {
            width: 35px;
            height: 35px;
        }
        @media (max-width: 640px) {
            display: none;
        }
        &_perecrestok{
            padding: 14px;
            top: 17%;
            right: 26%;
            transform: rotate(15deg);
            @media (max-width: 1000px) {
                padding: 10px;
            }
            @media (max-width: 700px) {
                padding: 5px;
            }
        }
        &_trip{
            top: 5%;
            left: 41%;
            padding: 15px;
            transform: rotate(-8deg);
            @media (max-width: 1000px) {
                padding: 10px;
            }
            @media (max-width: 700px) {
                padding: 5px;
            }
        }
        &_rostelecom{
            padding: 10px;
            top: 16%;
            left: 10%;
            transform: rotate(-38deg);
            @media (max-width: 700px) {
                padding: 5px;
            }
        }
        &_friend{
            padding: 26px 4px 0;
            left: 0;
            top: 42%;
            transform: rotate(-22deg);
            @media (max-width: 1024px) {
                padding-top: 20px;
            }
            @media (max-width: 1000px) {
                padding-top: 13px;
            }
            @media (max-width: 700px) {
                padding-top: 5px;
            }
        }
        &_tv{
            padding: 24px 6px 0;
            left: 15%;
            bottom: 27%;
            transform: rotate(-42deg);
            @media (max-width: 1024px) {
                padding-top: 20px;
            }
            @media (max-width: 1000px) {
                padding-top: 8px;
            }
            @media (max-width: 700px) {
                padding: 5px;
            }
        }
    }

    &__img {
        &_card {
            position: absolute;
            left: 50%;
            width: 300px;
            top: 37%;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

            @media (max-width: 1240px) {
                width: 180px;
            }

            @media (max-width: 940px) {
                width: 150px;
            }

            @media (max-width: 780px) {
                width: 120px;
            }

            @media (max-width: 640px) {
                position: static;
                margin-left: 0;
                width: 180px;
            }

        }

        &_circle {
            position: relative;
            @media (max-width: 640px) {
                display: none;
            }
        }
    }

    &__img-wr {
        @include col(8);
        margin-left: -10%;
        position: relative;

        @media (max-width: 1440px) {
            margin-left: 0;
        }

        @media (max-width: 1025px) {
            @include col(7);
            margin-left: -2%;
        }

        @media (max-width: 780px) {
            margin-left: -4%;
        }

        @media (max-width: 640px) {
            margin: 0;
            width: 180px;
        }
    }

    &__container {
        @include row;
        align-items: center;

        @media (max-width: 840px) {
            margin: 0;
        }

        @media (max-width: 640px) {
            flex-direction: column-reverse;
            align-items: flex-start;
        }
    }

    &__mobile-img {
        display: none;

        @media (max-width: 640px) {
            display: block;
        }

        @media (max-width: 520px) {
            width: 190px;
        }
    }

    &__content {
        text-align: left;
        padding-top: 190px;
        @include col(5);
        margin-left: -90px;
        position: relative;

        @media (max-width: 1025px) {
            @include col(6);
            margin-left: -70px;
        }

        @media (max-width: 940px) {
            padding-top: 48px;
            margin-left: -44px;
        }

        @media (max-width: 780px) {
            @include col(7);
            margin-left: -7%;
            margin-right: 0;
        }

        @media (max-width: 640px) {
            width: 100%;
            margin-left: 0;
            margin-bottom: 40px;
        }
    }

    &__btn-img-wr {
        margin-top: 200px;

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__title {
        font-family: 'Pragmatica', arial;
        font-weight: bold;
        font-size: 48px;
        line-height: 1.4;
        color: #FFFFFF;
        text-align: left;
        margin-bottom: 16px;

        @media (max-width: 1240px) {
            font-size: 46px;
        }
        @media (max-width: 1000px) {
            font-size: 40px;
        }
        @media (max-width: 780px) {
            font-size: 36px;
        }
        @media (max-width: 700px) {
            font-size: 30px;
        }

        @media (max-width: 540px) {
            font-size: 24px;
        }

        @media (max-width: 380px) {
            font-size: 22px;
        }
    }

    &__desc {
        color: #fff;
        max-width: 484px;
        margin-bottom: 24px;

    }

    &__link {
        max-width: 160px;
        margin-bottom: 144px;
        transition: all .3s;

        &:hover {
            background-color: #FFE600;
            border: 1px solid #FFE600;
            color: #333;
        }

        @media (max-width: 640px) {
            margin-bottom: 24px;
        }
    }
}

.student-cards-advantages {
    &__item {
        border-radius: 29px 29px 0 29px;
        background: #fff;
        padding: 46px 32px 32px;
        max-width: 320px;
        position: relative;
        transition: all .3s;
        height: 477px;
        display: block;

        &:hover {
            box-shadow: 0px 16px 27px rgba(0, 0, 0, 0.16);
        }

        &_green {
            background: radial-gradient(220.41% 129.5% at 56.25% -9.32%, #88F424 0%, #21B616 100%);
        }

        @media (max-width:1024px) {
            max-width: 287px;
            padding: 46px 24px 18px;
        }

        @media (max-width: 420px) {
            padding: 24px;
            height: 456px;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 48px;
        line-height: 1.4;
        color: #4AB541;
        margin-bottom: 12px;

        @media (max-width: 940px) {
            font-size: 36px;
        }

        @media (max-width: 420px) {
            font-size: 24px;
            margin-bottom: 24px;
        }

        @media (max-width: 380px) {
            font-size: 22px;
        }
    }

    &__subtitle {
        font-weight: bold;
        font-size: 24px;
        color: #4AB541;
        text-align: left;
        margin-top: 16px;

        &_white {
            color: #fff;
        }

        @media (max-width: 420px) {
            margin-top: 0;
            font-size: 20px;
        }

        &_mt {
            @media (max-width: 420px) {
                margin-top: 48px;
            }
        }
    }

    &__desc {
        @include row;
    }

    &__box {
        @include col(6, 10px);
        color: #fff;
    }

    &__percent {
        font-size: 36px;
        text-align: left;
    }

    &__info {
        text-align: left;
        font-size: 14px;
    }

    &__info-link {
        color: #fff;
        transition: all .3s;
        border-bottom: 1px solid #fff;

        &:hover {
            border-bottom: 1px solid transparent;
        }
    }

    &__subtitle-link {
        color: #4AB541;
        transition: all .3s;
    }

    &__bg {
        position: absolute;

        &_waveov {
            bottom: -5%;
            left: 27%;

            @media (max-width: 420px) {
                display: none;
            }
        }

        &_wave {
            top: 10%;
            left: 3%;
        }

        &_yellow-round {
            top: 51%;
            width: 31px;
            left: 8%;
        }

        &_yellow-rectangle {
            width: 24px;
            right: 10%;
            top: 11%;
        }

        &_hand-card {
            top: 35%;
            right: 0;
        }

        &_ellipse-green {
            top: 5%;
            left: 5%;
        }

        &_ellipse-green-overview {
            display: none;

            @media (max-width: 540px) {
                position: absolute;
                bottom: -12%;
                left: 0;
                display: block;
            }
        }

        &_ellipse-green-small {
            bottom: 10%;
            right: 25%;
            width: 25px;
        }

        &_rec-yellow {
            width: 16px;
            right: 10%;
            top: 17%;
        }

        &_wave-yellow {
            bottom: 10%;
            left: 10%;
        }

        &_white-wave {
            left: 0;

            @media (max-width: 1024px) {
                width: 11%;
            }
        }

        &_rec-yellow-form {
            bottom: 35%;
            left: 14%;
            width: 56px;

            @media (max-width: 1024px) {
                left: 5%;
            }

            @media (max-width: 420px) {
                bottom: 20%;
                left: 2%;
            }
        }

        &_white-ellipse {
            top: 0;
            right: 15%;

            @media (max-width: 1024px) {
                width: 15%;
                right: 0;
            }
        }

        &_hand-card-form {
            right: 0;
            bottom: 2%;

            @media (max-width: 1024px) {
                height: 45%;
                bottom: 0;
            }

            @media (max-width: 768px) {
                height: 30%;
                bottom: 10%;
                right: -5%;
            }

            @media (max-width: 420px) {
                height: 30%;
                bottom: 10%;
                right: -11%;
            }
        }

        &_yellow-circle-overview {
            right: 37%;
            top: 0%;

            @media (max-width: 1024px) {
                right: 49%;
                top: 6%;
            }
            @media (max-width: 940px) {
                top: -34%;
            }

            @media (max-width: 780px) {
                top: -3%;
                width: 48px;
            }

            @media (max-width: 520px) {
                left: -20%;
            }
        }

        &_white-wave {
            right: 0;
        }

        &_white-wave-overview {
            right: 0;

            @media (max-width: 1024px) {
                width: 15%;
                top: 0;
            }

            @media (max-width: 420px) {
                z-index: 5;
                left: -14%;
                bottom: -3%;
                width: 30%;
                top: unset;
            }
        }

        &_rec-yellow-overview {
            left: 9%;
            bottom: 0;

            @media (max-width: 1024px) {
                width: 32px;
            }

            @media (max-width: 540px) {
                bottom: -8%;
                left: 63%;
            }
        }

        &_hand-overview {
            right: 0;
            bottom: -11%;

            @media (max-width: 940px) {
                width: 30%;
            }
        }
    }
}

.student-cards-card {
    overflow: hidden;

    &__wr {
        @include row(24px);
        justify-content: center;
        position: relative;

        @media (max-width:768px) {
            flex-direction: column;
            align-items: flex-start;
            padding-left: 132px;
        }

        @media (max-width: 540px) {
            padding-left: 48px;
        }
    }

    &__img {
        border-radius: 15px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        &_rotate {
            transform: rotate(-9deg);
            
        }
        &_width{
            @media (max-width: 1024px) {
                width: 271px;
            }
        }
    }

    &__img-wr {
        @include col(4, 12px);

        @media (max-width:768px) {
            @include col(6);
        }

        @media (max-width: 540px) {
            margin: 0;
            width: 256px;
        }

    }

    &__content {
        @include col(6, 12px);
        text-align: left;

        @media (max-width:1024px) {
            @include col(7);
            margin-left: 24px;
        }

        @media (max-width:768px) {
            @include col(10);
            margin: 24px 0 0;
        }

        @media (max-width: 540px) {
            width: 100%;
            max-width: 280px;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 48px;
        color: #fff;
        margin-bottom: 12px;

        @media (max-width: 940px) {
            font-size: 36px;
        }

        @media (max-width: 640px) {
            font-size: 24px;
        }

        @media (max-width: 380px) {
            font-size: 22px;
        }
    }

    &__info {
        color: #fff;
        font-size: 18px;

        @media (max-width: 540px) {
            font-size: 14px;
        }

        @media (max-width: 320px) {
            font-size: 12px;
        }
    }

    &__bg {
        position: absolute;

        &_class {
            top: -77%;
            left: 12%;
            z-index: 1;

            @media (max-width: 1024px) {
                top: -103%;
                left: 7%;
            }

            @media (max-width:768px) {
                right: 10%;
                top: 9%;
                left: unset;
                transform: rotateY(150deg);
            }

            @media (max-width:670px) {
                top: -4%;
                right: 0;
            }

            @media (max-width: 540px) {
                right: 3%;
                top: -8%;
            }

            @media (max-width: 420px) {
                right: -17%;
                top: -11%;
                width: 52%;
            }
        }

        &_yellow-circle {
            left: 9%;
            bottom: 15%;
            z-index: 1;

            @media (max-width: 1024px) {
                left: -1%;
                bottom: 3%;
            }
            @media (max-width: 768px) {
                left: 0;
                bottom: 65%;
            }

            @media (max-width: 420px) {
                left: -15%;
            }
        }

        &_yellow-rec {
            top: -22%;
            width: 16px;

            @media (max-width: 540px) {
                bottom: -8%;
                width: 40px;
                right: 12%;
                top: unset;
            }
        }

        &_white-circle {
            bottom: 0;

            @media (max-width: 768px) {
                right: 24%;
                top: 0;
            }

            @media (max-width: 540px) {
                right: 12%;
                top: -15%;
            }
        }

        &_white-rec {
            left: 24%;
            bottom: -25%;

            @media (max-width: 540px) {
                left: 16%;
                bottom: -14%;
            }
        }

        &_yellow-wave {
            transform: rotate(22deg);
            top: 15%;
            left: 38%;

            @media (max-width: 540px) {
                bottom: 26%;
                right: 14%;
                top: unset;
                left: unset;
            }

            @media (max-width: 420px) {
                right: -16%;
            }
        }
    }
}

.student-cards-mobile {
    background-color: #F7F8F8;
    position: relative;
    overflow: hidden;

    &__col {
        text-align: left;
        @include col(5, 24px);
        z-index: 2;

        @media (max-width: 1200px) {
            @include col(6);
        }

        @media (max-width: 1024px) {
            @include col(8);
            margin: 0;
        }

        @media (max-width: 680px) {
            width: unset;
            margin: 0;
        }
    }

    &__img-wr {
        @include col(7, 24px);
        z-index: 0;

        @media (max-width: 1200px) {
            @include col(6);
        }

        @media (max-width: 680px) {
            display: none;
        }
    }

    &__mob-wr {
        display: none;

        @media (max-width: 420px) {
            display: block;
            margin-top: 24px;
        }
    }

    &__img {
        @media (max-width: 1024px) {
            position: absolute;
            right: -20%;
            top: 21%;
        }

        @media (max-width: 960px) {
            right: -30%;
        }

        @media (max-width: 860px) {
            right: -50%;
        }

        @media (max-width: 680px) {
            display: none;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 48px;
        color: #4AB541;
        margin-bottom: 12px;

        @media (max-width: 940px) {
            font-size: 36px;
        }

        @media (max-width: 540px) {
            font-size: 24px;
        }

        @media (max-width: 380px) {
            font-size: 22px;
        }
    }

    &__subtitle {
        font-weight: normal;
        font-size: 18px;
        color: #1E1D1D;
        margin-bottom: 24px;

        @media (max-width: 768px) {
            font-size: 14px;
        }
    }

    &__item {
        background-color: #fff;
        border-radius: 24px 24px 0px 24px;
        max-width: 365px;
        padding: 21px 36px;
        margin-bottom: 12px;
        display: flex;
        position: relative;

        @media (max-width: 768px) {
            max-width: 287px;
            padding: 21px 27px;
        }
        @media (max-width: 375px) {
            max-width: 230px;
            padding: 21px 16px;
            font-size: 12px;
        }

        &:nth-child(odd) {
            &::before {
                position: absolute;
                background-image: url('../assets/images/finger-right.png');
                width: 56px;
                height: 32px;
                content: '';
                left: -40px;
                top: 26px;
            }
        }

        &:nth-child(even) {
            &::after {
                position: absolute;
                background-image: url('../assets/images/finger-left.png');
                width: 56px;
                height: 32px;
                content: '';
                right: -40px;
                top: 26px;
            }
        }
    }

    &__text {
        margin-left: 40px;

        @media (max-width: 768px) {
            margin-left: 24px;
        }
    }

    &__container {
        @include row;
        padding-left: 56px;
        align-items: center;

        @media (max-width: 1024px) {
            display: block;
            margin: 0;
            padding-left: 80px;
        }

        @media (max-width: 680px) {
            display: flex;
            padding-left: 22px;
            justify-content: center;
        }

        @media (max-width: 420px) {
            flex-direction: column;
        }
    }

    &__advantages {
        margin-bottom: 48px;
    }

    &__app {
        cursor: pointer;

        &:first-of-type {
            margin-right: 24px;

            @media (max-width: 940px) {
                margin-right: 16px;
            }
        }

        &_margin {
            &:first-of-type {
                margin-right: 12px;
            }
        }
    }

    &__app-img {
        transition: all .3s;

        &:hover {
            opacity: 0.8;
        }

        &_s {
            width: 114px;

            @media (max-width: 768px) {
                margin-bottom: 24px;
            }

        }

        @media (max-width: 768px) {
            max-width: 136px;
        }

        @media (max-width: 400px) {
            max-width: 112px;
        }
    }
}

.student-cards-footer {
    @media (max-width: 768px) {
        padding: 56px 0px 45px;
    }

    @media (max-width: 420px) {
        padding: 48px 0px 38px;
    }

    &__wr {
        display: flex;
        justify-content: center;

        @media (max-width: 768px) {
            justify-content: flex-start;
        }

        @media (max-width: 420px) {
            flex-direction: column;
        }
    }

    &__info {
        max-width: 240px;
        text-align: left;
        margin-right: 96px;

        @media (max-width: 420px) {
            margin-right: 0;
        }
    }

    &__mobile {
        text-align: left;
        margin-right: 96px;

        @media (max-width: 768px) {
            margin-right: 0;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 18px;
        color: #363333;
        margin-bottom: 12px;

        @media (max-width: 768px) {
            text-align: left;
        }
    }

    &__copy {
        margin-top: 24px;
        font-size: 10px;
        color: #363333;

        @media (max-width: 420px) {
            margin-bottom: 24px;
        }
    }

    &__link {
        color: #363333;
    }

    &__link-img {
        transition: all .3s;

        &:hover {
            filter: brightness(0.5);
        }
    }

    &__phone-num {
        font-size: 14px;
        font-weight: normal;
        color: #363333;
        transition: all .3s;

        &:hover {
            color: #696969;
        }
    }

    &__socials {
        max-width: 136px;

        @media (max-width: 768px) {
            max-width: unset;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;

        @media (max-width:768px) {
            flex-wrap: nowrap;
        }
    }

    &__item {
        &+.student-cards-footer__item {
            margin-left: 12px;
        }

        &:nth-child(4) {
            margin-left: 0;

            @media (max-width: 768px) {
                margin-left: 12px;
            }
        }
    }

    &__dop {
        display: flex;

        @media (max-width:768px) {
            display: block;
        }
    }
}

.student-cards-form {
    position: relative;
    overflow: hidden;

    &__request-wr {
        margin: 0 auto;
        text-align: center;
        max-width: 560px;
    }

    &__title {
        font-weight: bold;
        font-size: 48px;
        margin-bottom: 48px;
        color: #fff;

        @media (max-width: 768px) {
            font-size: 36px;
        }

        @media(max-width: 420px) {
            font-size: 24px;
            margin-bottom: 24px;
        }

        @media(max-width: 380px) {
            font-size: 22px;
            margin-bottom: 24px;
        }
    }

    &__success-text {
        font-size: 20px;
    }

    &__success-num {
        color: #4AB541;
    }

    &__button-wr {
        margin-top: 16px;

        .cib-button {
            height: 40px;
        }
    }
}

.student-cards-form-request {
    &__block {
        display: flex;

        .student-cards-form-request__input:first-of-type {
            .input-component__wr {
                margin-right: 12px;
            }
        }
    }


    &__input {
        margin-bottom: 8px;
        width: 100%;

        .input-component {
            &__select-label-inside {
                &_required {
                    .input-component__label-text:after {
                        display: none;
                    }
                }

                input {
                    border: 1px solid #5dcf57;
                }
            }

            &__single-label.input-component__single-label_required {
                color: #fff;
                display: inline-block;
                text-align: left;
                width: 100%;
                padding-left: 20px;
            }

            &__wr {
                &_valid {
                    &::before {
                        filter: brightness(5);
                    }
                }
            }

            &__input {
                background: rgb(93, 207, 87);
                border-radius: 8px!important;
                color: #fff !important;
                border: 1px solid #5dcf57 !important;
                font-size: 14px;

                &:focus {
                    @media (max-width: 420px) {
                        padding: 18px 32px 8px 12px;
                    }
                }

                &:valid {
                    @media (max-width: 420px) {
                        padding: 18px 32px 8px 12px;
                    }
                }


                &_invalid {
                    border-color: #000 !important;
                }
            }

            &__label {
                background: unset !important;

                &-text {
                    color: #fff;

                    @media (max-width:540px) {
                        left: 12px !important;
                    }

                    @media (max-width:420px) {
                        font-size: 14px !important;
                    }

                    &_required {
                        &:before {
                            display: none;
                        }
                    }
                }

            }

            &__inputHint {
                transition: unset !important;

                &_error {
                    text-align: left;
                    color: #000 !important;
                    font-size: 14px;
                }
            }
        }

        .select-wr {
            select {
                background: #5dcf57 !important;
                border-radius: 8px;
                color: #fff;

                @media (max-width: 420px) {
                    padding: 12px 32px 8px 12px;

                }

                option {
                    color: #fff;

                    @media (max-width: 420px) {
                        font-size: 14px;
                    }
                }
            }

            img {
                filter: brightness(2);
            }

            &__select {

                &.select-wr__select_focus {
                    color: #fff;
                    background: #5dcf57;

                    @media (max-width: 420px) {
                        padding: 18px 32px 8px 12px;
                    }
                }
            }
        }

        .v-select {
            background: rgb(93, 207, 87);
            border-radius: 8px;
            margin: 12px 0 24px;
            height: 52px;

        }

        .vs__actions {
            filter: brightness(5);
            height: 52px;
        }

        .vs__clear {
            display: none;
        }

        .vs__selected {
            color: #fff;
            text-align: left;
            padding-left: 20px;

            @media (max-width: 420px) {
                padding-left: 6px;
            }
        }

        .vs__dropdown-option {
            font-size: 12px;

            @media (max-width:420px) {
                padding-left: 10px;
                font-size: 12px;
                padding: 5px 20px;
            }
        }

        .input-component__box-shadow {
            background-color: rgb(93, 207, 87) !important;
            box-shadow: none;
            border-radius: 8px;
        }

    }

    &__info {
        color: #fff;
        text-align: left;

        @media (max-width: 420px) {
            font-size: 14px;
        }

        .cib-button-wr {
            background: transparent;
            color: #fff;
            margin: 24px 0 96px;
            text-transform: none;
        }
    }

    &__info-link {
        color: #FFF;
        display: inline-block;
        border-bottom: 1px solid #fff;
        transition: all .3s;
        &:hover{
            border-bottom: 1px solid transparent;
        }

    }

    &__agreement {
        margin: 22px 0;
    }
}

.hooper {
    height: unset !important;
}

.hooper-track {
    padding: 36px !important;
    @media (max-width: 420px) {
        padding: 0!important;
    }
}

.student-cards-modal {
    position: relative;

    .cibModal__wr {
        width: 1000px;
        max-width: unset;
        padding: 96px 50px;
        border-radius: 32px;
        overflow: hidden;
        background-image: url('../assets/images/graduation-cap1.png'), url('../assets/images/Rectangle-green.svg'), url('../assets/images/ellipse.svg');
        background-repeat: no-repeat;
        background-position: 0% 12%, 88% 100%, 101% -8%;
        background-size: auto, auto, 114px;

        @media (max-width: 1024px) {
            width: 870px;
            background-image: url('../assets/images/graduation-cap1.png'), url('../assets/images/Rectangle-green.svg'), url('../assets/images/ellipse.svg');
            background-position: -4% 12%, 88% 100%, 101% -8%;
            background-size: 26%, auto, 114px;
        }

        @media (max-width: 768px) {
            width: 654px;
            padding: 66px 45px 99px;
            background-image: url('../assets/images/graduation-cap3.png'), url('../assets/images/Rectangle-green.svg'), url('../assets/images/ellipse.svg');
            background-position: -2% 100%, 88% 100%, 101% -8%;
            background-size: 36%, auto, 114px;
        }

        @media (max-width: 540px) {
            padding: 66px 12px 160px;
            max-height: unset;
            background-image: url('../assets/images/graduation-cap3.png');
            background-position: bottom center;
            background-size: 35%;
        }

        @media (max-width: 420px) {
            background-size: 53%;
        }


    }

    .cibModal__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-family: "Pragmatica", arial;
        text-align: center;
        font-weight: bold;
        font-size: 48px;
        color: #3AAA35;
        margin-bottom: 48px;

        @media (max-width:768px) {
            font-size: 36px;
            margin-bottom: 24px;
        }

        @media (max-width:540px) {
            font-size: 24px;
        }

        @media (max-width:380px) {
            font-size: 22px;
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 600px;
    }

    &__item {
        font-family: "Pragmatica", arial;
        color: #3AAA35;
        border: 1px solid #3AAA35;
        border-radius: 10px;
        padding: 12px;
        margin-bottom: 24px;
        width: 160px;
        margin-right: 24px;
        display: flex;
        justify-content: center;
        transition: all .3s;
        cursor: pointer;
        font-size: 18px;

        &:hover {
            background-color: #FFE600;
            color: #333;
            border-color: #FFE600;
        }

        @media (max-width: 380px) {
            font-size: 14px;
            width: 140px;
        }

        @media (max-width:350px) {
            margin-bottom: 12px;
            width: 99px;
            margin-right: 12px;
            font-size: 11px;
        }
    }

    &__img-wr {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    &__img {
        width: 38%;
    }
}

.student-cards-mobile-menu {
    background: #fff;
    width: 100%;
    padding: 48px 58px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    height: 216px;

    @media (max-width: 540px) {
        height: 255px;
    }

    @media (max-width: 420px) {
        padding: 48px 24px;
    }

    @media (max-width: 370px) {
        height: 360px;
    }

    &__close {
        position: absolute;
        right: 48px;
        top: 58px;

        @media (max-width: 320px) {
            right: 24px;
        }
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__link {
        color: #1E1D1D;
        font-size: 18px;
        margin-bottom: 24px;
        display: block;
    }

    &__logo-link {
        margin-bottom: 54px;
        display: block;

        @media (max-width:540px) {
            text-align: left;
        }

        @media (max-width:370px) {
            width: 74%;
        }
    }
}

.student-cards-agreement {
    text-align: left;
    color: #fff;
    font-size: 14px;
    line-height: 1.25;

    &__text {
        margin-bottom: 16px;

        &_bold {
            font-weight: 700;
        }
    }

    &__list {
        list-style-type: disc;
        padding-left: 16px;
    }

    &__item {
        margin-bottom: 16px;
    }
}

//стили для автозаполнения
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid rgb(93, 207, 87);
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0px 1000px rgb(93, 207, 87) inset;
    box-shadow: 0 0 0px 1000px rgb(93, 207, 87) inset;
    transition: background-color 5000s ease-in-out 0s;
}