<template>
    <div class="student-cards">
        <cardHeader :image="getImage"></cardHeader>
        <advantages :advantages="getAdvantages"></advantages>
        <campus :image="getImage"></campus>
        <mobile></mobile>
        <request></request>
        <cardFooter></cardFooter>
    </div>
</template>

<script>
import { cardsData } from '@/student-cards/data/model'
import { mapFields } from 'vuex-map-fields'
export default {
    name: 'cardPage',
    data: () => ({
        cardsData
    }),
    created () {
        if (!this.currentPageData) {
            this.$router.push({ name: 'Home' })
        }
        this.showModal = false
    },
    components: {
        cardHeader: () => import('@/student-cards/components/card-header'),
        advantages: () => import('@/student-cards/components/advantages'),
        campus: () => import('@/student-cards/components/campus'),
        mobile: () => import('@/student-cards/components/mobile'),
        cardFooter: () => import('@/student-cards/components/cardFooter'),
        request: () => import('@/student-cards/components/request')
    },
    metaInfo () {
        return {
            title: `Студенческая карта ${this.currentPageData?.label}`,
            meta: [{
                vmid: 'description',
                name: 'description',
                content: `Студенческая карта ${this.currentPageData?.label} Ростовской области`
            },
            {
                vmid: 'keywords',
                name: 'keywords',
                content: `Студенческая карта ${this.currentPageData?.label}`
            }]
        }
    },
    computed: {
        ...mapFields([
            'showModal'
        ]),
        slug () {
            return this.$route.params.slug
        },
        currentPageData () {
            return this.cardsData.find(cardData => {
                return cardData.slug === this.slug
            })
        },
        getAdvantages () {
            return this.currentPageData?.advantages || []
        },
        getImage () {
            return this.currentPageData?.img
        }
    }
}
</script>

<style scoped>

</style>
