<template>
    <div class="student-cards">
        <cardHeader></cardHeader>
        <campus></campus>
        <mobile></mobile>
        <cardFooter></cardFooter>
    </div>
</template>
<script>

    import { mapFields } from 'vuex-map-fields'

    export default {
        name: 'Home',
        components: {
            cardHeader: () => import('@/student-cards/components/card-header'),
            campus: () => import('@/student-cards/components/campus'),
            mobile: () => import('@/student-cards/components/mobile'),
            cardFooter: () => import('@/student-cards/components/cardFooter')
        },
        metaInfo: {
            title: 'Студенческие карты',
            meta: [{
                vmid: 'description',
                name: 'description',
                content: 'Студенческие карты банка Центр-инвест'
            }, {
                vmid: 'keywords',
                name: 'keywords',
                content: 'Студенческие карты банка Центр-инвест'
            }]
        },
        created () {
            this.showModal = true
        },
        computed: {
            ...mapFields([
                'showModal'
            ])
        }
    }

</script>
