@import '~reset-css';
@import '../../assets/styles/base.scss';
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    max-width: 100%;
    min-width: 320px;
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul, ol {
    padding-left: 0;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.cib-button {
    display: inline-block;
    max-width: 242px !important;
    width: 100% !important;
    max-height: 66px !important;
    height: 66px !important;
    border: none !important;
    background-color: #FFF32B;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
    color: #00011B;
    padding: 15px 50px;
    cursor: pointer;
    transition: background .3s ease;
    border-radius: 90px !important;
    text-transform: initial !important;

    &.disabled {
        cursor: not-allowed;
        background-color: #E9E8FF;
    }

    @media screen and (max-width: 767px) {
        max-height: 36px !important;
        padding: 9px 36px;
    }

    @media screen and (max-width: 415px) {
        max-width: 150px !important;
        padding: 9px 0;
    }
}

.cib-button:hover {
    background-color: #F5E700;

    &.disabled {
        background-color: #E9E8FF;
    }
}

.mobile-btn {
    display: none;
}

.section-title {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    line-height: 1;
    color: #333333;
    text-align: center;
    padding-bottom: 72px;
}

.text {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.4;
    color: #333333;
    font-weight: 300;
}

.text-bold {
    font-weight: 700;
}

.link {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #4AB541;
    line-height: 1.4;
}

.img-responsive {
    width: 100%;
    height: auto;
}

/*  NAVBAR  */
.navbar {
    .wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 24px;
        margin-bottom: 24px;
    }
}

.navbar__logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;

    @media (max-width: 540px) {
        padding-left: 20px;
    }
}

.navbar__logos__item {
    display: block;
    margin-right: 56px;
}

.nav-phone {
    margin-left: auto;

    a {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        text-align: right;
        color: #02001F;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            margin-right: 8px;
            max-width: 18px;
            max-height: 20px;
        }
    }

    @media screen and (max-width: 767px) {
        a {
            font-size: 16px;

            img {
                margin-right: 4px;
            }
        }
    }

    @media screen and (max-width: 400px) {
        display: none;
    }
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.active {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: fixed;
        top: 42px;
        width: 100%;
        background-color: #fff;
        transition: all 0.3s;
        padding: 15px;
        padding-bottom: 0px;
        border-bottom: 1px solid #e0e0e0;
        transition: all .5s;
    }

    &__item {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        line-height: 17px;
        color: #646464;
        transition: color, opacity .3s ease;
        text-transform: uppercase;

        &:hover {
            color: #4AB541;
            opacity: 1;
        }

        &.active {
            margin-bottom: 10px;
            padding: 15px 5px 15px;
            border-bottom: 1px solid #e0e0e0;
            transition: all .5s;
            width: 100%;
            text-align: right;
            font-size: 16px;

            &:last-child {
                border-bottom: none;
            }
        }

        &:not(:last-child) {
            margin-right: 44px;
        }
    }

    @media screen and (max-width: 999px) {
        display: none;
    }
}

/*   BANNER   */
.banner {
    position: relative;
    background: linear-gradient(90deg, #70ADF5 0%, #00ACFA 70%);

    .wrapper {
        position: relative;
        z-index: 1;
    }

    &__content {
        padding: 162px 0;

        @media screen and (max-width: 767px) {
            padding: 80px 0;
        }

        @media screen and (max-width: 415px) {
            padding: 40px 0;
        }
    }

    &__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 68px;
        line-height: 62px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 32px;

        @media screen and (max-width: 767px) {
            font-size: 42px;
            margin-bottom: 0;
        }

        @media screen and (max-width: 415px) {
            font-size: 30px;
        }
    }

    &__text {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 26px;
        line-height: 17px;
        color: #FFFFFF;
        margin-bottom: 48px;

        b {
            transform: translateY(4px);
            display: inline-block;
            font-size: 36px;
            line-height: 17px;
            font-weight: bold;
        }

        @media screen and (max-width: 767px) {
            font-size: 16px;

            b {
                font-size: 26px;
            }
        }

        @media screen and (max-width: 415px) {
            font-size: 14px;
        }
    }

    &__bg {
        background: url('../assets/images/main-bg.png') no-repeat;
        position: absolute;
        max-width: 851px;
        max-height: 533px;
        width: 100%;
        height: 100%;
        bottom: 0;
        right: -15%;
        z-index: -1;
        background-position: 100% bottom;

        @media screen and (max-width: 1450px) {
            right: 0;
        } 

        @media screen and (max-width: 767px) {
            background-size: contain;
        }
    }
}

/*   BENEFITS   */
.benefits {
    background-color: #E9E8FF;
    padding: 112px 0 128px 0;

    @media screen and (max-width: 767px) {
        padding: 56px 0;
    }
}

.benefits-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__item {
        max-width: 410px;
        max-height: 402px;
        width: 100%;
        height: 100%;
        position: relative;

        &:hover {
            .front {
                transform: perspective(600px) rotateY(-180deg);
            }
        
            .back {
                transform: perspective(600px) rotateY(0);
            }
        }

        &--big {
            max-width: 522px;
        }

        &:nth-child(odd) {
            margin-right: 43px;
            margin-bottom: 64px;
        }
    }

    @media screen and (max-width: 999px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__item {
            &:nth-child(odd) {
                margin: 0 0 24px 0;
            }

            margin-bottom: 24px;
            transform: scale(0.9);
        }
    }
}

.front,
.back {
    max-width: inherit;
    max-height: inherit;
    width: inherit;
    height: inherit;
    overflow: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    border-radius: 16px;
    background: #ffffff;
}

.front {
    transform: perspective(600px) rotateY(0);

    img {
        max-width: inherit;
        max-height: inherit;
        width: inherit;
        height: inherit;
        object-fit: cover;

        @media screen and (max-width: 575px) {
            max-width: initial;
            max-height: initial;
            width: initial;
            height: initial;
        }
    }
}

.back {
    transform: perspective(600px) rotateY(180deg);
    padding: 32px 48px 46px;
    position: absolute;
    top: 0;

    &--flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h3 {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 44px;
        color: #02001F;
    }

    li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #02001F;
        margin-bottom: 8px;

        &:nth-child(2) {
            margin-bottom: 0;
        }
        
        @media screen and (max-width: 390px) {
            font-size: 14px;
            line-height: 14px;
            margin-bottom: 0;
        }
    }

    span {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 34px;
        line-height: 58px;
        color: #4AB541;
        margin-right: 15px;
        max-width: 50px;
        width: 100%;

        @media screen and (max-width: 390px) {
            font-size: 20px;
            margin-right: 8px;
        }
    }

    p {
        transform: translateY(3px);
    }
}

/* CARDS */
.cards {
    background: #ffffff;

    &__logo {
        background: url('../assets/images/childCard.svg') no-repeat center;
        background-size: contain;
        display: block;
        width: 100%;
        height: 46px;
        margin: 74px 0 80px 0;
    }

    &-wrapper {
        padding-bottom: 123px;
    }

    .card {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &-left {
            margin-right: 42px;
            max-width: 373px;
            max-height: 234px;
            width: 100%;
            border-radius: 12px;

            img {
                width: inherit;
            }
        }

        p {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 44px;
            color: #000000;
        }

        span {
            display: block;
            width: 12px;
            height: 8px;
            margin-right: 8px;
            background: url('../assets/images/list-style.svg') no-repeat;
            flex-shrink: 0;
        }

        li {
            display: flex;
            align-items: center;
        }

        a {
            color: #4AB541;
        }
    }

    .line {
        width: 100%;
        height: 1px;
        margin: 56px 0 67px 0;
        background: #D3D3D3;
    }

    @media screen and (max-width: 950px) {
        .card {
            flex-direction: column;

            &-left {
                margin-right: 0;
                margin-bottom: 42px;
            }

            &-right {
                text-align: center;
            }
        }
    }

    @media screen and (max-width: 768px) {
        &-wrapper {
            padding-bottom: 48px;
        }

        &__logo {
            margin: 24px 0;
        }
    }

    @media screen and (max-width: 530px) {
        .card p {
            line-height: 26px;
            text-align: left;
            margin-bottom: 8px;
        }
    }
    &__grid-row {
        @include row();
    }
    &__grid-col {
        @include col(6);
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 44px;
            color: #02001F;
            margin-bottom: 16px;
        }
        @media (max-width: 480px) {
            @include col(12);
            margin-bottom: 16px;
        }
    }
}

/* ORDER-CARD */
.ordercard {
    padding: 96px 0 112px 0;
    background: #F7F8F8;
    &__success-text {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
    }
    &__success-num {
        font-family: 'Roboto', sans-serif;
        color: #4AB541;
    }
    &__button-wr {
        margin-top: 16px;
        display: flex;
        justify-content: center;
        .cib-button {
            height: 40px !important;
        }
    }

    h2 {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        line-height: 44px;
        text-align: center;
        color: #02001F;
        margin-bottom: 56px;
    }

    @media screen and (max-width: 767px) {
        padding: 56px 0;

        h2 {
            font-size: 32px;
        }

        &__logo {
            margin: 12px 0 32px 0;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 792px;
    width: 100%;
    margin: 0 auto;

    &__input {
        position: relative;
        width: 100%;
        margin-bottom: 25px;
        max-height: 65px;
        height: 100%;
        border-radius: 12px;
    }

    .input-component, .input-component__wr, .input-component__input, .input-component__input:focus {
        height: 65px;
        border-radius: 12px;
    }

    .input-component__input {
        background: rgba(1, 0, 47, 0.04);
    }

    .select-wr, .select-wr > .select-wr__select {
        height: 65px;
        border-radius: 12px;
        box-shadow: none !important;
        background: rgba(1, 0, 47, 0.04);
    }

    .input-component__box-shadow {
        box-shadow: none !important;
    }
    .input-component__input {
        height: 65px !important;
        max-width: 792px;
        width: 100%;
        padding: 16px 36px 4px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 21px;
        color: #333333;
        border: none;
        outline: none;
        border-radius: 12px !important;
        border-bottom: none !important;

        &:focus {
            background: #FFFFFF;
            border-radius: 12px;
        }
    }

    .input-component__input_invalid {
        border: 1px solid #F96073 !important;
        border-radius: 12px !important;
    }

    .input-component__input_invalid + .input-component__label {
        border: none;
    }

    .input-component__label {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 44px;
        color: rgba(0, 3, 27, 0.4);
        cursor: text;
        border-radius: 12px !important;
        background: rgba(1, 0, 47, 0.04) !important;

        &_focus {
            background:rgba(255, 255, 255, 0.2) !important;
            border: 1px solid rgba(4, 0, 27, 0.25);
            border-radius: 12px;
        }
    }

    .input-component__label-text::before {
        display: none;
    }

    &__group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .form__input:first-of-type {
            max-width: 384px;
        }

        .form__input:last-of-type {
            max-width: 354px;
        }

        @media screen and (max-width: 767px) {
            flex-direction: column;

            .form__input:first-of-type {
                max-width: 100%;
            }
    
            .form__input:last-of-type {
                max-width: 100%;
            }
        }
    }

    .checkbox {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;

        .checkboxes-wr__label {
            align-items: center;

            &::before {
                background-color: rgba(1, 0, 47, 0.04) !important;
                border: none !important;
            }
        }

        &__info {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 44px;
            color: rgba(0, 0, 0, 0.5);

            @media screen and (max-width: 767px) {
                line-height: initial;
            }
        }

        &__info-link {
            color: #4AB541;

            &::first-letter {
                text-transform: uppercase;
            }
        }

        .input-component, .input-component__wr, .input-component__input, .input-component__input:focus {
            height: 100%;
        }
        
        .input-component__inputHint_error {
            transform: translateY(-10px);
        }
    }
}

.checkboxes-wr__checkbox-classic input[type="checkbox"]:checked + .checkboxes-wr__label_green:before {
    background-color: #50b848 !important;
}

/*   FAQ   */
.faq-section {
    padding: 112px 0;
    background: url('../assets/images/second-bg.png') no-repeat;
    max-height: 1028px;

    a {
        color: #4AB541;
    }

    @media screen and (max-width: 768px) {
        max-height: 100%;
        background-size: cover;
        padding: 66px 0;
    }
}

.faq {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    overflow: auto;
    max-height: 650px;

    &::-webkit-scrollbar {
        width: 0
    }
}

.faq__questions {
    flex: 1 1 39%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    transform: translateY(0);
    position: sticky;
    top: 0;
}

.faq__questions__item {
    display: block;
}

.faq__questions__item .question-link {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 2;
    color: #333333;
    transition: color .3s ease;
}

.faq__questions__item .question-link:hover {
    color: #4AB541;
}

.faq__answers {
    flex: 1 1 61%;
    padding-left: 48px;
    border-left: 1px solid #BABABA;

    b {
        font-weight: bold;
        display: inline-block;
        margin-top: 8px;
        &:first-of-type {
            margin-top: 0;
        }
    }
}

.faq__answers__item {
    margin-bottom: 32px;
}

.faq__answers__item .answer__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: #333333;
    margin-bottom: 16px;
}

.faq__answers__item .answer__text {
    font-family: "Roboto", sans-serif;
    font-weight: 16px;
    line-height: 1.4;
    color: #333333;
    margin-bottom: 16px;
}

/*   MOBILE FAQ   */
.faq-mobile {
    display: none;
    flex-direction: column;
}

.faq-mobile__item {
    display: block;
    margin-bottom: 16px;
}

.faq-mobile__item .question {
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    color: #333333;
    transition: color .3s ease;
    position: relative;
    padding-right: 32px;
    cursor: pointer;
    margin-bottom: 8px;
}

.faq-mobile__item .question.active {
    color: #4AB541;
}

.faq-mobile__item .question.active .chevron-icon {
    transform: translateY(-50%) rotate(90deg);
}

.faq-mobile__item .question.active .chevron-icon path {
    stroke: #4AB541;
}

.faq-mobile__item .question.active+.answer {
    max-height: 1000px;
}

.faq-mobile__item .question .chevron-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: transform .3s ease, fill .3s ease, stroke .3s ease;
}

.faq-mobile__item .answer {
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #333333;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease;
}

/* DOCS */
.docs {
    padding-bottom: 100px;
    background: #F7F8F8;

    h2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        color: #02001F;
        padding: 60px 0;
    }

    @media screen and (max-width: 767px) {
        padding-bottom: 50px;

        h2 {
            font-size: 30px;
            padding: 30px 0;
        }
    }
}

.docs-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__item {
        display: flex;
        align-items: center;
    }

    span {
        display: block;
        background: url('../assets/images/doc.svg') no-repeat;
        max-width: 31px;
        width: 100%;
        height: 36px;
        margin-right: 16px;
    }

    p {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #02001F;
        max-width: 256px;
    }

    @media screen and (max-width: 767px) {
        flex-direction: column;
        justify-content: initial;
        align-items: initial;

        span {
            margin-right: 8px;
            margin-bottom: 8px;
        }
    }
}

@media (max-width: 1300px) {
    .wrapper {
        padding: 0 16px;
    }
}

@media (max-width: 1200px) {
    .footer__item {
        flex: 1 1 auto;
        justify-content: space-between;
    }
}

@media (max-width: 960px) {
    .section-title {
        font-size: 42px;
    }

    .navigation__item:not(:last-child) {
        margin-right: 16px;
    }
}

@media (max-width: 800px) {
    .left-col {
        flex-direction: column;
    }

    .left-col__socials {
        margin-bottom: 24px;
    }
}

@media (max-width: 768px) {
    .navigation {
        display: none;
    }

    .faq.desktop-faq {
        display: none;
    }

    .faq-mobile {
        display: flex;
    }
}

@media (max-width: 600px) {
    .rigth-col {
        margin-bottom: 24px;
    }

    .footer-wrapper {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .cib-button {
        width: 100%;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }

    .text {
        font-size: 16px;
    }

    .navbar {
        .wrapper {
            margin-top: 14px;
            margin-bottom: 14px;
        }
    }

    .navbar__logos {
        max-width: 55%;
    }

    .navbar__logos__item img {
        width: 100%;
    }

    .section-title {
        font-size: 32px;
    }

    .faq-section {
        padding-top: 64px !important;
    }
}

.footer {
    width: 100%;
    padding: 32px 0;
    background: #F4F4FF;

    &-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
}

.footer__item {
    flex: 1 1 50%;

    &__title {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.2;
        color: #333333;
        margin-bottom: 24px;
    }

    &__phones {
        display: flex;
        flex-direction: column;
        margin: -8px 0 24px;
    }

    &__phones__phone {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 22px;
        line-height: 1.2;
        color: black;
        transition: opacity .5s ease;

        &:hover {
            opacity: .5;
        }
    }

    &__copyright__text, &__copyright__text > a {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 12px;
        line-height: 1.6;
        color: #333333;
    }
}

.footer__appstore .app-store {
    padding-top: 0;
}

.footer__appstore .app-store a:first-of-type {
    margin-right: 20px;

    @media screen and (max-width: 767px) {
        margin-right: 0;
    }
}

.footer__appstore .app-store__icon {
    opacity: 0.7;
}

.footer__appstore .app-store__icon:hover {
    opacity: 1;
}

.footer__item.rigth-col {
    max-width: 216px;
    margin-right: 90px;
}

.left-col {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__socials__container {
        display: flex;
        align-items: center;

        &.social-link {
            transition: opacity .3s ease;
        }

        @media screen and (max-width: 767px) {
            flex-wrap: wrap;
        }
    }
}

.social-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 57px;
    border: 1px solid #D6D5F2;
    box-sizing: border-box;
    border-radius: 2px;

    img {
        width: 35px;
        height: 35px;
    }
}

.left-col__socials {
    margin-right: 24px;
}

.left-col__socials__container .social-link:not(:last-child) {
    margin-right: 12px;
}

.left-col__socials__container .social-link:hover {
    opacity: .6;
}

@media (max-width: 414px) {
    .navigation__item:not(:last-child) {
        margin: 0;
    }

    .navbar__logos__item {
        margin-right: 10px;
    }

    .footer-wrapper {
        max-width: unset;
    }

    .footer__appstore .app-store__icon {
        opacity: 1;
        width: 100%;
    }

    .app-store {
        display: flex;
        justify-content: center;
    }

    .faq-section {
        margin-bottom: 0;
    }
}

@media (max-width: 370px) {
    .section-title {
        font-size: 27px;
    }
}
