<template>
    <div class="toggle-content__content toggle-content__content_active" data-content="advantages">
        <p class="toggle-content__caption">Принимайте карты всех популярных платежных систем</p>
        <p class="toggle-content__text">Эквайринг от банка «Центр-инвест» – это надежный способ увеличить оборот Вашей
            торговой точки и охватить наибольшую клиентскую аудиторию, ведь доля безналичных платежей продолжает расти.
            Индивидуальный подход к формированию тарифов позволит сделать это максимально выгодно для Вашего бизнеса.</p>
        <div class="toggle-content__logos-wr">
            <img class="toggle-content__logo toggle-content__logo_mir" src="https://www.centrinvest.ru/images/cards/mir.svg">
            <img class="toggle-content__logo toggle-content__logo_masterCard" src="https://www.centrinvest.ru/images/cards/MasterCard.svg">
            <img class="toggle-content__logo toggle-content__logo_visa" src="https://www.centrinvest.ru/images/cards/visa.svg">
            <img class="toggle-content__logo toggle-content__logo_applePay" src="https://www.centrinvest.ru/images/pays/applePay.png">
            <img class="toggle-content__logo toggle-content__logo_googlePay" src="https://www.centrinvest.ru/images/pays/googlePay.png">
            <img class="toggle-content__logo toggle-content__logo_samsungPay" src="https://www.centrinvest.ru/images/pays/samsungPay.png">
        </div>
        <p class="toggle-content__text">Вы получаете <strong style="background: #fff32b; padding: 0 5px;">бесплатно</strong>:</p>
        <ul class="toggle-content__ul circleicon">
            <li class="toggle-content__li">современный терминал с поддержкой бесконтактной технологии оплаты;</li>
            <li class="toggle-content__li">SIM-карту и чековую ленту;</li>
            <li class="toggle-content__li">круглосуточную техническую поддержку;</li>
            <li class="toggle-content__li"><a target="_blank" rel="noopener noreferrer" href="https://www.centrinvest.ru/ru/biz/rko/" onclick="yaCounter4814476.reachGoal('acquiringToRKO');">открытие
                    расчетного счета</a>;</li>
            <li class="toggle-content__li"><a target="_blank" rel="noopener noreferrer" href="https://www.centrinvest.ru/ru/biz/klient-bank/info"
                    onclick="yaCounter4814476.reachGoal('acquiringToClientbank');">удобную
                    отчетность через сервис «Бизнес-Онлайн»</a>;</li>
            <li class="toggle-content__li">обучение Вашего персонала.</li>
        </ul>
        <p class="toggle-content__text">
            Активнее привлекать клиентов поможет наша дисконтная программа <a target="_blank" rel="noopener noreferrer"
                href="https://www.centrinvest.ru/ru/fiz/bankovskie-karty/mirskidok/" class="toggle-content__link">«Мир скидок»</a> и программа
            лояльности <a target="_blank" rel="noopener noreferrer" href="https://privetmir.ru/" class="toggle-content__link">«Привет Мир»</a>
        </p>
        <div class="toggle-content__buttons-wr">
            <a onclick="yaCounter4814476.reachGoal('ClickAcquir');" href="https://www.centrinvest.ru/cabinet/aqquiring-lite/" class="btn toggle-content__button">Получить
                консультацию</a>
            <a href="https://www.centrinvest.ru/cabinet/aqquiring/" onclick="yaCounter4814476.reachGoal('ClickAcquirFull');" class="btn toggle-content__button">Подать
                заявку на эквайринг</a>
        </div>
    </div>
</template>

<script>
export default {
    name: 'equiring-advantages'
}
</script>
