<template>
    <div class="" data-content="connection">
        <p class="toggle-content__caption">Порядок подключения</p>
        <div class="step-acquiring">
            <div class="step-acquiring__row">
                <div class="step-acquiring__col">
                    <div class="step-acquiring__step">
                        <div class="step-acquiring__step-number">1</div>
                    </div>
                    <div class="step-acquiring__caption">
                        <a href="https://www.centrinvest.ru/cabinet/aqquiring/" onclick="yaCounter4814476.reachGoal('ClickAcquirFull');" class="step-acquiring__link">Заполните
                            электронную заявку</a>
                    </div>
                </div>
                <div class="step-acquiring__col">
                    <div class="step-acquiring__step">
                        <div class="step-acquiring__step-number">2</div>
                    </div>
                    <div class="step-acquiring__caption">
                        Получите одобрение
                    </div>
                </div>
                <div class="step-acquiring__col">
                    <div class="step-acquiring__step">
                        <div class="step-acquiring__step-number">3</div>
                    </div>
                    <div class="step-acquiring__caption">
                        <a target="_blank" rel="noopener noreferrer" href="https://www.centrinvest.ru/files/services/corp/pdf/equiring_docs.pdf" class="step-acquiring__link">Подайте
                            необходимый
                            пакет
                            документов</a>
                    </div>
                </div>
                <div class="step-acquiring__col">
                    <div class="step-acquiring__step">
                        <div class="step-acquiring__step-number">4</div>
                    </div>
                    <div class="step-acquiring__caption">
                        Получите настроенный терминал с проведением обучения персонала
                    </div>
                </div>
                <div class="step-acquiring__col">
                    <div class="step-acquiring__step">
                        <div class="step-acquiring__step-number">5</div>
                    </div>
                    <div class="step-acquiring__caption">
                        Принимайте карты к оплате!
                    </div>
                </div>
            </div>
        </div>
        <div class="toggle-content__buttons-wr">
            <a onclick="yaCounter4814476.reachGoal('ClickAcquir');" href="https://www.centrinvest.ru/cabinet/aqquiring-lite/" class="btn toggle-content__button">Получить
                консультацию</a>
            <a href="https://www.centrinvest.ru/cabinet/aqquiring/" onclick="yaCounter4814476.reachGoal('ClickAcquirFull');" class="btn toggle-content__button">Подать
                заявку на эквайринг</a>
        </div>
    </div>
</template>

<script>
export default {
    name: 'equiring-connection',
}
</script>