<template>
    <div class="" data-content="equipment">
        <p class="toggle-content__caption">Оборудование</p>
        <p class="toggle-content__text">Мы предлагаем самое современное оборудование, подходящее для стационарных
            торговых точек, мобильных продаж и интеграции с online-кассой.</p>
        <p class="toggle-content__text">
            Вы можете получить оборудование:
        </p>
        <ul class="toggle-content__ul circleicon">
            <li class="toggle-content__li">бесплатно на весь срок действия договора;</li>
            <li class="toggle-content__li">купить по доступной цене и получить сниженную комиссию.</li>
        </ul>

        <div class="acquiring-table" style="margin-top: 50px;">
            <div class="acquiring-table__row">
                <div class="acquiring-table__col acquiring-table__col_img">
                    <img class="toggle-content__terminals-img" src="https://www.centrinvest.ru/images/acquiring/iWL250.jpg" alt="">
                </div>
                <div class="acquiring-table__col_mobile">
                    <div class="acquiring-table__mobile-model">Мобильный POS-терминал Ingenico iWL250</div>
                    <div class="acquiring-table__inner-row">
                        <div class="acquiring-table__mobile-label">Тип подключения:</div>
                        <div class="acquiring-table__mobile-description">GSM/GPRS</div>
                    </div>
                    <div class="acquiring-table__inner-row">
                        <div class="acquiring-table__mobile-label">Сфера применения:</div>
                        <div class="acquiring-table__mobile-description">Ресторан, Кафе, Доставка, Мобильная выездная торговля,
                            Такси и частные водители,Частные репетиторы и мастера</div>
                    </div>
                </div>
                <div class="acquiring-table__col acquiring-table__col_cost">26&nbsp;900&nbsp;&#8381;</div>
            </div>
            <div class="acquiring-table__row">
                <div class="acquiring-table__col acquiring-table__col_img">
                    <img class="toggle-content__terminals-img" src="https://www.centrinvest.ru/images/acquiring/iCT250.jpg" alt="">
                </div>
                <div class="acquiring-table__col_mobile">
                    <div class="acquiring-table__mobile-model">Стационарный POS-терминал Ingenico iCT250</div>
                    <div class="acquiring-table__inner-row">
                        <div class="acquiring-table__mobile-label">Тип подключения:</div>
                        <div class="acquiring-table__mobile-description">GSM/GPRS, Ethernet</div>
                    </div>
                    <div class="acquiring-table__inner-row">
                        <div class="acquiring-table__mobile-label">Сфера применения:</div>
                        <div class="acquiring-table__mobile-description">Магазин, салон красоты, парикмахерская, торговый
                            павильон</div>
                    </div>
                </div>
                <div class="acquiring-table__col acquiring-table__col_cost">21&nbsp;900&nbsp;&#8381;</div>
            </div>
            <div class="acquiring-table__row">
                <div class="acquiring-table__col acquiring-table__col_img">
                    <img class="toggle-content__terminals-img" src="https://www.centrinvest.ru/images/acquiring/iCT220-iPP220.jpg" alt=""></div>
                <div class="acquiring-table__col_mobile">
                    <div class="acquiring-table__mobile-model">Стационарный POS-терминал Ingenico iCT 220 + внешний пин-пад
                        Ingenico iPP220</div>
                    <div class="acquiring-table__inner-row">
                        <div class="acquiring-table__mobile-label">Тип подключения:</div>
                        <div class="acquiring-table__mobile-description">GSM/GPRS, Ethernet</div>
                    </div>
                    <div class="acquiring-table__inner-row">
                        <div class="acquiring-table__mobile-label">Сфера применения:</div>
                        <div class="acquiring-table__mobile-description">Магазин, салон красоты, парикмахерская, торговый
                            павильон</div>
                    </div>
                </div>
                <div class="acquiring-table__col acquiring-table__col_cost">22&nbsp;900&nbsp;&#8381;</div>
            </div>
            <div class="acquiring-table__row">
                <div class="acquiring-table__col acquiring-table__col_img">
                    <img class="toggle-content__terminals-img" src="https://www.centrinvest.ru/images/acquiring/iPP320.jpg" alt=""></div>
                <div class="acquiring-table__col_mobile">
                    <div class="acquiring-table__mobile-model">Пин-пад Ingenico iPP320</div>
                    <div class="acquiring-table__inner-row">
                        <div class="acquiring-table__mobile-label">Тип подключения:</div>
                        <div class="acquiring-table__mobile-description">USB</div>
                    </div>
                    <div class="acquiring-table__inner-row">
                        <div class="acquiring-table__mobile-label">Сфера применения:</div>
                        <div class="acquiring-table__mobile-description">Пин-пад для интеграции с онлайн кассой</div>
                    </div>
                </div>
                <div class="acquiring-table__col acquiring-table__col_cost">16&nbsp;900&nbsp;&#8381;</div>
            </div>
        </div>



        <div class="toggle-content__buttons-wr">
            <a onclick="yaCounter4814476.reachGoal('ClickAcquir');" href="https://www.centrinvest.ru/cabinet/aqquiring-lite/" class="btn toggle-content__button">Получить
                консультацию</a>
            <a href="https://www.centrinvest.ru/cabinet/aqquiring/" onclick="yaCounter4814476.reachGoal('ClickAcquirFull');" class="btn toggle-content__button">Подать
                заявку на эквайринг</a>
        </div>
    </div>
</template>

<script>
export default {
    name: 'equiring-equipment',
}
</script>