<template>
    <div>
        <div class="equiring-main__cards-container">
            <equiring-card v-for="cardI in cardInfo" :payload="cardI" :key="cardI.title" @openModal="openModal"></equiring-card>
        </div>
        <div class="toggle-content__buttons-wr">
            <a onclick="yaCounter4814476.reachGoal('ClickAcquir');" href="https://www.centrinvest.ru/cabinet/aqquiring-lite/" class="btn toggle-content__button">Получить
                консультацию</a>
            <a href="https://www.centrinvest.ru/cabinet/aqquiring/" onclick="yaCounter4814476.reachGoal('ClickAcquirFull');" class="btn toggle-content__button">Подать
                заявку на эквайринг</a>
        </div>
        <cibModal v-model="showModal">
            <template #content>
                <div class="equiring-modal__inner">
                    <div class="equiring-modal__title">{{ modalModel.title }}</div>
                    <p class="equiring-modal__text">Для этой модели существует два вида ПО.</p>
                    <p class="equiring-modal__text"> <span class="equiring-modal__text_bold">Выберите установленную у Вас версию</span>, ориентируясь на изображение экрана терминала.</p>
                    <div class="equiring-modal__instructions">
                        <div class="equiring-modal__box-img-wr">
                            <img v-if="modalModel.modalImages" class="equiring-modal__box-img" :src="modalModel.modalImages[0]" alt="Инструкция">
                            <img v-else class="equiring-modal__box-img" src="../../assets/images/equiring-card/box-img1.jpg" alt="Инструкция">
                            <a :href="modalModel.pdfs[0]" class="equiring-card__btn equiring-card__btn_modal" target="_blank">Посмотреть инструкцию</a>
                        </div>
                        <div class="equiring-modal__box-img-wr">
                            <img v-if="modalModel.modalImages" class="equiring-modal__box-img" :src="modalModel.modalImages[1]" alt="Инструкция">
                            <img v-else class="equiring-modal__box-img" src="../../assets/images/equiring-card/box-img2.jpg" alt="Инструкция">
                            <a :href="modalModel.pdfs[1]" class="equiring-card__btn equiring-card__btn_modal" target="_blank">Посмотреть инструкцию</a>
                        </div>
                    </div>
                </div>
            </template>
        </cibModal>
    </div>
</template>

<script>
import cardInfo from '../../data/cardInfo'
export default {
    name: 'equiring-instructions',
    data: () => ({
        cardInfo,
        showModal: false,
        modalModel: {
            title: null,
            text: null,
            img: null,
            pdfs: [],
            modalImages: []
        }
    }),
    components: {
        'equiring-card': () => import('@/equiring/components/equiring-card.vue'),
        cibModal: () => import('centrinvest-web-components/src/appComponents/components/cibModal')
    },
    methods: {
        openModal (payload) {
            this.modalModel = { ...payload }
            this.showModal = true
        }
    }
}
</script>
