<template>
    <div>
        <p class="toggle-content__caption">Калькулятор эквайринговой комиссии</p>
        <!-- <div class="toggle-content__calc" id="acquiringCalc"></div> -->
        <acquiringCalc></acquiringCalc>
        <p class="toggle-content__text">Мы хотим сделать безналичные платежи максимально выгодными для Вашего бизнеса и открыты к обсуждению индивидуальных условий. Оставьте заявку на консультацию и наши специалисты ответят на все Ваши вопросы.</p>
        <p class="toggle-content__text">Ознакомиться с <a href="https://www.centrinvest.ru/files/services/corp/pdf/pravila_plat_kart_12.11.2018.pdf">правилами</a> обслуживания держателей платежных карт</p>
        <div class="toggle-content__buttons-wr">
            <a onclick="yaCounter4814476.reachGoal('ClickAcquir');" href="https://www.centrinvest.ru/cabinet/aqquiring-lite/" class="btn toggle-content__button">Получить
                консультацию</a>
            <a href="https://www.centrinvest.ru/cabinet/aqquiring/" onclick="yaCounter4814476.reachGoal('ClickAcquirFull');" class="btn toggle-content__button">Подать
                заявку на эквайринг</a>
        </div>
    </div>
</template>

<script>
import acquiringCalc from 'centrinvest-web-components/src/appComponents/AcquiringCalc'
export default {
    name: 'equiring-tarifs',
    components: {
        acquiringCalc
    }
}
</script>
