@import '../../assets/styles/base.scss';

.cards {
    &__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        font-size: 46px;
        line-height: 1.4;
        letter-spacing: 0.5px;
        color: $grey;
        margin-bottom: 26px;
        @media (max-width: 768px) {
            font-size: 6.8vw;
        }
        @media (max-width: 480px) {
            font-size: 9vw;
        }
    }
    &__textBlock {
        font-size: 18px;
        line-height: 1.2;
    }
    &__documents {
        margin-top: 40px;
    }
}

.cards-type {
    position: relative;
    overflow: hidden;
    margin-bottom: 80px;
    &__wrapper {
        display: flex;
        flex-wrap: nowrap;
        transition: 0.3s;
    }
    &__item {
        margin-right: 22px;
        font-size: 20px;
        line-height: 1.2;
        color: $grey;
        cursor: pointer;
        padding-bottom: 10px;
        user-select: none;
        color: rgba(51, 51, 51, 0.6);
        transition: color 0.3s;
        &_active {
            color: #333;
        }
    }
    &__border {
        height: 1px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 1px;
        background: #EFEFEF;
    }
    &__line {
        height: 3px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: $green;
        transition: all 0.3s;
    }
    &__scroll-wrapper {
        overflow-x: scroll;
        @media (min-width: 769px) {
            margin-bottom: -17px;
        }
    }
}

.card-block-info {
    margin-bottom: 50px;
    padding-bottom: 50px;
    font-size: 0;
    border-bottom: 1px solid #bbb;
    &__img-wr {
        @media (min-width: 769px) {
            flex: 0 0 300px;
            margin-right: 48px;
            max-width: 300px;
        }
        @media (max-width: 768px) {
            margin-bottom: 12px;
        }
    }
    &__wr {
        display: flex;
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
    &__img {
        border-radius: 6px;
    }
    &__content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
    }
    &__caption {
        font-weight: 500;
        font-size: 34px;
        color: $grey;
        margin-bottom: 24px;
        text-decoration: none;
        transition: color 0.3s;
        line-height: 1.2;
        &:hover {
            color: $green;
        }
        @media (max-width: 768px) {
            font-size: 28px;
            display: none;
        }
        &_mobile {
            @media(min-width: 769px) {
                display: none;
            }
            display: block;
        }
    }
    &__characters {
        @include row(5px);
        margin-bottom: 34px;
        display: flex;
    }
    &__character {
        &_rate {
            @include col(3, 5px)
        }
        &_amount {
            @include col(5, 5px)
        }
        &_term {
            @include col(4, 5px)
        }
    }
    &__label {
        font-size: 18px;
        color: $grey;
        margin-bottom: 12px;
        @media (max-width: 600px) {
            font-size: 16px
        }
        @media (max-width: 414px) {
            font-size: 14px
        }
    }
    &__value {
        font-size: 28px;
        color: $green;
        font-weight: 500;
        @media (max-width: 600px) {
            font-size: 22px
        }
        @media (max-width: 414px) {
            font-size: 18px
        }
    }
    &__description {
        color: $grey;
        font-size: 18px;
        line-height: 1.2;
        margin-bottom: 24px;
    }
    &__buttons {
        margin-top: auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .cib-button-wr {
            margin-right: 24px;
        }
    }
    &__img-link {
        display: block;
        @media (max-width: 768px) {
            max-width: 280px;
        }
    }
    &__button {
        @media (max-width: 480px) {
            width: 100%;
        }
        border-radius: 6px;
        box-sizing: border-box;
        @media (max-width: 600px) {
            margin-bottom: 16px;
        }
        
    }
}

.dropdown-block {
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    margin: 25px 0 35px 0;
}

.cardsInner {
    color: $grey;
    overflow: hidden;
    &__title {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 46px;
        line-height: 1.2;
        margin-bottom: 80px;
        color: $grey;
        @media (max-width: 768px) {
            font-size: 6.8vw;
        }
        @media (max-width: 480px) {
            font-size: 9vw;
        }
    }
    &__h2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 1.2;
        margin: 36px 0;
    }
    &__questions {
        font-size: 20px;
    }
    &__notes {
        margin-top: 40px;
    }
}

.cardsInnerCardInfo {
    &__row {
        display: flex;
        @media (max-width: 768px) {
            flex-wrap: wrap;
        }
        
    }
    &__col {
        &_img {
            max-width: 255px;
            flex: 0 0 255px;
            margin-right: 32px;
        }
    }
}

.cardInfoTable {
    margin-bottom: 32px;
    &__tr {

    }
    &__td {
        padding: 8px 0;
        line-height: 1.2;
        &:first-child {
            color: #626262;
            font-size: 16px;
            @media (min-width: 769px) {
                width: 40%;
                padding-right: 40px;
            }       
            @media (max-width: 768px) {
                padding-right: 20px;
            }     
        }
        &:last-child {
            @media (min-width: 769px) {
                width: 60%;
            }
            color: $grey;
        }
    }
    &__bold {
        font-weight: 700;
    }
}

.cards-block {
    @include row(19px);
    &__block {
        @include col(3, 19px);
        @media (max-width: 768px) {
            @include col(4, 19px);
            margin-bottom: 10px;
        }
        @media (max-width: 480px) {
            @include col(6, 19px);
        }
        @media (max-width: 360px) {
            @include col(12, 19px);
        }
    }
}

.cardsInnerNotes {
    &__note {
        color: #666666;
        margin-bottom: 14px;
        font-size: 12;
        line-height: 1.2;
    }
}