<template>
    <div class="cards">
        <h1 class="cards__title">Кредитные карты с льготным периодом</h1>
        <cardTypes></cardTypes>
        <cardTypesContent></cardTypesContent>
        <div class="cards__textBlock">
            Данный продукт отлично подходит клиентам, которые используют карту при безналичных расчетах для разумной экономии, т. е. при различных акциях, скидках, а также для совершения запланированных покупок, но с отсрочкой по оплате их стоимости
        </div>
        <div class="cards__documents">
            <div class="dropdown-block">
                <DropDown caption="Документы">Документы</DropDown>
            </div>
        </div>
    </div>
</template>

<script>
import cardTypes from '../components/cardTypes'
import cardTypesContent from '../components/cardTypesContent'
import DropDown from '../../components/DropDown'
    export default {
        name: 'Home',
        components: { cardTypes, cardTypesContent, DropDown },
        data () {
            return {

            }
        }
    }
</script>

<style lang="scss">
    @import '../assets/styles.scss';
</style>
