<template>
    <section class="cardsInner">
        <h1 class="cardsInner__title">Универсальная карта мир</h1>
        <div class="cardsInner__cardInfo cardsInnerCardInfo">
            <div class="cardsInnerCardInfo__row">
                <div class="cardsInnerCardInfo__col cardsInnerCardInfo__col_img">
                    <img src="../assets/img/image1.png" alt="">
                </div>
                <div class="cardsInnerCardInfo__col cardsInnerCardInfo__col_info">
                    <table class="cardsInnerCardInfo__table cardInfoTable">
                        <tbody>
                            <tr class="cardInfoTable__tr">
                                <td class="cardInfoTable__td">Кредитный лимит</td>
                                <td class="cardInfoTable__td"><span class="cardInfoTable__bold">до 3-х заработных плат</span></td>
                            </tr>
                            <tr class="cardInfoTable__tr">
                                <td class="cardInfoTable__td">Срок кредита</td>
                                <td class="cardInfoTable__td"><span class="cardInfoTable__bold">1 год с автоматической пролонгацией</span></td>
                            </tr>
                            <tr class="cardInfoTable__tr">
                                <td class="cardInfoTable__td">Беспроцентный период</td>
                                <td class="cardInfoTable__td"><span class="cardInfoTable__bold">до 55 дней на всевиды операций</span></td>
                            </tr>
                            <tr class="cardInfoTable__tr">
                                <td class="cardInfoTable__td">Ежемесячный платеж</td>
                                <td class="cardInfoTable__td"><span class="cardInfoTable__bold">10%*</span></td>
                            </tr>
                            <tr class="cardInfoTable__tr">
                                <td class="cardInfoTable__td">Ежемесячная плата за обслуживание</td>
                                <td class="cardInfoTable__td"><span class="cardInfoTable__bold">60 ₽</span></td>
                            </tr>
                            <tr class="cardInfoTable__tr">
                                <td class="cardInfoTable__td">Процентная ставка</td>
                                <td class="cardInfoTable__td"><span class="cardInfoTable__bold">0% годовых</span> - в течение льготного периода <span class="cardInfoTable__bold">26%</span> или <span class="cardInfoTable__bold">22% годовых</span> - при наличии положительной кредитной истории в банке (при невыполнении условий льготного периода)</td>
                            </tr>
                            <tr class="cardInfoTable__tr">
                                <td class="cardInfoTable__td">«Интернет-банк»</td>
                                <td class="cardInfoTable__td"><span class="cardInfoTable__bold">бесплатно</span></td>
                            </tr>
                            <tr class="cardInfoTable__tr">
                                <td class="cardInfoTable__td">Лимиты на снятие наличных в сутки в банкомате</td>
                                <td class="cardInfoTable__td"><span class="cardInfoTable__bold">100 000 ₽</span></td>
                            </tr>
                            <tr class="cardInfoTable__tr">
                                <td class="cardInfoTable__td">Лимиты на снятие наличных в сутки в отделении банка</td>
                                <td class="cardInfoTable__td"><span class="cardInfoTable__bold">300 000 ₽</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <cibButton href="#">Оформить</cibButton>
                </div>
            </div>
        </div>
        <h2 class="cardsInner__h2">Вам также могут подойти</h2>
        <div class="cardsInner__cards-block cards-block">
            <div class="cards-block__block"><img src="../assets/img/image1.png" alt=""></div>
            <div class="cards-block__block"><img src="../assets/img/image8.png" alt=""></div>
            <div class="cards-block__block"><img src="../assets/img/image9.png" alt=""></div>
        </div>
        <div class="cards__documents">
            <div class="dropdown-block">
                <DropDown caption="Документы">Документы</DropDown>
            </div>
        </div>
        <div class="cardsInner__row">
            <cibLink href="#" customClass="cardsInner__questions">Вопросы и ответы</cibLink>
        </div>
        <div class="cardsInner__notes cardsInnerNotes">
            <div class="cardsInnerNotes__note">* 10% от использованного кредита + начисленные проценты по кредиту.</div>
            <div class="cardsInnerNotes__note">** Если Заявитель в течение запрашиваемого периода получает заработную плату на карту ПАО КБ «Центр-инвест», выданную в рамках зарплатного проекта между банком и организацией (индивидуальным предпринимателем) – работодателем Заявителя, то предоставление указанных документов не является обязательным.</div>
            <div class="cardsInnerNotes__note">1. Положительная кредитная история в ПАО КБ «Центр-инвест» – полностью погашенные кредиты физического лица в банке, надлежащим образом исполненные, погашенные по сроку или не ранее 6 месяцев с даты оформления, без фактов возникновения просроченных платежей, за исключением не более 3-х просроченных платежей, продолжительностью не более 10 календарных дней каждый.</div>
        </div>
    </section>
</template>

<script>
import cibButton from 'centrinvest-web-components/src/appComponents/Button'
import cibLink from 'centrinvest-web-components/src/appComponents/link'
import DropDown from '../../components/DropDown'
import { mapFields } from 'vuex-map-fields'
export default {
    components: {
        DropDown,
        cibButton,
        cibLink
    },
    created () {
        window.scrollTo(0, 0)
    },
    data () {
        return {
        }
    },
    computed: {
        ...mapFields([
            'pageTitle'
        ])
    }
}
</script>

<style>

</style>
