.acquiring-table {
    &__row {
        justify-content: space-between;
        @media screen and (max-width:576px) {
            flex-direction: column;
        }
    }
    &__col {
        &_cost {
            padding-right: 10px;
            @media screen and (max-width:992px) {
                width: calc(100% / 12 * 2 - 0px * 2) !important;
            }
            @media screen and (max-width:576px) {
                width: 100% !important;
                justify-content: flex-start;
            }
        }
        &_mobile {
            @media screen and (max-width:992px) {
                width: calc(100% / 12 * 6 - 0px * 2) !important;
            }
            @media screen and (max-width:576px) {
                width: 100% !important;
            }
        }
        &_img {
            @media screen and (max-width:992px) {
                width: calc(100% / 12 * 4 - 0px * 2) !important;
            }
            @media screen and (max-width:576px) {
                width: 100% !important;
            }
        }
    }
}