.btn {
    display: inline-block;
    border: 0;
    border-radius: 4px;
    font-weight: 400;
    text-shadow: none;
    box-shadow: none;
    text-transform: uppercase;
    text-align: center;
    will-change: transform;
    transition: .2s;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background: #fff32a;
    color: #333;
    padding: 1rem 2rem;
    margin: 10px 0px;
    &:hover {
        background-color: #fbe418;
        color: #333;
        border: 0;
    }
    &_margin-top {
        margin-top: 35px;
    }

    @media screen and (max-width: 576px) {
        width: 100%;
    }
}