.toggle-content {
    &__li {
        a {
            border-bottom: 1px solid #e0e0e0;
            &:hover {
                color: darken($green, 10%)
            }
        }
        margin: 10px 0;
        position: relative;
        &::before {
            content: '●';
            font-size: 14px;
            margin-right: 9px;
        }
    }
    &__link {
        border-bottom: 1px solid #e0e0e0 !important;
    }
    &__ul {
        margin: 10px 10px 20px;
        list-style: none;
        padding: 0;
    }
    &__terminals-img {
        max-height: 162px;
        @media screen and (max-width: 576px) {
            max-height: 100%;
        }
    }
    &__logos-wr {
        margin: 15px 0px;
        display: flex;
        flex-wrap: wrap;
    }
    &__button {
        font-size: 12px;
        line-height: 1;
        min-height: 40px;
        padding: 13px 24px;
        box-sizing: border-box;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-weight: normal;
    }
}