@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import './vars.scss';
@import './mixins.scss';
img {
    max-width: 100%;
}
body, html {
    font-family: 'Roboto','Arial','Helvetica',sans-serif;
    font-size: 14px;
    line-height: 122%;
    letter-spacing: normal;
    color: #333;
    position: relative;
    margin: 0;
}

* {
    box-sizing: border-box;
}

a {
    color: $green;
    transition: color 0.3s;
    border-bottom: 1px solid #e0e0e0;
    line-height: 1.2;
    text-decoration: none;
    font-size: 14px;
    &:hover {
        color: darken($green, 10%)
    }
}

.button, .btn {
    display: inline-block;
    font-weight: normal;
    text-shadow: none;
    box-shadow: none;
    text-align: center;
    border-radius: 5px;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding: 16px 32px;
    transition: all .3s;
    color: #fff;
    font-size: 14px;
    will-change: transform;
    text-transform: uppercase;

    &:active {
        transform: scale(0.98);
    }

    &_green {
        background: $green;

        &:hover {
            background: lighten($green, 10%);
            color: #fff;
        }
    }

    &_yellow {
        background: $yellow;
        color: $grey;
        &:hover {
            background: darken($yellow, 10%);
            color: $grey;
        }
    }

    &_grad {
        background: linear-gradient(to right, #0af, #0061de);

        &:hover {
            color: #fff;
        }
    }

    &_purple {
        background: $purple;

        &:hover {
            background: lighten($purple, 10%);
            color: #fff;
        }
    }

    &_transparent {
        background: transparent;
        color: $green;
    }

    &_small {
        padding: 10px 16px;
    }
}

input[type="tel"] {
    border: 1px solid $border-color;
    width: 100%;
    box-sizing: border-box;
    padding: 14px 12px;
    color: #555;
    font-weight: 500;
    font-size: 18px;
    height: $inputHeight;

    &:focus {
        outline: 0;
    }
}



.vue-slider-component.vue-slider-has-label {
    padding: 0 !important;
    margin-bottom: 0;
    
}

.vue-slider-piecewise {
    margin-top: 10px !important;
    .vue-slider-piecewise-item {
        span {
            color: $green !important;
            cursor: pointer;
            @media (max-width: 500px) {
                white-space: unset !important;
                text-align: center !important;
            }
        }

        &:first-of-type {
            span {
                transform: translate(0%, 8px);
            }
        }

        &:last-of-type {
            span {
                transform: translate(-100%, 8px);
            }
        }
    }

}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.fade-enter-active,
.fade-leave-active {
    transition: opacity .3s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}