<template>
    <div class="menu">
        <ul class="menu__list">
            <li class="menu__item">
                <a href="/kreditovaniye-biznesa" class="menu__link">Кредитование бизнеса</a>
            </li>
            <li class="menu__item"><a href="/kreditnyye-karty" class="menu__link">Кредитные карты</a></li>
            <li class="menu__item"><a href="/debet-karty" class="menu__link">Дебетовые карты</a></li>
            <li class="menu__item"><a href="/internetbank" class="menu__link">Обучалка</a></li>
            <li class="menu__item"><a href="/calendar" class="menu__link">Календарь</a></li>
            <li class="menu__item"><a href="/potreb-kredit" class="menu__link">Потреб</a></li>
            <li class="menu__item"><a href="/prodaja-monet" class="menu__link">Монеты</a></li>
            <li class="menu__item"><a href="/equiring" class="menu__link">Эквайринг</a></li>
            <li class="menu__item"><a href="/child-card" class="menu__link">Детская карта</a></li>
            <li class="menu__item"><a href="/student-cards" class="menu__link">Студенческие карты</a></li>
        </ul>
    </div>
</template>

<script>
    export default {

    }
</script>

<style scoped lang="scss">
    .menu {
        &__list {
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style: none;
        }
        &__item {
            width: 300px;
            box-sizing: border-box;
            background: #42b983;
            margin: 10px 0;
        }
        &__link {
            padding: 15px;
            color: #fff;
            text-decoration: none;
            display: block;
        }

    }
</style>
