<template>
    <div class="cabinet__header cabinet-header">
        <div class="cabinet-header__row cabinet-header__row_bordered">
            <div class="cabinet-header__col">
                <div class="cabinet-header__logo-wr">
                    <img src="@/internetbank/assets/images/logo.png" alt="" class="cabinet-header__logo">
                </div>
                <div class="cabinet-header__date">
                    <p class="cabinet-header__text">{{ currentDate.value }}</p>
                    <p class="cabinet-header__text">{{ currentDate.weekDay }}</p>
                </div>
            </div>
            <div class="cabinet-header__col">
                <div class="cabinet-header__cabinet-name">ООО "Центр-интернет"</div>
                <div class="cabinet-header__tools cabinet-tools">
                    <ul class="cabinet-header__tools-menu">
                        <node-tree
                            :node="settingsMenu"
                            ref="settingsMenu"
                            classComponent="tools-menu"
                            :levelComponent="0"
                            :defaultVisibleLevel="1"
                            >
                        </node-tree>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cabinet-header__row">
            <div id="menu" class="cabinet-header__col">
                <ul class="cabinet-header__menu" id="cabinet-header-menu">
                    <node-tree
                        :node="mainMenu"
                        ref="mainMenu"
                        classComponent="cabinet-header"
                        :levelComponent="0"
                        :defaultVisibleLevel="1"
                        >
                    </node-tree>
                </ul>
            </div>
            <div class="cabinet-header__userName-wrapper">
                <div id="userName" class="cabinet-header__col">
                    <div class="cabinet-header__user-name">Иванов Иван Иванович</div>
                </div>
                <div class="cabinet-header__exit">
                    <img src="../../assets/images/exit-sc.png" alt="">
                </div>
            </div>

        </div>
    </div>
</template>

<script>
import NodeTree from '../../components/nodeTree.vue'
import { mainMenu, settingsMenu } from '../../data/data'

export default {
    name: 'cabinetHeader',
    components: {
        NodeTree
    },
    data () {
        return {
            menuItems: [],
            modifiedMenuItems: [],
            isComponentReady: false,
            mainMenu,
            settingsMenu
        }
    },
    computed: {
        currentDate () {
            const date = new Date()
            const mounthMap = [
                'Января',
                'Февраля',
                'Марта',
                'Апреля',
                'Мая',
                'Июня',
                'Июля',
                'Августа',
                'Сентября',
                'Октября',
                'Ноября',
                'Декабря'
            ]
            const weekDaysMap = [
                'Понедельник',
                'Вторник',
                'Среда',
                'Четверг',
                'Пятница',
                'Суббота',
                'Воскресенье'
            ]
            return {
                value: `${date.getDate()} ${mounthMap[date.getMonth()]} ${date.getFullYear()}`,
                weekDay: `${weekDaysMap[date.getDay()]}`
            }
        }
    }
}
</script>

<style>

</style>
