<template>
    <div class="cabinet-content">
        <section id="score" class="cabinet-widget">
            <div class="cabinet-widget__header">
                <div class="cabinet-widget__group">
                    <div class="cabinet-widget__title">Счета</div>
                    <div class="cabinet-widget__tabs cabinet-tabs">
                        <div class="cabinet-tabs__tab cabinet-tabs__tab_active">Все</div>
                        <div class="cabinet-tabs__tab">Расчетные</div>
                    </div>
                </div>
                <div class="cabinet-tabs__hide-button">
                    <img src="../../assets/images/wgt_arrow_down.png" alt="">
                </div>
            </div>
            <table class="cabinet-widget__table widget-table">
                <tbody>
                    <tr class="widget-table__tr">
                        <th class="widget-table__th" v-for="(data, index, key) in tableAccount.captions" :key="key">{{ data }}</th>
                    </tr>
                    <tr class="widget-table__tr" v-for="(data, index, key) in tableAccount.data" :key="key">
                        <td class="widget-table__td" v-for="(data, index, key) in data" :key="key" v-html="data"></td>
                    </tr>
                </tbody>
            </table>
            <div class="cabinet-widget__row">
                <div class="button cabinet-widget__button">Все счета</div>
                <div class="cabinet-widget__list-size">
                    <span class="cabinet-widget__text">отображать элементов:</span>
                    <span class="cabinet-widget__label cabinet-widget__label_active">3</span>
                    <span class="cabinet-widget__label">5</span>
                    <span class="cabinet-widget__label">10</span>
                </div>
            </div>

        </section>
        <section id="payments" class="cabinet-widget">
            <div class="cabinet-widget__header">
                <div class="cabinet-widget__group">
                    <div class="cabinet-widget__title">Платежи</div>
                    <div class="cabinet-widget__tabs cabinet-tabs">
                        <div class="cabinet-tabs__tab cabinet-tabs__tab_active">Исходящие</div>
                        <div class="cabinet-tabs__tab">Входящие</div>
                    </div>
                </div>
                <div class="cabinet-tabs__hide-button">
                    <img src="../../assets/images/wgt_arrow_down.png" alt="">
                </div>
            </div>
            <div class="cabinet-widget__row cabinet-widget__row_start">
                <div class="cabinet-widget__group cabinet-widget__group_margin">
                    <div class="button cabinet-widget__button cabinet-widget__button_margin">Создать платеж</div>
                    <div class="button cabinet-widget__button cabinet-widget__button_margin">Создать по шаблону</div>
                </div>
                <div class="cabinet-widget__tabs cabinet-tabs cabinet-tabs_margin">
                    <div class="cabinet-tabs__tab cabinet-tabs__tab_active">Все</div>
                    <div class="cabinet-tabs__tab">На подпись</div>
                    <div class="cabinet-tabs__tab">Отклоненные</div>
                    <div class="cabinet-tabs__tab">Исполненные</div>
                    <div class="cabinet-tabs__tab">Черновики</div>
                </div>
            </div>
            <table class="cabinet-widget__table widget-table">
                <tbody>
                    <tr class="widget-table__tr">
                        <th class="widget-table__th" v-for="(data, index, key) in tablePayments.captions" :key="key">{{ data }}</th>
                    </tr>
                    <tr class="widget-table__tr" v-for="(data, index, key) in tablePayments.data" :key="key">
                        <td class="widget-table__td" v-for="(data, index, key) in data" :key="key" v-html="data"></td>
                    </tr>
                </tbody>
            </table>
            <div class="cabinet-widget__row">
                <div class="button cabinet-widget__button">Все исходящие платежи</div>
                <div class="cabinet-widget__list-size">
                    <span class="cabinet-widget__text">отображать элементов:</span>
                    <span class="cabinet-widget__label cabinet-widget__label_active">3</span>
                    <span class="cabinet-widget__label">5</span>
                    <span class="cabinet-widget__label">10</span>
                </div>
            </div>
        </section>
        <section id="news" class="cabinet-widget">
            <div class="cabinet-widget__header">
                <div class="cabinet-widget__group">
                    <div class="cabinet-widget__title">Новости</div>
                </div>
                <div class="cabinet-tabs__hide-button">
                    <img src="../../assets/images/wgt_arrow_down.png" alt="">
                </div>
            </div>
            <div class="cabinet-widget__row cabinet-widget__row_start">
                <div class="cabinet-widget__date">
                    16.12.2019
                </div>
            </div>
            <div class="cabinet-widget__row">
                <div class="cabinet-widget__news">
                    <a class="cabinet-widget__link" href="#">Новое мобильное приложение "Информационный бизнес клиент"</a>
                </div>
            </div>
            <div class="cabinet-widget__row">
                <div class="button cabinet-widget__button">Все новости</div>
                <div class="cabinet-widget__list-size">
                    <span class="cabinet-widget__text">отображать элементов:</span>
                    <span class="cabinet-widget__label cabinet-widget__label_active">3</span>
                    <span class="cabinet-widget__label">5</span>
                    <span class="cabinet-widget__label">10</span>
                </div>
            </div>
        </section>
        <section id="services" class="cabinet-widget">
            <div class="cabinet-widget__header">
                <div class="cabinet-widget__group">
                    <div class="cabinet-widget__title">Услуги</div>
                    <div class="cabinet-widget__tabs cabinet-tabs">
                        <div class="cabinet-tabs__tab cabinet-tabs__tab_active">Все</div>
                        <div class="cabinet-tabs__tab">Подключенные</div>
                        <div class="cabinet-tabs__tab">Доступные для подключения</div>
                        <div class="cabinet-tabs__tab">Оформлена заявка</div>
                    </div>
                </div>
                <div class="cabinet-tabs__hide-button">
                    <img src="../../assets/images/wgt_arrow_down.png" alt="">
                </div>
            </div>
            <div class="cabinet-widget__row cabinet-widget__row_start">
                <div class="cabinet-widget__group cabinet-widget__group_margin">
                    <a class="cabinet-widget__button-link">Тип Услуг</a>
                    <div class="cabinet-widget__input"><input type="text"></div>
                    <div class="button cabinet-widget__button cabinet-widget__button_margin">Показать</div>
                    <a class="cabinet-widget__button-link cabinet-widget__button-link_noMargin">Очистить</a>
                </div>
            </div>
            <table class="cabinet-widget__table widget-table">
                <tbody>
                    <tr class="widget-table__tr">
                        <th class="widget-table__th" v-for="(data, index, key) in tableOffers.captions" :key="key">{{ data }}</th>
                    </tr>
                    <tr class="widget-table__tr" v-for="(data, index, key) in tableOffers.data" :key="key">
                        <td class="widget-table__td" v-for="(data, index, key) in data" :key="key" v-html="data"></td>
                    </tr>
                </tbody>
            </table>
            <div class="cabinet-widget__row">
                <div class="button cabinet-widget__button">Все исходящие платежи</div>
                <div class="cabinet-widget__list-size">
                    <span class="cabinet-widget__text">отображать элементов:</span>
                    <span class="cabinet-widget__label cabinet-widget__label_active">3</span>
                    <span class="cabinet-widget__label">5</span>
                    <span class="cabinet-widget__label">10</span>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import { tableAccount, tablePayments, tableOffers } from '../../data/data'

export default {
    name: 'CabinetContent',
    data () {
        return {
            tableAccount,
            tablePayments,
            tableOffers
        }
    }
}
</script>

<style>

</style>
