<template>
<div class="main-payments">
    <div class="bread">
            Главная / Платежные документы /
    </div>
    <div class="blockPayments-header">
        <h1 class="blockPayments-header__title">
            Массовые платежи
        </h1>
        <a class="blockPayments-header__link" href="#">
            Рабочие документы
            <img class="blockPayments-header__img" src="../../assets/images/arrow_down.png" alt="">
        </a>
    </div>
    <div class="buttons">
        <div class="buttons__row-1">
            <div id="writeCharge" class="buttons__settings-btn buttons__settings-btn_gray" v-bind:class="{ greenButton: isActiveBtn2 }">Подписать</div>
            <div id="toSend" class="buttons__settings-btn buttons__settings-btn_mg-left buttons__settings-btn_gray" v-bind:class="{ greenButton: !isActiveBtn1 }">Отправить</div>
            <a class="blockPayments-header__link blockPayments-header_disp-inherit" href="#">Еще</a>
        </div>
        <div class="buttons__row-2">
            <a id="importCreated" class="blockPayments-header__link blockPayments-header_disp-inherit" href="#">Импорт <img src="../../assets/images/arrow_down.png" alt="">
                <ul class="listImport" v-show="isImport">
                    <li id="importItem" class="listImport__item">Импорт в формате 1С</li>
                    <li class="listImport__item">Импорт из XML</li>
                    <li class="listImport__item">Задания импорта</li>
                </ul>
            </a>
            <a class="blockPayments-header__link blockPayments-header_disp-inherit" href="#">Экспорт <img src="../../assets/images/arrow_down.png" alt=""></a>
            <a class="blockPayments-header__link blockPayments-header_disp-inherit" href="#">Печать <img src="../../assets/images/arrow_down.png" alt=""></a>
            <a class="blockPayments-header__link blockPayments-header_disp-inherit" href="#">Обновить</a>
        </div>
    </div>
    <div class="input-blocks">
        <div class="input-blocks__row-1">
            <div class="input-blocks__block"><label class="input-blocks__labelFirst" for="">Дата</label>
                <input class="input-blocks__inputFirst" type="text"> <input class="input-blocks__inputSecond" type="text">
                <img class="blockPayments-header__img blockPayments-header_img-absolute" src="../../assets/images/arrow_down.png" alt="">
            </div>
            <div class="input-blocks__block"><label class="input-blocks__label" for="">Получатель</label> <input class="input-blocks__input" type="text"></div>
            <div class="input-blocks__block"><label class="input-blocks__label" for="">Плательщик</label> <input class="input-blocks__input" type="text"></div>
            <div class="input-blocks__block"><label class="input-blocks__label" for="">Статусы</label> <input class="input-blocks__input" type="text"></div>
            <div class="input-blocks-checkbox widget-table">
                <div class="input-blocks-checkbox__block">
                    <label class="input-blocks-checkbox__label" for="">Документы</label> <label class="widget-table__label">
                    <input class="widget-table__checkbox" type="checkbox"> <span class="widget-table__checkmark"> </span> </label>
                </div>
                <div class="input-blocks-checkbox__block">
                    <label class="input-blocks-checkbox__label" for="">На подпись</label> <label class="widget-table__label">
                    <input class="widget-table__checkbox" type="checkbox"> <span class="widget-table__checkmark"> </span> </label>
                </div>
                <div class="input-blocks-checkbox__block">
                    <label class="input-blocks-checkbox__label" for="">За текущий день</label>
                </div>
            </div>
        </div>
        <div class="input-blocks__row-2">
            <div class="input-blocks__block"><label class="input-blocks__labelFirst" for="">с</label> <input class="input-blocks__inputDenom" type="text"> <label class="input-blocks__label2" for="">по</label> <input class="input-blocks__inputDenom input-blocks__inputDenom_mg-right" type="text"> </div>
            <div class="input-blocks__block"><label class="input-blocks__label" for="">Счет №</label> <input class="input-blocks__input2" type="text"> </div>
            <div class="input-blocks__block"><label class="input-blocks__label" for="">Счет №</label> <input class="input-blocks__input2" type="text"> </div>
            <div class="input-blocks__block"><label class="input-blocks__labelFirst" for="">Сумма с</label> <input class="input-blocks__inputDenom" type="text"> <label class="input-blocks__label2" for="">до</label> <input class="input-blocks__inputDenom input-blocks__inputDenom_mg-right" type="text"> </div>
             <div class="input-blocks__block">
                <label class="widget-table__label">
                    <input class="widget-table__checkbox" type="checkbox"> <span class="widget-table__checkmark"> </span>
                </label>
                <label class="input-blocks__label2 input-blocks__label2_mg-right" for="">К визированию</label>
            </div>
        </div>
        <div class="input-blocks__row-3">
            <div class="buttons__settings-btn buttons__settings-btn_wid-80">Показать</div>
            <div class="input-blocks__col-1">
                <div class="input-blocks__block input-blocks_no-wrap input-blocks_mg-bottom">
                <label class="widget-table__label">
                    <input class="widget-table__checkbox" type="checkbox"> <span class="widget-table__checkmark"> </span>
                </label>
                <label class="input-blocks__label2 input-blocks__label2_mg-right input-blocks_no-wrap" for="">быстрый просмотр</label>
            </div>
            <div class="input-blocks__block input-blocks_no-wrap input-blocks_mg-bottom">
                <label class="widget-table__label">
                    <input class="widget-table__checkbox" type="checkbox"> <span class="widget-table__checkmark"> </span>
                </label>
                <label class="input-blocks__label2 input-blocks__label2_mg-right input-blocks_no-wrap" for="">Искать точное соответствие</label>
            </div>
            <label class="input-blocks__label input-blocks_ft-12" for="">Очистить</label>
            </div>
            <label class="input-blocks__label input-blocks_ft-12" for="">Сокращенный поиск</label>
            <label class="input-blocks__label input-blocks_ft-12" for="">Скрыть</label>
        </div>
    </div>
    <div class="select-payments">
        <div class="input-blocks__block"><label class="input-blocks__labelFirst" for="">Сортировка</label>
            <input class="input-blocks__input input-blocks__input_green" type="text">
            <img class="blockPayments-header__img blockPayments-header_img-absolute" src="../../assets/images/arrow_down.png" alt="">
        </div>
        <div class="input-blocks__block input-blocks_pad-left-10"><label class="input-blocks__labelFirst" for="">Профиль</label>
            <input class="input-blocks__input input-blocks__input_green" type="text">
            <img class="blockPayments-header__img blockPayments-header_img-absolute blockPayments-header_img-absolute_top-3" src="../../assets/images/arrow_down.png" alt="">
        </div>
    </div>
    <div class="table-payments">
        <table class="cabinet-widget__table widget-table" id="cabinet-widget-table">
            <tbody>
                <label class="widget-table__label widget-table__label_fix">
                    <input v-model="this.checkMassMark5" class="widget-table__checkbox" type="checkbox">
                    <span id="checkMassMark1" class="widget-table__checkmark"></span>
                </label>
                <tr class="widget-table__tr">
                    <th class="widget-table__th" v-for="(data, index, key) in tableMassPayments.captions" :key="key">{{ data }}</th>
                </tr>
                <tr class="widget-table__tr">
                    <td class="widget-table__td">
                      <label class="widget-table__label">
                          <input v-model="this.checkMassMark1" class="widget-table__checkbox" type="checkbox">
                            <span id="checkMassMark1" class="widget-table__checkmark"></span>
                        </label>
                        <span class="widget-table__number">
                            38
                        </span>
                    </td>
                    <td class="widget-table__td">
                      30.04.2020
                    </td>
                    <td class="widget-table__td">
                      Создан
                    </td>
                    <td class="widget-table__td">
                        21000,00
                    </td>
                    <td class="widget-table__td">
                        5
                    </td>
                    <td class="widget-table__td">
                         ООО "ЦЕНТР-ИНТЕРНЕТ"
                    </td>
                </tr>
                <tr class="widget-table__tr">
                    <td class="widget-table__td">
                      <label class="widget-table__label"> <input v-model="this.checkMassMark2" class="widget-table__checkbox" type="checkbox"> <span id="checkMassMark2" class="widget-table__checkmark"> </span> </label>
                      <span class="widget-table__number">
                        39
                      </span>
                    </td>
                    <td class="widget-table__td">
                      30.04.2020
                    </td>
                    <td class="widget-table__td">
                      Создан
                    </td>
                    <td class="widget-table__td">
                        29000,00
                    </td>
                    <td class="widget-table__td">
                        5
                    </td>
                    <td class="widget-table__td">
                         ООО "ЦЕНТР-ИНТЕРНЕТ"
                    </td>
                </tr>
                <tr id="line" class="widget-table__tr" v-bind:class="{ visibleField: isVisibleField, activeBack: isActive2 }">
                    <td class="widget-table__td">
                      <label class="widget-table__label"> <input v-model="this.checkMassMark3" class="widget-table__checkbox" type="checkbox"> <span id="checkMassMark3" class="widget-table__checkmark"> </span> </label>
                      <span class="widget-table__number">
                        44
                      </span>
                    </td>
                    <td class="widget-table__td">
                      30.04.2020
                    </td>
                    <td class="widget-table__td">
                      Создан
                    </td>
                    <td class="widget-table__td">
                        186700,00
                    </td>
                    <td class="widget-table__td">
                        3
                    </td>
                    <td class="widget-table__td">
                         ООО "ЦЕНТР-ИНТЕРНЕТ"
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-mask" v-show="showModal">
        <div class="modal-wrapper">
            <div class="modal">
                <div class="modal__rowStart">
                    <span class="modal__name">Импорт массового платежа из 1С</span>
                    <span class="modal__close">x</span>
                </div>
                <div class="modal__row">
                    <div class="modal__button-1 modal__button-1_green">Загрузка файла</div>
                    <div class="modal__button-1">Правила заполнения полей</div>
                    <div class="modal__button-1">Контроль дубликатов</div>
                </div>
                <div class="modal__row modal__row_al-flex">
                    <div class="modal__labelInput">
                        <label class="modal__label" for="">Файл импорта</label>
                        <input class="modal__input-1" type="text" name="fileImport" v-model="this.filledData.fileInput11" v-bind:class="{ active: isActive1 }">
                    </div>
                    <div id="fileImport" class="modal__button">Загрузить</div>
                    <div class="modal__labelInput">
                        <label class="modal__label" for="">Кодировка файла</label>
                        <div class="modal__select-wrapp">
                            <input class="modal__input" type="text" v-model="this.filledData.fileInput2" v-bind:class="{ active: isActive }">
                        </div>
                    </div>
                </div>
                <div class="modal__row">
                    <div class="modal__labelInput">
                        <label class="modal__label" for="">Идентификатор задания</label>
                        <input class="modal__input-2" type="text" v-model="this.filledData.fileInput" v-bind:class="{ active: isActive }">
                    </div>
                </div>
                <div class="modal__row">
                    <div class="modal__labelInput">
                        <label class="modal__label" for="">Лог предварительного импорта</label>
                        <textarea class="modal__textarea" name="" id="" cols="30" rows="10" v-model="this.filledData.fileInput1" v-bind:class="{ active: isActive }"></textarea>
                    </div>
                </div>
                <div class="modal__row modal__row_column">
                    <div class="modal__nameBlock">
                        Статистика импорта
                    </div>
                    <div class="modal__labelInput modal__labelInput_flex-directRow">
                        <label class="modal__label" for="">Статус импорта</label>
                        <input class="modal__input" type="text" v-model="this.filledData.fileInput3" v-bind:class="{ active: isActive }">
                    </div>
                    <div class="modal__labelInput modal__labelInput_flex-directRow">
                        <label class="modal__label" for="">Общее кол-во документов</label>
                        <input class="modal__input" type="text" v-model="this.filledData.fileInput4" v-bind:class="{ active: isActive }">
                    </div>
                    <div class="modal__labelInput modal__labelInput_flex-directRow">
                        <label class="modal__label" for="">Обработано</label>
                        <input class="modal__input" type="text" v-model="this.filledData.fileInput5" v-bind:class="{ active: isActive }">
                    </div>
                    <div class="modal__labelInput modal__labelInput_flex-directRow">
                        <label class="modal__subLabel" for="">Импортировано со статусом "Импортирован/Создан"</label>
                        <input class="modal__input" type="text" v-model="this.filledData.fileInput6" v-bind:class="{ active: isActive }">
                    </div>
                    <div class="modal__labelInput modal__labelInput_flex-directRow">
                        <label class="modal__subLabel" for="">Импортировано со статусом "Ошибка контроля"</label>
                        <input class="modal__input" type="text" v-model="this.filledData.fileInput7" v-bind:class="{ active: isActive }">
                    </div>
                    <div class="modal__labelInput modal__labelInput_flex-directRow">
                        <label class="modal__subLabel" for="">Ошибка импорта</label>
                        <input class="modal__input" type="text" v-model="this.filledData.fileInput8" v-bind:class="{ active: isActive }">
                    </div>
                    <div class="modal__labelInput modal__labelInput_flex-directRow">
                        <label class="modal__label" for="">Не обработано</label>
                        <input class="modal__input" type="text" v-model="this.filledData.fileInput9" v-bind:class="{ active: isActive }">
                    </div>
                    <div class="modal__labelInput modal__labelInput_flex-directRow">
                        <label class="modal__label" for="">Общая сумма импортированных документов</label>
                        <input class="modal__input" type="text" v-model="this.filledData.fileInput10" v-bind:class="{ active: isActive }">
                    </div>
                    <div class="modal__buttonRow">
                        <div id="fileTest" class="modal__button-2" v-bind:class="{ greenButton: isActiveBtn }">Импортировать</div>
                        <div class="modal__button-2">Журнал</div>
                        <div id="modalClose" class="modal__button-2 modal__button-2_green">Закрыть</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
import { tableSettings, tableMassPayments, importMenu } from '../../data/data'
import { mapFields } from 'vuex-map-fields'

export default {
    name: 'Charge',
    data () {
        return {
            tableSettings,
            tableMassPayments,
            importMenu
        }
    },
      computed: {
        ...mapFields([
           'isImport',
           'showModal',
           'filledData',
           'isActive',
           'isActive1',
           'isActive2',
           'isActiveBtn',
           'isActiveBtn1',
           'isActiveBtn2',
           'isVisibleField',
           'checkMassMark.checkMassMark1',
           'checkMassMark.checkMassMark2',
           'checkMassMark.checkMassMark3',
           'checkMassMark.checkMassMark5'
        ])
    }
}
</script>
<style scoped lang="scss">
    .main-payments{
        margin-top: -10px;
    }
    .bread{
        margin-bottom: 8px;
        font-size: 12px;
    }
    .blockPayments-header{
        display: flex;
        justify-content: space-between;
        border-bottom: 0.5px solid #c1c1c1;
        padding-bottom: 4px;

        &__title{
            font-size: 25px;
        }
        &__link{
            background: transparent;
            border: 0;
            font-size: 13pt;
            font-weight: 700;
            color: #39B54A;
            display: flex;
            align-self: center;
        }
        &__img{
            margin-left: 12px;
        }
        &_disp-inherit{
            display: inline-block;
            margin-left: 24px;
        }
        &_img-absolute{
            position: absolute;
            top: 4px;
            right: 6px;
            &_top-3{
                top: 3px;
            }
        }
    }
.buttons{
    margin-top: 16px;
    justify-content: space-between;
    display: flex;
    border-bottom: 0.5px solid #c1c1c1;
    padding-bottom: 12px;
    &__settings-btn{
        background: #39B54A;
        border: 1px solid #39B54A;
        border-radius: 4px;
        color: #ffffff;
        cursor: pointer;
        font-weight: bold;
        display: inline-block;
        padding: 8px;
        text-align: center;
        text-transform: uppercase;
        box-shadow: 1px 2px 1px 0px #026921;
        font-size: 12px;
        min-width: 120px;
        box-shadow: inherit;
        font-weight: 100;
        margin: 10px 0;
        text-transform: none;
        font-size: 13px;
        &_gray{
        opacity: 0.4;
        background-color:#808080;
        }
        &_wid-80{
        min-width: 80px;
        }
        &_mg-left{
            margin-left: 12px;
        }
    }
    &__row-2 img{
        vertical-align: middle;
    }
}
.input-blocks{
    margin-top: 16px;
    display: flex;
    padding-bottom: 10px;
    border-bottom: 0.5px solid #c1c1c1;
    &__row-1{
        width: 35%;
    }
    &__row-2{
        width: 28%;
    }
    &__row-3{
        display: flex;
        align-items: flex-start;
        width: 30%;
        margin-left: 14px;
    }
    &__col-1{
        margin-left: 14px;
        display: flex;
        flex-direction: column;
    }
    &__block{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 4px;
        position: relative;
        align-items: center;
    }
    &__inputFirst{
        width: 124px;
    }
    &__inputSecond{
        width: 170px;
        margin-left: 6px;
    }
    &__inputDenom{
        width: 100px;
        margin-right: 3.5px;
        &_mg-right{
            margin-right: 0;
        }
    }
    &__inputDenom2{
        margin-right: 11px;
        width: 100px;
    }
    &__labelFirst{
        font-size: 14px;
        padding-right: 4px;
    }
    &__label{
        padding-right: 4px;
        color: #39B54A;
        background: transparent;
        text-decoration: underline;
        font-size: 14px;
    }
    &__label2{
        font-size: 12px;
        margin-right: 2.5px;
        &_mg-right{
            margin-right: 0.5px;
        }
    }
    &__input{
        width: 100%;
        max-width: 300px;
        &_green{
            border-color: #39B54A;
            border-style: solid;
            border-width: 1px;
        }
    }
    &__input2{
        max-width: 220px;
        width: 100%;
    }
    &_no-wrap{
        white-space: nowrap;
        justify-content: flex-start;
    }
    &_mg-bottom{
        margin-bottom: 8px;
    }
     &_ft-12{
        font-size: 12px;
        white-space: nowrap;
        margin-left: 14px;
    }
    &_pad-left-10{
    padding-left: 10px;
}
}
.widget-table{
    position: relative;
    &__label{
        display: block;
        position: relative;
        padding-left: 20px;
        margin-bottom: 14px;
        cursor: pointer;
        font-size: 22px;
        user-select: none;
        &_fix{
            position: absolute;
            top: 3px;
        }
    }
    &__checkbox{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    &__number{
        position: absolute;
        right: 40px;
        top: 9px;
        font-size: 13px;
    }
    &__checkbox:checked ~ &__checkmark{
        background-color: #50b848;
        &:after{
            display: block;
        }
    }
    &__checkmark{
        position: absolute;
        top: 0px;
        left: 2px;
        height: 16px;
        width: 16px;
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid gray;
        &:after{
            content: "";
            position: absolute;
            display: none;
            left: 4px;
            top: 0px;
            width: 4px;
            height: 8px;
            border: solid white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }
}
.input-blocks-checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    &__block{
        display: flex;
        align-items: center;
    }
    &__label{
        font-size: 12px;
    }
}
.table-payments{
    margin-top: 24px;
    overflow: scroll;
}
.widget-table__th{
    padding: 5px 15px;
}
.select-payments{
    display: flex;
    margin-top: 16px;
}
.active{
    color: #fff;
}
.greenButton{
    background: #39B54A;
    opacity: 1;
}
.activeBack{
    background: #00c77b!important;
}
.widget-table__th:nth-child(1){
    padding-left: 24px;
}
.visibleField{
    display: none;
}
.modal {
    &__nameBlock {
        font-size: 12px;
        font-weight: bold;
        border-bottom: 1px solid #808080;
        padding: 0 0 5px;
        margin: 0 0 5px;
    }

    &__select-wrapp {
        position: relative;

        input {
            text-align: center;
            padding-right: 25px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 6px;
            height: 6px;
            transform: rotate(45deg);
            border-right: 2px solid #39B54A;
            border-bottom: 2px solid #39B54A;
            top: 5px;
            right: 9px;
        }
    }
}
</style>
