<template>
<div class="main-payments">
    <div class="bread">
            Главная / Валютные операции / Зачисление иностранной валюты
    </div>
    <div class="blockPayments-header">
        <h1 class="blockPayments-header__title">
            Распоряжения на списание средств с транзитного валютного счета
        </h1>
        <a class="blockPayments-header__link" href="#">
            Рабочие документы
            <img class="blockPayments-header__img" src="../../assets/images/arrow_down.png" alt="">
        </a>
    </div>
    <div class="buttons">
        <div class="buttons__row-1">
            <div id="createCurrency" class="buttons__settings-btn">Создать</div>
            <div class="buttons__settings-btn buttons__settings-btn_mg-left buttons__settings-btn_gray">Копировать</div>
            <div id="writeCharge" class="buttons__settings-btn buttons__settings-btn_mg-left buttons__settings-btn_gray">Подписать</div>
            <div class="buttons__settings-btn buttons__settings-btn_mg-left buttons__settings-btn_gray">Отправить</div>
            <a class="blockPayments-header__link blockPayments-header_disp-inherit" href="#">Еще</a>
        </div>
        <div class="buttons__row-2">
            <a class="blockPayments-header__link blockPayments-header_disp-inherit" href="#">Экспорт <img src="../../assets/images/arrow_down.png" alt=""></a>
            <a class="blockPayments-header__link blockPayments-header_disp-inherit" href="#">Печать <img src="../../assets/images/arrow_down.png" alt=""></a>
            <a class="blockPayments-header__link blockPayments-header_disp-inherit" href="#">Обновить</a>
        </div>
    </div>
    <div class="input-blocks">
        <div class="input-blocks__row-1">
            <div class="input-blocks__block"><label class="input-blocks__labelFirst" for="">Дата</label>
                <input class="input-blocks__inputFirst" type="text"> <input class="input-blocks__inputSecond" type="text">
                <img class="blockPayments-header__img blockPayments-header_img-absolute" src="../../assets/images/arrow_down.png" alt="">
            </div>
            <div class="input-blocks__block"><label class="input-blocks__label" for="">Отправитель</label> <input class="input-blocks__input" type="text"></div>
            <div class="input-blocks__block"><label class="input-blocks__label" for="">Получатель</label> <input class="input-blocks__input" type="text"></div>
            <div class="input-blocks__block"><label class="input-blocks__label" for="">Статусы</label> <input class="input-blocks__input" type="text"></div>
            <div class="input-blocks__block">
                <label class="input-blocks__labelFirst" for="">Уведомление №</label>
                <input class="input-blocks__input input-blocks__input_wdt72" type="text">
                <label class="input-blocks__labelFirst" for="">от</label>
                <input class="input-blocks__input input-blocks__input_wdt91" type="text">
                <label class="input-blocks__label" for="">Валюта</label>
                <input class="input-blocks__input input-blocks__input_wdt62" type="text">
            </div>
            <div class="input-blocks__block"><label class="input-blocks__labelFirst" for="">Тип сделки</label>
                <input class="input-blocks__input" type="text">
                <img class="blockPayments-header__img blockPayments-header_img-absolute" src="../../assets/images/arrow_down.png" alt="">
            </div>
            <div class="input-blocks-checkbox widget-table">
                <div class="input-blocks-checkbox__block">
                    <label class="input-blocks-checkbox__label" for="">Документы</label> <label class="widget-table__label">
                    <input class="widget-table__checkbox" type="checkbox"> <span class="widget-table__checkmark"> </span> </label>
                </div>
                <div class="input-blocks-checkbox__block">
                    <label class="input-blocks-checkbox__label" for="">На подпись</label> <label class="widget-table__label">
                    <input class="widget-table__checkbox" type="checkbox"> <span class="widget-table__checkmark"> </span> </label>
                </div>
                <div class="input-blocks-checkbox__block">
                    <label class="input-blocks-checkbox__label" for="">За текущий день</label>
                </div>
            </div>
        </div>
        <div class="input-blocks__row-2">
            <div class="input-blocks__block"><label class="input-blocks__labelFirst" for="">с</label> <input class="input-blocks__inputDenom" type="text"> <label class="input-blocks__label2" for="">по</label> <input class="input-blocks__inputDenom input-blocks__inputDenom_mg-right" type="text"> </div>
            <div class="input-blocks__block"><label class="input-blocks__label" for="">Транз счет №</label> <input class="input-blocks__input2" type="text"> </div>
            <div class="input-blocks__block"><label class="input-blocks__label" for="">Счет зачисл руб №</label> <input class="input-blocks__input2" type="text"> </div>
            <div class="input-blocks__block"><label class="input-blocks__label" for="">Счет зачисл вал №</label> <input class="input-blocks__input2" type="text"> </div>
            <div class="input-blocks__block"><label class="input-blocks__labelFirst" for="">Сумма поступ. ср.</label> <input class="input-blocks__inputDenom" type="text"> <label class="input-blocks__label2" for="">до</label> <input class="input-blocks__inputDenom input-blocks__inputDenom_mg-right" type="text"> </div>
            <div class="input-blocks__block"><label class="input-blocks__labelFirst" for="">Сумма зачисл.</label> <input class="input-blocks__inputDenom" type="text"> <label class="input-blocks__label2" for="">до</label> <input class="input-blocks__inputDenom input-blocks__inputDenom_mg-right" type="text"> </div>
            <div class="input-blocks__block"><label class="input-blocks__labelFirst" for="">Сумма продажи</label> <input class="input-blocks__inputDenom" type="text"> <label class="input-blocks__label2" for="">до</label> <input class="input-blocks__inputDenom input-blocks__inputDenom_mg-right" type="text"> </div>
        </div>
        <div class="input-blocks__row-3">
            <div class="buttons__settings-btn buttons__settings-btn_wid-80">Показать</div>
            <div class="input-blocks__col-1">
                <div class="input-blocks__block input-blocks_no-wrap input-blocks_mg-bottom">
                <label class="widget-table__label">
                    <input class="widget-table__checkbox" type="checkbox"> <span class="widget-table__checkmark"> </span>
                </label>
                <label class="input-blocks__label2 input-blocks__label2_mg-right input-blocks_no-wrap" for="">быстрый просмотр</label>
            </div>
            <div class="input-blocks__block input-blocks_no-wrap input-blocks_mg-bottom">
                <label class="widget-table__label">
                    <input class="widget-table__checkbox" type="checkbox"> <span class="widget-table__checkmark"> </span>
                </label>
                <label class="input-blocks__label2 input-blocks__label2_mg-right input-blocks_no-wrap" for="">Искать точное соответствие</label>
            </div>
            <label class="input-blocks__label input-blocks_ft-12" for="">Очистить</label>
            </div>
            <label class="input-blocks__label input-blocks_ft-12" for="">Сокращенный поиск</label>
            <label class="input-blocks__label input-blocks_ft-12" for="">Скрыть</label>
        </div>
    </div>
    <div class="select-payments">
        <div class="input-blocks__block"><label class="input-blocks__labelFirst" for="">Сортировка</label>
            <input class="input-blocks__input input-blocks__input_green" type="text">
            <img class="blockPayments-header__img blockPayments-header_img-absolute" src="../../assets/images/arrow_down.png" alt="">
        </div>
        <div class="input-blocks__block input-blocks_pad-left-10"><label class="input-blocks__labelFirst" for="">Профиль</label>
            <input class="input-blocks__input input-blocks__input_green" type="text">
            <img class="blockPayments-header__img blockPayments-header_img-absolute blockPayments-header_img-absolute_top-3" src="../../assets/images/arrow_down.png" alt="">
        </div>
    </div>
    <div class="table-payments">
        <table class="cabinet-widget__table widget-table fixWhiteSpace" id="cabinet-widget-table">
            <tbody>
                <label class="widget-table__label widget-table__label_fix">
                    <input v-model="this.checkMassMark5" class="widget-table__checkbox" type="checkbox">
                    <span id="checkMassMark1" class="widget-table__checkmark"></span>
                </label>
                <tr class="widget-table__tr">
                    <th class="widget-table__th" v-for="(data, index, key) in tableCurrency.captions" :key="key">{{ data }}</th>
                </tr>
                <tr id="line" class="widget-table__tr" v-bind:class="{ activeBack: isActive2 }">
                    <td class="widget-table__td">
                      <label class="widget-table__label"> <input v-model="this.checkMassMark1" class="widget-table__checkbox" type="checkbox"> <span id="checkMassMark1" class="widget-table__checkmark"> </span> </label>
                      <span class="widget-table__number">5</span>
                    </td>
                    <td class="widget-table__td">
                      30.04.2020
                    </td>
                    <td class="widget-table__td">
                        Исполнен
                    </td>
                    <td class="widget-table__td">

                    </td>
                    <td class="widget-table__td">
                        EUR
                    </td>
                    <td class="widget-table__td">

                    </td>
                    <td class="widget-table__td">
                        40702.978.1.00001021225
                    </td>
                    <td class="widget-table__td">
                        40702.978.8.00000021225
                    </td>
                    <td class="widget-table__td">
                        5 000,00
                    </td>
                    <td class="widget-table__td">
                        EUR
                    </td>
                    <td class="widget-table__td">
                        ООО"ЦЕНТР-ИНТЕРНЕТ"
                    </td>
                    <td class="widget-table__td">
                        ПАО КБ "ЦЕНТР-ИНВЕСТ"
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-mask" v-show="showModal">
        <div class="modal-wrapper">
            <div class="modal">
                <div class="modal__row modal__row_jstBtw">
                    <h1 class="modal__title">
                        Распоряжения на списание средств с транзитного валютного счета
                    </h1>
                    <span class="modal__close">x</span>
                </div>
                <div class="modal__row">
                   <label class="modal__label" for="">Номер</label><input class="modal__input" value="3" type="text">
                   <label class="modal__label modal__label_mgl4" for="">Дата</label> <input class="modal__input" value="10.06.2020" type="text">
                </div>
                <div class="modal__row modal__row_jstBtw">
                   <label class="modal__label modal__label_mgl24" for="">От <input class="modal__input modal__input_wdt600" type="text" value="ООО'ЦЕНТР-ИНТЕРНЕТ'">  </label>
                   <label class="modal__label" for="">Инн  <input class="modal__input   modal__label_mgl4" type="text" value="6165080369">  </label>
                </div>
                 <div class="modal__row modal__row_jstBtw">
                   <label class="modal__label modal__label_mgl16" for="">Исп <input id="executor" v-model="this.filledData1.fileInput" v-bind:class="{ active: isActive }" class="modal__input modal__input_wdt360" type="text"> </label>
                   <label class="modal__label modal__label_mgr" for="">Тел. <input class="modal__input modal__input_wdt180" type="text" value="2206"> </label>
                   <label class="modal__label" for="">Окпо <input class="modal__input  modal__label_mgl4" type="text" value="51585568"> </label>
                </div>
                <div class="modal__tabs">
                    <button class="modal__button" :class="{ 'modal__button_active': activeTab1 }">Основное</button>
                    <button id="sumAnd" class="modal__button" :class="{ 'modal__button_active': activeTab2 }">Сумма и
                        реквизиты</button>
                    <button class="modal__button">Информация из банка</button>
                </div>
                <div class="tabsWidow" v-show="activeTab1">
                    <div class="modal__row modal__row_pad16">
                        <label class="modal__label" for="">Счет №</label><input class="modal__input modal__input_wdt204" type="text">
                        <label class="modal__label" for="">в</label> <input class="modal__input modal__input_wdt84" type="text">
                        <input class="modal__input modal__input_wdt513" type="text">
                    </div>
                    <div class="modal__row modal__row_pad16">
                        <button id="add" class="modal__button1 modal__button1_active">Добавить</button>
                        <button class="modal__button1">Редактировать</button>
                        <button class="modal__button1">Удалить</button>
                    </div>
                    <table class="cabinet-widget__table widget-table modal__table fixWhiteSpace" id="cabinet-widget-table">
                        <tbody>
                        <tr class="widget-table__tr">
                            <th class="widget-table__th widget-table__th_no-padding" v-for="(data, index, key) in modalmenu.captions" :key="key">{{ data }}</th>
                        </tr>
                        </tbody>
                    </table>
                    <div class="modal__row modal__row modal__row_pad16">
                        <label class="modal__label" for="">Общая сумма поступивших денежных средств</label>
                        <input class="modal__input modal__input_wdt36" type="text">
                        <input class="modal__input modal__input_wdt144 modal__input_txA-rigt" value="0,00" type="text">
                        <input class="modal__input modal__input_wdt48" type="text">
                    </div>
                </div>
                <div class="tabsWidow" v-show="activeTab2">
                    <div class="modal__row modal__row_jstBtw modal__row_pad16">
                        <label class="modal__label" for="">Из поступившей суммы </label>
                        <input class="modal__input modal__label_mgl modal__input_wdt180" type="text" value="5000,00">
                        <input class="modal__input modal__input_wdt48" type="text" value="EUR">
                    </div>
                    <div class="modal__row modal__row_pad16">
                        <label class="modal__label" for="">Просим списать с нашего транзитного счета №
                            <input class="modal__input modal__label_mgl modal__input_wdt180 modal__label_mgl24" type="text" value="40000040040400404.222">
                        </label>
                    </div>
                    <div class="modal__row modal__row_pad16">
                        <button class="modal__button modal__button_active modal__label_mgl24">Зачисление</button>
                    </div>
                    <div class="modal__row modal__row_pad16 modal__row_jstBtw">
                        <input class="modal__label_mgl24" type="checkbox" checked>
                        <label class="modal__label modal__label_mgl4" for="">Для ЗАЧИСЛЕНИЯ валюты в сумме </label>
                        <input class="modal__input modal__label_mgl modal__input_wdt180" type="text" value="5000,00">
                        <input class="modal__input modal__input_wdt48" type="text" value="EUR">
                    </div>
                    <div class="modal__row modal__row_pad16 modal__row_jstBtw">
                        <input class="modal__label_mgl24" type="radio" checked>
                        <label class="modal__label modal__label_mgr modal__label_mgl4" for="">на ваш валютный счет </label>
                        <label class="modal__label" for="">код вида вал операций
                            <input class="modal__input modal__label_mgl4" type="text" value="61100">
                        </label>
                    </div>
                    <div class="modal__row modal__row_mg46 modal__row_pad16">
                        <input class="modal__input modal__label_mgl24 modal__input_wdt180" type="text" value="40000040040400404.222">
                        <label class="modal__label modal__label_mgl4" for="">в</label>
                        <input class="modal__input modal__label_mgl modal__input_wdt72" type="text" value="0403030044">
                        <input class="modal__input modal__label_mgl modal__input_wdt567" type="text" value="ПАО кб «ЦЕНТР-ИНВЕСТ» г. Ростов-на-Дону ">
                    </div>
<!--                    <div class="modal__row modal__row modal__row_pad16 modal__row_jstBtw">-->
<!--                        <button  class="modal__button2">Подписать и отправить</button>-->
<!--                        <button class="modal__button2 modal__button2_mglA">Сохранить</button>-->
<!--                        <button class="modal__button2 modal__button2_mgr16">Сохранить и создать новое</button>-->
<!--                    </div>-->
                </div>
                 <div class="modal__row modal__row modal__row_pad16 modal__row_jstBtw">
                    <button id="writeOut" class="modal__button2">Подписать и отправить</button>
                    <button class="modal__button2 modal__button2_mglA">Сохранить</button>
                    <button class="modal__button2 modal__button2_mgr16">Сохранить и создать новое</button>
                </div>
            </div>
        </div>
    </div>
     <div class="modal-mask" v-show="showModal1">
        <div class="modal-wrapper">
            <div class="modalMini">
                <div class="modal__row modal__row_jstBtw">
                    <h1 class="modal__title">
                        Уведомление о зачислении иностранной валюты
                    </h1>
                    <span class="modal__close">x</span>
                </div>
                 <div class="modal__row modal__row_jstBtw">
                     <label class="modal__label modal__label_mod" for="">Номер <input  v-model="this.filledData1.fileInput1" v-bind:class="{ active: isActive3 }" id="number" class="modal__input modal__label_mgl4" type="text"> </label>
                     <label  class="modal__label" for="">Дата <input  v-model="this.filledData1.fileInput2" v-bind:class="{ active: isActive4 }" id="date" class="modal__input modal__label_mgl4" type="text"> </label>
                </div>
                <div class="modal__row">
                     <label class="modal__label modal__label_mod" for="">Сумма <input  v-model="this.filledData1.fileInput3" v-bind:class="{ active: isActive5 }" id="sum" class="modal__input modal__label_mgl4" type="text"> </label>
                     <input v-model="this.filledData1.fileInput4" v-bind:class="{ active: isActive6 }" id="thausend" class="modal__input modal__input_wdt180 modal__input_txA-rigt" type="text">
                     <input v-model="this.filledData1.fileInput5" v-bind:class="{ active: isActive7 }" id="usd" class="modal__input modal__input_wdt48" type="text">
                </div>
                <div class="modal__row modal__row_jstFlEnd">
                     <button id="save" class="modal__button2">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
import { tableSettings, tableCurrency, importMenu, modalmenu } from '../../data/data'
import { mapFields } from 'vuex-map-fields'

export default {
    name: 'Currency',
    data () {
        return {
            tableSettings,
            tableCurrency,
            importMenu,
            modalmenu
        }
    },
      computed: {
        ...mapFields([
           'isImport',
           'showModal',
           'showModal1',
           'filledData1',
           'isActive',
           'isActive1',
           'activeTab1',
           'activeTab2',
           'isActive2',
            'isActive3',
            'isActive4',
            'isActive5',
            'isActive6',
            'isActive7',
           'isActiveBtn',
           'checkMassMark.checkMassMark1',
           'checkMassMark.checkMassMark2',
           'checkMassMark.checkMassMark5'
        ])
    }
}
</script>
<style scoped lang="scss">
    .main-payments{
        margin-top: -10px;
    }
    .bread{
        margin-bottom: 8px;
        font-size: 12px;
    }
    .blockPayments-header{
        display: flex;
        justify-content: space-between;
        border-bottom: 0.5px solid #c1c1c1;
        padding-bottom: 4px;

        &__title{
            font-size: 25px;
        }
        &__link{
            background: transparent;
            border: 0;
            font-size: 13pt;
            font-weight: 700;
            color: #39B54A;
            display: flex;
            align-self: center;
        }
        &__img{
            margin-left: 12px;
        }
        &_disp-inherit{
            display: inline-block;
            margin-left: 24px;
        }
        &_img-absolute{
            position: absolute;
            top: 4px;
            right: 6px;
            &_top-3{
                top: 3px;
            }
        }
    }
.buttons{
    margin-top: 16px;
    justify-content: space-between;
    display: flex;
    border-bottom: 0.5px solid #c1c1c1;
    padding-bottom: 12px;
    &__settings-btn{
        background: #39B54A;
        border: 1px solid #39B54A;
        border-radius: 4px;
        color: #ffffff;
        cursor: pointer;
        font-weight: bold;
        display: inline-block;
        padding: 8px;
        text-align: center;
        text-transform: uppercase;
        box-shadow: 1px 2px 1px 0px #026921;
        font-size: 12px;
        min-width: 120px;
        box-shadow: inherit;
        font-weight: 100;
        margin: 10px 0;
        text-transform: none;
        font-size: 13px;
        &_gray{
        opacity: 0.4;
        background-color:#808080;
        }
        &_wid-80{
        min-width: 80px;
        }
        &_mg-left{
            margin-left: 12px;
        }
    }
    &__row-2 img{
        vertical-align: middle;
    }
}
.input-blocks{
    margin-top: 16px;
    display: flex;
    padding-bottom: 10px;
    border-bottom: 0.5px solid #c1c1c1;
    &__row-1{
        width: 35%;
    }
    &__row-2{
        width: 28%;
    }
    &__row-3{
        display: flex;
        align-items: flex-start;
        width: 30%;
        margin-left: 14px;
    }
    &__col-1{
        margin-left: 14px;
        display: flex;
        flex-direction: column;
    }
    &__block{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 4px;
        position: relative;
        align-items: center;
    }
    &__inputFirst{
        width: 124px;
    }
    &__inputSecond{
        width: 170px;
        margin-left: 6px;
    }
    &__inputDenom{
        width: 100px;
        margin-right: 3.5px;
        &_mg-right{
            margin-right: 0;
        }
    }
    &__inputDenom2{
        margin-right: 11px;
        width: 100px;
    }
    &__labelFirst{
        font-size: 14px;
        padding-right: 4px;
    }
    &__label{
        padding-right: 4px;
        color: #39B54A;
        background: transparent;
        text-decoration: underline;
        font-size: 14px;
    }
    &__label2{
        font-size: 12px;
        margin-right: 2.5px;
        &_mg-right{
            margin-right: 0.5px;
        }
    }
    &__input{
        width: 100%;
        max-width: 300px;
        &_green{
            border-color: #39B54A;
            border-style: solid;
            border-width: 1px;
        }
        &_wdt72{
            width: 72px;
            margin-right: 4.6px;
        }
        &_wdt91{
            width: 91px;
            margin-right: 4.6px;
        }
        &_wdt62{
            width: 62px;
        }
    }
    &__input2{
        max-width: 220px;
        width: 100%;
    }
    &_no-wrap{
        white-space: nowrap;
        justify-content: flex-start;
    }
    &_mg-bottom{
        margin-bottom: 8px;
    }
     &_ft-12{
        font-size: 12px;
        white-space: nowrap;
        margin-left: 14px;
    }
    &_pad-left-10{
    padding-left: 10px;
}
}
.widget-table{
    position: relative;
    &__label{
        display: block;
        position: relative;
        padding-left: 20px;
        margin-bottom: 14px;
        cursor: pointer;
        font-size: 22px;
        user-select: none;
        &_fix {
            position: absolute;
            top: 14px;
        }
    }
    &__checkbox{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    &__checkbox:checked ~ &__checkmark{
        background-color: #50b848;
        &:after{
            display: block;
        }
    }
    &__checkmark{
        position: absolute;
        top: 0px;
        left: 2px;
        height: 16px;
        width: 16px;
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid gray;
        &:after{
            content: "";
            position: absolute;
            display: none;
            left: 4px;
            top: 0px;
            width: 4px;
            height: 8px;
            border: solid white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }
    &__number {
        position: absolute;
        right: 40px;
        top: 16px;
        font-size: 13px;
    }
    &__td{
        padding: 15px 15px;
        &:nth-child(1) {
            padding: 15px 0px;
        }
    }
    &__th {
        padding: 15px 15px;
        &:nth-child(1) {
            padding-left: 24px;
        }
        &_no-padding {
            padding: 0 15px;
        }
    }
    &.fixWhiteSpace {
        white-space: nowrap;
    }
}
.input-blocks-checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    &__block{
        display: flex;
        align-items: center;
    }
    &__label{
        font-size: 12px;
    }
}
.table-payments{
    margin-top: 24px;
    overflow: scroll;
}
.select-payments{
    display: flex;
    margin-top: 16px;
}
.active{
    color: #fff;
}
.greenButton{
    background: #39B54A;
    opacity: 1;
}
.activeBack{
    background: #00c77b!important;
}

.modal{
    position: absolute;
    min-width: 924px;
    width: 924px;
    top: 100px;
    left: 498px;
    z-index: 1800;
    &__close{
        color: #888;
        font-size: 24px;
        cursor: pointer;
        margin-right: 3px;
        align-self: end;
    }
    &__row{
        justify-content: flex-start;
        padding: 0;
        margin-bottom: 4px;
        align-items: center;
        &_jstBtw{
            justify-content: space-between;
        }
        &_pad16{
            padding: 0 16px;
        }
         &_mg46{
            margin-bottom: 46px;
        }
        &_jstFlEnd{
            justify-content: flex-end;
        }
    }
    &__label{
        margin-right: 4px;
        align-items: center;
        &_mgl24{
            margin-left: 24px!important;
        }
        &_mgl16{
            margin-left: 16px;
        }
        &_mgl4{
            margin-left: 4px!important;
        }
        &_mgr{
            margin-right: auto;
        }
         &_mgl{
            margin-left: auto;
        }
        &_mod{
            color: #50b848;
        }
    }
    &__input{
        width: 96px;
        &_wdt600{
            width: 600px;
            margin-left: 4px;
        }
        &_txA-rigt{
            text-align: right;
        }
          &_wdt360{
            width: 360px;
            margin-left: 4px;
        }
         &_wdt180{
            width: 180px;
        }
        &_wdt204{
            width: 204px;
            margin-right: 4px;
        }
        &_wdt84{
            width: 84px;
            margin-right: 4px;
        }
        &_wdt513{
            width: 513px;
        }
        &_wdt36{
            width: 36px;
        }
         &_wdt144{
            width: 144px;
            margin-left: 3px;
        }
         &_wdt48{
             margin-left: 3px;
            width: 48px;
        }
        &_wdt72{
             margin-left: 3px;
            width: 72px;
        }
         &_wdt567{
             margin-left: 3px;
            width: 567px;
        }
    }
    &__tabs{
        display: flex;
        justify-content: flex-start;
        margin-left: 16px;
        align-items: flex-end;
    }
    &__title{
        padding-top: 4px;
        font-size: 20px;
        margin-bottom: 24px;
    }
    &__button{
        margin: 8px;
        padding: 2px;
        border: 0;
        height: inherit;
        font-size: 18px;
        margin-bottom: 24px;
        &_active{
            color: #50b848;
            border-bottom: 2px solid #50b848;
            padding-bottom: 8px;
        }
    }
    &__table{
        margin-bottom: 128px;
    }
    &__button1{
        height: 26px;
    min-height: 26px;
    padding: 1px 11px;
    border: 1px solid #a9a9a9 !important;
    border-radius: 6px;
    margin: 5px 10px 5px 0;
    filter: none;
    box-shadow: none;
    text-shadow: none;
    opacity: 0.6;
    background: #808080;
    color: white;
    text-transform: uppercase;
    box-shadow: 1px 1px 1px 0px #808080 !important;
    cursor: pointer;
    &_active{
        opacity: 1;
        background: #50b848;
    }

    }
    &__button2{
        text-transform: none;
    min-width: 120px;
    min-height: 20px;
    font-size: 12pt;
    box-shadow: 1px 2px 1px 0px #026921 !important;
    border: 0;
    border-radius: 4px;
    background: #39B54A;
    color: #fff;
    padding: 4px 18px;
    margin-bottom: 4px;
    margin-top: 16px;
    &_mglA{
        margin-left: auto;
    }
    &_mgr16{
        margin-left: 16px;
    }
    }
}
.modalMini{
        position: absolute;
        min-width: 420px;
        width: 420px;
        top: 100px;
        left: 750px;
        z-index: 1801;
        background: white;
        padding: 8px;
    }
//.tabsWidow{
//    z-index: 122;
//    background: white;
//    width: 923px;
//    height: 300px;
//    position: absolute;
//    top: 194px;
//    left: 0;
//}
.activeTabs{
    color: #50b848;
    border-bottom: 2px solid #50b848;
    padding-bottom: 8px;
}
.activeTabsFalse{
    padding-bottom: 0;
    border-bottom: 0;
    color: #000;
}
</style>
