<template>
<div class="main-payments">
    <div class="bread">
            Главная / Валютные операции / Валютный контроль
    </div>
    <div class="blockPayments-header">
        <h1 class="blockPayments-header__title">
            Информация об уникальном номере контракта и коде вида операции
        </h1>
        <a class="blockPayments-header__link" href="#">
            Рабочие документы
            <img class="blockPayments-header__img" src="../../assets/images/arrow_down.png" alt="">
        </a>
    </div>
    <div class="buttons">
        <div class="buttons__row-1">
            <div id="createCurrency" class="buttons__settings-btn">Создать</div>
            <div class="buttons__settings-btn buttons__settings-btn_mg-left buttons__settings-btn_gray">Копировать</div>
            <div id="writeCharge" class="buttons__settings-btn buttons__settings-btn_mg-left buttons__settings-btn_gray">Подписать</div>
            <div class="buttons__settings-btn buttons__settings-btn_mg-left buttons__settings-btn_gray">Отправить</div>
            <a class="blockPayments-header__link blockPayments-header_disp-inherit" href="#">Еще</a>
        </div>
        <div class="buttons__row-2">
            <a class="blockPayments-header__link blockPayments-header_disp-inherit" href="#">Экспорт <img src="../../assets/images/arrow_down.png" alt=""></a>
            <a class="blockPayments-header__link blockPayments-header_disp-inherit" href="#">Печать <img src="../../assets/images/arrow_down.png" alt=""></a>
            <a class="blockPayments-header__link blockPayments-header_disp-inherit" href="#">Обновить</a>
        </div>
    </div>
    <div class="input-blocks">
        <div class="input-blocks__row-1">
            <div class="input-blocks__block"><label class="input-blocks__labelFirst" for="">Дата</label>
                <input class="input-blocks__inputFirst" type="text"> <input class="input-blocks__inputSecond" type="text">
                <img class="blockPayments-header__img blockPayments-header_img-absolute" src="../../assets/images/arrow_down.png" alt="">
            </div>
            <div class="input-blocks__block"><label class="input-blocks__label" for="">Организация</label> <input class="input-blocks__input" type="text"></div>
            <div class="input-blocks__block"><label class="input-blocks__label" for="">Статусы</label> <input class="input-blocks__input" type="text"></div>
            <div class="input-blocks__block"><label class="input-blocks__labelFirst" for="">Создал</label> <input class="input-blocks__input" type="text"></div>
            <div class="input-blocks-checkbox widget-table">
                <div class="input-blocks-checkbox__block">
                    <label class="input-blocks-checkbox__label" for="">Документы</label> <label class="widget-table__label">
                    <input class="widget-table__checkbox" type="checkbox"> <span class="widget-table__checkmark"> </span> </label>
                </div>
                <div class="input-blocks-checkbox__block">
                    <label class="input-blocks-checkbox__label" for="">На подпись</label> <label class="widget-table__label">
                    <input class="widget-table__checkbox" type="checkbox"> <span class="widget-table__checkmark"> </span> </label>
                </div>
                <div class="input-blocks-checkbox__block">
                    <label class="input-blocks-checkbox__label" for="">За текущий день</label>
                </div>
            </div>
        </div>
        <div class="input-blocks__row-2">
            <div class="input-blocks__block"><label class="input-blocks__labelFirst" for="">с</label> <input class="input-blocks__inputDenom" type="text"> <label class="input-blocks__label2" for="">по</label> <input class="input-blocks__inputDenom input-blocks__inputDenom_mg-right" type="text"> </div>
            <div style="display:flex;justify-content:center;margin-right:18px" class="input-blocks__block"><label class="input-blocks__labelFirst" for="">Номер</label> <input class="input-blocks__inputDenom" type="text"> </div>
            <div class="input-blocks__block"><label class="input-blocks__label" for="">Счет №</label> <input class="input-blocks__input2" type="text"> </div>
            <div class="input-blocks__block"><label class="input-blocks__labelFirst" for="">УНК</label> <input class="input-blocks__input2" type="text"> </div>
            <div class="input-blocks__block"><label class="input-blocks__labelFirst" for="">Контракт </label> <input class="input-blocks__inputDenom" type="text"> <label class="input-blocks__label2" for="">от</label> <input class="input-blocks__inputDenom input-blocks__inputDenom_mg-right" type="text"> </div>
        </div>
        <div class="input-blocks__row-3">
            <div class="buttons__settings-btn buttons__settings-btn_wid-80">Показать</div>
            <div class="input-blocks__col-1">
                <div class="input-blocks__block input-blocks_no-wrap input-blocks_mg-bottom">
                <label class="widget-table__label">
                    <input class="widget-table__checkbox" type="checkbox"> <span class="widget-table__checkmark"> </span>
                </label>
                <label class="input-blocks__label2 input-blocks__label2_mg-right input-blocks_no-wrap" for="">быстрый просмотр</label>
            </div>
            <div class="input-blocks__block input-blocks_no-wrap input-blocks_mg-bottom">
                <label class="widget-table__label">
                    <input class="widget-table__checkbox" type="checkbox"> <span class="widget-table__checkmark"> </span>
                </label>
                <label class="input-blocks__label2 input-blocks__label2_mg-right input-blocks_no-wrap" for="">Искать точное соответствие</label>
            </div>
            <label class="input-blocks__label input-blocks_ft-12" for="">Очистить</label>
            </div>
            <label class="input-blocks__label input-blocks_ft-12" for="">Сокращенный поиск</label>
            <label class="input-blocks__label input-blocks_ft-12" for="">Скрыть</label>
        </div>
    </div>
    <div class="select-payments">
        <div class="input-blocks__block"><label class="input-blocks__labelFirst" for="">Сортировка</label>
            <input class="input-blocks__input input-blocks__input_green" type="text">
            <img class="blockPayments-header__img blockPayments-header_img-absolute" src="../../assets/images/arrow_down.png" alt="">
        </div>
        <div class="input-blocks__block input-blocks_pad-left-10"><label class="input-blocks__labelFirst" for="">Профиль</label>
            <input class="input-blocks__input input-blocks__input_green" type="text">
            <img class="blockPayments-header__img blockPayments-header_img-absolute blockPayments-header_img-absolute_top-3" src="../../assets/images/arrow_down.png" alt="">
        </div>
    </div>
    <div class="table-payments">
        <table class="cabinet-widget__table widget-table fixWhiteSpace" id="cabinet-widget-table">
            <tbody>
                <label class="widget-table__label widget-table__label_fix">
                    <input v-model="this.checkMassMark5" class="widget-table__checkbox" type="checkbox">
                    <span id="checkMassMark1" class="widget-table__checkmark"></span>
                </label>
                <tr class="widget-table__tr">
                    <th class="widget-table__th" v-for="(data, index, key) in tableCurrency.captions" :key="key">{{ data }}</th>
                </tr>
                <tr id="line" class="widget-table__tr" v-bind:class="{ activeBack: isActive2 }">
                    <td style="display:flex;position:absolute" class="widget-table__td">
                        <div style="order:1;padding-left:16px">5</div>
                      <label class="widget-table__label"> <input v-model="this.checkMassMark1" class="widget-table__checkbox" type="checkbox"> <span id="checkMassMark1" class="widget-table__checkmark"> </span> </label>
                    </td>
                    <td class="widget-table__td">
                      30.04.2020
                    </td>
                    <td class="widget-table__td">
                        Исполнен
                    </td>
                    <td class="widget-table__td">

                    </td>
                    <td class="widget-table__td">
                        EUR
                    </td>
                    <td class="widget-table__td">

                    </td>
                    <td class="widget-table__td">
                        40702.978.1.00001021225
                    </td>
                    <td class="widget-table__td">
                        40702.978.8.00000021225
                    </td>
                    <td class="widget-table__td">
                        5 000,00
                    </td>
                    <td class="widget-table__td">
                        EUR
                    </td>
                    <td class="widget-table__td">
                        ООО"ЦЕНТР-ИНТЕРНЕТ"
                    </td>
                    <td class="widget-table__td">
                        ПАО КБ "ЦЕНТР-ИНВЕСТ"
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-mask" v-show="showModal">
        <div class="modal-wrapper">
            <div class="modal">
                <div class="modal__row modal__row_jstBtw">
                    <h1 class="modal__title">
                       Информация об уникальном номере контракта и коде вида операции
                    </h1>
                    <span class="modal__close">x</span>
                </div>
                <div class="modal__tabs">
                    <button class="modal__button modal__button_active" v-bind:class="{ activeTabsFalse: activeTabsFalse }">Основное</button>
                    <button id="sumAnd" class="modal__button" v-bind:class="{ activeTabs: activeTabs }">Сумма и реквизиты</button>
                    <button class="modal__button">Информация из банка</button>
                </div>
                <div style="padding-left:75px" class="modal__row">
                   <label class="modal__label" for="">Номер</label><input class="modal__input" value="7" type="text">
                   <label class="modal__label modal__label_mgl4" for="">Дата</label> <input class="modal__input" value="28.08.2020" type="text">
                   <div class="input-blocks-checkbox__block">
                        <label class="widget-table__label">
                        <input class="widget-table__checkbox" type="checkbox"> <span class="widget-table__checkmark"> </span> </label>
                        <label class="input-blocks-checkbox__label" for="">Корректировка</label>
                    </div>
                </div>
                <div class="modal__row modal__row-mod">
                   <label class="modal__label" for="">Вернуть</label>
                   <input type="radio">
                   <label class="modal__label" for="">на руки</label>
                   <input type="radio">
                   <label class="modal__label" for="">заказным почтовым отправлением</label>
                   <input type="radio" checked="checked">
                   <label class="modal__label" for="">в электронном виде</label>
                </div>
                <div class="modal__row modal__row_jstBtw">
                   <label class="modal__label modal__label_mgl24" for="">Подразделение <input class="modal__input modal__input_wdt600" type="text" value="ПАО КБ 'Центр-Инвест'">  </label>
                   <label class="modal__label" for="">Инн  <input class="modal__input   modal__label_mgl4" type="text" value="6165080369">  </label>
                </div>
                <div class="modal__row modal__row_jstBtw">
                  <input style="height:36px;padding:0" class="modal__input modal__input_wdt600 modal__row-mod" type="text" value="ПАО КБ 'Центр-Инвест'">
                </div>
                 <div class="modal__row modal__row_jstBtw">
                   <label style="padding-left:24px" class="modal__label modal__label_mgl16" for="">Организация <input style="height:36px" class="modal__input modal__input_wdt600" value="Общество с ограниченной ответственностью 'Центр-Интернет'" type="text"> </label>
                </div>
                 <div style="padding-left:71px" class="modal__row modal__row_pad16">
                    <label class="modal__label" for="">Счет №</label><input class="modal__input modal__input_wdt204" type="text" value="40702.978.1.00001021225">
                </div>
                 <div style="padding-left:87px" class="modal__row modal__row_pad16" >
                    <label class="modal__label" for="">ИСП</label> <input class="modal__input modal__input_wdt513" type="text" value="Петренко Роман Леонидович">
                      <label class="modal__label modal__label_mgl24" for="">тел.</label><input class="modal__input modal__input_wdt84 " type="text" value="2206">
                </div>
                 <div class="modal__row modal__row_pad16">
                    <button id="add" class="modal__button1 modal__button1_active">Добавить</button>
                    <button class="modal__button1">Редактировать</button>
                    <button class="modal__button1">Удалить</button>
                </div>
                <table style="display:block;overflow:scroll" class="cabinet-widget__table widget-table modal__table fixWhiteSpace" id="cabinet-widget-table">
                    <tbody>
                        <tr class="widget-table__tr">
                    <th class="widget-table__th" v-for="(data, index, key) in modalmenuNewCurrency.captions" :key="key">{{ data }}</th>
                </tr>
                <tr style="background: #00c77b!important;" id="lineCurrent" class="widget-table__tr" v-bind:class="{ activeLine: isActivetion }">
                    <td style="display:flex;position:relative;top:-10px" class="widget-table__td">
                        <div style="order:1;padding-left:16px;position: relative;">7</div>
                      <label class="widget-table__label"> <input v-model="this.checkMassMark1" class="widget-table__checkbox" type="checkbox"> <span id="checkMassMark1" class="widget-table__checkmark"> </span> </label>
                    </td>
                    <td class="widget-table__td">
                      261152
                    </td>
                    <td class="widget-table__td">
                        24.08.2020
                    </td>
                    <td class="widget-table__td">
                        1
                    </td>
                    <td class="widget-table__td">
                       20200
                    </td>
                    <td class="widget-table__td">
                        EUR
                    </td>
                    <td class="widget-table__td">
                        5000,00
                    </td>
                    <td class="widget-table__td">
                        2-4/63
                    </td>
                    <td class="widget-table__td">
                        01.12.2018
                    </td>
                    <td class="widget-table__td">
                         EUR
                    </td>
                    <td class="widget-table__td">
                         24.08.2020
                    </td>
                    <td class="widget-table__td">
                        EUR
                    </td>
                    <td class="widget-table__td">
                        5000,00
                    </td>
                </tr>
                    </tbody>
                </table>
                 <div class="modal__row modal__row modal__row_pad16 modal__row_jstBtw">
                    <button id="writeOut" class="modal__button2">Подписать и отправить</button>
                    <button id="saveCurrentInfo" class="modal__button2 modal__button2_mglA">Сохранить</button>
                </div>

            </div>
        </div>
    </div>
     <div class="modal-mask" v-show="showModal1">
        <div class="modal-wrapper">
            <div style="font-size:15px" class="modalMini" id="modalmini">
                <div class="modal__row modal__row_jstBtw">
                   Добавление записи
                   <span style="color:green; font-size:24px">x</span>
                </div>
                 <div class="modal__row">
                  № п/п (при корректировке - номер корректируемой строки) <input class="borderGrey" style="width:60px;text-align:right;margin-left:6px" type="text" value="1">
                </div>
                <div class="modal__row">
                    <span style="font-size:15px" class="linkCurrent">Код признака платежа</span>
                    <input class="borderGrey" style="width:100px;margin-left:6px" type="text" v-bind:class="{ activeCurrent: isActivetion }">
                    <input class="borderGrey" style="width:510px;height:50px;margin-left:6px;padding-bottom:26px;" type="text" value="Зачисление денежных средств на счет резидента, в том числе не в банке УК" v-bind:class="{ activeCurrent: isActivetion }">
                </div>
                <div class="modal__row">
                    <span class="linkBorder">Соответвующий документ в системе</span>
                </div>
                 <div class="modal__row">
                    <span>Тип документа</span>
                    <input class="borderGrey" style="width:230px;text-align:right;margin-left:6px" type="text">
                    <span style="margin-left:6px">Номер</span>
                    <input class="borderGrey" style="width:150px;text-align:right;margin-left:6px" type="text">
                    <span style="margin-left:6px">От</span>
                    <input class="borderGrey" style="width:100px;text-align:right;margin-left:6px" type="text" >
                    <input class="borderGrey" style="width:30px;text-align:right;margin-left:6px" type="text" >
                    <input class="borderGrey" style="width:30px;text-align:right;margin-left:6px" type="text" >
                    <input class="borderGrey" style="width:30px;text-align:right;margin-left:6px" type="text" >
                </div>
                 <div class="modal__row">
                    <span class="linkBorder">Информация о документе</span>
                </div>
                <div class="modal__row">
                     <span style="font-size:14px">Уведомление, распоряжени, расчетный или иной документ</span>
                     <input class="borderGrey" style="width:100px;margin-left:6px" type="text" value="261152" v-bind:class="{ activeCurrent: isActivetion }">
                     <input style="margin-left:48px" type="checkbox">
                     <span style="margin-left:6px">без номера</span>
                     <span style="margin-left:48px">от</span>
                     <input style="width:100px;margin-left:6px" type="text" value="24.08.2020" v-bind:class="{ activeCurrent: isActivetion }">
                </div>
                <div class="modal__row">
                    <span style="font-size:15px" class="linkCurrent">Код вида вал. операции</span>
                    <input class="borderGrey" style="width:100px;margin-left:6px" type="text" value="20200" v-bind:class="{ activeCurrent: isActivetion }">
                    <input class="borderGrey" style="width:510px;height:50px;margin-left:6px;padding-bottom:26px;" type="text" value="Расчеты нерезидента за выполнение работы" v-bind:class="{ activeCurrent: isActivetion }">
                </div>
                <div class="modal__row">
                    <span style="font-size:14px">Дата операции</span>
                    <input class="borderGrey" style="width:100px;text-align:right;margin-left:6px" type="text" value="24.08.2020" v-bind:class="{ activeCurrent: isActivetion }">
                </div>
                <div style="flex-direction:column;justify-content:flex-start;align-items:flex-start" class="modal__row">
                    <div>
                        <span style="font-size:15px" class="linkCurrent">Код валюты</span>
                        <span style="font-size:15px;margin-left:6px;">Сумма операции</span>
                    </div>
                     <div style="margin-top:8px">
                         <input style="width: 100px" type="text" value="978" v-bind:class="{ activeCurrent: isActivetion }">
                         <input style="width: 200px;margin-left:6px;text-align:right" type="text" value="5000,00" v-bind:class="{ activeCurrent: isActivetion }">
                         <input style="width: 30px;margin-left:6px" type="text" value="EUR" v-bind:class="{ activeCurrent: isActivetion }">
                     </div>
                </div>
                <div style="margin-top:40px" class="modal__row">
                    <input type="checkbox">
                    <span>Указать сведения об УНК или контракте</span>
                </div>
                <div class="modal__row">
                    <input type="radio">
                    <span>Уникальный номер контракта</span>
                </div>
                <div class="modal__row">
                    <input type="radio" checked>
                    <span>номер/дата контракта</span>
                </div>
                <div class="modal__row">
                    <input style="width: 200px" type="text" value="2-4/63" v-bind:class="{ activeCurrent: isActivetion }">
                    <input style="width: 100px;margin-left:6px" type="text" value="01.12.2018" v-bind:class="{ activeCurrent: isActivetion }">
                    <input style="margin-left:6px" type="checkbox">
                    <span style="margin-left:6px">без номера</span>
                </div>
                <div style="flex-direction:column;justify-content:flex-start;align-items:flex-start" class="modal__row">
                    <div>
                        <span style="font-size:15px" class="linkCurrent">Код валюты</span>
                        <span style="font-size:15px;margin-left:6px;">Сумма операции в ед. валюты контракта (кред. договора)</span>
                    </div>
                     <div style="margin-top:8px">
                         <input style="width: 100px" type="text">
                         <input style="width: 200px;margin-left:6px" type="text">
                         <input style="width: 30px;margin-left:6px" type="text">
                         <span style="font-size:15px;margin-left:220px">Ожидаемый срок</span>
                         <input style="width: 100px;margin-left:6px" type="text">
                     </div>
                </div>
                <div style="flex-direction:column;justify-content:flex-start;align-items:flex-start" class="modal__row">
                    <div>
                        <span style="font-size:15px;margin-left:6px;">Примечание</span>
                    </div>
                     <div style="margin-top:8px">
                         <input class="borderGrey" style="width:400px;height:50px;text-align:right;margin-left:6px" type="text">
                     </div>
                </div>
                 <div class="modal__row modal__row modal__row_pad16 modal__row_jstBtw">
                    <button id="saveCurrent" class="modal__button2 modal__button2_mglA">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
import { tableSettings, tableCurrency, importMenu, modalmenu, modalmenuNewCurrency } from '../../data/data'
import { mapFields } from 'vuex-map-fields'

export default {
    name: 'newCurrency',
    data () {
        return {
            tableSettings,
            tableCurrency,
            importMenu,
            modalmenu,
            modalmenuNewCurrency
        }
    },
      computed: {
        ...mapFields([
           'isImport',
           'tabsShow',
           'showModal',
           'showModal1',
           'filledData1',
           'isActive',
           'isActive1',
           'activeTabs',
           'activeTabsFalse',
           'isActive2',
            'isActive3',
            'isActive4',
            'isActive5',
            'isActive6',
            'isActive7',
            'isActivetion',
           'isActiveBtn',
           'checkMassMark.checkMassMark1',
           'checkMassMark.checkMassMark2',
           'checkMassMark.checkMassMark5'
        ])
    }
}
</script>
<style scoped lang="scss">
    .main-payments{
        margin-top: -10px;
    }
    .bread{
        margin-bottom: 8px;
        font-size: 12px;
    }
    .blockPayments-header{
        display: flex;
        justify-content: space-between;
        border-bottom: 0.5px solid #c1c1c1;
        padding-bottom: 4px;

        &__title{
            font-size: 25px;
        }
        &__link{
            background: transparent;
            border: 0;
            font-size: 13pt;
            font-weight: 700;
            color: #39B54A;
            display: flex;
            align-self: center;
        }
        &__img{
            margin-left: 12px;
        }
        &_disp-inherit{
            display: inline-block;
            margin-left: 24px;
        }
        &_img-absolute{
            position: absolute;
            top: 4px;
            right: 6px;
            &_top-3{
                top: 3px;
            }
        }
    }
.buttons{
    margin-top: 16px;
    justify-content: space-between;
    display: flex;
    border-bottom: 0.5px solid #c1c1c1;
    padding-bottom: 12px;
    &__settings-btn{
        background: #39B54A;
        border: 1px solid #39B54A;
        border-radius: 4px;
        color: #ffffff;
        cursor: pointer;
        font-weight: bold;
        display: inline-block;
        padding: 8px;
        text-align: center;
        text-transform: uppercase;
        box-shadow: 1px 2px 1px 0px #026921;
        font-size: 12px;
        min-width: 120px;
        box-shadow: inherit;
        font-weight: 100;
        margin: 10px 0;
        text-transform: none;
        font-size: 13px;
        &_gray{
        opacity: 0.4;
        background-color:#808080;
        }
        &_wid-80{
        min-width: 80px;
        }
        &_mg-left{
            margin-left: 12px;
        }
    }
    &__row-2 img{
        vertical-align: middle;
    }
}
.input-blocks{
    margin-top: 16px;
    display: flex;
    padding-bottom: 10px;
    border-bottom: 0.5px solid #c1c1c1;
    &__row-1{
        width: 35%;
    }
    &__row-2{
        width: 28%;
    }
    &__row-3{
        display: flex;
        align-items: flex-start;
        width: 30%;
        margin-left: 14px;
    }
    &__col-1{
        margin-left: 14px;
        display: flex;
        flex-direction: column;
    }
    &__block{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 4px;
        position: relative;
        align-items: center;
    }
    &__inputFirst{
        width: 124px;
    }
    &__inputSecond{
        width: 170px;
        margin-left: 6px;
    }
    &__inputDenom{
        width: 100px;
        margin-right: 3.5px;
        &_mg-right{
            margin-right: 0;
        }
    }
    &__inputDenom2{
        margin-right: 11px;
        width: 100px;
    }
    &__labelFirst{
        font-size: 14px;
        padding-right: 4px;
    }
    &__label{
        padding-right: 4px;
        color: #39B54A;
        background: transparent;
        text-decoration: underline;
        font-size: 14px;
    }
    &__label2{
        font-size: 12px;
        margin-right: 2.5px;
        &_mg-right{
            margin-right: 0.5px;
        }
    }
    &__input{
        width: 100%;
        max-width: 300px;
        &_green{
            border-color: #39B54A;
            border-style: solid;
            border-width: 1px;
        }
        &_wdt72{
            width: 72px;
            margin-right: 4.6px;
        }
        &_wdt91{
            width: 91px;
            margin-right: 4.6px;
        }
        &_wdt62{
            width: 62px;
        }
    }
    &__input2{
        max-width: 220px;
        width: 100%;
    }
    &_no-wrap{
        white-space: nowrap;
        justify-content: flex-start;
    }
    &_mg-bottom{
        margin-bottom: 8px;
    }
     &_ft-12{
        font-size: 12px;
        white-space: nowrap;
        margin-left: 14px;
    }
    &_pad-left-10{
    padding-left: 10px;
}
}
.widget-table{
    position: relative;
    &__label{
        display: block;
        position: relative;
        padding-left: 20px;
        margin-bottom: 14px;
        cursor: pointer;
        font-size: 22px;
        user-select: none;
        &_fix {
            position: absolute;
            top: 14px;
        }
    }
    &__checkbox{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    &__checkbox:checked ~ &__checkmark{
        background-color: #50b848;
        &:after{
            display: block;
        }
    }
    &__checkmark{
        position: absolute;
        top: 0px;
        left: 2px;
        height: 16px;
        width: 16px;
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid gray;
        &:after{
            content: "";
            position: absolute;
            display: none;
            left: 4px;
            top: 0px;
            width: 4px;
            height: 8px;
            border: solid white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }
    &__number {
        position: absolute;
        right: 40px;
        top: 16px;
        font-size: 13px;
    }
    &__td{
        padding: 15px 15px;
        text-align: center;
        &:nth-child(1) {
            padding: 15px 0px;
        }
    }
    &__th {
        padding: 15px 15px;
        &:nth-child(1) {
            padding-left: 24px;
        }
        &_no-padding {
            padding: 0 15px;
        }
    }
    &.fixWhiteSpace {
        white-space: nowrap;
    }
}
.input-blocks-checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    &__block{
        display: flex;
        align-items: center;
    }
    &__label{
        font-size: 12px;
    }
}
.table-payments{
    margin-top: 24px;
    overflow: scroll;
}
.select-payments{
    display: flex;
    margin-top: 16px;
}
.active{
    color: #fff;
}
.greenButton{
    background: #39B54A;
    opacity: 1;
}
.activeBack{
    background: #00c77b!important;
}

.modal{
    position: absolute;
    min-width: 924px;
    width: 924px;
    top: 50px;
    left: 498px;
    z-index: 1800;
    &__close{
        color: #888;
        font-size: 24px;
        cursor: pointer;
        margin-right: 3px;
        align-self: end;
    }
    &__row{
        justify-content: flex-start;
        padding: 0;
        margin-bottom: 4px;
        align-items: center;
        &_jstBtw{
            justify-content: space-between;
        }
        &_pad16{
            padding: 0 16px;
        }
         &_mg46{
            margin-bottom: 46px;
        }
        &_jstFlEnd{
            justify-content: flex-end;
        }
    }
    &__label{
        margin-right: 4px;
        align-items: center;
        &_mgl24{
            margin-left: 24px!important;
        }
        &_mgl16{
            margin-left: 16px;
        }
        &_mgl4{
            margin-left: 4px!important;
        }
        &_mgr{
            margin-right: auto;
        }
         &_mgl{
            margin-left: auto;
        }
        &_mod{
            color: #50b848;
        }
    }
    &__input{
        width: 96px;
        &_wdt600{
            width: 600px;
            margin-left: 4px;
        }
        &_txA-rigt{
            text-align: right;
        }
          &_wdt360{
            width: 360px;
            margin-left: 4px;
        }
         &_wdt180{
            width: 180px;
        }
        &_wdt204{
            width: 204px;
            margin-right: 4px;
        }
        &_wdt84{
            width: 84px;
            margin-right: 4px;
        }
        &_wdt513{
            width: 513px;
        }
        &_wdt36{
            width: 36px;
        }
         &_wdt144{
            width: 144px;
            margin-left: 3px;
        }
         &_wdt48{
             margin-left: 3px;
            width: 48px;
        }
        &_wdt72{
             margin-left: 3px;
            width: 72px;
        }
         &_wdt567{
             margin-left: 3px;
            width: 567px;
        }
    }
    &__tabs{
        display: flex;
        justify-content: flex-start;
        margin-left: 16px;
        align-items: flex-end;
    }
    &__title{
        padding-top: 4px;
        font-size: 20px;
        margin-bottom: 24px;
    }
    &__button{
        margin: 8px;
        padding: 2px;
        border: 0;
        height: inherit;
        font-size: 18px;
        margin-bottom: 24px;
        &_active{
            color: #50b848;
            border-bottom: 2px solid #50b848;
            padding-bottom: 8px;
        }
    }
    &__table{
        margin-bottom: 256px;
    }
    &__button1{
        height: 26px;
    min-height: 26px;
    padding: 1px 11px;
    border: 1px solid #a9a9a9 !important;
    border-radius: 6px;
    margin: 5px 10px 5px 0;
    filter: none;
    box-shadow: none;
    text-shadow: none;
    opacity: 0.6;
    background: #808080;
    color: white;
    text-transform: uppercase;
    box-shadow: 1px 1px 1px 0px #808080 !important;
    cursor: pointer;
    &_active{
        opacity: 1;
        background: #50b848;
    }

    }
    &__button2{
        text-transform: lowercase;
    min-width: 120px;
    min-height: 20px;
    font-size: 12pt;
    box-shadow: 1px 2px 1px 0px #026921 !important;
    border: 0;
    border-radius: 4px;
    background: #39B54A;
    color: #fff;
    padding: 4px 18px;
    margin-bottom: 4px;
    margin-top: 16px;
    &_mglA{
        margin-left: auto;
    }
    &_mgr16{
        margin-left: 16px;
    }
    }
}
.modalMini{
        position: absolute;
        width: 800px;
        top: 100px;
        left: 25%;
        z-index: 1801;
        background: white;
        padding:6px;
    }
.tabsWidow{
    z-index: 122;
    background: white;
    width: 923px;
    height: 300px;
    position: absolute;
    top: 194px;
    left: 0;
}
.activeTabs{
    color: #50b848;
    border-bottom: 2px solid #50b848;
    padding-bottom: 8px;
}
.activeTabsFalse{
    padding-bottom: 0;
    border-bottom: 0;
    color: #000;
}
.modal__row-mod{
    margin-left: 118px!important;
    padding: 6px;
}
.borderGrey{
    outline: none;
}
.linkCurrent{
    color:#50b848;
    text-decoration: underline #50b848;
}
.linkBorder{
    font-weight: bold;
    width: 100%;
    color: #080808;
    padding-bottom: 4px;
    border-bottom: 1px solid #b5b5b5;
    font-size: 14px;
}
.modalMini .modal__row{
    margin-top:8px;
}
.activeCurrent{
    color:#fff;
}
.activeLine{
    display: none;
}
.fixWhiteSpace {
    white-space: nowrap;
}
</style>
