<template>
<div class="main-payments">
    <div class="blockPayments-header">
        <h1 class="blockPayments-header__title">
            Рублевые платежные поручения
        </h1>
        <a class="blockPayments-header__link" href="#">
            Рабочие документы
            <img class="blockPayments-header__img" src="../../assets/images/arrow_down.png" alt="">
        </a>
    </div>
    <div class="buttons">
        <div class="buttons__row-1">
            <div id="buttonCreated" class="button cabinet-widget__button buttons__settings-btn">Создать</div>
            <div class="button cabinet-widget__button buttons__settings-btn">Копировать</div>
            <div class="button cabinet-widget__button buttons__settings-btn mg-left">Подписать</div>
            <div class="button cabinet-widget__button buttons__settings-btn buttons__settings-btn_gray">Отправить</div>
            <a class="blockPayments-header__link disp-inherit" href="#">Еще</a>
        </div>
        <div class="buttons__row-2">
            <a id="importCreated" class="blockPayments-header__link disp-inherit" href="#">Импорт <img src="../../assets/images/arrow_down.png" alt=""></a>
            <a class="blockPayments-header__link disp-inherit" href="#">Экспорт <img src="../../assets/images/arrow_down.png" alt=""></a>
            <a class="blockPayments-header__link disp-inherit" href="#">Печать <img src="../../assets/images/arrow_down.png" alt=""></a>
            <a class="blockPayments-header__link disp-inherit" href="#">Обновить</a>
        </div>
    </div>
    <div class="input-blocks">
        <div class="input-blocks__row-1">
            <div class="input-blocks__block"><label class="input-blocks__labelFirst" for="">Дата</label>
                <input class="input-blocks__inputFirst" type="text"> <input class="input-blocks__inputSecond" type="text">
                <img class="blockPayments-header__img img-absolute" src="../../assets/images/arrow_down.png" alt="">
            </div>
            <div class="input-blocks__block"><label class="input-blocks__label" for="">Получатель</label> <input class="input-blocks__input" type="text"></div>
            <div class="input-blocks__block"><label class="input-blocks__label" for="">Плательщик</label> <input class="input-blocks__input" type="text"></div>
            <div class="input-blocks__block"><label class="input-blocks__label" for="">Статусы</label> <input class="input-blocks__input" type="text"></div>
            <div class="input-blocks__block"><label class="input-blocks__label" for="">Массовый платеж</label> <input class="input-blocks__input" type="text"></div>
            <div class="input-blocks__block"><label class="input-blocks__label" for="">Назн. пл.</label> <input class="input-blocks__input" type="text"></div>
            <div class="input-blocks-checkbox widget-table">
                <div class="input-blocks-checkbox__block">
                    <label class="input-blocks-checkbox__label" for="">Документы</label> <label class="widget-table__label">
                    <input class="widget-table__checkbox" type="checkbox"> <span class="widget-table__checkmark"> </span> </label>
                </div>
                <div class="input-blocks-checkbox__block">
                    <label class="input-blocks-checkbox__label" for="">На подпись</label> <label class="widget-table__label">
                    <input class="widget-table__checkbox" type="checkbox"> <span class="widget-table__checkmark"> </span> </label>
                </div>
                <div class="input-blocks-checkbox__block">
                    <label class="input-blocks-checkbox__label" for="">Подписанные</label> <label class="widget-table__label">
                    <input class="widget-table__checkbox" type="checkbox"> <span class="widget-table__checkmark"> </span> </label>
                </div>
                <div class="input-blocks-checkbox__block">
                    <label class="input-blocks-checkbox__label" for="">За текущий день</label> <label class="widget-table__label">
                    <input class="widget-table__checkbox" type="checkbox"> <span class="widget-table__checkmark"> </span> </label>
                </div>
            </div>
        </div>
        <div class="input-blocks__row-2">
            <div class="input-blocks__block"><label class="input-blocks__labelFirst" for="">с</label> <input class="input-blocks__inputDenom" type="text"> <label class="input-blocks__label2" for="">по</label> <input class="input-blocks__inputDenom input-blocks__inputDenom_mg-right" type="text"> </div>
            <div class="input-blocks__block"><label class="input-blocks__label" for="">Счет №</label> <input class="input-blocks__input2" type="text"> </div>
            <div class="input-blocks__block"><label class="input-blocks__label" for="">Счет №</label> <input class="input-blocks__input2" type="text"> </div>
            <div class="input-blocks__block"><label class="input-blocks__labelFirst" for="">Сумма с</label> <input class="input-blocks__inputDenom" type="text"> <label class="input-blocks__label2" for="">до</label> <input class="input-blocks__inputDenom input-blocks__inputDenom_mg-right" type="text"> </div>
            <div class="input-blocks__block"><label class="input-blocks__labelFirst" for="">ИНН получателя</label> <input class="input-blocks__input2" type="text"> </div>
            <div class="input-blocks__block"><label class="input-blocks__labelFirst" for="">Номер</label> <input class="input-blocks__inputDenom2" type="text">
                <label class="widget-table__label">
                    <input class="widget-table__checkbox" type="checkbox"> <span class="widget-table__checkmark"> </span>
                </label>
                <label class="input-blocks__label2 input-blocks__label2_mg-right" for="">К визированию</label>
            </div>
        </div>
        <div class="input-blocks__row-3">
            <div class="button cabinet-widget__button buttons__settings-btn wid-80">Показать</div>
            <div class="input-blocks__col-1">
                <div class="input-blocks__block no-wrap mg-bottom">
                <label class="widget-table__label">
                    <input class="widget-table__checkbox" type="checkbox"> <span class="widget-table__checkmark"> </span>
                </label>
                <label class="input-blocks__label2 input-blocks__label2_mg-right no-wrap" for="">быстрый просмотр</label>
            </div>
            <div class="input-blocks__block no-wrap mg-bottom">
                <label class="widget-table__label">
                    <input class="widget-table__checkbox" type="checkbox"> <span class="widget-table__checkmark"> </span>
                </label>
                <label class="input-blocks__label2 input-blocks__label2_mg-right no-wrap" for="">Искать точное соответствие</label>
            </div>
            <label class="input-blocks__label ft-12" for="">Очистить</label>
            </div>
            <label class="input-blocks__label ft-12" for="">Сокращенный поиск</label>
            <label class="input-blocks__label ft-12" for="">Скрыть</label>
        </div>
    </div>
    <div class="select-payments">
        <div class="input-blocks__block"><label class="input-blocks__labelFirst" for="">Сортировка</label>
            <input class="input-blocks__input input-blocks__input_green" type="text">
            <img class="blockPayments-header__img img-absolute" src="../../assets/images/arrow_down.png" alt="">
        </div>
        <div class="input-blocks__block pad-left-10"><label class="input-blocks__labelFirst" for="">Профиль</label>
            <input class="input-blocks__input input-blocks__input_green" type="text">
            <img class="blockPayments-header__img img-absolute img-absolute_top-3" src="../../assets/images/arrow_down.png" alt="">
        </div>
    </div>
    <div class="table-payments">
        <table class="cabinet-widget__table widget-table">
            <tbody>
                <tr class="widget-table__tr">
                    <th class="widget-table__th no-wrap" v-for="(data, index, key) in tablePaymentsPath.captions" :key="key">{{ data }}</th>
                </tr>
                <tr class="widget-table__tr" v-for="(data, index, key) in tablePaymentsPath.data" :key="key">
                    <td class="widget-table__td pad-left-10" v-for="(data, index, key) in data" :key="key" v-html="data"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</template>
<script>
import { tableSettings, tablePaymentsPath } from '../../data/data'

export default {
    name: 'CabinetContent',
    data () {
        return {
            tableSettings,
            tablePaymentsPath
        }
    }
}
</script>
<style scoped lang="scss">
    .blockPayments-header{
        display: flex;
        justify-content: space-between;
        border-bottom: 0.5px solid #c1c1c1;
        padding-bottom: 4px;

        &__title{
            font-size: 25px;
        }
        &__link{
            background: transparent;
            border: 0;
            font-size: 13pt;
            font-weight: 700;
            color: #39B54A;
            display: flex;
            align-self: center;
        }
        &__img{
            margin-left: 12px;
        }
    }
.buttons{
    margin-top: 40px;
    justify-content: space-between;
    display: flex;
    border-bottom: 0.5px solid #c1c1c1;
    padding-bottom: 12px;
    &__settings-btn{
        margin: 2px;
        min-width: 120px;
        box-shadow: inherit;
        border: inherit;
        &_gray{
        opacity: 0.4;
        background-color:#808080;
        }
    }
    &__row-2 img{
        vertical-align: middle;
    }
}
.mg-left{
    margin-left: 12px;
}
.disp-inherit{
    display: inline-block;
    margin-left: 24px;
}
.img-absolute{
    position: absolute;
    top: 4px;
    right: 6px;
    &_top-3{
        top: 3px;
    }
}
.input-blocks{
    margin-top: 16px;
    display: flex;
    padding-bottom: 10px;
    border-bottom: 0.5px solid #c1c1c1;
    &__row-1{
        width: 35%;
    }
    &__row-2{
        width: 28%;
    }
    &__row-3{
        display: flex;
        align-items: flex-start;
        width: 30%;
        margin-left: 14px;
    }
    &__col-1{
        margin-left: 14px;
        display: flex;
        flex-direction: column;
    }
    &__block{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 4px;
        position: relative;
        align-items: center;
    }
    &__inputFirst{
        width: 124px;
    }
    &__inputSecond{
        width: 170px;
        margin-left: 6px;
    }
    &__inputDenom{
        width: 100px;
        margin-right: 3.5px;
        &_mg-right{
            margin-right: 0;
        }
    }
    &__inputDenom2{
        margin-right: 11px;
        width: 100px;
    }
    &__labelFirst{
        font-size: 14px;
        padding-right: 4px;
    }
    &__label{
        padding-right: 4px;
        color: #39B54A;
        background: transparent;
        text-decoration: underline;
        font-size: 14px;
    }
    &__label2{
        font-size: 12px;
        margin-right: 2.5px;
        &_mg-right{
            margin-right: 0.5px;
        }
    }
    &__input{
        width: 100%;
        max-width: 300px;
        &_green{
            border-color: #39B54A;
            border-style: solid;
            border-width: 1px;
        }
    }
    &__input2{
        max-width: 220px;
        width: 100%;
    }
}
.widget-table{
    &__label{
        display: block;
        position: relative;
        padding-left: 20px;
        margin-bottom: 14px;
        cursor: pointer;
        font-size: 22px;
        user-select: none;
    }
    &__checkbox{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    &__checkbox:checked ~ &__checkmark{
        background-color: #50b848;
        &:after{
            display: block;
        }
    }
    &__checkmark{
        position: absolute;
        top: 0px;
        left: 2px;
        height: 16px;
        width: 16px;
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid gray;
        &:after{
            content: "";
            position: absolute;
            display: none;
            left: 4px;
            top: 0px;
            width: 4px;
            height: 8px;
            border: solid white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }
}
.input-blocks-checkbox{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__block{
        display: flex;
        align-items: center;
    }
    &__label{
        font-size: 12px;
    }
}
.ft-12{
    font-size: 12px;
    white-space: nowrap;
    margin-left: 14px;
}
.wid-80{
    min-width: 80px;
}
.no-wrap{
    white-space: nowrap;
    justify-content: flex-start;
}
.mg-bottom{
    margin-bottom: 8px;
}
.table-payments{
    margin-top: 24px;
    overflow: scroll;
}
.pad-left-10{
    padding-left: 10px;
}
.widget-table__th{
    padding: 5px 15px;
}
.select-payments{
    display: flex;
    margin-top: 16px;
}
</style>
