<template>
    <div class="main-score">
        <div class="blockScore-header">
            <h1 class="blockScore-header__title">
                Счета
            </h1>
        </div>
        <div class="score-container">
            <ul class="blockScore-header__list">
                <li id="scoreExtracts" class="blockScore-header__element blockScore-header__element_active">Выписки</li>
                <li id="scoreStory" class="blockScore-header__element">История запросов</li>
            </ul>
            <div class="score-inputBlock">
                <label class="score-inputBlock__label" for="">Счет №</label>
                <input id="scoreInput1" class="score-inputBlock__input1" type="text">
                <div class="score-inputBlock__wrapper-input">
                    <input id="scoreInput2" class="score-inputBlock__input2"  type="text">
                    <img class="score-inputBlock__img-absolute" src="../../assets/images/arrow_down.png" alt="">
                </div>
                <div class="score-inputBlock__wrapper-input">
                    <input id="scoreInput3" class="score-inputBlock__input2"  type="text">
                    <img class="score-inputBlock__img-absolute" src="../../assets/images/arrow_down.png" alt="">
                </div>
                <div id="scoreView" class="score-inputBlock__button">Показать</div>
                <div class="score-inputBlock__checkbox-wrapper">
                    <label class="widget-table__label">
                        <input class="widget-table__checkbox" type="checkbox"> <span class="widget-table__checkmark"> </span>
                    </label>
                </div>
                <label class="score-inputBlock__labelSearch" for="">Искать точное соответствие</label>
                <label class="score-inputBlock__label score-inputBlock__label_mg-left" for="">Очистить</label>
            </div>
            <div class="table-score">
            <table class="cabinet-widget__table widget-table">
                <tbody>
                    <tr class="widget-table__tr">
                        <th class="widget-table__th no-wrap" v-for="(data, index, key) in tableScore.captions" :key="key">{{ data }}</th>
                    </tr>
                    <tr class="widget-table__tr" v-for="(data, index, key) in tableScore.data" :key="key">
                        <td class="widget-table__td" v-for="(data, index, key) in data" :key="key" v-html="data"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="buttons">
            <div class="button cabinet-widget__button buttons__settings-btn">Экспорт</div>
            <div class="button cabinet-widget__button buttons__settings-btn">Печать</div>
            <div class="button cabinet-widget__button buttons__settings-btn buttons__settings-btn_gray">Реквизиты</div>
        </div>
        </div>
    </div>
</template>
<script>

import { tableSettings, tableScore } from '../../data/data'

export default {
    name: 'CabinetContent',
    data () {
        return {
            tableSettings,
            tableScore
        }
    }
}
</script>
<style scoped lang="scss">
    .score-container{
        margin-left: 16px;
    }
    .blockScore-header{
        display: flex;
        justify-content: space-between;
        &__title{
            font-size: 25px;
        }
        &__list{
            margin-top: 24px;
            display: flex;
            padding-bottom: 16px;
            border-bottom: 0.5px solid #c1c1c1;
        }
        &__element{
            margin-left: 16px;
            &_active{
            color: #39B54A;
            border-bottom: 2px #39B54A solid;
            padding-bottom: 8px;
            margin-left: 0;
            }
        }
    }
    .score-inputBlock{
        margin-top: 16px;
        &__button{
            background: #39B54A;
            border: 1px solid #39B54A;
            border-radius: 4px;
            color: #ffffff;
            cursor: pointer;
            font-weight: bold;
            display: inline-block;
            padding: 8px;
            text-align: center;
            text-transform: uppercase;
            -webkit-box-shadow: 1px 2px 1px 0px #026921;
            box-shadow: 1px 2px 1px 0px #026921;
            font-size: 12px;
            max-width: 80px;
            margin-left: 5px;
        }
        &__label{
            padding-right: 4px;
            color: #39B54A;
            background: transparent;
            text-decoration: underline;
            font-size: 14px;
            &_mg-left{
                margin-left: 5px;
                border-bottom: dashed;
                border-width: 1px;
                text-decoration: none;
            }
        }
        &__input1{
            width: 190px
        }
        &__input2{
            width: 110px;
            margin-left: 5px;
        }
        &__wrapper-input{
            position: relative;
            display: inline-block;
        }
        &__img-absolute{
            position: absolute;
            top: 4px;
            right: 6px;
            &_top-3{
                top: 3px;
            }
        }
        &__checkbox-wrapper{
            display: inline-block;
        }
        &__labelSearch{
            font-size: 12px;
        }
    }
    .widget-table{
    &__label{
        display: block;
        position: relative;
        padding-left: 20px;
        margin-bottom: 14px;
        cursor: pointer;
        font-size: 22px;
        user-select: none;
        margin-left: 5px;
    }
    &__checkbox{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    &__checkbox:checked ~ &__checkmark{
        background-color: #50b848;
        &:after{
            display: block;
        }
    }
    &__checkmark{
        position: absolute;
        top: 2px;
        left: 2px;
        height: 16px;
        width: 16px;
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid gray;
        &:after{
            content: "";
            position: absolute;
            display: none;
            left: 4px;
            top: 0px;
            width: 4px;
            height: 8px;
            border: solid white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }
}
.table-score{
    margin-top: 16px;
}
.buttons{
    margin-top: 20px;
    justify-content: flex-start;
    display: flex;
    font-size: 12px;
    &__settings-btn{
        margin: 8px;
        min-width: 80px;
        box-shadow: inherit;
        border: inherit;
        &_gray{
        opacity: 0.4;
        background-color:#808080;
        }
    }
}
</style>
