<template>
     <div class="cabinet-settings settings-table">
        <table class="cabinet-widget__table widget-table" id="cabinet-widget-table">
            <tbody>
                <tr class="widget-table__tr">
                    <th class="widget-table__th" v-for="(data, index, key) in tableSettings.captions" :key="key">{{ data }}</th>
                </tr>
                <tr class="widget-table__tr">
                    <td class="widget-table__td">
                      Счета
                    </td>
                    <td class="widget-table__td">
                      <label class="widget-table__label"> <input v-model="checkmark1" class="widget-table__checkbox" type="checkbox"> <span id="checkmark1" class="widget-table__checkmark"> </span> </label>
                    </td>
                    <td class="widget-table__td">
                      0
                    </td>
                    <td class="widget-table__td">
                      Краткое описание виджета
                    </td>
                </tr>
                <tr class="widget-table__tr">
                    <td class="widget-table__td">
                      Услуги
                    </td>
                    <td class="widget-table__td">
                      <label class="widget-table__label"> <input v-model="checkmark2" class="widget-table__checkbox" type="checkbox"> <span id="checkmark2" class="widget-table__checkmark"> </span> </label>
                    </td>
                    <td class="widget-table__td">
                      1
                    </td>
                    <td class="widget-table__td">
                      Виджет для отображения подключенных, доступных для подключения и отключения услуг
                    </td>
                </tr>
                <tr class="widget-table__tr">
                    <td class="widget-table__td">
                      Платежи
                    </td>
                    <td class="widget-table__td">
                      <label class="widget-table__label"> <input v-model="checkmark3" class="widget-table__checkbox" type="checkbox"> <span id="checkmark3" class="widget-table__checkmark"> </span> </label>
                    </td>
                    <td class="widget-table__td">
                      2
                    </td>
                    <td class="widget-table__td">
                      Виджет рублевых платежей
                    </td>
                </tr>
                <tr class="widget-table__tr">
                    <td class="widget-table__td">
                      Новости
                    </td>
                    <td class="widget-table__td">
                      <label class="widget-table__label"> <input v-model="checkmark4" class="widget-table__checkbox" type="checkbox"> <span id="checkmark4" class="widget-table__checkmark"> </span> </label>
                    </td>
                    <td class="widget-table__td">
                      3
                    </td>
                    <td class="widget-table__td">
                      Новости
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="buttons">
            <div class="button cabinet-widget__button buttons__settings-btn buttons__settings-btn_gray">Вверх</div>
            <div class="button cabinet-widget__button buttons__settings-btn buttons__settings-btn_gray">Вниз</div>
            <div class="button cabinet-widget__button buttons__settings-btn">Вернуться на главную страницу</div>
        </div>
    </div>
</template>

<script>
import { tableSettings } from '../../data/data'
import { mapFields } from 'vuex-map-fields'

export default {
    name: 'CabinetContent',
    data () {
        return {
            tableSettings
        }
    },
    computed: {
        ...mapFields([
            'checkmark.checkmark1',
            'checkmark.checkmark2',
            'checkmark.checkmark3',
            'checkmark.checkmark4'
        ])
    }

}
</script>

<style scoped lang="scss">
.buttons{
    margin-top: 100px;
    justify-content: flex-end;
    display: flex;
    &__settings-btn{
        margin: 20px;
        min-width: 120px;
        box-shadow: inherit;
        border: inherit;
        &_gray{
        opacity: 0.4;
        background-color:#808080;
        }
    }
}
.widget-table{
    &__label{
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        user-select: none;
    }
    &__checkbox{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    &__checkbox:checked ~ &__checkmark{
        background-color: #50b848;
        &:after{
            display: block;
        }
    }
    &__checkmark{
        position: absolute;
        top: 0;
        left: 20px;
        height: 16px;
        width: 16px;
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid gray;
        &:after{
            content: "";
            position: absolute;
            display: none;
            left: 4px;
            top: 0px;
            width: 4px;
            height: 8px;
            border: solid white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }
}
</style>
