<template>
    <div class="cibVuePageApp">
        <div>
            <router-view />
        </div>
        <cibModal v-model="showModal" class="student-cards-modal" not-close>
            <template #content>
                <div class="student-cards-modal__title">Выберите свой вуз</div>
                <div class="student-cards-modal__list">
                    <div
                        v-for="card in cardsData"
                        class="student-cards-modal__item"
                        :key="card.slug"
                        @click.prevent="toRoute(card.slug)"
                    >
                        {{ card.label }}
                    </div>
                </div>
            </template>
        </cibModal>
        <transition name="fade">
            <Loader v-show="showPreloader" :fixed="true" :transparent="true"  />
        </transition>
    </div>
</template>

<script>
    import { cardsData } from '@/student-cards/data/model'
    import { mapFields } from 'vuex-map-fields'
    import cibModal from 'centrinvest-web-components/src/appComponents/components/cibModal'
    import Loader from 'centrinvest-web-components/src/appComponents/Loader'

    export default {
        components: {
            cibModal,
            Loader
        },
        data: () => ({
            cardsData
        }),
        computed: {
            ...mapFields([
                'showModal',
                'showPreloader'
            ])
        },
        methods: {
            toRoute (slug) {
                this.showModal = false
                this.$router.push({ name: 'cardPage', params: { slug: slug } })
            }
        }
    }
</script>

<style scoped lang="scss">
/deep/ .cib-button-wr {
    text-align: center;
}

</style>
<style lang="scss">
@import './assets/styles.scss';
</style>
