@import '~centrinvest-web-components/src/assets/styles/base/base.scss';
$animationDuration: 0.3s;
@import "~vue2-animate/src/sass/vue2-animate.scss";

body {
    margin: 0;
    padding: 0;
}

.linkWithArrow {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
    padding-right: 20px;

    font-size: 18px;
    line-height: 21px;
    color: #4AB541;
    @media (max-width: 576px) {
        margin-top: 15px;
    }
    @media(min-width: 769px) {
        &:hover {
            color: $green;
            svg {
                fill: $green;
                right: 0;
            }
        }
    }

    svg {
        position: absolute;
        top: 50%;
        right: 4px;
        transform: translate(0, -50%);
        width: 11px;
        transition: all 0.3s;
        fill: $grey;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    th {
        color: #fff;
        background: $green;
        font-weight: 700;
        text-align: left;
        padding: 16px;
        vertical-align: middle;
    }
    td {
        padding: 16px;
        vertical-align: middle;
    }
}
.slide-fade-enter-active {
    transition: all .5s ease;
}
.slide-fade-leave-active {
    transition: all .5s ease;
    position: absolute;
}
.slide-fade-enter,
.slide-fade-leave-to {
    transform: translateX(50px);
    opacity: 0;
}
