.cibVuePageApp {
    font-family: Roboto;
    position: relative;
    a {
        text-decoration: none;
        border-bottom: none;
    }
    min-height: 300px;
    &__wrapper {
        max-width: 1198px;
        padding: 0 10px;
        margin: 0 auto;
        box-sizing: border-box;
    }
}
.wrapper {
    max-width: 1004px;
    padding: 0 10px;
    margin: 0 auto;
    box-sizing: border-box;
    &_padding-bottom {
        padding-bottom: 65px;
        @media (max-width: 768px) {
            padding-bottom: 35px;
        }
    }
}
