@import 'reset-css';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
$green: #50b848;
$green2: #39B54A;

* {
    box-sizing: border-box;
}
html, body, #app {
    height: 100%;
    font-family: 'PT Sans', sans-serif;
}

a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.wrapper {
    max-width: 1090px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.main {
    height: 100%;
    background: url('../images/bg.png') center center no-repeat;
    padding-top: 15px;
    &__title {
        color: #000;
        font-size: 30px;
        line-height: 1.2;
        text-align: center;
        margin: 30px 0;
    }
}

.header {
    &__logo-link {
        display: block;
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        margin: 0 10px;
        color: #58595b;
        display: inline-block;
        border-bottom: 1px solid #58595b;
    }
}

.menu {
    margin-top: 100px;
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__item {
        width: 390px;
        height: 60px;
        background: #fff;
        border-radius: 10px;
        padding: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        a {
            height: 58px;
            border-radius: 10px;
            border: 1px solid $green;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            color: $green;
        }
    }
}


.login {
    height: 480px;
    padding: 40px 60px;
    display: flex;
    align-items: flex-end;
    border-radius: 3px;
    background: url(../images/login.jpg);
    background-position: left -138px center;
    background-size: cover;
    * {
        font-family: Verdana, Tahoma, Arial, serif;
    }
}

.button {
    background: #39B54A;
    border: 1px solid #39B54A;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 1px 2px 1px 0px #026921;
    font-size: 12px;
    &_yellow {
        border: none;
        background: #fff32a;
        color: #333;
        padding: 10px;
        box-shadow: none;
        cursor: pointer;
    }
    &_pevstate {
        position: fixed;
        top: 20px;
        left: 20px;
        border-radius: 5px;
        z-index: 9;
        border: 2px solid  #333;
    }
}

.login-form {
    &__label {
        font-size: 13px;
        display: block;
        margin-bottom: 5px
    }
    &__input {
        width: 100%;
        border: 1px solid #a5a5a5;
        height: 31px;
        padding: 3px;
        border-radius: 3px;
        color: #4d4d4d;
    }
    &__element-group {
        margin-bottom: 10px;
    }
}

.login-block {
    width: 310px;
    &__caption {
        font-size: 25px;
        margin-bottom: 20px;
    }
    &__footer {
        height: 47px;
        width: 100%;
        background: #eeeeee;
    }
    &__content {
        padding: 19px 29px 30px;
        background: #fff;
    }
    &__link {
        display: block;
        margin-bottom: 30px;
    }
    &__img {
        width: 70%;
    }

}
.block-news{
    &__data{
        color: #9B9B9B;
        padding-top: 15px;
    }
    &__title{
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 10px;
        color: #39B54A;
    }
    &__text{
        font-size: 14px;
        margin: 0;
        color: #444444;
    }
    &__link{
        color: #39B54A;
    }
}
.text_bold{
    font-weight: bold;
}
.services {
    padding: 20px 0;
    &__title {
        font-size: 1.8em;
        margin-bottom: 15px;
        line-height: 0.8em;
        font-family: Helvetica;
        color: #39B54A;
    }
    &__row {
        width: 550px;
        display: flex;
        flex-wrap: wrap;
    }
    &__col {
        color: #333;
        font-size: 16px;
        font-family: Helvetica;
        min-width: 232px;
        margin: 5px 0;
    }
    &__list-style {
        color: #39B54A;
    }
    &__link-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }
    &__link-more {
        color: #39B54A;
        border: none;
        border-bottom: 1px solid #a2a2a2;
        padding: 0;
        border-radius: 3px;
        background: none;
        font-family: Helvetica;
        display: inline-block;
        font-size: 12px;
    }
    &__link-manual {
        color: #333;
        border: 1px solid #333;
        padding-bottom: 3px;
        padding-top: 3px;
        padding-right: 7px;
        padding-left: 7px;
        border-radius: 3px;
        background: none;
        font-family: Helvetica;
        display: inline-block;
        font-size: 12px;
    }
}

.footer {
    background: #39B54A;
    padding: 15px 25px;
    * {
        font-family: 'Roboto', sans-serif;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__support-info {
        font-size: 12px;
        color: #fff;
    }
    &__support-number {
        font-size: 35px;
        color: #fff;
    }
    &__span {
        font-size: 12px;
        color: #fff;
    }
}

.cabinet {
    &__wrapper {
        width: 1280px;
        margin: 0 auto;
    }
    &__header {
        margin-bottom: 15px;
    }

}
.cabinet-header__row:nth-child(1){
    height:59px;
}
.cabinet-header {
    &__row {
        display: flex;
        justify-content: space-between;
        &_bordered {
            border-bottom: 1px solid #ddd;
        }
    }
    &__col {
        display: flex;
        align-items: center;
    }
    &__text {
        text-align: right;
        font-size: 13px;
    }
    &__logo-wr {
        margin-right: 10px;
        width: 240px;
        height: 58px;
    }
    &__logo {
        margin-top: 5px;
    }
    &__cabinet-name {
        font-size: 18px;
        color: #4C4C4C;
        text-transform: uppercase;
        height: 100%;
        display: flex;
        align-items: center;
        padding-right: 35px;
        border-right: 1px solid #ddd;
    }
    &__tools {
        padding-left: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__menu {
        display: flex;
        align-items: center;
    }
    &__submenu {
        &_level-1 {
            display: flex;
            align-items: center;
        }
        &_level-2 {
            z-index: 1;
            position: absolute;
            left: 0;
            top: 100%;
            width: 260px;
            background: #fff;
            border: 1px solid #c2c2c2;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        }
    }
    &__label {
        padding: 10px;
        color: #444;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1.2;
        position: relative;
        cursor: pointer;
        &_first {
            padding: 5px 0;
        }
    }
    &__user-name {
        font-size: 13px;
        font-weight: 700;
        color: #000;
    }
    &__exit {
        margin-left: 35px;
    }
}

.cabinet-tools {
    &__tool {
        margin: 0 10px;
        &_settings {
            position: relative;
        }
    }
}

.cabinet-widget {
    margin-bottom: 25px;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ddd;
    }
    &__title {
        color: #34404e;
        font-size: 28px;
        margin-right: 10px;
    }
    &__tabs {
        display: flex;
    }
    &__group {
        display: flex;
        align-items: center;
        &_margin {
            margin: 0 -10px;
        }
    }
    &__table {
        width: 100%;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_start {
            justify-content: flex-start;
        }
    }
    &__text {
        font-size: 13px;
        color: #808080;
    }
    &__label {
        font-size: 12px;
        color: $green2;
        display: inline-flex;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        align-items: center;
        justify-content: center;
        margin: 0 3px;
        &_active {
            background: $green2;
            color: #fff;
        }
    }
    &__button {
        font-weight: 100;
        margin: 10px 0;
        text-transform: none;
        font-size: 13px;
        &_margin {
            margin: 10px;
        }
    }
    &__date{
        margin-top: 7px;
    }
    &__news{
        margin-top: 7px;
        text-decoration: underline;
    }
    &__link{
        color:#000;
    }
    &__button-link{
        margin-left: 10px;
        color:#39B54A;
        text-decoration: underline dotted;
        &_noMargin{
            margin-left: 0;
        }
    }
    &__input{
        margin-left: 7px;
    }
}

.cabinet-tabs {
    &_margin {
        margin-left: 100px;
        align-self: flex-end;
    }
    &__tab {
        margin: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid transparent;
        font-size: 18px;
        &_active {
            border-bottom: 2px solid $green2;
            color: $green2;
        }
    }
}

.widget-table {
    &__tr {
        &:nth-child(2n) {
            background-color: #f5f5f5;
        }
    }
    &__th {
        font-size: 13px;
        font-weight: 100;
        text-align: left;
        padding: 5px 10px 5px 0;
        background: url(../images/column-sep.png) no-repeat scroll 100% 50% transparent;
    }
    &__td {
        font-size: 13px;
        font-weight: 400;
        padding: 10px 0;
        position: relative;
    }
}
.tools-menu {
    &__submenu {
        &_adaptive {
            left: -100%;
            top: 0;
        }
        &_level-1 {
            display: flex;
            align-items: center;
            & > li {
                font-size: 0;
                padding: 0;
                margin: 0 10px;
            }
        }
        &_level-2 {
            position: absolute;
            top: 100%;
            left: 0;
            width: 250px;
            box-shadow: inset 0 0 0 1px #999999;
            background: #fff;
            ul {
                left: -100%;
                top: 0;
            }
        }
    }
    &__label {
        padding: 5px 10px;
        font-size: 13px;
        color: #222;
        position: relative;
        &_first {
            padding: 0;
        }
        &_withImg {
            font-size: 0;
        }
    }
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-window {
    width: 520px;
    height: 354px;
    font-style: normal;
    font-weight: bold;
    background: #fff;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #444444;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.4);
    &__congrats{
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 24px;
        text-align: center;
    }
    &__caption {
        font-size: 26px;
        line-height: 30px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 45px;
    }
    &__link-wr {
        margin: 0 0 14px 0;
    }
    &__link {
        cursor: pointer;
        font-size: 16px;
        color: #39B54A;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        padding-bottom: 1px;
        border-bottom: 1px solid #C5C5C5;
        display: inline-block;
    }
}

.widget-table__tr:nth-child(odd){
    background-color: #fff;
}
.tools-menu__label_first{
    font-size: 0;
}
.cabinet-header__submenu_level-3{
    position: absolute;
    top: 0;
    position: absolute;
    left: 258px;
    width: 400px;
    background: #fff;
    border: 1px solid #c2c2c2;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.cabinet-header__userName-wrapper{
    display: flex;
}
.cabinet-header__exit{
    display: flex;
    min-width: 18px;
    align-items: center;
}
.cabinet-header__submenu.cabinet-header__submenu_level-2 .cabinet-header__label{
    text-transform: initial;
    font-weight: bold;
    color: #000;
}
.buttons__row-2 .blockPayments-header__link{
    width: 87px;
    position: relative;
}



/*---modal---*/


.modal-mask {
    position: absolute;
    // z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
    z-index: 1;

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.5);
    }
  }

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }



.modal{
    position: absolute;
    min-width: 600px;
    width: 600px;
    top: 87px;
    left: 50%;
    margin-left: -18%;
    z-index: 1800;
    border: 1px solid #39B54A;
    border-radius: 0;
    background-color: #fff;
    padding: 2px;

    &__name{
        font-size: 20px;
    }
    &__close{
        color: $green;
        font-size: 24px;
        cursor: pointer;
        margin-right: 3px;
    }

    &__rowStart{
        padding: 0 6px;
        padding: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__row{
        padding: 8px;
        display: flex;
        justify-content: space-between;
        &_column{
            flex-direction: column;
        }
        &_al-c{
            align-items: center;
        }
        &_al-flex{
            align-items: flex-end;;
        }
    }

    &__button{
        border: 1px solid #999999;
        background: none;
        height: 22px;
        min-height: 22px;
        font-size: 11pt;
        padding: 10px;
        display: flex;
        align-items: center;
        margin-right: auto;
    }
    &__button-1{
        margin: 8px;
        font-size: 16px;
        padding: 4px;
        &_green{
            color: $green;
            padding-bottom: 8px;
            border-bottom: 2px solid $green2;
        }
    }
    &__buttonRow{
        display: flex;
        margin-top: 30px;
        justify-content: flex-end;
    }
    &__button-2{
        cursor: pointer;
        margin-left: 17px;
        padding: 10px 18px;
        background: #808080;
        border-radius: 4px;
        min-width: 120px;
        text-align: center;
        color: #fff;
        opacity: 0.4;
        &_green{
            background: $green;
            opacity: 1;
        }
    }
    &__labelInput{
        display: flex;
        flex-direction: column;

        &_flex-directRow{
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 4px;
        }
    }
    &__label{
        font-size: 13px;
        color:#000;
        margin-bottom: 2px;
        display: flex;
        align-items: flex-end;
    }
    &__subLabel{
        font-size: 13px;
        color:#000;
        margin-bottom: 2px;
        display: flex;
        align-items: flex-end;
        margin-left: 12px;
    }
    &__input-1{
        width: 311px;
        padding: 3px;
        margin-right: 5px;
        height: 22px;
    }
    &__input{
        width: 120px;
        height: 22px;
    }
    &__input-2{
        width: 240px;
        height: 22px;
    }
    &__textarea{
        width: 562px;
        height: 200px;
        resize: none
    }
}
.listImport{
    position: absolute;
    width: 260px;
    background: #fff;
    border: 1px solid #c2c2c2;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.listImport__item{
    text-transform: initial;
    font-weight: bold;
    color: #000;
    padding: 10px;
    color: #444;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.2;
    position: relative;
    cursor: pointer;
}
