@import '../../assets/styles/base.scss';
a {
    text-decoration: none;
}
.card-request__wrapper {
    font-family: Roboto, serif;
    .input-component {
        &__input {
            background: rgba(1, 0, 47, 0.05);
            font-weight: normal;
            font-size: 20px;
            line-height: 1;
            color: #333333;
            border-radius: 12px;
            height: 100%;
            border: 1px solid transparent;
            box-shadow: none;
            &_focus {
                background: #FFFFFF;
                border-radius: 12px;
                border: 1px solid rgba(4, 0, 27, 0.25);
            }
            &_invalid {
                border-color: #f3001d;
            }
        }
        &__label {
            font-weight: normal;
            font-size: 20px;
            line-height: 1;
            color: rgba(0, 3, 27, 0.4);
            background: transparent;

        }
        &__label-text {
            &_required {
                &:before {
                    display: none;
                }
                &:after {
                    content: '*';
                    color: rgba(0, 3, 27, 0.4);
                }
            }
        }
        &__box-shadow {
            border-radius: 12px;
            height: 65px;
            box-shadow: none;
        }
    }
    .select-wr {
        box-shadow: none;
        border-radius: 12px;
        overflow: hidden;
        &__select {
            height: 65px !important;
            border: 1px solid transparent !important;
            background: rgba(1,0,47,.05) !important;
            border-radius: 12px !important;
            transition: 0.3s;
            &#citizenship {
                padding: 18px 32px 12px 18px;
                font-size: 20px;
            }
            &_focus {
                border: 1px solid rgba(4, 0, 27, 0.25) !important;
                background: #FFFFFF !important;
            }
        }
    }
}

.cards {
    padding-top: 40px;
    overflow: hidden;
    font-family: Roboto, serif;
    @media (max-width: 480px) {
        padding-top: 8px;
    }
    &__button-row {
        display: flex;
        justify-content: center;
    }
    &__button {
        padding: 10px 34px;
        border: 1px solid #4AB541;
        box-sizing: border-box;
        border-radius: 4px;
        color: $grey;
        cursor: pointer;
    }
    &__request {
        margin-top: 30px;
    }
    &__shadow {
        position: relative;
        padding-top: 80px;
        padding-bottom: 140px;
        @media (max-width: 480px) {
            padding-bottom: 60px;
            padding-top: 20px;
        }
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 140px;
            width: 100%;
            background: linear-gradient(180deg, #E8E8E8 0%, rgba(255, 255, 255, 0) 60%);
            @media (max-width: 480px) {
                z-index: -1;
            }
        }
        &::after{
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 140px;
            width: 100%;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 39.58%, #E8E8E8 100%);
            @media (max-width: 480px) {
                z-index: -1;
            }
        }
    }

    &__title {
        font-family: Montserrat, serif;
        font-style: normal;
        font-weight: bold;
        font-size: 46px;
        line-height: 120%;
        color: #111111;
        margin-top: 0;
        margin-bottom: 35px;
        @media (max-width: 576px) {
            font-size: 40px;
        }
    }
    &__subtitle {
        font-weight: 300;
        font-size: 24px;
        line-height: 1.2;
        color: #000000;
        margin-top: 0;
        margin-bottom: 30px;
        @media (max-width: 480px) {
            font-size: 20px;
            margin-bottom: 20px;
        }
    }
    &__textBlock {
        font-size: 18px;
        line-height: 1.2;
    }
    &__documents {
        margin-top: 40px;
    }
    &__bg-container {
        width: 100%;
        height: 138px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 39.58%, #E8E8E8 100%);
    }
}

.cards-type {
    position: relative;
    margin-bottom: 40px;
    @media (max-width: 480px) {
        margin-bottom: 24px;
    }
    &__scroll-wrapper {
        @media (max-width: 768px) {
            overflow-x: auto;
            margin-bottom: 15px;
        }
    }
    &__wrapper {
        @media (min-width: 769px) {
            margin-left: -10px;
            margin-right: -10px;
        }
        @media (max-width: 768px) {
            display: flex;
            flex-wrap: nowrap;
            transition: 0.3s;
        }
    }
    &__item {
        margin-right: 10px;
        margin-left: 10px;
        padding: 12px 15px;
        border: 1px solid #C6C6C6;
        border-radius: 4px;
        font-weight: 300;
        font-size: 16px;
        text-align: center;
        color: #333333;
        text-decoration: none;
        cursor: pointer;
        user-select: none;
        transition: color 0.3s;
        display: inline-flex;
        align-items: center;
        white-space: nowrap;
        @media (min-width: 769px) {
            margin-bottom: 20px;
        }
        &_active {
            border: 1px solid #4AB541;
        }
    }
    &__border {
        height: 1px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 1px;
        background: #EFEFEF;
    }
    &__line {
        height: 3px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: $green;
        transition: all 0.3s;
    }
}

.card-block-info {
    font-family: Roboto, serif;
    padding: 36px;
    border: 1px solid #C6C6C6;
    box-sizing: border-box;
    border-radius: 14px;
    margin-bottom: 50px;
    &:last-child {
        margin-bottom: 0;
    }
    @media(max-width: 576px) {
        padding-left: 30px;
        padding-right: 30px;
    }
    @media (max-width: 480px) {
        padding: 20px;
    }
    &__img-wr {
        align-self:start;
        @media (min-width: 769px) {
            flex: 0 0 300px;
            margin-right: 24px;
            max-width: 300px;
        }
        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
    }
    &__img-flex-wr {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
    &__img-indents {
        margin-right: 15px;
        width: 60px;
    }
    &__wr {
        display: flex;
        align-items: center;
        @media (max-width: 992px) {
            flex-direction: column;
            align-items: flex-start;
        }
        @media (max-width: 768px) {
            align-items: flex-start;
        }
    }
    &__img {
        margin-top: 8px;
        border-radius: 12px;
    }
    &__content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
    }
    &__caption {
        font-size: 30px;
        color: #4AB541;
        margin-bottom: 16px;
        text-decoration: none;
        transition: color 0.3s;
        line-height: 1.2;
        max-width: 680px;
        &:hover {
            color: $green;
        }
        @media (max-width: 768px) {
            font-size: 28px;
            display: none;
        }
        @media (max-width: 480px) {
            font-size: 24px;
            margin-bottom: 5px;
        }
        &_mobile {
            @media(min-width: 769px) {
                display: none;
            }
            display: block;
        }
    }
    &__characters-wr {
        margin-bottom: 40px;
        @media (max-width: 480px) {
            margin-bottom: 8px;
        }
    }
    &__characters {
        display: flex;
        margin: 0 -5px;
        @media (max-width: 576px) {
            flex-wrap: wrap;
        }
    }
    &__character {
        @include col(4, 5px);
        @media (max-width: 576px) {
            @include col(12, 5px);
            margin-bottom: 16px;
        }
        &_desktop {
            @media (max-width: 576px) {
                display: none;
            }
        }
    }
    &__label {
        font-size: 19px;
        line-height: 23px;
        color: #000000;
        margin: 0;
        @media (max-width: 480px) {
            font-size: 18px;
        }
    }
    &__value {
        font-size: 18px;
        line-height: 23px;
        color: #000000;
        font-weight: 300;
        margin: 6px 0;
        &_mobile {
            @media (min-width: 577px) {
                display: none;
            }
        }
        @media (max-width: 480px) {
            font-size: 14px;
            margin: 0;
        }
    }
    &__description {
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        color: #000000;
        margin-bottom: 20px;
        @media (max-width: 480px) {
            font-size: 16px;
        }
    }
    &__buttons {
        margin-top: auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .cib-button-wr {
            margin-right: 24px;
        }
        .linkWithArrow{
            margin-left: 20px;
        }
        &_margin {
            margin-top: 45px;
            @media (max-width: 576px) {
                margin-top: 25px;
            }
        }
    }
    &__img-link {
        display: block;
        @media (max-width: 768px) {
            max-width: 280px;
        }
    }
    &__button {
        @media (max-width: 480px) {
            width: 100%;
        }
        border-radius: 6px;
        box-sizing: border-box;
        @media (max-width: 600px) {
            margin-bottom: 16px;
        }

    }
}

.dropdown-block {
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    margin: 25px 0 35px 0;
}

.card-inner-main {
    font-family: Roboto, serif;
    color: $grey;
    overflow: hidden;
    margin-top: 80px;
    margin-bottom: 120px;
    @media (max-width: 1200px) {
        margin-top: 50px;
        margin-bottom: 60px;
    }
    @media (max-width: 480px) {
        margin-top: 10px;
        margin-bottom: 0;
    }
    &__wr {
        &_desktop {
            @media (max-width: 768px) {
                display: none;
            }
        }
    }
    &__chayka-button {
        background: #0046EB;
        color: #fff;
        border-color: #0046EB;
        &:hover {
            background: lighten(#0046EB, 10%);
            border-color: lighten(#0046EB, 10%);
            color: #fff;
        }
    }
    &__handball-button {
        background: #fab81e;
        border-color: #fab81e;
        &:hover {
            background: lighten(#fab81e, 10%);
            border-color: lighten(#fab81e, 10%);
        }
    }
    &__supreme-button{
        background: #FFCB8D;
        border-color: #FFCB8D;
        &:hover{
            background: lighten(#FFCB8D, 10%);
        }
    }

    &__title {
        font-family: Montserrat, serif;
        font-weight: 500;
        font-size: 40px;
        line-height: 120%;
        margin-bottom: 47px;
        margin-top: 0;
        color: #333333;
        @media (max-width: 992px) {
            text-align: center;
            margin-bottom: 20px;
        }
        @media (max-width: 576px) {
            font-size: 32px;
        }
    }
    &__subtitle {
        font-weight: 300;
        font-size: 24px;
        line-height: 125%;
        color: #333333;
        margin-top: 0;
        text-align: left;
        margin-bottom: 47px;
        @media (max-width: 1200px) {
            margin-bottom: 20px;
        }
        @media (max-width: 992px) {
            margin-bottom: 25px;
            max-width: initial;
            text-align: center;
        }
        @media (max-width: 480px) {
            text-align: left;
            font-size: 20px;
        }
    }
    &__buttons {
        @media (max-width: 992px) {
            display: flex;
            justify-content: center;
        }
    }
    &__container {
        @include row(30px);
    }
    &__descr-col {
        @include col(5, 30px);
        @media (max-width: 768px) {
            @include col(12, 30px);
            margin-bottom: 30px;
        }
    }
    &__img-col {
        @include col(7, 30px);
        @media (max-width: 768px) {
            @include col(12, 30px);
            display: flex;
            justify-content: center;
        }
        &_mobile {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            @media (min-width: 769px) {
                display: none;
            }
        }
    }
    &__img-container {
        max-width: 100%;
        @media (max-width: 480px) {
            text-align: center;
        }
    }
    &__img {
        max-width: 600px;
        width: 100%;
        border-radius: 20px;
        @media (max-width: 480px) {
            max-width: 80%;
            border-radius: 12px;
        }
    }
    &__nav {
        @include col(7, 30px);
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-bottom: 80px;
        @media (max-width: 768px) {
            @include col(12, 30px);
            justify-content: center;
        }
        @media (max-width: 480px) {
            margin-bottom: 24px;
        }
        &_active-supreme{
            @include col(8.5, 30px);
            margin-left: auto;
            margin-right: 0;
            @media (max-width:768px) {
                @include col(12, 30px);
                justify-content: center;
            }
        }
    }
    &__nav-link {
        padding: 16px;
        cursor: pointer;
        font-size: 18px;
        font-weight: 300;
        line-height: 21px;
        color: #333333;
        position: relative;
        text-decoration: none;
        white-space: nowrap;
        @media (max-width: 480px) {
            padding: 10px;
            font-size: 14px;
        }
        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 3px;
            background: #E8E8E8;
            bottom: 0;
            left: 0;
        }
        &:first-child {
            &::after {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }
        }
        &:last-child {
            &::after {
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }
        }
        &:hover {
            color: #4AB541;
            border-radius: 3px;
            &::after {
                background: #4AB541;
            }
        }
        &_hover-supreme {
            &:hover{
                color: #F0B56E;
                &::after{
                    background: #F0B56E;
                }
            }
        }
    }
}

.cardsInner {
    font-family: Roboto, serif;
    &__section-title {
        font-family: Montserrat, serif;
        font-weight: 300;
        font-size: 48px;
        line-height: 1.2;
        text-align: center;
        color: #2D2C2C;
        margin-bottom: 90px;
        @media (max-width: 992px) {
            font-size: 40px;
        }
        @media (max-width: 768px) {
            font-size: 35px;
            margin-bottom: 45px;
        }
        @media (max-width: 576px) {
            font-size: 30px;
            margin-bottom: 30px;
        }
    }
    .cib-button {
        text-transform: initial;
    }
    &__caption {
        font-weight: 700;
        margin-bottom: 16px;
        font-size: 24px;
    }
    &__ul {
        font-size: 18px;
        list-style-type: disc;
        padding-left: 20px;
        padding-top: 10px;
        li {
            margin-bottom: 10px;
        }
    }
    &__ol {
        font-size: 18px;
        padding-left: 20px;
        li {
            margin-bottom: 6px;
        }
    }
    &__modal-text {
        font-size: 20px;
        margin-bottom: 16px;
    }
    &__button-wr {
        display: flex;
        justify-content: center;

    }
    &__modal-button {
        padding: 6px 20px;
        font-size: 16px;
        height: auto;
    }
    &__title {
        font-family: Montserrat, serif;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 120%;
        margin-bottom: 0;
        margin-top: 0;
        color: #333333;
        @media (max-width: 576px) {
            font-size: 30px;
        }
    }
    &__subtitle {
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 125%;
        color: #333333;
        margin-top: 47px;
        margin-bottom: 0;
        text-align: left;
        max-width: 290px;
        @media (max-width: 1200px) {
            text-align: center;
            margin-top: 20px;
        }
    }
    &__buttons {
        display: flex;
        &_margin-top {
            margin-top: 47px;
            @media (max-width: 992px) {
                margin-top: 25px;
            }
        }
    }
    &__h2 {
        font-family: Montserrat, serif;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 1.2;
        margin: 36px 0;
    }
    &__questions {
        font-size: 20px;
    }
    &__notes {
        margin-top: 40px;
    }

    &__cols-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        @media (max-width: 1200px) {
            justify-content: center;
            flex-direction: column;
        }
    }
    &__col {
        display: flex;
        flex-direction: column;
        &_center{
            align-items: center;
        }
        @media (max-width: 1200px) {
            align-items: center;
        }
    }
    &__img-container {
        margin-top: 40px;
    }
    &__nav {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__nav-link {
        padding: 30px 20px 25px 20px;
        cursor: pointer;
        font-size: 18px;
        font-weight: 300;
        line-height: 21px;
        color: #333333;
        position: relative;
        text-decoration: none;
        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 3px;
            background: #E8E8E8;
            bottom: 0;
            left: 0;
        }
        &:first-child {
            &::after {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }
        }
        &:last-child {
            &::after {
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }
        }
        &:hover {
            font-size: 18px;
            line-height: 21px;
            color: #4AB541;
            border-radius: 3px;
            &::after {
                background: #4AB541;
            }
        }
        @media (max-width: 768px) {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

.card-inner-info {
    font-family: Roboto, serif;
    margin-top: 70px;
    overflow: hidden;
    @media (max-width: 1200px) {
        margin-top: 40px;
        margin-bottom: 44px;
    }
    @media (max-width: 480px) {
        margin-bottom: 0;
    }
    &__items-container {
        margin-top: 79px;
        @media (max-width: 480px) {
            margin-top: 0;
        }
    }
    &__row {
        @include row(20px);
        @media (max-width: 768px){
            @include row(15px);
        }
    }
    &__item {
        box-sizing: border-box;
        padding: 20px 30px;
        background: rgba(237, 238, 239, 0.8);
        border-radius: 12px;
        @include col(6, 20px);
        margin-bottom: 60px;
        transition: 0.3s;
        min-height: 220px;
        display: flex;
        flex-direction: column;
        &_center {
            justify-content: center;
        }
        @media (max-width: 768px) {
            margin-bottom: 30px;
            @include col(12, 15px);
            padding: 20px;
        }
        @media (max-width: 480px) {
            min-height: 160px;
        }
        &:hover {
            background: #FFFFFF;
            box-shadow: 0 4px 32px rgba(0, 0, 0, 0.08);
            border-radius: 12px;
        }
        &_big {
            @include col(12, 30px);
            @media (max-width: 768px) {
                @include col(12, 15px);
            }
        }

    }
    &__item-title {
        font-weight: normal;
        font-size: 28px;
        line-height: 1.2;
        color: #333333;
        margin-top: 0;
        margin-bottom: 20px;
        &_no-margin {
            margin-bottom: 0;
        }
        @media (max-width: 576px) {
            font-size: 20px;
        }
    }
    &__item-row {
        display: flex;
        flex-wrap: wrap;
        &_cashBack {
            @include row(0px);
            position: relative;
        }
        &_sbp {
            @include row(15px);
            margin-bottom: 20px;
            @media (max-width: 480px) {
                @include row(0px);
            }
        }
    }
    &__cashBackImg {
        position: absolute;
        right: -26px;
        bottom: 0;
        width: 150px;
        height: 130px;
        object-fit: contain;
        @media (max-width: 480px) {
            display: none;
        }
    }
    &__item-col {
        &_cash-left {
            @include col(10, 0px);
            @media (max-width: 480px) {
                @include col(12, 0px);
            }
        }
        &_cash-right {
            @include col(3, 0px);
            @media (max-width: 480px) {
                display: none;
            }
        }
        &_sbp-left {
            @include col(9, 15px);
            @media (max-width: 480px) {
                @include col(12, 0px);
            }
        }
        &_sbp-right {
            @include col(3, 15px);
            display: flex;
            align-items: center;
            @media (max-width: 480px) {
                display: none;
            }
        }
        &_half {
            @include col(6, 15px);
        }
        &_spb {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 200px;
            }
        }

    }
    &__text-row {
        margin-bottom: 16px;
    }
    &__item-row-element {
        display: flex;
        align-items: center;
    }
    &__item-number {
        font-weight: normal;
        font-size: 108px;
        line-height: 1.2;
        color: #333333;
        margin-right: 15px;
        white-space: nowrap;
        @media (max-width: 768px) {
            font-size: 15vw;
        }
    }
    &__prefix {
        font-size: 30px;
    }
    &__item-text {
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 1.3;
        color: #333333;
        max-width: 550px;
        &_small {
            font-size: 16px;
        }
        a {
            color: $green;
            font-weight: 400;
        }
        strong {
            font-weight: 500;
        }
        @media (max-width: 480px) {
            font-size: 16px;
        }
    }
    &__item-link {
        color: $green;
        text-decoration: none;
        font-size: 20px !important;
        &:hover {
            color: #4AB541;
        }
        @media (max-width: 480px) {
            font-size: 16px !important;
        }
    }
    &__item-cols-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__img-container {
        margin-top: 20px;
    }
    &__img{
        max-width: 100%;
        max-height: 100%;
    }
}

.card-inner-mobile {
    font-family: Roboto, serif;
    min-height: 600px;
    background: linear-gradient(180deg, rgba(242, 243, 243, 0) 71.87%, #F2F3F3 100%);
    margin-top: 112px;
    margin-bottom: 50px;
    @media (max-width: 1200px) {
        padding-top: 50px;
    }
    @media (max-width: 992px) {
        background: none;
    }
    @media (max-width: 480px) {
        marging-top: 20px;
    }
    &__wrapper {
        padding-bottom: 112px;
        @media (max-width: 480px) {
            padding-bottom: 10px;
        }
    }
    &__background-img {
        &_chayka {
            background: url('./img/mobile-bank-section/chayka.png') 0 100% no-repeat;
        }
        &_universalMir {
            background: url('./img/mobile-bank-section/universalMir.png') 0 100% no-repeat;
        }
        &_universal {
            background: url('./img/mobile-bank-section/universalVisa.png') 0 100% no-repeat;
        }
        &_pens {
            background: url('./img/mobile-bank-section/pens.png') 0 100% no-repeat;
        }
        &_handballClub {
            background: url('./img/mobile-bank-section/handballClub.png') 0 100% no-repeat;
        }
        &_selfemployed {
            background: url('./img/mobile-bank-section/selfemployed.png') 0 100% no-repeat;
        }
        &_narod {
            background: url('./img/mobile-bank-section/narod.png') 0 100% no-repeat;
        }
        &_premVisa {
            background: url('./img/mobile-bank-section/premVisa.png') 0 100% no-repeat;
        }
        &_exclusiveVisa {
            background: url('./img/mobile-bank-section/exclusiveVisa.png') 0 100% no-repeat;
        }
        &_serviceMir {
            background: url('./img/mobile-bank-section/serviceMir.png') 0 100% no-repeat;
        }
        &_supremeCard {
            background: url('./img/mobile-bank-section/supreme2.png') 0 100% no-repeat;
        }
        &_supremePlus {
            background: url('./img/mobile-bank-section/supreme2.png') 0 100% no-repeat;
        }
        @media (max-width: 992px) {
            background: none;
        }
    }
    &__content-container {
        margin-left: auto;
        max-width: 550px;
        margin-top: 125px;
        padding: 0 10px;
        @media (max-width: 992px) {
            margin: 30px auto auto;
        }
    }
    &__title {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 500;
        font-size: 28px;
        line-height: 129%;
        color: #333333;
        @media (max-width: 992px) {
            text-align: center;
        }
    }

    &__list {
        list-style: none;
        padding: 0;
        margin-top: 50px;
    }
    &__list-item {
        padding-left: 60px;
        margin-bottom: 35px;
        position: relative;
        &:last-child {
            margin-bottom: 0;
        }
        &_translations {
            &::before {
                content: '';
                position: absolute;
                width: 34px;
                height: 30px;
                left: 0;
                background: url(../assets/img/mobile-bank-section/translations.svg);
                top: 8px;
            }
        }
        &_payments {
            &::before {
                content: '';
                position: absolute;
                width: 37px;
                height: 32px;
                left: 0;
                background: url(../assets/img/mobile-bank-section/payments.svg);
                top: 8px;
            }
        }
        &_free-card {
            &::before {
                content: '';
                position: absolute;
                width: 37px;
                height: 27px;
                left: 0;
                background: url(../assets/img/mobile-bank-section/free-card.svg);
                top: 8px;
            }
        }
    }
    &__list-item-title {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        color: #333333;
    }
    &__list-item-text {
        font-weight: 300;
        font-size: 18px;
        line-height: 144%;
        color: #333333;
    }

    &__icons-container {
        margin-top: 55px;
        display: flex;
        align-items: center;
    }
    &__icon {
        max-width: 100%;
        max-height: 100%;
    }
    &__icon-link {
        display: block;
        margin-right: 21px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.card-inner-form {
    font-family: Roboto, serif;
    &__wr {
        overflow: hidden;
    }
    &__form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 681px;
        margin-top: 30px;
    }
    &__payment-row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @media (max-width: 768px) {
            flex-direction: column-reverse;
        }
    }
    &__payment-system {
        margin-right: 30px;
        margin-left: 30px;
    }
    &__payment-currency {
        margin-right: 30px;
        margin-left: 30px;
    }
    &__payment-title {
        margin-top: 0;
        font-size: 20px;
        line-height: 1.2;
        color: #333;
        margin-bottom: 32px;
    }
    &__payment-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
    }
    &__currency-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
    }
    &__payment-item {
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    &__currency-item {
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    &__payment-icon-wrapper {
        cursor: pointer;
        display: flex;
        position: relative;
        border-radius: 12px;
        border: 1px solid transparent;
        box-sizing: border-box;
        height: 50px;
        width: 80px;
        align-items: center;
        justify-content: center;
    }
    &__currency-icon-wrapper {
        padding: 11px 16px;
        cursor: pointer;
        display: flex;
        align-items: center;
        position: relative;
        border: 1px solid transparent;
        border-radius: 12px;
        box-sizing: border-box;
        height: 50px;
    }
    &__payment-icon {
        max-width: 100%;
        height: 36px;
        width: 60px;
    }
    &__currency-icon {
        max-width: 100%;
        height: 26px;
        &_euro {
            height: 28px;
        }
        &_usd {
            height: 32px;
        }
    }
    &__currency-text {
        font-size: 15px;
        line-height: 1.2;
        color: rgba(0, 3, 27, 0.4);
    }
    &__payment-icon-text {
        font-size: 15px;
        line-height: 1.2;
        color: rgba(0, 3, 27, 0.4);
        margin-left: 10px;
    }
    &__currency-icon-text {
        font-size: 0;
        line-height: 1.2;
        color: rgba(0, 3, 27, 0.4);
        margin-left: 10px;
        transition: 0.3s;
        will-change: transform;
    }
    &__payment-hidden-input {
        position: absolute;
        z-index: -1;
        display: none;
        &:checked+.card-inner-form__payment-icon-wrapper {
            border: 1px solid $green;
        }
    }
    &__currency-hidden-input {
        position: absolute;
        z-index: -1;
        display: none;
        &:checked+.card-inner-form__currency-icon-wrapper {
            border: 1px solid $green;
            .card-inner-form__currency-icon-text {
                font-size: 15px;
            }
        }
    }

    &__inputs-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__input-container {
        margin-top: 38px;
        display: flex;
        width: 100%;
        @media (max-width: 576px) {
            flex-wrap: wrap;
        }
    }
    &__agreement-container {
        margin-top: 45px;
        @media (max-width: 576px) {
            margin-top: 20px;
        }
    }
    &__agreement-link {
        font-family: Montserrat, serif;
        font-weight: normal;
        font-size: 16px;
        line-height: 120%;
        color: #4AB541;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    &__agreement {
        .checkboxes-wr__label-text {
            color: rgba(0, 0, 0, 0.5);
            font-family: Montserrat, serif;
            font-weight: normal;
            font-size: 16px;
            line-height: 120%;
            @media (max-width: 576px) {
                font-size: 15px;
            }
        }
        .checkboxes-wr__checkbox-classic .checkboxes-wr__label_small:before {
            width: 32px;
            height: 32px;
            border: none;
            background: #F2F3F3;
            border-radius: 8px;
        }
        .checkboxes-wr__checkbox-classic input[type="checkbox"]:checked + .checkboxes-wr__label_green:before {
            border: none;
        }
    }
}

.card-inner-documents {
    font-family: Roboto, serif;
    margin-top: 90px;
    margin-bottom: 140px;
    overflow: hidden;
    @media (max-width: 1200px) {
        margin-top: 10px;
        margin-bottom: 40px;
    }
    &__wrapper {
        max-width: 1320px;
    }
    &__row {
        @include row(25px);
    }
    &__center {
        display: flex;
        justify-content: center;
    }
    &__item {
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 25px;
        &:hover {
            .card-inner-documents__item-text {
                text-decoration: underline;
            }
        }
    }
    &__item-img-container {
        margin-right: 30px;
        width: 34px;
        height: 42px;
        flex: 0 0 34px;
        @media (max-width: 768px) {
            margin-right: 10px;
        }
    }
    &__item-img {
        max-width: 100%;
        max-height: 100%;
    }
    &__item-text {
        font-weight: normal;
        font-size: 22px;
        line-height: 1.2;
        color: #333333;
        max-width: 390px;
        @media (max-width: 768px) {
            font-size: 18px;
        }
        @media (max-width: 576px) {
            margin-top: 10px;
            br {
                display: none;
            }
        }
    }
}

.cardsInnerCardInfo {
    &__row {
        display: flex;
        @media (max-width: 768px) {
            flex-wrap: wrap;
        }

    }
    &__col {
        &_img {
            max-width: 255px;
            flex: 0 0 255px;
            margin-right: 32px;
        }
    }
}

.cardInfoTable {
    margin-bottom: 32px;
    &__td {
        padding: 8px 0;
        line-height: 1.2;
        &:first-child {
            color: #626262;
            font-size: 16px;
            @media (min-width: 769px) {
                width: 40%;
                padding-right: 40px;
            }
            @media (max-width: 768px) {
                padding-right: 20px;
            }
        }
        &:last-child {
            @media (min-width: 769px) {
                width: 60%;
            }
            color: $grey;
        }
    }
    &__bold {
        font-weight: 700;
    }
}

.cards-block {
    @include row(19px);
    &__block {
        @include col(3, 19px);
        @media (max-width: 768px) {
            @include col(4, 19px);
            margin-bottom: 10px;
        }
        @media (max-width: 480px) {
            @include col(6, 19px);
        }
        @media (max-width: 360px) {
            @include col(12, 19px);
        }
    }
}

.cardsInnerNotes {
    &__note {
        color: #666666;
        margin-bottom: 14px;
        font-size: 12px;
        line-height: 1.2;
    }
}

.card-advantages {
    font-family: Roboto, serif;
    position: relative;
    &__wr {
        display: flex;
        align-items: center;
        cursor: pointer;
        width: fit-content;
        min-height: 40px;
    }
    &__title {
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        border-bottom: 1px dotted #777;
        padding-bottom: 1px;
        color: #333333;
        margin-right: 20px;
        cursor: pointer;
    }
    &__counter {
        font-weight: 300;
        font-size: 18px;
        line-height: 1;
        color: #000000;
        padding: 10px 15px;
        border: 1px solid #4AB541;
        border-radius: 100%;
    }

    &__checkbox-filter {
        padding-top: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        border-bottom: 1px solid #C6C6C6;
        padding-bottom: 38px;
        z-index: 10;
    }
    &__checkbox-container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 25px;
    }
    &__checkbox-item-wrapper {
        margin-right: 60px;
    }
    &__checkbox-item {
        .input-component__single-label {
            font-weight: 300;
            font-size: 20px;
            line-height: 23px;
            color: #000000;
            margin-bottom: 25px;
        }
        .input-component__wr {
            margin-bottom: 20px;
        }
    }
    &__buttons {
        display: flex;
        flex-wrap: wrap;
        .linkWithArrow {
            margin-top: 0;
        }
    }
}

.cards-mobile {
    &_background {
        background: #fff;
    }

    &__wr {
        padding-top: 100px;
        padding-bottom: 110px;
        @media (max-width: 768px) {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        @media (max-width: 480px) {
            padding-top: 24px;
            padding-bottom: 24px;
        }
    }
    &__title {
        font-family: Montserrat, serif;
        font-style: normal;
        font-weight: 300;
        font-size: 40px;
        line-height: 110%;
        text-align: center;
        color: #000000;
        margin: 0;
        @media (max-width: 512px) {
            font-size: 30px;
        }
    }
    &__columns-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        @media (max-width: 768px) {
            margin-top: 50px;
        }
        @media (max-width: 576px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &__col {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;
        @media (max-width: 768px) {
            width: 48%;
        }
        @media (max-width: 576px) {
            width: 90%;
        }
    }
    &__item {
        box-sizing: border-box;
        width: 100%;
        min-height: 300px;
        margin-bottom: 40px;
        border-radius: 14px;
        cursor: pointer;
        text-decoration: none;
        display: flex;
        align-items: flex-end;
        &_google-pay {
            background: url(../assets/img/google-pay.png) center center/cover no-repeat;
        }
        &_samsung-pay {
            background: url(../assets/img/samsung-pay.png) center center/cover no-repeat;
        }
        &_apple-pay {
            background: url(../assets/img/apple-pay.png) center center/cover no-repeat;
            position: relative;
            transition: all 0.2s;
            &:hover{
                box-shadow: inset 0 0 0 30em rgba(255,255,255,0.3);
                .cards-mobile__btns-wr{
                    transition: all .3s;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
        &_mir-pay {
            background: url(../assets/img/mir-pay.png) center center/cover no-repeat;
        }

        @media (max-width: 550px) {
            width: 100%;
        }
    }
    &__text {
        font-family: Montserrat, serif;
        width: 100%;
        font-weight: 500;
        font-size: 26px;
        line-height: 169%;
        color: #FCFDFF;
        text-align: center;
        padding: 20px 40px;
        background: rgba(74, 181, 65, 0.87);
        border-radius: 0 0 14px 14px;
        text-decoration: none;
    }
    &__btns-wr{
        position: absolute;
        top: 25px;
        align-items: center;
        justify-content: center;
        width: 100%;
        display: none;
        transition: all .3s;
    }
    &__btn {
        display: inline-flex;
        font-size: 18px;
        padding: 14px 40px;
        box-sizing: border-box;
        text-transform: uppercase;
        cursor: pointer;
        line-height: 1.2;
        border-radius: 6px;
        outline: 0;
        margin: 5px;
        text-decoration: none;
        text-align: center;
        align-items: center;
        justify-content: center;
        background-color: $yellow;
        color: #333;
        width: 240px;
        transition: all .3s;
        &:hover{
            background-color:#f6e800;
        }
    }
}

.cards-requests {
    margin-top: 16px;
    position: relative;
    &__title {
        font-family: Montserrat, serif;
        font-style: normal;
        font-weight: 300;
        font-size: 40px;
        line-height: 1.1;
        text-align: center;
        color: #000000;
        margin: 0 0 30px 0;
        @media (max-width: 512px) {
            font-size: 30px;
        }
    }
    &__nav {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
        @media (max-width: 768px) {
            justify-content: center;
        }
        @media (max-width: 480px) {
            margin-bottom: 24px;
        }
    }
    &__wrapper {
        max-width: 700px;
        margin: 0 auto;
    }
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__nav-link {
        padding: 16px;
        cursor: pointer;
        font-size: 18px;
        font-weight: 300;
        line-height: 21px;
        color: #333333;
        position: relative;
        text-decoration: none;
        white-space: nowrap;
        transition: 0.3s;
        @media (max-width: 480px) {
            padding: 10px;
            font-size: 14px;
        }
        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 3px;
            background: #E8E8E8;
            bottom: 0;
            left: 0;
            transition: 0.3s;
        }
        &:first-child {
            &::after {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }
        }
        &:last-child {
            &::after {
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }
        }
        &:hover {
            color: #4AB541;
            border-radius: 3px;
            &::after {
                background: #4AB541;
            }
        }
        &_active {
            color: #4AB541;
            &::after {
                background: #4AB541;
            }
        }
    }
}

.button-nav {
    border-top: 2px solid #E7E7E7;
    padding-top: 32px;
    margin: 50px 0 50px 0;
    font-family: Roboto, serif;
    &__row {
        @include row(0px);
    }
    &__col {
        @include col(6, 0px);
        &_left {
            text-align: left;
        }
        &_right {
            text-align: right;
            @media (max-width: 480px) {
                order: -1;
            }
        }
        @media (min-width: 769px) {
            &_mobile {
                display: none;
            }
        }

        @media (max-width: 480px) {
            @include col(12, 0px);
            margin-bottom: 20px;
            .cib-button {
                width: 100%;
            }
        }
    }
}

.card-request {
    &__h2 {
        margin-bottom: 30px;
    }
    &__wrapper {
        max-width: 680px;
        margin: 0 auto;
        padding: 0 10px;
    }
    &__step-wrapper {
        max-width: 680px;
        margin: 0 auto;
        padding: 0 10px;
        &_individual {
            max-width: 1004px;
        }
    }
    .cib-link__text{
        font-size: 18px;
    }
}

.card-request-step {
    &__row {
        margin-bottom: 16px;
        &_flex {
            display: flex;
            flex-wrap: wrap;
            margin-left: -30px;
            margin-right: -30px;
        }
        &_big-margin {
            margin-bottom: 40px;
        }
        &_grid {
            @include row(10px);
        }
    }
    &__col {
        &_6 {
            @include col(6, 10px);
            @media (max-width: 480px) {
                @include col(12, 10px);
            }
        }
    }
    &__group {
        position: relative;
        border: 1px solid #BDBDBD;
        margin-bottom: 20px;
        border-radius: 10px;
        padding: 26px 26px 10px 26px;
    }
    &__delete-group {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 5px;
        right: 5px;
        cursor: pointer;
        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 1px;
            background: #BDBDBD;
            top: 50%;
            left: 0;
            transform: translate(0, -50%) rotate(-45deg);
        }
        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 1px;
            background: #BDBDBD;
            top: 50%;
            left: 0;
            transform: translate(0, -50%) rotate(45deg);
        }
    }
    &__text {
        font-size: 18px;
        color: $grey;
        line-height: 1.2;
        .cib-link {
            font-size: 18px !important;
        }
    }
}

.progress-bar {
    background: #dcdcdc;
    height: 20px;
    width: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    &__progress {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $green;
        transition: 0.3s;
        z-index: 1;
    }
}

.request-nav-bar {
    margin-bottom: 52px;
    &__step-info {
        font-size: 30px;
        line-height: 1.2;
        color: $grey;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        @media (max-width: 768px) {
            font-size: 4vw;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
        @media (max-width: 480px) {
            font-size: 5vw;
        }
    }
    &__current-step {
        text-align: right;
        margin-bottom: 10px;
        color: $grey_2;
    }
    &__pagination {
        display: flex;
        padding: 10px 0;
        @media (min-width: 769px) {
            position: absolute;
            right: 50px;
            top: 50%;
            transform: translate(0, -50%);
        }
    }
    &__pagination-item {
        width: 18px;
        height: 18px;
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s;
        margin: 0 4px;
        &:before {
            content: '';
            display: block;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
            background: #fff;
            transition: all 0.3s;
        }
        &_active {
            border-color: $green;
        }
        &_valid {
            &:before {
                background: $green;
            }
        }
        &_invalid {
            &:before {
                background: $error-color;
                border-color: $error-color;
            }
        }
    }
}

.cardCustomDesign {
    overflow: hidden;
    &__row {
        @include row();
    }
    &__col {
        @include col(6);
        @media (max-width: 768px) {
            @include col(12);
        }
    }
    &__img-row {
        @include row(4px);
    }
    &__radio-row {
        margin-top: 30px;
        @include row();
    }
    &__radio-col {
        @include col(4);
        @media (max-width: 480px) {
            @include col(12);
            margin-bottom: 16px;
        }
    }
    &__load-file {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:before {
            content: url('./img/loadImg.svg');
            margin-right: 8px;
        }
    }
    &__img-col {
        @include col(4, 4px);
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 8px;
        cursor: pointer;
        position: relative;
        &::after {
            content: '';
            display: block;
            padding-bottom: 64%;
            width: 100%;
        }
        &_active {
            &:before {
                content: '';
                background: url('./img/checkbox.svg') center center no-repeat, $green;
                width: 30px;
                height: 30px;
                position: absolute;
                right: 4px;
                top: 4px;
                border-radius: 50%;
                z-index: 10;
            }
        }
    }
    &__card-img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }
    &__crooper {
        margin-bottom: 20px;
    }
    &__card-preview {
        margin-bottom: 20px;
    }
    &__card-preview-wr {
        max-width: 331px;
    }
    &__file {
        display: none;
    }
    &__file-wr {
        margin-bottom: 20px;
    }
}

.card-preview {
    position: relative;
    &::before {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 64%;
    }
    &__img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    &__layout {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
}

.card-design {
    overflow: hidden;
    &__row {
        @include row(10px);
    }
    &__col {
        margin-bottom: 10px;
        @include col(4, 10px);
        @media (max-width: 480px) {
            @include col(6, 10px);
        }
    }
    &__checkbox {
        display: none;
        &:checked {
            + .card-design__label {
                opacity: 1;
                border: 2px solid $green;
            }
        }
    }
    &__label {
        position: relative;
        display: block;
        cursor: pointer;
        transition: 0.3s;
        opacity: 0.5;
        border: 2px solid transparent;
        border-radius: 12px;
        overflow: hidden;
        box-sizing: border-box;
    }
    &__linkModal {
        margin-bottom: 30px;
        cursor: pointer;
        color: $green;
    }
    &__relative {
        padding-bottom: 64%;
    }
    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &__buttons-row {
        @include row(12px);
        margin-bottom: 40px;
        min-height: 44px;
    }
    &__radio-button-wr {
        margin-right: 12px;
        margin-left: 12px;
        @media (max-width: 480px) {
            width: 100%;
            margin-bottom: 12px;
        }
    }
    &__radio-input {
        display: none;
        &:checked {
            + .card-design__radio-label {
                color: #fff;
                background: #4AB541;
                border: 1px solid #4AB541;
            }
        }
    }
    &__radio-label {
        color: #646464;
        border: 1px solid #D5D5D5;
        box-sizing: border-box;
        border-radius: 4px;
        transition: 0.3s;
        cursor: pointer;
        padding: 10px 24px;
        display: block;
        text-align: center;
    }
}

.cardsTypeContent {
    &__type {
        margin-bottom: 30px;
        overflow: hidden;
    }
}

.cardCustomDesign-tabs {
    background: #F5F5F5;
    border-radius: 8px;
    padding: 24px;
    position: relative;
    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
    }

    &__caption {
        font-weight: 300;
        font-size: 24px;
    }
    &__back {
        display: flex;
        align-items: center;
        cursor: pointer;
        &::before {
            content: url('./img/backArrow.svg');
            margin-right: 12px;
        }
    }
    &__tab-img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__tabs-wr {
        @include row(6px);
        margin-bottom: 16px;
        width: 100%;
    }
    //&__relative {
    //    padding-bottom: 64%;
    //    width: 100%;
    //}
    &__tab {
        cursor: pointer;
        transition: 0.3s;
        position: relative;
        @include col(4, 6px);
        margin-bottom: 6px;
        border-radius: 4px;
        overflow: hidden;
        &:after {
            content: attr(data-label);
            position: absolute;
            width: 100%;
            height: 70%;
            left: 0;
            bottom: 0;
            color: #fff;
            font-size: 14px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
            padding: 10px 12px;
            box-sizing: border-box;
            display: flex;
            align-items: flex-end;
        }
        &::before{
            content: '';
            display: block;
            padding-bottom: 64%;
            width: 100%;
        }
        //&:hover {
        //    background: #e2e2e2;
        //}
        //&_active {
        //    background: $green;
        //    color: #fff;
        //    &:hover {
        //        background: $green;
        //    }
        //}
    }
    &__tabs-content {
        display: none;
        &_active {
            display: block;
        }
    }
}

[v-cloak] {
    display: none;
}

.slide-fade-enter-active {
    transition: all .5s ease;
}
.slide-fade-leave-active {
    transition: all .5s ease;
    position: absolute;
}
.slide-fade-enter,
.slide-fade-leave-to {
    transform: translateX(50px);
    opacity: 0;
}

.faq{
    padding-bottom: 88px;
    scroll-behavior: smooth;
    &__wrapper{
        justify-content: center;
        align-items: flex-start;
        display: flex;
    }
    &__questions{
        flex: 1 1 40%;
        position: sticky;
        top: 80px;
        transform: translateY(0);
        display: flex;
        flex-direction: column;
        padding: 0 25px 0 20px;
        list-style: decimal;
    }
    &__answers {
        flex: 1 1 60%;
        padding-left: 48px;
        border-left: 1px solid #bababa;
        @media (max-width: 540px) {
            padding: 0 15px;
            border: none;
        }
    }
}
.faq-questions{
    &__item{
        margin: 0;
        &::marker{
            color: #333;
            font-size: 14px;
        }
    }
    &__link{
        font-weight: 300;
        font-size: 14px;
        line-height: 1.7;
        color: #333;
        transition: all .3s;
        &:hover{
            color: #4AB541;
            cursor: pointer;
        }
    }
    @media (max-width: 540px) {
        display: none;
    }
}
.faq-answers{
    &__item{
        margin-bottom: 35px;
    }
    &__title{
        font-family: Montserrat;
        font-weight: bold;
        font-size: 28px;
        line-height: 1.1;
        margin-bottom: 16px;
        color: #333;
        @media (max-width:540px) {
            font-size: 18px;
        }
    }
    &__text {
        font-size: 16px;
        line-height: 1.3;
        color: #333;
        @media (max-width:540px) {
            display: none;
        }
        &_active{
            @media (max-width:540px) {
                display: block;
            }
        }
    }
}
.cib-button-wr{
    &.supreme {
        & button {
            background-color: #FFCB8D;
            border-color:#FFCB8D;
        }
    }
}
.cards-request-form {
    &__wr {
        width: 100%;
    }
    &__row {
        margin-bottom: 16px;
        &_grid {
            @include row(10px);
        }
    }
    &__col {
        @include col(6, 10px)
    }
}
